@model ClaimTransactionModel

@{
    ViewData["Title"] = "Details";
}
<section class="content">
    <div id="article" class="card shadow-lg border-0 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title">
                <i class="fas fa-newspaper"></i> Details
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-file-powerpoint'></i>
                            Claim: <span class="badge badge-light">
                                <i class="far fa-file-powerpoint"></i>
                                @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber
                            </span>

                        </li>

                        <li><i class="fas fa-clock"></i> Timeline </li>

                        @if (!Model.NotWithdrawable)
                        {
                            <li>
                                <i class='far fa-thumbs-up'></i> <b>
                                    <button class='btn btn-danger btn-xs'>
                                        <span class='badge badge-danger btn-xs'>
                                            <i class='fas fa-undo'></i>
                                        </span> <b>Withdraw</b>
                                    </button>
                                </b>
                            </li>
                        }
                        else
                        {
                            <li>
                                <i class='far fa-thumbs-down'></i> <b>
                                    <button id="back" disabled class="btn btn-outline-danger btn-xs">
                                        <span class="badge badge-light"> <i class="fas fa-undo"></i> </span> Withdraw <span class="badge badge-danger">
                                            <i class="fas fa-info"></i>
                                        </span>
                                    </button>
                                </b>
                            </li>
                        }

                    </span>
                </span>

            </h3>
        </div>
        <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail?.CustomerDetailId" />
        <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
        <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
        <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
    </div>

    <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header bg-light text-white text-center">
            <h3 class="card-title">
                <span class="badge badge-info" data-toggle="tooltip" title="Status : @Model.ClaimsInvestigation?.InvestigationCaseSubStatus.Name">
                    <b>   @Model.ClaimsInvestigation?.InvestigationCaseSubStatus.Name</b>
                </span>
                <b> <i class='far fa-hand-point-right'></i> </b>
                @{
                    if (string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.UserEmailActionedTo))
                    {
                        <span class="badge badge-info" data-toggle="tooltip" title="Owner : @Model.ClaimsInvestigation?.UserRoleActionedTo">

                            <b>   @Model.ClaimsInvestigation?.UserRoleActionedTo</b>
                        </span>
                    }
                    else
                    {
                        <span class="badge badge-info" data-toggle="tooltip" title="Owner : @Model.ClaimsInvestigation?.UserEmailActionedTo">
                            <b>   @Model.ClaimsInvestigation?.UserEmailActionedTo</b>
                        </span>
                    }
                }
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i> Claim <i class='far fa-file-powerpoint'></i> <strong>@Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber </strong>
                        </li>
                    </span>
                </span>


            </h3>

        </div>

        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <div class="row">
                <partial name="Creator/_DeletePolicy" model="Model" />
                <partial name="Creator/_DeleteCustomer" model="Model" />
                <partial name="Creator/_DeleteBeneficiary" model="Model" />

            </div>

            <partial name="Company/_TimelineReport" model="@Model" />



            @if (!Model.NotWithdrawable)
            {
                <div class="card-footer">

                    <form id="withdraw-form" method="post" asp-action="WithdrawCase" asp-controller="ClaimsInvestigationPost">
                        <div class="row">
                            <input type="hidden" name="claimId" asp-for="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                            <input type="hidden" name="policyNumber" asp-for="@Model.ClaimsInvestigation.PolicyDetail.ContractNumber" />
                            <div class="col-md-12">
                                <div class="form-group">
                                    Withdrawl Remarks
                                    <input id="remarks" asp-for="@Model.ClaimsInvestigation.CompanyWithdrawlComment" class="form-control remarks" required autocomplete="off" />
                                    <span asp-validation-for="@Model.ClaimsInvestigation.CompanyWithdrawlComment" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a id="back" asp-action="Active" class="btn btn-outline-secondary">
                                    <i class="fas fa-arrow-left"></i>
                                    <span class="badge badge-light"> <i class="fa fa-toggle-on"></i> </span> Back
                                </a>
                                <button id="submit-case" disabled type="submit" class="btn btn-danger"><i class="fas fa-undo"></i> Withdraw</button>
                            </div>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="card-footer">
                    <form id="withdraw-form">
                        <div class="row">
                            <input type="hidden" name="claimId" asp-for="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                            <div class="col-md-12">
                                <div class="form-group">
                                    The case can not be withdrawn. See Timeline section above <i class="far fa-hand-point-up"></i> for more info.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a id="back" asp-action="Active" class="btn btn-outline-secondary">
                                    <i class="fas fa-arrow-left"></i>
                                    <span class="badge badge-light"> <i class="fa fa-toggle-on"></i> </span> Back
                                </a>

                                <span id="withdraw-information-popup" class="badge badge-light">
                                    <div class="btn btn-outline-danger">
                                        <span class="badge badge-light"> <i class="fas fa-undo"></i> </span> Withdraw <span class="badge badge-danger">
                                            <i class="fas fa-info"></i>
                                        </span>
                                    </div>
                                </span>

                            </div>
                        </div>
                    </form>
                </div>
            }

        </div>
    </div>

</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company/policy-detail.js"></script>
    <script src="~/js/common/claim-details.js"></script>
}
