@model risk.control.system.Models.VendorApplicationUser

@{
    ViewData["Title"] = @Applicationsettings.EDIT;
}

<section class="content">
    <form id="edit-form" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="card bg-light card-secondary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-user-plus"></i> @Applicationsettings.EDIT   Profile
                </h3>
            </div>
            <div class="card-body">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="VendorId" class="form-control remarks" value="@Model.Vendor.VendorId" />
                        <div class="form-group">
                            <span asp-for="ProfileImage" class="control-label">Profile Photo</span>

                            @if (Model?.ProfilePicture is not null)
                            {
                                <img id="editProfileImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ProfilePicture))" alt="Profile Image" />
                            }
                            else
                            {
                                <img id="editProfileImage" class="form-Image" src="@Applicationsettings.NO_USER" alt="Profile Image" />
                            }
                            <i class="fa fa-asterisk asterik-style"></i>
                            <input asp-for="ProfileImage" class="form-control remarks  document-image-input" type="file" id="editImageInput" data-preview-id="editProfileImage" />
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Email Address:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="email"> <i class="fas fa-at"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input readonly asp-for="Email" class="form-control readonly-input" />
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Role:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="userrole"> <i class="fas fa-at"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input readonly asp-for="UserRole" class="form-control readonly-input" />
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> First Name:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="FirstName"><i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" asp-for="FirstName" class="form-control remarks" required placeholder="Enter First Name" maxlength="20" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Last Name:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="LastName"> <i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" asp-for="LastName" class="form-control remarks" required placeholder="Enter Last Name" maxlength="20" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Phone #:</span>
                            <div class="input-group">
                                <!-- Display Country Code -->
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" title="Country Code :+@Model?.Country.ISDCode">
                                        <i class="fas fa-phone"></i><i class="fa fa-asterisk asterik-style"> </i>
                                    </span>
                                </div>
                                <div class="input-group-prepend">
                                    @{
                                        var imgPath = "/flags/" + @Model.Country.Code.ToLower() + ".png";
                                    }
                                    <span class="input-group-text" data-toggle="tooltip" title="Country Code :+@Model?.Country.ISDCode">
                                        <img src="@imgPath" class="flag-icon" data-toggle="tooltip" title="@Model.Country.Name" />  +@Model?.Country.ISDCode
                                    </span>
                                </div>
                                <input id="PhoneNumber" type="text" asp-for="PhoneNumber" class="form-control remarks" required maxlength="10"
                                       placeholder="Phone number only (e.g., 1234567890)" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        </div>
                        <div class="col-md-6">
                            <partial name="_Address" model="@Model" />

                            <div class="form-group">
                                <span class="input-group-label"> Address:</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="Addressline"><i class="fa fa-home"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <input type="text" asp-for="Addressline" class="form-control remarks" placeholder="Enter Address line" value="" maxlength="50" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="input-group-label"> Note:</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="Comments"><i class="fa fa-comment"></i> <i class="fa fa-asterisk asterik-style-none"></i></span>
                                    </div>
                                    <input type="text" asp-for="Comments" class="form-control remarks" placeholder="Note" maxlength="50" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group text-right">
                            <a id="cancel" asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary">
                                <i class="fa fa-window-close"></i>
                                @Applicationsettings.CANCEL
                            </a>
                            <button type="submit" class="btn btn-warning">
                                <i class="fas fa-user-plus"></i> @Applicationsettings.EDIT  Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/agency/agency-edit-user-profile.js">

    </script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/common/profile-image-upload.js"></script>
}
