@using risk.control.system.Helpers;
@model CaseTransactionModel

<div class="card shadow-lg border-1 rounded-lg direct-chat-warning expanded-card">
    <div class="card-header bg-light text-white">
        <h3 class="card-title">
            <i class="fas fa-print nav-icon"></i> Agency: <span class="badge badge-light">@Model.ClaimsInvestigation.Vendor.Email</span>
            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="information">
                    <span>
                        <i class='far fa-hand-point-right'></i>
                        <b> @Model.ClaimsInvestigation.Vendor.Email</b> report  (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())<i class="fas fa-print nav-icon"></i>.
                    </span>

                </span>
            </span>
        </h3>

    </div>
    <div class="card-body pb-0">
        <div class="row">

            @{
                var template = Model.ClaimsInvestigation.InvestigationReport.ReportTemplate;
                template.CaseId = Model.ClaimsInvestigation.Id;
            }
            <input type="hidden" id="caseId" value="@Model.ClaimsInvestigation.Id" />
            <partial name="_Location" model="@template" />
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                @if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.InvestigationReport?.AgentRemarks))
                {
                    var questionTime = @Model.ClaimsInvestigation.InvestigationReport.AgentRemarksUpdated != null ?
                    @Model.ClaimsInvestigation.InvestigationReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;
                    <div class="card  border-success">

                        <div class="card direct-chat-warning">
                            <div class="card-header text-muted border-bottom-0">
                                <h3 class="card-title">
                                    <i class="far fa-comment"></i> Agency comment  (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())
                                    <span class="hover-text">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text" id="information">
                                            <span>
                                                <i class="far fa-comment"></i><b> Agency comment (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())</b>
                                            </span>

                                        </span>
                                    </span>
                                </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="Agent report time" class="badge badge-light">
                                        <i class="nav-icon fas fa-clock"></i>
                                        @Model.ClaimsInvestigation.InvestigationReport?.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                                    </span>

                                </div>
                            </div>
                            <div class="card-footer text-muted border-bottom-0">
                                <i class="fas fa-user-shield"></i>  Agent:<span class="badge badge-light">  @Model.ClaimsInvestigation.InvestigationReport.AgentEmail </span>
                            </div>
                            <div class="progress">
                                <i class="far fa-bookmark bookmark-green"></i>
                                <div class="progress-bar progress-bar-green" role="progressbar">
                                    agency comment (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row">

                                    <div class="col-7">
                                        <p class="text-muted text-sm">
                                            <br />
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small">
                                                    Remarks?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                                <br />
                                                <li class="small">
                                                    Edit Remarks?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                        </p>
                                    </div>

                                    <div class="col-5">
                                        <p class="text-muted text-sm">
                                            <br />
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                    @Model.ClaimsInvestigation.InvestigationReport?.AgentRemarks
                                                </li>
                                                <br />
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                    @Model.ClaimsInvestigation.InvestigationReport?.AgentRemarksEdit
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="text-center">
                            <i class='fas fa-check-circle i-green'></i>
                        </div>
                    </div>

                }
            </div>
            <div class="col-12 col-md-6">
                @if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.InvestigationReport?.SupervisorRemarks))
                {
                    <div class="card bg-light  border-success">

                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-user-edit"></i> Supervisor comments:
                                <span class="hover-text">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltip-text" id="information">
                                        <span>
                                            <i class="fas fa-user-shield"></i><b> @Model?.ClaimsInvestigation.InvestigationReport?.SupervisorEmail</b> comments.
                                        </span>

                                    </span>
                                </span>
                            </h3>
                            <div class="card-tools">
                                <span data-toggle="tooltip" title=" Supervisor :  @Model?.ClaimsInvestigation.InvestigationReport?.SupervisorEmail" class="badge badge-light">
                                    <i class="nav-icon fas fa-clock"></i> @Model.ClaimsInvestigation.InvestigationReport?.SupervisorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                                </span>
                            </div>

                        </div>
                        <div class="progress">
                            <i class="far fa-bookmark bookmark-green"></i>
                            <div class="progress-bar progress-bar-green" role="progressbar">
                                supervisor comments
                            </div>
                        </div>
                        <div class="card-footer text-muted border-bottom-0">
                            <i class="fas fa-user-shield"></i>  Supervisor :<span class="badge badge-light">  @Model?.ClaimsInvestigation.InvestigationReport.SupervisorEmail </span>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">
                                    <p class="text-muted text-sm">

                                        <span>comments: </span>
                                    </p>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm table-hover align-middle text-center">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th class="w-25">Time</th>
                                                    <th>Supervisor Response</th>
                                                    <th class="w-25">Document</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        @{
                                                            string displayTime = string.Empty;
                                                            var time = @Model.ClaimsInvestigation.InvestigationReport?.SupervisorRemarksUpdated;
                                                            if (time is not null)
                                                            {
                                                                displayTime = time.Value.ToString("dd-MMM-yyy HH:mm");
                                                            }
                                                            if (time == null)
                                                            {
                                                                displayTime = @Model.ClaimsInvestigation.InvestigationReport.Created.ToString("dd-MMM-yyy HH:mm");
                                                            }
                                                        }
                                                        <span class="badge badge-light">@displayTime</span>
                                                    </td>
                                                    <td class="text-start">
                                                        <div class="bg-light rounded p-2 text-muted">

                                                            @Model.ClaimsInvestigation.InvestigationReport?.SupervisorRemarks
                                                        </div>

                                                    </td>
                                                    <td>
                                                        @if (Model.ClaimsInvestigation.InvestigationReport?.SupervisorAttachment != null)
                                                        {
                                                            <div class="d-flex flex-column gap-2 align-items-center">
                                                                <img title="enquiry document" id="enquiryDocument" class="img-fluid doc-profile-image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.ClaimsInvestigation.InvestigationReport?.SupervisorAttachment))">
                                                                <a asp-controller="Download" asp-action="SupervisorFileAttachment" target="_blank"
                                                                   asp-route-id="@Model.ClaimsInvestigation.InvestigationReport.Id"
                                                                   class="mailbox-attachment-name">
                                                                    <i class="fas fa-paperclip"></i>
                                                                </a>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <img title="enquiry document" id="enquiryDocument" alt="face image" class="img-fluid doc-profile-image" src=@Applicationsettings.NO_IMAGE>
                                                        }
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <partial name="_AgentChat" model="@Model" />

                }
            </div>
        </div>

        @if (@Model.ClaimsInvestigation.IsQueryCase && @Model.ClaimsInvestigation.InvestigationReport.EnquiryRequest != null)
        {
            <partial name="_EnquiryReport" model="@Model" />
        }
    </div>
</div>
<div class="submit-progress hidden">
    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
</div>
@if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.InvestigationReport.AssessorRemarks))
{
    <div class="row">
        <div class="col-12">
            <div class="card shadow-lg border-1 rounded-lg border-success">
                <div class="card-header bg-light text-white">
                    <h3 class="card-title">
                        <i class="fas fa-user-check"></i> Assessor: <span class="badge badge-light">@Model.ClaimsInvestigation.InvestigationReport.AssessorEmail</span>
                        <span class="hover-text">
                            <i class="fas fa-info-circle"></i>
                            <span class="tooltip-text" id="information">
                                <span>
                                    <i class="fas fa-user-check"></i><b> @Model?.ClaimsInvestigation.InvestigationReport?.AssessorEmail</b> remark.
                                </span>

                            </span>
                        </span>
                    </h3>
                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Assessor: : @Model.ClaimsInvestigation.InvestigationReport.AssessorEmail" class="badge badge-light">
                            @if (@Model.ClaimsInvestigation.InvestigationReport?.AssessorRemarksUpdated != null)
                            {
                                <i class="nav-icon fas fa-clock"></i> @Model.ClaimsInvestigation.InvestigationReport?.AssessorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                            }
                            else
                            {
                                <i class="nav-icon fas fa-clock"></i>
                            }
                        </span>
                    </div>

                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-muted text-sm">

                                <span>Assessor remarks: </span>
                            </p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.ClaimsInvestigation.InvestigationReport.AssessorRemarks <i class="far fa-comment"></i>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}