@model ClaimTransactionModel
<div class="col-12 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-money-check-alt"></i> Billing Info:
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <span>
                            <i class="fas fa-user-check"></i><b> Billing Info: @Model.ClaimsInvestigation.Vendor.Email</b>.
                        </span>

                    </span>
                </span>
            </h3>
            <div class="card-tools">
                <span data-toggle="tooltip" title="Billing Info: @Model.ClaimsInvestigation.Vendor.Email" class="badge badge-light">
                    <i class="nav-icon fas fa-clock"></i> @Model.ClaimsInvestigation.AgencyReport?.AssessorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                </span>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-7">
                    <h2 class="lead"><b>Insurance Type: </b>@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name</h2>
                    <p class="text-muted text-sm">
                        <b>Claim Type: </b>@Model.ClaimsInvestigation?.PolicyDetail.ClaimType
                    </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-tools"></i>
                            </span>
                            Service: @Model.ClaimsInvestigation?.PolicyDetail.InvestigationServiceType.Name
                        </li>

                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-sun"></i>
                            </span>
                            Reason: @Model.ClaimsInvestigation?.PolicyDetail.CaseEnabler.Name;
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-sun"></i>
                            </span>
                            Total Amount Rs: @Model.VendorInvoice.GrandTotal;
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <a id="back" asp-controller="Manager" asp-action="Approved" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left"></i>
                    <span class="badge badge-light"> <i class="fa fa-thumbs-o-up"></i> </span> Back
                </a>
                <a class="btn bg-teal" asp-controller="Assessor" asp-action="ShowInvoice" asp-route-id="@Model.VendorInvoice.VendorInvoiceId">
                    <i class="fa fa-print"> Print Invoice</i>
                </a>
            </div>
        </div>
    </div>
</div>