@model IEnumerable<risk.control.system.Models.BeneficiaryRelation>

@{
    ViewData["Title"] = @Applicationsettings.BENEFICIARY;
}
<section class="content">
        <div id="article" class="card shadow-lg border-1 rounded-lg">
            <div class="card-header bg-secondary text-white text-center">
                <h3 class="card-title"><i class="fas fa-user-tie"></i> @Applicationsettings.BENEFICIARY</h3>
            </div>
            <div class="card-body">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <form id="antiForgeryForm">
                    @Html.AntiForgeryToken()
                </form>
                <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Code
                            </th>
                            <th>Date Updated</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-id="@item.BeneficiaryRelationId"><i class="fas fa-user-tie"></i> @Applicationsettings.EDIT</a> &nbsp;
                                <button type="button"
                                        class="btn btn-xs btn-danger delete-item"
                                        data-id="@item.BeneficiaryRelationId">
                                    <i class="fas fa-trash"></i> @Applicationsettings.DELETE
                                </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
                            <a class="btn btn-success" asp-controller="BeneficiaryRelation" asp-action="Create"><i class="fas fa-user-tie"></i> @Applicationsettings.CREATE New</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts {
    <script src="~/js/company-admin/beneficiary.js">
    </script>
}