@model ClaimTransactionModel


@{
    string address = string.Empty;
    string baddress = string.Empty;
    int currentAgeinYrs = 0;
    int currentBAgeinYrs = 0;
    bool customerExist = false;
    bool beneficiaryExist = false;
    if (Model.ClaimsInvestigation != null && Model.ClaimsInvestigation.CustomerDetail != null)
    {
        address = @Model.ClaimsInvestigation?.CustomerDetail.Addressline + " " + @Model.ClaimsInvestigation?.CustomerDetail.District.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.State.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.Country.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.PinCode.Code;
        baddress = @Model.Location != null ? @Model.Location?.Addressline + " " +
        @Model.Location?.District?.Name + " " + @Model.Location?.State?.Name + " " +
        @Model.Location?.Country?.Name + " " + @Model.Location?.PinCode?.Code : string.Empty;
        if (Model.ClaimsInvestigation?.CustomerDetail.CustomerDateOfBirth != null)
        {
            var age = DateTime.Now.Subtract(Model.ClaimsInvestigation.CustomerDetail.CustomerDateOfBirth).TotalDays;
            currentAgeinYrs = (int)age / 365;
        }

        if (Model.Location?.BeneficiaryDateOfBirth != null)
        {
            var age = DateTime.Now.Subtract(Model.Location.BeneficiaryDateOfBirth).TotalDays;
            currentBAgeinYrs = (int)age / 365;
        }

    }
    if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.PolicyDetail?.ContractNumber))
    {
        customerExist = true;
    }
    if (Model.Location?.BeneficiaryDetailId > 0)
    {
        beneficiaryExist = true;
    }
    string customerProgressColor = "grey";
    if (@customerExist)
    {
        customerProgressColor = "green";
    }
    string benficiaryProgressColor = "lightgrey";
    if (@customerExist && @beneficiaryExist)
    {
        benficiaryProgressColor = "green";
    }
    if (@customerExist && !@beneficiaryExist)
    {
        benficiaryProgressColor = "grey";
    }
    if (!@customerExist && !@beneficiaryExist)
    {
        benficiaryProgressColor = "lightgrey";
    }
    <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
    <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
    <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
    <input type="hidden" id="claimId" value="@Model.ClaimsInvestigation?.ClaimsInvestigationId" />
    <article>
        <div class="bb-blog-inner">
            <div class="card card-light collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="far fa-file-powerpoint"></i> Claim #: <span class="badge badge-light"> @Model.ClaimsInvestigation.PolicyDetail.ContractNumber</span>
                        <span class="hover-text">
                            <i class="fas fa-info-circle"></i>
                            <span class="tooltip-text" id="information">
                                <li>
                                    <i class='far fa-file-powerpoint'></i> Policy details.
                                </li>
                                <li>
                                    <i class='fa fa-user-plus'></i> Customer details.
                                </li>
                                <li> <i class='fas fa-user-tie'></i> Beneficiary details </li>

                            </span>
                        </span>
                    </h3>

                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Claim # :  @Model.ClaimsInvestigation.PolicyDetail.ContractNumber" class="badge badge-light">
                            <i class='far fa-hand-point-right'></i>
                        </span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-header text-muted border-bottom-0">
                                    <i class="far fa-file-powerpoint"></i> Policy Details
                                    <span class="hover-text">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text" id="policy-information">
                                            <i class='far fa-file-powerpoint'></i> Policy details.
                                        </span>
                                    </span>
                                </div>
                                <div class="progress">
                                    <i class="far fa-bookmark bookmark-green"></i>
                                    <div class="progress-bar" role="progressbar" style="width:100%;background-color:green;">
                                        <i class="far fa-file-powerpoint"></i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@Model.ClaimsInvestigation?.PolicyDetail.ContractNumber</b></h2>
                                            <p class="text-muted text-sm">
                                                <b>Policy Type: </b>@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name
                                            </p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-money-bill-wave"></i>
                                                    </span>
                                                    Claim Type: <i class="fas fa-rupee-sign"></i>@Model.ClaimsInvestigation?.PolicyDetail.ClaimType
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-money-bill-wave"></i>
                                                    </span>
                                                    Amount: <i class="fas fa-rupee-sign"></i>@Model.ClaimsInvestigation?.PolicyDetail.SumAssuredValue
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-bolt"></i>
                                                    </span>
                                                    Cause: @Model.ClaimsInvestigation?.PolicyDetail.CauseOfLoss
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-tools"></i>
                                                    </span>
                                                    Service: @Model.ClaimsInvestigation?.PolicyDetail.InvestigationServiceType.Name
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-money-check-alt"></i>
                                                    </span>
                                                    Budget center: @Model.ClaimsInvestigation?.PolicyDetail.CostCentre.Name
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-sun"></i>
                                                    </span>
                                                    Reason: @Model.ClaimsInvestigation?.PolicyDetail.CaseEnabler.Name;
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-clock"></i>
                                                    </span>
                                                    Issue Date: @Model.ClaimsInvestigation?.PolicyDetail.ContractIssueDate.ToString("dd-MMM-yyyy")
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-clock"></i>
                                                    </span>
                                                    Incidence Date: @Model.ClaimsInvestigation?.PolicyDetail.DateOfIncident.ToString("dd-MMM-yyyy")
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            
                                            <p class="text-muted text-sm">
                                                @if (Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage is not null)
                                                {
                                                    <img id="documentImage" class="img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage))">
                                                }
                                                else
                                                {
                                                    <img id="documentImage" alt="user-avatar"
                                                         class="img-fluid form-Image" src=@Applicationsettings.NO_POLICY_IMAGE>
                                                }
                                            </p>
                                            <p class="text-muted text-sm">
                                                @if (Model.ClaimsInvestigation.ClaimNotes.Count > 0)
                                                {
                                                    <img id="notesDetail" class="img-fluid form-Image" src="@Applicationsettings.POLICY_BLANK_IMAGE" data-toggle="tooltip" title="Display notes">
                                                }
                                                else
                                                {
                                                    <img id="notesDetail-disabled" class="img-fluid form-Image" src="@Applicationsettings.NO_POLICY_IMAGE" data-toggle="tooltip" title="No notes">
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a id="policy-comments" class="btn btn-sm bg-teal">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a id="policy-detail" class="btn btn-sm btn-info">
                                            <i class="far fa-file-powerpoint"></i> ...
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-header text-muted border-bottom-0">
                                    <i class="fa fa-user-plus"></i> Customer Details
                                    <span class="hover-text">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text" id="customer-information">
                                            <i class='fa fa-user-plus'></i> Customer details
                                        </span>
                                    </span>
                                </div>
                                <div class="progress">
                                    <i class="far fa-bookmark bookmark-green"></i>
                                    <div class="progress-bar" role="progressbar" style="width:100%;background-color:@customerProgressColor;">
                                        <i class="fa fa-user-plus"></i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@Model.ClaimsInvestigation?.CustomerDetail?.CustomerName</b></h2>
                                            <p class="text-muted text-sm">
                                                <b>Occupation: </b> @Model.ClaimsInvestigation?.CustomerDetail?.CustomerOccupation
                                            </p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-user-tag"></i>
                                                    </span>
                                                    Customer Type: @Model.ClaimsInvestigation?.CustomerDetail?.CustomerType
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-rupee-sign"></i>
                                                    </span>
                                                    Income: @Model.ClaimsInvestigation?.CustomerDetail?.CustomerIncome
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-restroom"></i>
                                                    </span>
                                                    Gender: @Model.ClaimsInvestigation?.CustomerDetail?.Gender
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-graduation-cap"></i>
                                                    </span>
                                                    Education: @Model.ClaimsInvestigation?.CustomerDetail?.CustomerEducation
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-user-alt"></i>
                                                    </span>
                                                    Age: @currentAgeinYrs
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-lg fa-building"></i>
                                                    </span>
                                                    Address: @address
                                                </li>

                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-lg fa-phone"></i>
                                                    </span>
                                                    Phone #: + @Model.ClaimsInvestigation?.CustomerDetail?.ContactNumber
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <p class="text-muted text-sm">
                                                @if (Model?.ClaimsInvestigation?.CustomerDetail?.ProfilePicture is not null)
                                                {
                                                    <img id="profileImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.CustomerDetail?.ProfilePicture))">
                                                }
                                                else
                                                {
                                                    <img id="profileImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER">
                                                }
                                            </p>
                                            <p class="text-muted text-sm">
                                                <img id="profileImageMap" class="img-fluid block-data" src="@Model?.ClaimsInvestigation?.CustomerDetail?.CustomerLocationMap">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a id="customer-comments" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments"></i>
                                        </a>

                                        <a id="customer-detail" class="btn btn-sm btn-warning">
                                            <i class="fa fa-user-plus"></i> ...
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-header text-muted border-bottom-0">
                                    <i class="fas fa-user-tie"></i>  Beneficiary Details
                                    <span class="hover-text">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text" id="beneficiary-information">

                                            <i class='fas fa-user-tie'></i> Beneficiary details
                                        </span>
                                    </span>
                                </div>
                                <div class="progress">
                                    <i class="far fa-bookmark bookmark-green"></i>
                                    <div class="progress-bar" role="progressbar" style="width:100%;background-color:@benficiaryProgressColor;">
                                        <i class="fas fa-user-tie"></i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@Model.Location?.BeneficiaryName</b></h2>
                                            <p class="text-muted text-sm">
                                                <b>Relation: </b> @Model.Location?.BeneficiaryRelation.Name
                                            </p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-rupee-sign"></i>
                                                    </span>
                                                    Income: @Model.Location?.BeneficiaryIncome
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-user-alt"></i>
                                                    </span>
                                                    Age: @currentBAgeinYrs
                                                </li>

                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-lg fa-building"></i>
                                                    </span>
                                                    Address: @baddress
                                                </li>
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="fas fa-lg fa-phone"></i>
                                                    </span>
                                                    Phone #: + @Model.Location?.BeneficiaryContactNumber
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <p class="text-muted text-sm">
                                                @if (Model?.Location?.ProfilePicture is not null)
                                                {
                                                    <img id="bImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.Location?.ProfilePicture))">
                                                }
                                                else
                                                {
                                                    <img id="bImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER">
                                                }
                                            </p>
                                            <p class="text-muted text-sm">
                                                <img id="bImageMap" class="img-fluid block-data" src="@Model?.Location?.BeneficiaryLocationMap">
                                            </p>

                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="text-right">
                                        <a id="beneficiary-comments" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments"></i>
                                        </a>

                                        <a id="beneficiary-detail" class="btn btn-sm btn-success">
                                            <i class="fas fa-user-tie"></i> ...
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> <!-- class bb-blog-inner -->
    </article>
    <article>
        <div class="bb-blog-inner">
            <div class="card card-light collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-print nav-icon"></i> Agency: <span class="badge badge-light">@Model.ClaimsInvestigation.Vendor.Email</span>
                        <span class="hover-text">
                            <i class="fas fa-info-circle"></i>
                            <span class="tooltip-text" id="information">
                                <span>

                                    <i class='far fa-hand-point-right'></i><b> @Model.ClaimsInvestigation.Vendor.Email</b> report  <i class="fas fa-print nav-icon"></i>.
                                </span>

                            </span>
                        </span>
                    </h3>
                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Agent report # : @Model.ClaimsInvestigation.AgencyReport.AgentEmail" class="badge badge-light"><i class='far fa-hand-point-right'></i></span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>

                </div>

                <div class="card-body pb-0">
                    <div class="row">
                        @{
                            if (@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageData != null && @Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageLongLatTime != null)
                            {
                                string digitalIdColor = "grey";
                                var borderColor = "";
                                if (Model.ClaimsInvestigation.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime == null)
                                {
                                    digitalIdColor = "grey";
                                    borderColor = "";
                                }
                                else if (Model.ClaimsInvestigation.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime != null && string.IsNullOrWhiteSpace(@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
                                {
                                    digitalIdColor = "#dc3545!important";
                                    borderColor = "border-danger";
                                }
                                else if (Model.ClaimsInvestigation.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime != null && !string.IsNullOrWhiteSpace(@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
                                {
                                    borderColor = "border-success";
                                    digitalIdColor = "green";
                                }


                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                    <div class="card bg-light d-flex flex-fill @borderColor">
                                        <div class="card-header text-muted border-bottom-0">
                                            <h3 class="card-title">
                                                <i class="fas fa-portrait"></i> Photo ID
                                                <span class="hover-text">
                                                    <i class="fas fa-info-circle"></i>
                                                    <span class="tooltip-text" id="beneficiary-information">

                                                        <b> <i class='fas fa-portrait'></i> Photo ID verified</b>
                                                    </span>
                                                </span>
                                            </h3>
                                            <div class="card-tools">
                                                <span data-toggle="tooltip" title="Agent report # : @Model.ClaimsInvestigation.AgencyReport.AgentEmail" class="badge badge-light">
                                                    <i class="nav-icon fas fa-clock"></i>
                                                    @Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")
                                                </span>

                                            </div>
                                        </div>
                                        <div class="card-footer text-center">
                                            <span class="badge badge-light"><i class="fas fa-portrait"></i> Match :  </span>
                                            @if (string.IsNullOrWhiteSpace(@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
                                            {
                                                <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                            }
                                            else
                                            {
                                                <i style='color:green;' class='fas fa-check-circle'></i>
                                            }
                                        </div>
                                        <div class="progress">
                                            <i class="far fa-bookmark bookmark-green"></i>
                                            <div class="progress-bar" role="progressbar" style="width:100%;background-color:@digitalIdColor;">
                                                photo-id
                                            </div>

                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p class="text-muted text-sm">
                                                        <span class="badge badge-light"><i class="far fa-image"></i> Photo Id Image</span>:
                                                        <br />
                                                        @{
                                                            if (Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImage != null)
                                                            {
                                                                <img title="digital image" id="agentLocationPicture" class="img-fluid face-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImage))">
                                                            }
                                                            else
                                                            {
                                                                <img title="digital image" id="agentLocationPicture" alt="face image" class="img-fluid  ocr-data" src=@Applicationsettings.NO_PHOTO_IMAGE>
                                                            }
                                                        }
                                                    </p>
                                                    <p class="text-muted text-sm">

                                                        <span class="badge badge-light"><i class="fas fa-info"></i> Location Info</span>
                                                        <br />
                                                        <label class="ocr-data img-fluid"> @Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageData</label>

                                                    </p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="text-muted text-sm">
                                                        <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                                                        <br />
                                                        <img class="img-fluid locationImage" src="@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageLocationUrl" />
                                                    </p>
                                                    <p class="text-muted text-sm">

                                                        <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                                        <br />
                                                        <label class="img-fluid ocr-data"> @Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageLocationAddress</label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card direct-chat direct-chat-warning collapsed-card">
                                        <div class="card-header">
                                            <i class="fas fa-film"></i><h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                                            <div class="card-tools">
                                                <span data-toggle="tooltip" title="Map Location" class="badge badge-light"> <i class='far fa-hand-point-right'></i></span>
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div id="face-map">
                                            </div>
                                            <div id="face-msg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            if (@Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImageData != null && @Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImageLongLatTime != null)
                            {
                                string documentIdColor = "grey";
                                var borderColor = "";
                                if (Model.ClaimsInvestigation.AgencyReport.PanIdReport?.DocumentIdImageLongLat == null)
                                {

                                }
                                else if (Model.ClaimsInvestigation.AgencyReport.PanIdReport?.DocumentIdImageLongLat != null && (
                                Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImageValid != null && Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImageValid == true))
                                {
                                    documentIdColor = "green";
                                    borderColor = "border-success";
                                }
                                else
                                {
                                    documentIdColor = "#dc3545!important";
                                    borderColor = "border-danger";
                                }
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                    <div class="card bg-light d-flex flex-fill @borderColor">
                                        <div class="card-header text-muted border-bottom-0">
                                            <h3 class="card-title">
                                                <i class="fas fa-mobile-alt"></i> PAN CARD
                                                <span class="hover-text">
                                                    <i class="fas fa-info-circle"></i>
                                                    <span class="tooltip-text" id="beneficiary-information">

                                                        <b> <i class='fas fa-user-tie'></i> PAN CARD Image </b>
                                                    </span>
                                                </span>
                                            </h3>
                                            <div class="card-tools">
                                                <span data-toggle="tooltip" title="Agent report # : @Model.ClaimsInvestigation.AgencyReport.AgentEmail" class="badge badge-light">
                                                    <i class="nav-icon fas fa-clock"></i>
                                                    @Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")
                                                </span>

                                            </div>

                                        </div>
                                        <div class="card-footer text-center">
                                            <span class="badge badge-light"><i class="far fa-image"></i> Valid : </span>
                                            @if (@Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImageValid.Value ?? false)
                                            {
                                                <i style='color:green;' class='fas fa-check-circle'></i>
                                            }
                                            else
                                            {
                                                <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                            }
                                        </div>
                                        <div class="progress">
                                            <i class="far fa-bookmark bookmark-green"></i>
                                            <div class="progress-bar" role="progressbar" style="width:100%;background-color:@documentIdColor">
                                                pan-card
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p class="text-muted text-sm">
                                                        <span class="badge badge-light"><i class="fas fa-film"></i> Pan card Image</span>:
                                                        <br />
                                                        @{
                                                            if (Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImage != null)
                                                            {
                                                                <img title="document image" id="agentOcrPicture" class="img-fluid ocr-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImage))">
                                                            }
                                                            else
                                                            {
                                                                <img title="document image" id="agentOcrPicture" alt="ocr-image" class="img-fluid ocr-data" src=@Applicationsettings.NO_PHOTO_IMAGE />
                                                            }
                                                        }
                                                    </p>
                                                    <p class="text-muted text-sm">

                                                        <span class="badge badge-light"><i class="fas fa-info"></i> Image Scan Info</span>
                                                        <br />
                                                        <label class="img-fluid ocr-data"> @Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImageData</label>
                                                    </p>
                                                </div>
                                                <div class="col-6">

                                                    <p class="text-muted text-sm">
                                                        <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                                                        <br />
                                                        <img class="img-fluid olocationImage" src="@Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImageLocationUrl" />
                                                    </p>
                                                    <p class="text-muted text-sm">

                                                        <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                                        <br />
                                                        <label class="img-fluid ocr-data"> @Model.ClaimsInvestigation.AgencyReport?.PanIdReport?.DocumentIdImageLocationAddress</label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card direct-chat direct-chat-warning collapsed-card">
                                        <div class="card-header">
                                            <i class="fas fa-film"></i> <h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                                            <div class="card-tools">
                                                <span data-toggle="tooltip" title="Map Location" class="badge badge-light"> <i class='far fa-hand-point-right'></i></span>
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div id="ocr-map">
                                            </div>
                                            <div id="ocr-msg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.AgencyReport?.AgentRemarks))
                        {
                            var questionTime = @Model.ClaimsInvestigation.AgencyReport.AgentRemarksUpdated != null ? @Model.ClaimsInvestigation.AgencyReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;

                            <div class="col-12 col-sm-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light d-flex flex-fill border-success">
                                    <div class="card-header text-muted border-bottom-0">
                                        <h3 class="card-title">
                                            <i class="far fa-comment"></i> Questionnaire
                                            <span class="hover-text">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltip-text" id="information">
                                                    <span>
                                                        <i class="far fa-comment"></i><b> Questionnaire.</b>
                                                    </span>

                                                </span>
                                            </span>
                                        </h3>
                                        <div class="card-tools">
                                            <span data-toggle="tooltip" title="Claim #" class="badge badge-light">
                                                <i class="nav-icon fas fa-clock"></i>
                                                @Model.ClaimsInvestigation.AgencyReport?.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-footer text-muted border-bottom-0">
                                        <i class="fas fa-user-shield"></i>  Agent:<span class="badge badge-light">  @Model.ClaimsInvestigation.AgencyReport.AgentEmail </span>
                                    </div>
                                    <div class="progress">
                                        <i class="far fa-bookmark bookmark-green"></i>
                                        <div class="progress-bar" role="progressbar" style="width:100%;background-color:green">
                                            questionaire
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        @* <partial name="_MediaDetails" model="@Model.ClaimsInvestigation" />*@

                                        <div class="row">
                                            <div class="col-7">
                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-light"><i class="fas fa-film"></i> Questions</span>:
                                                    <br />
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small">
                                                            Ownership of residence ?
                                                            <span class="fa-li">
                                                                <i class="far fa-comment"></i>
                                                            </span>
                                                        </li>
                                                        <br />
                                                        <li class="small">
                                                            Perceived financial status ?
                                                            <span class="fa-li">
                                                                <i class="far fa-comment"></i>
                                                            </span>
                                                        </li>
                                                        <br />
                                                        <li class="small">
                                                            Name of neighbour met ?
                                                            <span class="fa-li">
                                                                <i class="far fa-comment"></i>
                                                            </span>
                                                        </li>
                                                        <br />
                                                        <li class="small">
                                                            Date when met with neighbour ?
                                                            <span class="fa-li">
                                                                <i class="far fa-comment"></i>
                                                            </span>
                                                        </li>
                                                        <br />
                                                        <li class="small">
                                                            Remarks?
                                                            <span class="fa-li">
                                                                <i class="far fa-comment"></i>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </p>
                                            </div>

                                            <div class="col-5">
                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-light"><i class="fas fa-film"></i> Answers</span>:
                                                    <br />
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="far fa-comment"></i>
                                                            </span>
                                                            @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer1
                                                        </li>
                                                        <br />
                                                        <li class="small">

                                                            <span class="fa-li">
                                                                <i class="far fa-comment"></i>
                                                            </span>
                                                            @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer2
                                                        </li>
                                                        <br />
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="far fa-comment"></i>
                                                            </span>
                                                            @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer3
                                                        </li>
                                                        <br />
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="far fa-comment"></i>
                                                            </span>
                                                            @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer4
                                                        </li>
                                                        <br />
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="far fa-comment"></i>
                                                            </span>
                                                            @Model.ClaimsInvestigation.AgencyReport?.AgentRemarks
                                                        </li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <partial name="_Chat" model="@Model.ClaimsInvestigation" />

                            </div>
                        }

                    </div>
                    <div class="col-12">
                        @if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarks))
                        {
                            <div class="card bg-light border-success">

                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-user-edit"></i> Supervisor : <span class="badge badge-light"> @Model?.ClaimsInvestigation.AgencyReport?.SupervisorEmail</span>
                                        <span class="hover-text">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="tooltip-text" id="information">
                                                <span>
                                                    <i class="fas fa-user-shield"></i><b> @Model?.ClaimsInvestigation.AgencyReport?.SupervisorEmail</b> remark.
                                                </span>

                                            </span>
                                        </span>
                                    </h3>
                                    <div class="card-tools">
                                        <span data-toggle="tooltip" title=" Supervisor :  @Model?.ClaimsInvestigation.AgencyReport?.SupervisorEmail" class="badge badge-light">
                                             @Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                                        </span>
                                    </div>

                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="text-muted text-sm">

                                                <span>Supervisor comments: </span>
                                            </p>
                                            <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Time
                                                        </th>
                                                        <th>
                                                            Supervisor Response
                                                        </th>
                                                        <th>
                                                            Document
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @{
                                                                string displayTime = string.Empty;
                                                                var time = @Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarksUpdated;
                                                                if (time is not null)
                                                                {
                                                                    displayTime = time.Value.ToString("dd-MMM-yyy HH:mm");
                                                                }
                                                                if (time == null)
                                                                {
                                                                    displayTime = @Model.ClaimsInvestigation.AgencyReport.Created.ToString("dd-MMM-yyy HH:mm");
                                                                }
                                                            }
                                                            <span class="badge badge-light">@displayTime</span>
                                                        </td>
                                                        <td>
                                                            @Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarks

                                                        </td>
                                                        <td>
                                                            @if (Model.ClaimsInvestigation.AgencyReport?.SupervisorAttachment != null)
                                                            {
                                                                <img title="enquiry document" id="enquiryDocument" class="img-fluid doc-profile-image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.ClaimsInvestigation.AgencyReport?.SupervisorAttachment))">
                                                                <a asp-controller="Download" asp-action="SupervisorFileAttachment" target="_blank"
                                                                   asp-route-id="@Model.ClaimsInvestigation.AgencyReport.AgencyReportId" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> </a>
                                                            }
                                                            else
                                                            {
                                                                <img title="enquiry document" id="enquiryDocument" alt="face image" class="img-fluid doc-profile-image" src=@Applicationsettings.NO_IMAGE>
                                                            }
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                    </div>

                    @if (@Model.ClaimsInvestigation.IsQueryCase && @Model.ClaimsInvestigation.AgencyReport.EnquiryRequest != null)
                    {
                        <partial name="_EnquiryReport" model="@Model" />
                    }
                </div>
            </div>
        </div> <!-- class bb-blog-inner -->
    </article>

    <div class="row">
        <div class="col-12">
            <div class="card card-light collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-user-check"></i> Assessor: <span class="badge badge-light">@Model.ClaimsInvestigation.AgencyReport.AssessorEmail</span>
                        <span class="hover-text">
                            <i class="fas fa-info-circle"></i>
                            <span class="tooltip-text" id="information">
                                <span>
                                    <i class="fas fa-user-check"></i><b> @Model?.ClaimsInvestigation.AgencyReport?.AssessorEmail</b> remark.
                                </span>

                            </span>
                        </span>
                    </h3>
                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Assessor: : @Model.ClaimsInvestigation.AgencyReport.AssessorEmail" class="badge badge-light">
                            <i class='far fa-hand-point-right'></i>
                        </span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>

                </div>


                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-muted text-sm">

                                <span>Assessor remarks: </span>
                            </p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.ClaimsInvestigation.AgencyReport.AssessorRemarks <i class="far fa-comment"></i>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
