@model ClaimTransactionModel

@{
    ViewData["Title"] = "Claim: Report ";
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
            <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
            <input type="hidden" id="beneficiaryId" value="@Model.Location?.CaseLocationId" />
            <input type="hidden" id="claimId" value="@Model.ClaimsInvestigation?.ClaimsInvestigationId" />
            <div class="col-md-12">
                <div id="article" class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-newspaper"></i> Detail</h3>
                    </div>
                        <div class="card-body">
                            <article>
                                <div class="bb-blog-inner">
                                   <partial name="_ApprovedPolicyDetails" model="@Model" />
                                
                                    <partial name="_TimelineReport" model="@Model" />
                               
                                    <partial name="_Invoice" model="@Model" />
                                </div> 
                            </article>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts    {
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH8T9FvJ8n2LNwxkppRAeOq3Mx7I3qi1E&callback=initReportMap">
    </script>
    <script src="~/js/map.js"></script>
}
