@model ClaimTransactionModel

@{
    ViewData["Title"] = "Claim: Report ";
}
<section class="page-content">
    <div id="article" class="card card-default">

        <div class="card-body">
            <article>
                <div class="bb-blog-inner">
                    <header class="bb-blog-header">
                        <h3 class="bb-blog-title" itemprop="name">Customer name : @Model.Claim.CustomerName</h3>
                    </header>
                    <div class="bb-blog-content" itemprop="articleBody">
                        <div class="timeline">
                            @{
                                var firstOnly = false;
                                var lastOnly = true;
                                foreach (var log in Model.Log)
                                {
                                    <div class="time-label"><span class="bg-red">@log.Created.ToString("dd-MMM-yyyy")</span></div>

                                    <div>
                                        <i class="nav-icon fas fa-envelope bg-blue"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="nav-icon fas fa-clock"></i> @log.Created.ToString("hh:mm tt")</span>
                                            @if (@firstOnly)
                                            {
                                                <h3 class="timeline-header"><a href="#">@log.UpdatedBy</a> has actioned the case to: <span class="badge badge-success"> @log.InvestigationCaseStatus.Name.</span></h3>
                                            }
                                            else
                                            {
                                                <h3 class="timeline-header"><a href="#">@log.UpdatedBy</a> has actioned the case: <span class="badge badge-success"> ....</span></h3>
                                            }
                                            <div class="timeline-body">
                                                The status has been updated to <span class="badge badge-info">@log.InvestigationCaseSubStatus.Name</span>
                                            </div>

                                        </div>
                                    </div>
                                    firstOnly = true;
                                }
                            }

                            <div><i class="nav-icon fas fa-clock bg-gray"></i></div>
                        </div>
                    </div> <!-- class bb-blog-content -->

                </div> <!-- class bb-blog-inner -->
            </article>
             <div class="row">
            <div class="col-md-12 text-right">
                <a asp-asp-controller="Report" asp-action="Index" class="btn btn-default"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a> &nbsp;&nbsp;&nbsp;
            </div>
        </div>
        </div>
    </div>
</section>