@model ClaimTransactionModel

@{
    ViewData["Title"] = "Claim: Report ";
    
}

<section class="content">
    <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
    <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
    <input type="hidden" id="beneficiaryId" value="@Model.Location?.CaseLocationId" />
    <input type="hidden" id="claimId" value="@Model.ClaimsInvestigation?.ClaimsInvestigationId" />
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-newspaper"></i> Detail

                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <span>
                            REJECTED CLAIM DETAIL
                            <i class='far fa-file-powerpoint'></i><b> Policy details.</b>
                            <i class='fa fa-user-plus'></i> <b> Customer Information.</b>
                            <b> <i class='fas fa-user-tie'></i> Beneficiary Details </b>
                        </span>

                    </span>
                </span>
            </h3>
        </div>

        <partial name="_ApprovedPolicyDetails" model="@Model" />

        <partial name="_TimelineReport" model="@Model" />

        <partial name="_InvoiceReject" model="@Model" />

    </div>
</section>

@section Scripts {
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH8T9FvJ8n2LNwxkppRAeOq3Mx7I3qi1E&callback=initReportMap">
    </script>
    <script src="~/js/map.js"></script>
}
