@model risk.control.system.Models.ClaimsInvestigation

@{
    ViewData["Title"] = "Edit";
    
    var hasClientCompany = @Model.HasClientCompany ? "none" : "";
}
<section class="content">
    <form id="create-form" asp-controller="ClaimsInvestigationPost" method="post" asp-action="EditPolicy" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ClaimsInvestigationId" />
        <input type="hidden" id="claimtype" name="claimtype" value="draft" />
        <input type="hidden" asp-for="InvestigationCaseSubStatusId" />
        <input type="hidden" asp-for="PolicyDetail.LineOfBusinessId" value="@Model.PolicyDetail.LineOfBusinessId" />
        <div id="article" class="card  bg-light card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="far fa-file-powerpoint"></i> @Applicationsettings.EDIT  Policy
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <li>
                                <i class='far fa-hand-point-right'></i> Edit Policy details
                            </li>
                            <li>
                                <i class='far fa-thumbs-up'></i> Complete wizard
                            </li>
                            <li>
                                <i class='fa fa-hand-peace-o'></i> <b> Assign</b> to Agency
                            </li>
                        </span>
                    </span>
                </h3>
            </div>
            @{
                bool policyExist = true;
                bool customerExist = Model.CustomerDetail != null;
                bool beneficiaryExist = Model.BeneficiaryDetail != null == true;

                string customerProgressColor = "steps2";
                string customerLineColor = "line";
                if (Model.PolicyDetail?.ContractNumber != null)
                {
                    customerLineColor = "line0";
                }
                if (@customerExist)
                {
                    customerProgressColor = "steps";
                    customerLineColor = "line0";
                }
                string benficiaryProgressColor = "steps3";
                string beneficiaryLineColor = "line";

                if (@customerExist)
                {
                    benficiaryProgressColor = "steps2";
                    beneficiaryLineColor = "line0";
                }
                if (@customerExist && @beneficiaryExist)
                {
                    benficiaryProgressColor = "steps";
                    beneficiaryLineColor = "line1";
                }
            }
            <div class="container d-flex justify-content-center align-items-center">
                <div class="progresses">

                    <div class="steps-edit">
                        <span> <i class="far fa-file-powerpoint"></i></span>
                    </div>

                    <span class="line"></span>

                    <div class="steps2">
                        <span class="font-weight-bold"><i class="fa fa-user-plus"></i></span>
                    </div>


                    <span class="line"></span>

                    <div class="steps2">
                        <span class="font-weight-bold"><i class="fas fa-user-tie"></i></span>
                    </div>

                </div>
            </div>
            <div class="card-body pt-0">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <span class="input-group-label"> Policy #:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="ContractNumber"><i class="far fa-file-powerpoint"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input id="contractnum" required asp-for="PolicyDetail.ContractNumber" class="form-control remarks" type="text" placeholder="Policy #" maxlength="20" />
                                <span asp-validation-for="PolicyDetail.ContractNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Sum Assured:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="SumAssuredValue"><i class="fas fa-rupee-sign"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input required asp-for="PolicyDetail.SumAssuredValue" class="form-control remarks" type="text" placeholder="Sum Assured" min="1" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                <span asp-validation-for="PolicyDetail.SumAssuredValue" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Issue Date:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="ContractIssueDate"><i class="nav-icon far fa-calendar-check"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input required asp-for="PolicyDetail.ContractIssueDate" id="dateContractId" class="form-control remarks" type="date" />
                                <span asp-validation-for="PolicyDetail.ContractIssueDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Claim Type:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="ClaimType"><i class="nav-icon fas fa-file-invoice"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select required asp-for="PolicyDetail.ClaimType" class="form-control remarks" asp-items="Html.GetEnumSelectList<ClaimType>()">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="PolicyDetail.ClaimType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Service Type:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="InvestigationServiceTypeId"><i class="nav-icon fas fa-tools"></i> <i class="fa fa-asterisk asterik-style"></i> </span>
                                </div>
                                <select required id="InvestigationServiceTypeId" asp-for="PolicyDetail.InvestigationServiceTypeId" class="form-control remarks" asp-items="ViewBag.InvestigationServiceTypeId">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="PolicyDetail.InvestigationServiceTypeId" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <span class="input-group-label"> Incident Date:</span>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="DateOfIncident"><i class="nav-icon far fa-calendar-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input required asp-for="PolicyDetail.DateOfIncident" id="dateIncidentId" class="form-control remarks" type="date" />
                                <span asp-validation-for="PolicyDetail.DateOfIncident" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="form-group">
                            <span class="input-group-label"> Cause Of Incident:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="CauseOfLoss"><i class="nav-icon far fa-flag"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input required asp-for="PolicyDetail.CauseOfLoss" class="form-control remarks" type="text" placeholder="Cause Of Incident" maxlength="70" />
                                <span asp-validation-for="PolicyDetail.CauseOfLoss" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Reason To Verify:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="CaseEnablerId"><i class="nav-icon fas fa-puzzle-piece"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select required asp-for="PolicyDetail.CaseEnablerId" class="form-control remarks" asp-items="ViewBag.CaseEnablerId">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="PolicyDetail.CaseEnablerId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Budget Centre:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="CostCentreId"><i class="nav-icon fas fa-money-check-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select required asp-for="PolicyDetail.CostCentreId" class="form-control remarks" asp-items="@ViewBag.CostCentreId">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="PolicyDetail.CostCentreId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="input-group-label"> Policy Document:</span>
                            <div class="input-group mb-3">
                                @if (Model?.PolicyDetail.DocumentImage is not null)
                                {
                                    <img id="policyImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.PolicyDetail.DocumentImage))">
                                    <i class="fa fa-asterisk asterik-style"></i>
                                    <input accept="image/*" asp-for="PolicyDetail.Document" type="file" class="form-control remarks" id="documentImageInput" />
                                }
                                else
                                {
                                    <img id="policyImage" class="form-Image" src=@Applicationsettings.NO_POLICY_IMAGE>
                                    <i class="fa fa-asterisk asterik-style"></i>
                                    <input accept="image/*" asp-for="PolicyDetail.Document" type="file" class="form-control remarks" id="documentImageInput" required/>
                                }
                               
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <button type="submit" onclick="clearAllInputs()" class="btn btn-outline-secondary">
                        <i class="fas fa-undo"></i> RESET
                    </button>
                    <a id="back" asp-controller="ClaimsInvestigation" asp-action="Details" asp-route-id="@Model.ClaimsInvestigationId" class="btn btn-secondary">
                        <i class="fa fa-window-close"></i>
                        @Applicationsettings.CANCEL
                    </a>
                    <button id="create-policy" type="submit" class="btn btn-warning">
                        <i class="far fa-file-powerpoint"></i> Edit Policy
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/edit-policy.js"></script>

}
