@model ClaimTransactionModel
@{
    string baddress = string.Empty;
    string currentBAgeinYrs = string.Empty;
    bool customerExist = false;
    bool beneficiaryExist = false;
    var imgPath = "/flags/in.png";
    if (Model.ClaimsInvestigation.CustomerDetail != null)
    {
        customerExist = true;
    }
    if (Model.Location?.BeneficiaryDetailId > 0)
    {
        beneficiaryExist = true;
        baddress = @Model.Location?.Addressline + " " + @Model.Location?.District?.Name + " " + @Model.Location?.State?.Name + " " + @Model.Location?.PinCode?.Code;
        var age = DateTime.Now.Subtract(Model.Location.DateOfBirth.GetValueOrDefault()).TotalDays;
        currentBAgeinYrs =$"{(int)(age/ 365 )} years";

    }
    string benficiaryProgressClass = "progress-bar-lightgrey"; // Default class

    if (customerExist && beneficiaryExist)
    {
        benficiaryProgressClass = "progress-bar-green";
    }
    else if (customerExist && !beneficiaryExist)
    {
        benficiaryProgressClass = "progress-bar-grey";
    }
    imgPath = "/flags/" + @Model.Location.Country.Code.ToLower() + ".png";

}
<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
        <div class="card-header text-muted border-bottom-0">
            <i class="fas fa-user-tie"></i>  Beneficiary Details
        </div>
        <div class="progress">
            <i class="far fa-bookmark bookmark-green"></i>
            <div class="progress-bar @benficiaryProgressClass" role="progressbar">
                <i class="fas fa-user-tie"></i>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-7">
                    <h2 class="lead"><b>@Model.Location?.Name</b></h2>
                    <p class="text-muted text-sm">
                        <b>Relation: </b> @Model.Location?.BeneficiaryRelation.Name
                    </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-rupee-sign"></i>
                            </span>
                            Income: @Model.Location?.Income
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-user-alt"></i>
                            </span>
                            Age: @currentBAgeinYrs
                        </li>

                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-lg fa-building"></i>
                            </span>
                            Address: @baddress
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-lg fa-globe"></i>
                            </span>
                            Country: <img src="@imgPath" class="flag-icon" data-toggle="tooltip" /> @Model.Location?.Country.Name
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-lg fa-phone"></i>
                            </span>
                            Phone #: +@Model.Location?.Country.ISDCode (0) @Model.Location?.ContactNumber
                        </li>
                    </ul>
                </div>
                <div class="col-5 text-center">
                    <p class="text-muted text-sm">
                        @if (Model?.Location?.ProfilePicture is not null)
                        {
                            <img id="bImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.Location?.ProfilePicture))">
                        }
                        else
                        {
                            <img id="bImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER">
                        }
                    </p>
                    <p class="text-muted text-sm">
                        @if (Model?.Location?.BeneficiaryLocationMap != null)
                        {
                            <img id="beneficiaryGoogleMap" class="img-fluid block-data" src="@Model?.Location?.BeneficiaryLocationMap">
                        }
                    </p>

                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="text-right">

                    @if (Model.ClaimsInvestigation.BeneficiaryDetail != null && !string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.BeneficiaryDetail.ContactNumber))
                    {
                        <button id="beneficiary-comments" class="btn btn-sm bg-teal">
                            <i class="fas fa-comments"></i>
                        </button>
                    }
                    else
                    {
                        <button disabled id="beneficiary-comments" class="btn btn-sm bg-teal">
                            <i class="fas fa-comments"></i>
                        </button>
                    }
                    @if (Model.ClaimsInvestigation.BeneficiaryDetail != null && !string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.BeneficiaryDetail.ContactNumber))
                    {
                        <button id="beneficiary-detail" class="btn btn-sm btn-success">
                            <i class="fas fa-user-tie"></i> ...
                        </button>
                    }
                    else
                    {
                        <button disabled id="beneficiary-detail" class="btn btn-sm btn-success">
                            <i class="fas fa-user-tie"></i> ...
                        </button>
                    }
            </div>

        </div>
    </div>
</div>