@model risk.control.system.Models.BeneficiaryDetail
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="BeneficiaryDetailId" value="@Model.BeneficiaryDetailId" />
<input type="hidden" asp-for="ClaimsInvestigationId" value="@Model.ClaimsInvestigationId" />
<div id="article" class="card shadow-lg border-0 rounded-lg">
    <div class="card-header bg-secondary text-white text-center">
        <h3 class="card-title">
            <i class="fas fa-user-tie"></i> Edit Beneficiary
            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="information">
                    <span>
                        <i class='far fa-hand-point-right'></i> Edit Beneficiary details.
                        <i class='far fa-thumbs-up'></i> Wizard should complete. <b> <i class='fa fa-hand-peace-o'></i> Assign</b> to Agency
                    </span>

                </span>
            </span>

        </h3>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="progresses">
            <div class="steps2">
                <span> <i class="far fa-file-powerpoint"></i></span>
            </div>

            <span class="line"></span>

            <div class="steps2">
                <span class="font-weight-bold"><i class="fa fa-user-plus"></i></span>
            </div>

            <span class="line"></span>

            <div class="steps-edit">
                <span class="font-weight-bold"><i class="fas fa-user-tie"></i></span>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="submit-progress hidden">
            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="input-group-label"> Beneficiary Name:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="BeneficiaryName"><i class="fas fa-user-tie"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input id="BeneficiaryName" required asp-for="Name" class="form-control remarks" type="text" placeholder="Beneficiary Name" maxlength="30" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-group-label"> Date Of Birth:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="DateOfBirth"><i class="far fa-calendar-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input required asp-for="DateOfBirth" id="DateOfBirth" class="form-control remarks" type="date" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label"> Relation:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="BeneficiaryRelationId"><i class="fas fa-user-tie"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <select required asp-for="BeneficiaryRelationId" class="form-control remarks" asp-items="ViewBag.BeneficiaryRelationId">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="BeneficiaryRelationId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-group-label"> Income:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="Income"><i class="far fa-money-bill-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <select required asp-for="Income" class="form-control remarks" asp-items="Html.GetEnumSelectList<Income>()">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="Income" class="text-danger"></span>
                    </div>
                </div>
                <partial name="Creator/_BeneficiaryPhoneNumber" model="@Model" />

                
            </div>
            <div class="col-md-6">
                <partial name="Creator/_BeneficiaryAddress" model="@Model" />

                <div class="form-group">
                    <label class="input-group-label"> Address:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-home"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input required type="text" id="Addressline" asp-for="Addressline" class="form-control remarks" placeholder="Address" maxlength="50" autocomplete="off" />
                        <span asp-validation-for="Addressline" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label"> Beneficiary Photo:</label>
                    <div class="input-group mb-3">
                        @if (Model?.ProfilePicture is not null)
                        {
                            <img id="createProfileImage" class="form-Image" data-preview-id="createProfileImage" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ProfilePicture))" data-toggle="tooltip" title="Upload Beneficiary Photo" />
                            <i class="fa fa-asterisk asterik-style"></i>
                            <input accept=".jpg,.jpeg,.png" asp-for="ProfileImage" class="form-control remarks document-image-input" type="file" id="createImageInput" data-preview-id="createProfileImage" data-toggle="tooltip" title="Upload Beneficiary Photo" />
                        }
                        else
                        {
                            <img id="createProfileImage" class="form-Image" data-preview-id="createProfileImage" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="Beneficiary Photo" />
                            <i class="fa fa-asterisk asterik-style"></i>
                            <input accept=".jpg,.jpeg,.png" asp-for="ProfileImage" class="form-control remarks document-image-input" type="file" id="createImageInput" data-preview-id="createProfileImage" data-toggle="tooltip" title="Beneficiary Photo" required />
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="text-right">
            @*  <button type="submit" onclick="clearAllInputs()" class="btn btn-outline-secondary">
            <i class="fas fa-undo"></i> Reset
            </button> *@
            <a id="cancel" asp-action="Details" asp-route-id="@Model.ClaimsInvestigationId" class="btn btn-secondary">
                <i class="fa fa-window-close"></i>
                @Applicationsettings.CANCEL
            </a>
            <button id="edit" type="submit" class="btn btn-warning">
                <i class="fas fa-user-tie"></i> Save  Beneficiary
            </button>
        </div>
    </div>
</div>