@model ClaimTransactionModel

@{
    var customerDetail = Model.ClaimsInvestigation?.CustomerDetail;
    var location = Model.Location;

    // Customer and Beneficiary existence
    bool customerExist = customerDetail != null;
    bool beneficiaryExist = location?.BeneficiaryDetailId > 0;

    // Address and age calculations
    string address = string.Empty;
    string baddress = string.Empty;
    int currentAgeInYrs = 0;
    int currentBAgeInYrs = 0;

    if (customerExist)
    {
        address = $"{customerDetail.Addressline} {customerDetail.District?.Name} {customerDetail.State?.Name} {customerDetail.Country?.Name} {customerDetail.PinCode?.Code}";

        if (customerDetail.DateOfBirth != null)
        {
            currentAgeInYrs = (int)(DateTime.Now.Subtract(customerDetail.DateOfBirth).TotalDays / 365);
        }
    }

    if (location?.DateOfBirth != null)
    {
        currentBAgeInYrs = (int)(DateTime.Now.Subtract(location.DateOfBirth).TotalDays / 365);
    }

    // Progress bar and message setup
    string customerProgressColor = customerExist ? "steps1" : "steps2";
    string customerLineColor = customerExist || Model.ClaimsInvestigation?.PolicyDetail != null ? "line1" : "line";
    string customerProgressbarMessage = customerExist ? "customer" : "add customer";

    string beneficiaryProgressbarMessage = beneficiaryExist ? "edit beneficiary" : "beneficiary";
}

<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
        <div class="card-header text-muted border-bottom-0">
            <i class="fa fa-user-plus"></i> Customer Details
            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="customer-information">
                    <i class='fa fa-user-plus'></i> Customer details
                </span>
            </span>
        </div>

        <div class="progress">
            <i class="far fa-bookmark bookmark-green"></i>
            <div class="progress-bar" role="progressbar" style="width:100%;background-color:green">
                <i class="fa fa-user-plus"></i>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-7">
                    <h2 class="lead"><b>@customerDetail?.Name</b></h2>
                    <p class="text-muted text-sm"><b>Occupation: </b>@customerDetail?.Occupation</p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-user-tag"></i></span>Customer Type: @customerDetail?.CustomerType</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-rupee-sign"></i></span>Income: @customerDetail?.Income</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-restroom"></i></span>Gender: @customerDetail?.Gender</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-graduation-cap"></i></span>Education: @customerDetail?.Education</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-user-alt"></i></span>Age: @currentAgeInYrs</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>Address: @address</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>Phone #: +@customerDetail?.ContactNumber</li>
                    </ul>
                </div>

                <div class="col-5 text-center">
                    <p class="text-muted text-sm">
                        @if (customerDetail?.ProfilePicture != null)
                        {
                            <img id="profileImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(customerDetail?.ProfilePicture))" data-toggle="tooltip" title="Customer Photo">
                        }
                        else
                        {
                            <img id="profileImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="No Customer Photo">
                        }
                    </p>
                    <p class="text-muted text-sm">
                        <img id="customerGoogleMap" class="img-fluid block-data" src="@customerDetail?.CustomerLocationMap" data-toggle="tooltip" title="Display Customer Address in map">
                    </p>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="text-right">
                @if (customerExist)
                {
                    <input type="hidden" asp-for="ClaimsInvestigation.ClaimsInvestigationId" />
                    <a id="edit-customer" class="btn btn-warning" asp-action="EditCustomer" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId"><i class="fa fa-user-plus"></i> Edit Customer</a>
                }
                else
                {
                    <a id="add-customer" class="btn btn-success" asp-action="CreateCustomer" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId"><i class="fa fa-user-plus"></i> Add Customer</a>
                }
            </div>
        </div>
    </div>
</div>
