@model ClaimTransactionModel

@{
    // Progress and existence flags
    bool customerExists = Model.ClaimsInvestigation?.CustomerDetail != null;
    bool beneficiaryExists = Model.Location?.BeneficiaryDetailId > 0;

    // Default progress bar colors
    string beneficiaryProgressColor = "progress-bar-lightgrey";

    // Update progress bar colors based on conditions
    if (customerExists)
    {
        beneficiaryProgressColor = beneficiaryExists ? "progress-bar-green" : "progress-bar-grey";
    }
    
    var beneficiaryAddress = $"{Model.Location.Addressline} {Model.Location.District?.Name} {Model.Location.State?.Name} {Model.Location.Country?.Name} {Model.Location.PinCode?.Code}";
    var beneficiaryAgeInYears =$"{(int)(DateTime.Now.Subtract(Model.Location.DateOfBirth.GetValueOrDefault()).TotalDays / 365)} years";
    var imgPath = "/flags/" + @Model.Location.Country.Code.ToLower() + ".png";

}

<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
        <!-- Card Header -->
        <div class="card-header text-muted border-bottom-0">
            <i class="fas fa-user-tie"></i> Beneficiary Details
            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="beneficiary-information">
                    <i class='fas fa-user-tie'></i> Beneficiary Details
                </span>
            </span>
        </div>

        <!-- Progress Bar -->
        <div class="progress">
            <i class="far fa-bookmark bookmark-green"></i>
            <div class="progress-bar @beneficiaryProgressColor" role="progressbar">
                <i class="fas fa-user-tie"></i>
            </div>
        </div>

        <!-- Card Body -->
        <div class="card-body">
            <div class="row">
                <!-- Beneficiary Details -->
                <div class="col-7">
                    <h2 class="lead"><b>@Model.Location?.Name</b></h2>
                    <p class="text-muted text-sm">
                        <b>Relation: </b> @Model.Location?.BeneficiaryRelation?.Name
                    </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small">
                            <span class="fa-li"><i class="fa fa-money"></i></span>
                            Income: (@ViewBag.Currency) @Model.Location?.Income
                        </li>
                        <li class="small">
                            <span class="fa-li"><i class="fas fa-user-alt"></i></span>
                            Age: @beneficiaryAgeInYears
                        </li>
                        <li class="small">
                            <span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                            Address: @beneficiaryAddress
                        </li>
                        <li class="small">
                            <span class="fa-li"><i class="fas fa-lg fa-globe"></i></span>
                            Country:<img src="@imgPath" class="flag-icon" data-toggle="tooltip" /> @Model.Location?.Country.Name
                        </li>
                        <li class="small">
                            <span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                            Phone #: (+@Model.Location?.Country.ISDCode) @Model.Location?.ContactNumber
                        </li>
                    </ul>
                </div>

                <!-- Beneficiary Image and Map -->
                <div class="col-5 text-center">
                    <p class="text-muted text-sm">
                        @if (Model?.Location?.ProfilePicture != null)
                        {
                            <img id="bImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model.Location.ProfilePicture))" data-toggle="tooltip" title="Beneficiary Photo" />
                        }
                        else
                        {
                            <img id="bImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="No Beneficiary Photo" />
                        }
                    </p>
                    <p class="text-muted text-sm">
                        <img id="beneficiaryGoogleMap" class="img-fluid block-data" src="@Model?.Location?.BeneficiaryLocationMap" data-toggle="tooltip" title="Display Beneficiary Address on Map" />
                    </p>
                </div>
            </div>
        </div>

        <!-- Card Footer -->
        <div class="card-footer">
            <div class="text-right">
                @if (customerExists)
                {
                    if (beneficiaryExists)
                    {
                        <input type="hidden" asp-for="ClaimsInvestigation.ClaimsInvestigationId" />
                        <a id="edit-beneficiary" class="btn btn-warning" asp-action="EditBeneficiary" asp-route-id="@Model.Location.BeneficiaryDetailId">
                            <i class="fas fa-user-tie"></i> Edit Beneficiary
                        </a>
                    }
                    else
                    {
                        <a id="add-beneficiary" class="btn btn-success" asp-action="CreateBeneficiary" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId">
                            <i class="fas fa-user-tie"></i> Add Beneficiary
                        </a>
                    }
                }
                else
                {
                    <a class="btn btn-outline-secondary">
                        <i class="fas fa-user-tie"></i> Beneficiary
                    </a>
                }
            </div>
        </div>
    </div>
</div>
