@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = @Applicationsettings.WEBSITE_LOGIN;

    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> @Applicationsettings.WEBSITE_LOGIN</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <partial name="AdminLTE/_Styles" />
</head>

<body class="hold-transition login-page" style="background: white!important;">
    <div class="login-box">
        <div style="text-align: -webkit-center;">
            <div class="alert">
                <div class="login-logo">
                    <i class="fas fa-bug"></i> @Applicationsettings.WEBSITE_TITLE
                </div>
            </div>
            <br />
        </div>

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">@Applicationsettings.WEBSITE_SIGNIN </p>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="mb-3">
                        <div class="mb-3 input-group">
                            <input name="Email" placeholder="Email" type="email" id="email" class="form-control"
                                value="portal-admin@admin.com">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-3 input-group"><input name="password" placeholder="Password" type="password"
                                   id="password" class="form-control" value="@Applicationsettings.TestPassword">
                            <div class="input-group-append"><span class="input-group-text"><i
                                        class="fas fa-lock"></i></span></div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-block"><i class="fas fa-key"></i>&nbsp; @Applicationsettings.WEBSITE_SIGNIN</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.login-card-body -->
        <div style="text-align: -webkit-center;">
            
            @if (Model?.Error != null)
            {
                <div class="alert alert-warning">
                    @Model?.Error
                </div>
            }
            <br />
            <div class="alert">
                design by: <a style="color:darkblue" href="@Applicationsettings.WEBSITE_SITE_DESIGNER_URL">@Applicationsettings.WEBSITE_SITE_DESIGNER</a>
            </div>
        </div>
    </div>
    <partial name="AdminLTE/_Scripts" />

</body>

</html>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
