@model risk.control.system.Models.ClientCompanyApplicationUser

@{
    ViewData["Title"] = Applicationsettings.CREATE;
    var email = Model.ClientCompany.Email;
    var emailAtIndex = email.IndexOf("@");
    if (emailAtIndex > 0)
    {
        email = email.Substring(emailAtIndex + 1);
    }
}

<section class="content">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-user-plus"></i>  Add New</h3>
                    </div>
                    <div class="card-body">
                        <div class="submit-progress hidden">
                            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="input-group-label"> Email:</span>
                                    <div class="input-group mb-3">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="emailid"><i class="fas fa-at"></i> <i class="fa fa-asterisk asterik-style"></i> </span>
                                        </div>
                                        <input type="text" asp-for="Email" id="emailAddress" class="form-control email-address" value="" required
                                               placeholder="Enter User Email prefix" maxlength="15" autocomplete="name">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="Email">@@@email</span>
                                        </div>
                                        <div class="input-group-append">
                                            <button disabled id="check-email" class="input-group-text">
                                                <i class="far fa-question-circle"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-append">
                                            <span id="result"></span>
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>

                        </div>
                    </div>

                    <form id="create-form" asp-action="Create" enctype="multipart/form-data" autocomplete="off">
                        <input type="hidden" asp-for="Email" id="mailAddress" />
                        <input type="hidden" id="emailSuffix" name="emailSuffix" value="@email" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group hide-id">
                                        <label asp-for="ClientCompanyId" class="control-label"></label>
                                        <input asp-for="ClientCompanyId" class="form-control remarks" value="@Model.ClientCompany.ClientCompanyId" />
                                        <span asp-validation-for="ClientCompanyId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <span class="input-group-label"> Photo:</span>
                                        <div class="input-group mb-3">
                                            <img id="createProfileImage" class="form-Image" data-preview-id="createProfileImage" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="Upload Photo" />
                                            <i class="fa fa-asterisk asterik-style"></i>
                                            <input accept=".jpg,.jpeg,.png" asp-for="ProfileImage" class="form-control remarks document-image-input" type="file" id="createImageInput" data-preview-id="createProfileImage" required data-toggle="tooltip" title="Upload Photo" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <span class="input-group-label"> First Name:</span>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="FirstName"><i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                            </div>
                                            <input type="text" asp-for="FirstName" class="form-control remarks title-name" value="" required placeholder="First Name" maxlength="20" autocomplete=off>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <span class="input-group-label"> Last Name:</span>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="LastName"> <i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                            </div>
                                            <input type="text" asp-for="LastName" class="form-control remarks title-name" value="" required placeholder="Last Name" maxlength="20" autocomplete="off">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                    <span class="input-group-label"> Password:</span>
                                    <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="Password"> <i class="fa fa-key"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <input type="password" asp-for="Password" class="form-control remarks" value="" required placeholder="Password" maxlength="20" autocomplete="off">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    </div>*@
                                    <div class="form-group">
                                        <span class="input-group-label"> Phone #:</span>
                                        <div class="input-group">

                                            <div class="input-group-prepend">
                                                @{
                                                    var imgPath = "/flags/" + @Model.Country.Code.ToLower() + ".png";
                                                }
                                                <span class="input-group-text country-code-text" data-toggle="tooltip" title="Country Code :+@Model?.Country.ISDCode">
                                                    <img src="@imgPath" class="flag-icon" data-toggle="tooltip" />  +@Model?.Country.ISDCode<i class="fa fa-asterisk asterik-style"></i>
                                                </span>
                                            </div>
                                            <input id="PhoneNumber" type="text" asp-for="PhoneNumber" class="form-control remarks" required maxlength="10"
                                                   placeholder="Phone number only (e.g. 1234567890)" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <span class="input-group-label"> Role:</span>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" asp-for="ClaimType"><i class="nav-icon fas fa-file-invoice"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                            </div>
                                            <select required asp-for="@Model.UserRole" class="form-control remarks" asp-items="Html.GetEnumSelectList<CompanyRole>()">
                                                <option value="">--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="@Model.UserRole" class="text-danger"></span>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <partial name="_Address" model="@Model" />

                                    <div class="form-group">
                                        <span class="input-group-label"> Address:</span>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Addressline"><i class="fa fa-home"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                            </div>
                                            <input type="text" asp-for="Addressline" class="form-control remarks" placeholder="Enter Address line" required maxlength="50" autocomplete="off" />
                                            <span asp-validation-for="Addressline" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span class="input-group-label"> Note:</span>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Comments"> <i class="fa fa-asterisk asterik-style-none"></i><i class="fas fa-comment"></i> </span>
                                            </div>
                                            <input type="text" asp-for="Comments" class="form-control remarks" placeholder="Remarks (optional)" maxlength="50" autocomplete="off" />
                                        </div>
                                    </div>
                                    @* <div class="form-group">
                                        <span class="input-group-label"> Status:</span>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-toggle-on"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                            </div>
                                            <div class="input-group-prepend">
                                            </div>
                                            <span class="checkbox">
                                                <input asp-for="Active" type="checkbox" data-toggle="toggle" data-on="<i class='fa fa-toggle-on'></i> Active " data-off="<i class='fa fa-toggle-off'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                            </span>
                                        </div>
                                    </div> *@
                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-right">
                                        <a id="cancel" asp-controller="CompanyUser" asp-action="Index" asp-route-id="@Model.ClientCompany.ClientCompanyId" class="btn btn-secondary"><i class="fa fa-window-close"></i> Cancel</a>
                                        <button disabled id="create" type="submit" class="btn btn-success">
                                            <i class="fas fa-user-plus"></i> Add New
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/common/manage-user.js"></script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/common/form-validation.js"></script>

}
