@model ClaimsInvestigationVendorsModel


<article>
    <div class="bb-blog-inner">
        <header class="bb-blog-header">
            <h5 class="bb-blog-title" itemprop="name"><i class="fas fa-print nav-icon"></i> Agency Report: <span class="badge badge-light">@Model.CaseLocation.Vendor.Email</span> </h5>
        </header>
        <div class="card card-solid">
            <div class="progress">
                <i class="far fa-bookmark" style="font-size:1.1rem;"></i>
                <div class="progress-bar" role="progressbar" style="width:32.5%;background-color:green;">
                    investigation report
                </div>
                <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>
                <div class="progress-bar" role="progressbar" style="width:32.33%;background-color:greenr">
                    agent remarks
                </div>
                <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>

                <div class="progress-bar" role="progressbar" style="width:33.34%;background-color:green">
                    supervisor comments
                </div>
                <i class="far fa-bookmark" style="font-size:1.1rem;"></i>
            </div>
            <div class="card-body pb-0">

                <div class="row">
@{
if (@Model.CaseLocation.ClaimReport?.DigitalIdReport?.DigitalIdImageData != null && 
    @Model.CaseLocation.ClaimReport?.DigitalIdReport?.DigitalIdImageLongLat != null && @Model.CaseLocation?.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationUrl != null)
{
                                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                        <div class="card bg-light d-flex flex-fill">
                                            <div class="card-header text-muted border-bottom-0">

                                                <i class="fas fa-portrait"></i> Digital <span class="badge badge-light">checkify</span> <span class="badge badge-light" style="float:right;">
                                                        <i class="nav-icon fas fa-clock"></i> @Model.CaseLocation.ClaimReport?.DigitalIdReport?.DigitalIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")</span>
                                            </div>
                                            <div class="card-footer text-center">
                                                <span class="badge badge-light"><i class="fas fa-portrait"></i> Match :  </span>
            @if (string.IsNullOrWhiteSpace(@Model.CaseLocation.ClaimReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
            {
                                                        <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
            }
            else
            {
                                                        <i style='color:green;' class='fas fa-check-circle'></i>
            }
                                            </div>
                                            <div class="card-body pt-0">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p class="text-muted text-sm">
                                                            <span class="badge badge-light"><i class="far fa-image"></i> Digital Image</span>:
                                                            <br />
                        @{
                            if (Model.CaseLocation.ClaimReport?.DigitalIdReport?.DigitalIdImage != null)
                            {
                                                                            <img title="digital image" id="agentLocationPicture" class="img-fluid face-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.CaseLocation.ClaimReport?.DigitalIdReport?.DigitalIdImage))">
                            }
                            else
                            {
                                                                            <img title="digital image" id="agentLocationPicture" alt="face image" class="img-fluid  ocr-data" src="/img/no-photo.png">
                            }
                        }
                                                        </p>
                                                        <p class="text-muted text-sm">

                                                            <span class="badge badge-light"><i class="fas fa-info"></i> Location Info</span>
                                                            <br />
                                                            <label class="ocr-data img-fluid"> @Model.CaseLocation?.ClaimReport?.DigitalIdReport?.DigitalIdImageData</label>

                                                        </p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="text-muted text-sm">
                                                            <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                                                            <br />
                                                            <img class="img-fluid locationImage" src="@Model.CaseLocation?.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationUrl" />
                                                        </p>
                                                        <p class="text-muted text-sm">

                                                            <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                                            <br />
                                                            <label class="img-fluid ocr-data"> @Model.CaseLocation.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationAddress</label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <span class="badge badge-light"><i class="fas fa-film"></i> Map Location</span>:<span class="badge badge-light">Expected and visited</span>
                                                <div id="face-map">
                                                </div>
                                                <div id="face-msg">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
}
if (@Model.CaseLocation.ClaimReport?.DocumentIdReport?.DocumentIdImageData != null && 
    @Model.CaseLocation.ClaimReport?.DocumentIdReport?.DocumentIdImageLongLatTime != null && 
    @Model.CaseLocation.ClaimReport?.DocumentIdReport?.DocumentIdImageLocationUrl != null)
{
                                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                        <div class="card bg-light d-flex flex-fill">
                                            <div class="card-header text-muted border-bottom-0">

                                                <i class="fas fa-mobile-alt"></i> Document <span class="badge badge-light">checkify </span> 
                                                <span class="badge badge-light" style="float:right;"> <i class="nav-icon fas fa-clock"></i> 
                                                @Model.CaseLocation.ClaimReport?.DocumentIdReport.DocumentIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")</span>
                                            </div>
                                            <div class="card-footer text-center">
                                                <span class="badge badge-light"><i class="far fa-image"></i> Valid : </span>
                                        @if (@Model.CaseLocation.ClaimReport.DocumentIdReport?.DocumentIdImageValid != null &&
                                       @Model.CaseLocation.ClaimReport.DocumentIdReport.DocumentIdImageValid.HasValue  
                && @Model.CaseLocation.ClaimReport.DocumentIdReport.DocumentIdImageValid.HasValue!=null)
            {
                                                        <i style='color:green;' class='fas fa-check-circle'></i>
            }
            else
            {
                                                        <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
            }
                                            </div>
                                            <div class="card-body pt-0">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p class="text-muted text-sm">
                                                            <span class="badge badge-light"><i class="fas fa-film"></i> Document Image</span>:
                                                            <br />
                        @{
                            if (Model.CaseLocation.ClaimReport?.DocumentIdReport?.DocumentIdImage != null)
                            {
                                                                            <img title="document image" id="agentOcrPicture" class="img-fluid ocr-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.CaseLocation.ClaimReport?.DocumentIdReport?.DocumentIdImage))">
                            }
                            else
                            {
                                                                            <img title="document image" id="agentOcrPicture" alt="ocr-image" class="img-fluid ocr-data" src="/img/no-photo.png">
                            }
                        }
                                                        </p>
                                                        <p class="text-muted text-sm">

                                                            <span class="badge badge-light"><i class="fas fa-info"></i> Image Scan Info</span>
                                                            <br />
                                                            <label class="img-fluid ocr-data"> @Model.CaseLocation?.ClaimReport?.DocumentIdReport?.DocumentIdImageData</label>
                                                        </p>
                                                    </div>
                                                    <div class="col-6">

                                                        <p class="text-muted text-sm">
                                                            <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                                                            <br />
                                                            <img class="img-fluid olocationImage" src="@Model.CaseLocation.ClaimReport?.DocumentIdReport?.DocumentIdImageLocationUrl" />
                                                        </p>
                                                        <p class="text-muted text-sm">

                                                            <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                                            <br />
                                                            <label class="img-fluid ocr-data"> @Model.CaseLocation.ClaimReport?.DocumentIdReport?.DocumentIdImageLocationAddress</label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <span class="badge badge-light"><i class="fas fa-film"></i> Map Location</span>:<span class="badge badge-light">Expected and visited</span>
                                                <div id="ocr-map">
                                                </div>
                                                <div id="ocr-msg">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
}
}
@{
var questionTime = @Model.CaseLocation.ClaimReport?.AgentRemarksUpdated != null ?
                        @Model.CaseLocation.ClaimReport?.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;

}
                    <div class="col-12 col-sm-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                <i class="far fa-comment"></i> Questionnaire <span class="badge badge-light">checkify</span> <span class="badge badge-light" style="float:right;"><i class="nav-icon fas fa-clock"></i> @questionTime </span>
                            </div>
                            <div class="card-footer text-muted border-bottom-0">
                                <i class="fas fa-user-shield"></i>  Agent :<span class="badge badge-light">  @Model.CaseLocation.ClaimReport.AgentEmail </span>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="text-muted text-sm">
                                            <span class="badge badge-light"><i class="fas fa-film"></i> Questions</span>:
                                            <br />
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small">
                                                    Ownership of residence ?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                                <br />
                                                <li class="small">
                                                    Perceived financial status ?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                                <br />
                                                <li class="small">
                                                    Name of neighbour met ?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                                <br />
                                                <li class="small">
                                                    Date when met with neighbour ?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                                <br />
                                                <li class="small">
                                                    Remarks?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                        </p>
                                    </div>

                                    <div class="col-6">
                                        <p class="text-muted text-sm">
                                            <span class="badge badge-light"><i class="fas fa-film"></i> Answers</span>:
                                            <br />
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                        @Model.CaseLocation.ClaimReport?.Question1
                                                </li>
                                                <br />
                                                <li class="small">

                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                        @Model.CaseLocation.ClaimReport?.Question2
                                                </li>
                                                <br />
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                        @Model.CaseLocation.ClaimReport?.Question3
                                                </li>
                                                <br />
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                        @Model.CaseLocation.ClaimReport?.Question4
                                                </li>
                                                <br />
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                        @Model.CaseLocation.ClaimReport?.AgentRemarks
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                <i class="fas fa-user-edit"></i> Supervisor <span style="float:right;"><i class="nav-icon fas fa-clock"></i> @Model.CaseLocation.ClaimReport?.SupervisorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")</span>
                            </div>

                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="lead"><span class="badge badge-light"> @Model?.CaseLocation.ClaimReport?.SupervisorEmail</span></h4>
                                        <p class="text-muted text-sm">

                                            <span>Supervisor comments: </span>
                                        </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="far fa-comment"></i>
                                                </span>
                    @Model.CaseLocation.ClaimReport?.SupervisorRemarks <i class="far fa-comment"></i>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>