@model ClaimsInvestigationVendorsModel


<article>
    <div class="bb-blog-inner">
        <header class="bb-blog-header">
            <h5 class="bb-blog-title" itemprop="name"><i class="fas fa-print nav-icon"></i> Agency Report: <span class="badge badge-light">@Model.Location.Vendor.Email</span> </h5>
        </header>
        <div class="card card-solid">
            <div class="progress">
                <i class="far fa-bookmark" style="font-size:1.1rem;"></i>
                <div class="progress-bar" role="progressbar" style="width:32.5%;background-color:green;">
                    investigation report
                </div>
                <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>
                <div class="progress-bar" role="progressbar" style="width:32.33%;background-color:green">
                    agent remarks
                </div>
                <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>

                <div class="progress-bar" role="progressbar" style="width:33.34%;background-color:green">
                    supervisor comments
                </div>
                <i class="far fa-bookmark" style="font-size:1.1rem;"></i>
            </div>
            <div class="card-body pb-0">

                <div class="row">
                    <partial name="_AgencyDigitalReport" model="@Model" />
                    <partial name="_AgencyDocumentReport" model="@Model" />
                    <partial name="_AgencyAgentAnswer" model="@Model" />
                    <partial name="_AgencySupervisorAnswer" model="@Model" />
                </div>
            </div>
        </div>
    </div>
</article>