@model ClaimTransactionModel

@if (@Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImageData != null && @Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImageLongLatTime != null)
{
    string documentIdColor = "grey";
    var borderColor = "";
    if (Model.Location.ClaimReport.DocumentIdReport?.DocumentIdImageLongLat == null)
    {

    }
    else if (Model.Location.ClaimReport.DocumentIdReport?.DocumentIdImageLongLat != null && (
    Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImageValid != null && Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImageValid == true))
    {
        documentIdColor = "green";
        borderColor = "border-success";
    }
    else
    {
        documentIdColor = "#dc3545!important";
        borderColor = "border-danger";
    }
    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill @borderColor">
            <div class="card-header text-muted border-bottom-0">

                <i class="fas fa-mobile-alt"></i> Document <span class="badge badge-light">checkify </span>
                <span class="badge badge-light" style="float:right;">
                    <i class="nav-icon fas fa-clock"></i>
                    @Model.Location.ClaimReport?.DocumentIdReport.DocumentIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")
                </span>
            </div>
            <div class="card-footer text-center">
                <span class="badge badge-light"><i class="far fa-image"></i> Valid : </span>
                @if (@Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImageValid.Value ?? false)
                {
                    <i style='color:green;' class='fas fa-check-circle'></i>
                }
                else
                {
                    <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                }
            </div>
            <div class="progress">
                <i class="far fa-bookmark bookmark-green"></i>
                <div class="progress-bar" role="progressbar" style="width:100%;background-color:@documentIdColor;">
                    document-id
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-film"></i> Document Image</span>:
                            <br />
                            @{
                                if (Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImage != null)
                                {
                                    <img title="document image" id="agentOcrPicture" class="img-fluid ocr-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImage))">
                                }
                                else
                                {
                                    <img title="document image" id="agentOcrPicture" alt="ocr-image" class="img-fluid ocr-data" src="/img/no-photo.png" />
                                }
                            }
                        </p>
                        <p class="text-muted text-sm">

                            <span class="badge badge-light"><i class="fas fa-info"></i> Image Scan Info</span>
                            <br />
                            <label class="img-fluid ocr-data"> @Model.Location?.ClaimReport?.DocumentIdReport?.DocumentIdImageData</label>
                        </p>
                    </div>
                    <div class="col-6">

                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                            <br />
                            <img class="img-fluid olocationImage" src="@Model.Location?.ClaimReport?.DocumentIdReport?.DocumentIdImageLocationUrl" />
                        </p>
                        <p class="text-muted text-sm">

                            <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                            <br />
                            <label class="img-fluid ocr-data"> @Model.Location?.ClaimReport?.DocumentIdReport?.DocumentIdImageLocationAddress</label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <span class="badge badge-light"><i class="fas fa-film"></i> Map Location</span>:<span class="badge badge-light">Expected and visited</span>
                <div id="ocr-map">
                </div>
                <div id="ocr-msg">
                </div>
            </div>

        </div>
    </div>
}