@model ClaimTransactionModel

<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
        <div class="card-header text-muted border-bottom-0">
            <i class="far fa-file-powerpoint"></i> Claim #: @Model.ClaimsInvestigation.PolicyDetail.ContractNumber
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-7">
                    <h2 class="lead"><b>@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name</b></h2>
                    <p class="text-muted text-sm">
                        <b>Claim Type: </b>@Model.ClaimsInvestigation?.PolicyDetail.ClaimType
                    </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-money-bill-wave"></i>
                            </span>
                            Amount: <i class="fas fa-rupee-sign"></i>@Model.ClaimsInvestigation?.PolicyDetail.SumAssuredValue
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-tools"></i>
                            </span>
                            Service: @Model.ClaimsInvestigation?.PolicyDetail.InvestigationServiceType.Name
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-money-check-alt"></i>
                            </span>
                            Budget center: @Model.ClaimsInvestigation?.PolicyDetail.CostCentre.Name
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-sun"></i>
                            </span>
                            Reason: @Model.ClaimsInvestigation?.PolicyDetail.CaseEnabler.Name;
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="far fa-clock"></i>
                            </span>
                            Issue Date: @Model.ClaimsInvestigation?.PolicyDetail.ContractIssueDate.ToString("dd-MMM-yyyy")
                        </li>
                    </ul>
                </div>
                <div class="col-5 text-center">
                    <p class="text-muted text-sm">

                    </p>
                    <p class="text-muted text-sm">
                        @if (Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage is not null)
                        {
                            <img id="documentImage" class="img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage))">
                        }
                        else
                        {
                            <img id="documentImage" alt="user-avatar"
                                 class="img-circle img-fluid form-Image" src="/img/no-policy.jpg">
                        }
                    </p>

                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <a id="policy-comments" class="btn btn-sm bg-teal">
                    <i class="fas fa-comments"></i>
                </a>
                <a id="policy-detail" class="btn btn-sm btn-danger">
                    <i class="far fa-file-powerpoint"></i> ...
                </a>
            </div>
        </div>
    </div>
</div>