@model ClaimTransactionModel
@if (!string.IsNullOrWhiteSpace(Model.Location.ClaimReport?.AgentRemarks))
{
    var questionTime = @Model.Location.ClaimReport.AgentRemarksUpdated != null ? @Model.Location.ClaimReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;

    <div class="col-12 col-sm-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
                <i class="far fa-comment"></i> Questionnaire <span class="badge badge-light">checkify</span> <span class="badge badge-light" style="float:right;"><i class="nav-icon fas fa-clock"></i> @questionTime </span>
            </div>
            <div class="card-footer text-muted border-bottom-0">
                <i class="fas fa-user-shield"></i>  Agent:<span class="badge badge-light">  @Model.Location.ClaimReport.AgentEmail </span>
            </div>
            <div class="card-body">
                <div class="row coming-soon-watermark">
                    <div class="col-md-4 coming-soon-view">
                        <img class="watermark" src="~/img/coming-soon.jpg" />
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span><i class="fas fa-file-audio"></i></span>
                            <button disabled id="audio-play" class="btn btn-secondary btn-sm"> <i class="fas fa-play"></i> Audio </button>
                            <audio asp-for="Location.ClaimReport.ReportQuestionaire.Audio" class="form-control remarks" placeholder="Record audio." />
                            <div id="audio-output"> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span><i class="fas fa-file-video"></i></span>
                            <button disabled id="video-play" class="btn btn-secondary btn-sm"> <i class="fas fa-play-circle"></i> Video </button>
                            <audio asp-for="Location.ClaimReport.ReportQuestionaire.Video" class="form-control remarks" placeholder="Record video." />
                            <div id="video-output"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-film"></i> Questions</span>:
                            <br />
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small">
                                    Ownership of residence ?
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </li>
                                <br />
                                <li class="small">
                                    Perceived financial status ?
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </li>
                                <br />
                                <li class="small">
                                    Name of neighbour met ?
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </li>
                                <br />
                                <li class="small">
                                    Date when met with neighbour ?
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </li>
                                <br />
                                <li class="small">
                                    Remarks?
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </li>
                            </ul>
                        </p>
                    </div>

                    <div class="col-6">
                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-film"></i> Answers</span>:
                            <br />
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.Location.ClaimReport?.ReportQuestionaire?.Answer1
                                </li>
                                <br />
                                <li class="small">

                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.Location.ClaimReport?.ReportQuestionaire?.Answer2
                                </li>
                                <br />
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.Location.ClaimReport?.ReportQuestionaire?.Answer3
                                </li>
                                <br />
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.Location.ClaimReport?.ReportQuestionaire?.Answer4
                                </li>
                                <br />
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.Location.ClaimReport?.AgentRemarks
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}