@model ClaimTransactionModel

<header class="bb-blog-header">
    <h5 class="bb-blog-title" itemprop="name">
        <i class="far fa-file-powerpoint"></i>
        <a asp-controller="Report" asp-action="PrintPdfReport" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId">
            Policy # : @Model.ClaimsInvestigation.PolicyDetail.ContractNumber
        </a>
    </h5>
</header>
<div class="card card-solid">
    <div class="card-body">
        <div class="row">
            <partial name="_ApprovedPolicy" model="@Model" />

            <partial name="_CustomerBeneficiaryDetail" model="@Model" />

        </div>
        <header class="bb-blog-header">
        <h5 class="bb-blog-title" itemprop="name"><i class="fas fa-print nav-icon"></i> Agency Report: <span class="badge badge-light">@Model.ClaimsInvestigation.Vendor.Email</span> </h5>
        </header>
        <div class="row">
            <partial name="_ApprovedDigitalReport" model="@Model" />
            <partial name="_ApprovedDocumentReport" model="@Model" />
            <partial name="_ApprovedReportAgentRemarks" model="@Model" />
            <partial name="_ApprovedReportSupervisorRemarks" model="@Model" />
        </div>
        <div class="row">
            <partial name="_ApprovedReportAssessorRemarks" model="@Model" />
        </div>
    </div>
</div>
