@model IEnumerable<risk.control.system.Models.ClaimsInvestigation>

@{
    ViewData["Title"] = "Index";
    var hasClientCompany = @ViewBag.HasClientCompany ? "none" : "";
}
<section class="content pt-2">
    <div class="container-fluid">
        <form asp-action="index">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-folder-open"></i> @Applicationsettings.ALLOCATE_TO_VENDOR</h3>
                    
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button disabled class="btn btn-success" asp-controller="ClaimsInvestigation" asp-action="Uploads"><i class="fas fa-plus"></i> @Applicationsettings.UPLOAD_CASE</button>
                            <button disabled class="btn btn-success" asp-controller="ClaimsInvestigation" asp-action="Create"><i class="fas fa-plus"></i> @Applicationsettings.CREATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">@Applicationsettings.ALLOCATE_TO_VENDOR List</h3>
                    </div>
                    <div class="card-body p-0 contained-width">
                        <form id="radioButtons" asp-action="AllocateToVendor" method="get" enctype="multipart/form-data">
                            <div class="col-md-12">
                                @if (Model.Count() == 0)
                                {
                                    <div class="col-md-12 text-center">
                                        <p>@Applicationsettings.NO_RECORDS_FOUND</p>
                                    </div>
                                }
                                else
                                {
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th style="display:@hasClientCompany">
                                                    @Html.DisplayNameFor(model => model.ClientCompany)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.LineOfBusiness)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.InvestigationCaseStatus)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CustomerName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ClaimType)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CaseLocations)
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <input id="selectedcase" name="selectedcase" class="selected-case" type="radio" value="@item.ClaimsInvestigationId" />
                                                    </td>
                                                    <td style="display:@hasClientCompany">
                                                        @Html.DisplayFor(modelItem => item.ClientCompany.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LineOfBusiness.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.InvestigationCaseStatus.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ClaimType)
                                                    </td>
                                                    <td>
                                                        @{
                                                            foreach (var caseLocation in item.CaseLocations)
                                                            {
                                                                <div>
                                                                    <span class="badge badge-info">@caseLocation.PinCode.Code = @caseLocation.InvestigationCaseSubStatus.Name</span>
                                                                </div>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-xs btn-info" asp-action="Details" asp-route-id="@item.ClaimsInvestigationId">
                                                            <i class="fa fa-search"></i> @Applicationsettings.DETAILS
                                                        </a> &nbsp;
                                                        <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-id="@item.ClaimsInvestigationId">
                                                            <i class="fas fa-pen"></i> @Applicationsettings.EDIT
                                                        </a> &nbsp;
                                                        <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@item.ClaimsInvestigationId">
                                                            <i class="fas fa-trash"></i> @Applicationsettings.DELETE
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="10">
                                                    <a asp-action="Index" class="btn btn-secondary">
                                                        <i class="fa fa-window-close"></i>
                                                        @Applicationsettings.CANCEL
                                                    </a>
                                                    <button disabled id="allocate-case" type="submit" class="btn btn-success">
                                                        <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                                                        @Applicationsettings.SELECT_CASE_TO_ALLOCATE_TO_VENDOR
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>