@model risk.control.system.Models.ClaimsInvestigation

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
    var hasClientCompany = @Model.HasClientCompany ? "none" : "";
}
<section class="content pt-2">
    <div class="container-fluid ">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title"><i class="far fa-file-alt"></i> Create Claim </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <input type="hidden" asp-for="LineOfBusinessId" value="@Model.LineOfBusinessId" />
                        <div class="col-md-12">
                            <div class="card-header">
                                <h3 class="card-title"><i class="far fa-file-powerpoint"></i> Policy detail</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div style="display:@hasClientCompany;" class="form-group">
                                            <span asp-for="ClientCompanyId" class="control-label"></span>
                                            <select id="ClientCompanyId" asp-for="ClientCompanyId" class="form-control" asp-items="ViewBag.ClientCompanyId">
                                                <option>--- SELECT COMPANY ---</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="InvestigationServiceTypeId">Service Type</span>
                                                </div>
                                                <select required asp-for="InvestigationServiceTypeId" class="form-control" asp-items="ViewBag.InvestigationServiceTypeId">
                                                    <option value="">--- SELECT SERVICE TYPE ---</option>
                                                </select>
                                                <span asp-validation-for="InvestigationServiceTypeId" class="text-danger"></span>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ClaimType">Claim Type</span>
                                                </div>
                                                <select required asp-for="ClaimType" class="form-control" asp-items="Html.GetEnumSelectList<ClaimType>()">
                                                    <option value="">--- SELECT CLAIM TYPE ---</option>
                                                </select>
                                                <span asp-validation-for="ClaimType" class="text-danger"></span>
                                            </div>
                                        </div>





                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CostCentreId">Budget Centre</span>
                                                </div>
                                                <select required asp-for="CostCentreId" class="form-control" asp-items="ViewBag.CostCentreId">
                                                    <option value="">--- SELECT BUDGET CENTRE ---</option>
                                                </select>
                                                <span asp-validation-for="CostCentreId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CaseEnablerId">Reason To Verify</span>
                                                </div>
                                                <select required asp-for="CaseEnablerId" class="form-control" asp-items="ViewBag.CaseEnablerId">
                                                    <option value="">--- SELECT REASON TO VERIFY ---</option>
                                                </select>
                                                <span asp-validation-for="CaseEnablerId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ContractIssueDate">Issue Date</span>
                                                </div>
                                                <input required asp-for="ContractIssueDate" class="form-control" type="date" value="" />
                                                <span asp-validation-for="ContractIssueDate" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="DateOfIncident">Date Of Incident</span>
                                                </div>
                                                <input required asp-for="DateOfIncident" class="form-control" type="date" value="" />
                                                <span asp-validation-for="DateOfIncident" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ContractNumber">Contract Number</span>
                                                </div>
                                                <input required asp-for="ContractNumber" class="form-control" type="text" placeholder="Enter Contract Number" />
                                                <span asp-validation-for="ContractNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="SumAssuredValue">Insured Amount</span>
                                                </div>
                                                <input required asp-for="SumAssuredValue" class="form-control" type="number" placeholder="Enter Sum" value="" min="1" />
                                                <span asp-validation-for="SumAssuredValue" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CauseOfLoss">Cause Of Loss</span>
                                                </div>
                                                <input required asp-for="CauseOfLoss" class="form-control" type="text" placeholder="Enter Cause of loss" />
                                                <span asp-validation-for="CauseOfLoss" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="Document">Claim Document</span>
                                                </div>
                                                <img class="form-Image" id="documentImage" src="/img/no-photo.png">
                                                <input asp-for="Document" type="file" class="form-control" id="documentImage" onchange="document.getElementById('documentImage').src = window.URL.createObjectURL(this.files[0])" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-user-plus"></i> Customer detail</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerType">Customer Type</span>
                                                </div>
                                                <select required asp-for="CustomerType" class="form-control" asp-items="Html.GetEnumSelectList<CustomerType>()">
                                                    <option value="">--- SELECT CUSTOMER TYPE  ---</option>
                                                </select>
                                                <span asp-validation-for="CustomerType" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerName">Customer Name</span>
                                                </div>
                                                <input required asp-for="CustomerName" class="form-control" type="text" placeholder="Enter Customer Name" />
                                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerDateOfBirth">Date Of Birth</span>
                                                </div>
                                                <input required asp-for="CustomerDateOfBirth" class="form-control" type="date" value="" />
                                                <span asp-validation-for="CustomerDateOfBirth" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="Gender">Gender</span>
                                                </div>
                                                <select required asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                                                    <option value="">--- SELECT GENDER ---</option>
                                                </select>
                                                <span asp-validation-for="Gender" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ContactNumber">Contact Number</span>
                                                </div>
                                                <input required asp-for="ContactNumber" class="form-control" type="number" value="" placeholder="Enter Contact Number" />
                                                <span asp-validation-for="ContactNumber" class="text-danger field-validation-valid"></span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerIncome">Income</span>
                                                </div>
                                                <select required asp-for="CustomerIncome" class="form-control" asp-items="Html.GetEnumSelectList<Income>()">
                                                    <option value="">--- SELECT INCOME ---</option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerOccupation">Occupation</span>
                                                </div>
                                                <select required asp-for="CustomerOccupation" class="form-control" asp-items="Html.GetEnumSelectList<Occupation>()">
                                                    <option value="">--- SELECT OCCUPATION ---</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerEducation">Education</span>
                                                </div>
                                                <select required asp-for="CustomerEducation" class="form-control" asp-items="Html.GetEnumSelectList<Education>()">
                                                    <option value="">--- SELECT EDUCATION ---</option>
                                                </select>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="CountryId">Country</span>
                                                </div>
                                                <select asp-for="CountryId" class="form-control" id="CountryId" asp-items="ViewBag.CountryId" onchange="loadState(this)">
                                                    <option value="">--- SELECT COUNTRY ---</option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="StateId">State</span>
                                                </div>
                                                <select id="StateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this)">
                                                    <option value="">--- SELECT STATE ---</option>
                                                </select>

                                                <span asp-validation-for="StateId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="DistrictId">District</span>
                                                </div>
                                                <select id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)">
                                                    <option value="">--- SELECT DISTRICT ---</option>
                                                </select>

                                                <span asp-validation-for="DistrictId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="PinCodeId">Pincode</span>
                                                </div>
                                                <select id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId">
                                                    <option value="">--- SELECT PINCODE ---</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="Addressline">Address line</span>
                                                </div>
                                                <input type="text" asp-for="Addressline" class="form-control" type="text" required placeholder="Enter Address line" />
                                                <span asp-validation-for="Addressline" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="Addressline">Remarks</span>
                                                </div>
                                                <input required asp-for="Description" class="form-control" type="text" placeholder="Enter Comment" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ProfileImage">Photo</span>
                                                </div>
                                                <img class="form-Image" id="profileImage" src="/img/no-photo.png">
                                                <input asp-for="ProfileImage" type="file" class="form-control" onchange="document.getElementById('profileImage').src = window.URL.createObjectURL(this.files[0])" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group text-right">
                                <a asp-action="Index" class="btn btn-secondary">
                                    <i class="fa fa-window-close"></i>
                                    @Applicationsettings.CANCEL
                                </a>
                                <button type="submit" class="btn btn-success">
                                    <i class="far fa-file-alt"></i> @Applicationsettings.CREATE Claim
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#InvestigationServiceTypeId").focus();

    </script>
}
