@model risk.control.system.Models.ClaimsInvestigation

@{
    ViewData["Title"] = @Applicationsettings.CREATE;
    var hasClientCompany = @Model.HasClientCompany ? "none" : "";
    Layout = "/Views/Shared/AdminLTE/_FormLayout.cshtml";
}
<section class="content pt-2">
    <div class="container-fluid ">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title"><i class="far fa-file-alt"></i> Create Claim </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <input type="hidden" asp-for="LineOfBusinessId" value="@Model.LineOfBusinessId" />
                        <div class="col-md-12">
                            <div class="card-header">
                                <h3 class="card-title"><i class="far fa-file-powerpoint"></i> Policy detail</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div style="display:@hasClientCompany;" class="form-group">
                                            <span asp-for="ClientCompanyId" class="control-label"></span>
                                            <select id="ClientCompanyId" asp-for="ClientCompanyId" class="form-control" asp-items="ViewBag.ClientCompanyId">
                                                <option>--- SELECT COMPANY ---</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="InvestigationServiceTypeId">Service Type <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i> </span>
                                                </div>
                                                <select required asp-for="InvestigationServiceTypeId" class="form-control" asp-items="ViewBag.InvestigationServiceTypeId">
                                                    <option value="">--- SELECT ---</option>
                                                </select>
                                                <span asp-validation-for="InvestigationServiceTypeId" class="text-danger"></span>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ClaimType">Claim Type <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select required asp-for="ClaimType" class="form-control" asp-items="Html.GetEnumSelectList<ClaimType>()">
                                                    <option value="">--- SELECT ---</option>
                                                </select>
                                                <span asp-validation-for="ClaimType" class="text-danger"></span>
                                            </div>
                                        </div>





                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CostCentreId">Budget Centre <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select required asp-for="CostCentreId" class="form-control" asp-items="ViewBag.CostCentreId">
                                                    <option value="">--- SELECT ---</option>
                                                </select>
                                                <span asp-validation-for="CostCentreId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CaseEnablerId">Reason To Verify <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select required asp-for="CaseEnablerId" class="form-control" asp-items="ViewBag.CaseEnablerId">
                                                    <option value="">--- SELECT ---</option>
                                                </select>
                                                <span asp-validation-for="CaseEnablerId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ContractIssueDate">Issue Date <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                @{
                                                    var maxDate = @DateTime.Now.ToString("dd-MM-yyyy");
                                                }
                                                <input required asp-for="ContractIssueDate" id="dateContractId" class="form-control date-width" min="2000-01-01" max="@maxDate" type="date" value="" />
                                                <span asp-validation-for="ContractIssueDate" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="DateOfIncident">Date Of Incident <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input required asp-for="DateOfIncident" id="dateIncidentId" class="form-control" type="date" value="" />
                                                <span asp-validation-for="DateOfIncident" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ContractNumber">Contract # <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input required asp-for="ContractNumber" class="form-control" type="text" placeholder="Enter Contract #" />
                                                <span asp-validation-for="ContractNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="SumAssuredValue">Insured Amount <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input required asp-for="SumAssuredValue" class="form-control" type="number" placeholder="Enter Sum" value="" min="1" />
                                                <span asp-validation-for="SumAssuredValue" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CauseOfLoss">Cause Of Loss <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input required asp-for="CauseOfLoss" class="form-control" type="text" placeholder="Enter Cause of loss" />
                                                <span asp-validation-for="CauseOfLoss" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="Document">Claim Document </span>
                                                </div>
                                                <img class="form-Image" id="documentImage" src="/img/no-photo.png">
                                                <input asp-for="Document" type="file" class="form-control" id="documentImage" onchange="document.getElementById('documentImage').src = window.URL.createObjectURL(this.files[0])" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-user-plus"></i> Customer detail</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerType">Customer Type <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select required asp-for="CustomerType" class="form-control" asp-items="Html.GetEnumSelectList<CustomerType>()">
                                                    <option value="">--- SELECT ---</option>
                                                </select>
                                                <span asp-validation-for="CustomerType" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerName">Customer Name <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input required asp-for="CustomerName" class="form-control" type="text" placeholder="Enter Customer Name" />
                                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerDateOfBirth">Date Of Birth <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input required asp-for="CustomerDateOfBirth" id="dateCustomerId" class="form-control" type="date" value="" />
                                                <span asp-validation-for="CustomerDateOfBirth" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="Gender">Gender <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select required asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                                                    <option value="">--- SELECT ---</option>
                                                </select>
                                                <span asp-validation-for="Gender" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ContactNumber">Phone # <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                
                                                <input type="number" asp-for="ContactNumber" class="form-control" required maxlength="10" value="" placeholder="Enter Phone # (10 digit)" />
                                                <span asp-validation-for="ContactNumber" class="text-danger field-validation-valid"></span>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerIncome">Income <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select required asp-for="CustomerIncome" class="form-control" asp-items="Html.GetEnumSelectList<Income>()">
                                                    <option value="">--- SELECT ---</option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerOccupation">Occupation <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select required asp-for="CustomerOccupation" class="form-control" asp-items="Html.GetEnumSelectList<Occupation>()">
                                                    <option value="">--- SELECT ---</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="CustomerEducation">Education <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select required asp-for="CustomerEducation" class="form-control" asp-items="Html.GetEnumSelectList<Education>()">
                                                    <option value="">--- SELECT ---</option>
                                                </select>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="CountryId">Country <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select asp-for="CountryId" class="form-control" id="CountryId" asp-items="ViewBag.CountryId" onchange="loadState(this)">
                                                    <option value="">--- SELECT ---</option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="StateId">State <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select id="StateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this)">
                                                    <option value="">--- SELECT ---</option>
                                                </select>

                                                <span asp-validation-for="StateId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="DistrictId">District <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)">
                                                    <option value="">--- SELECT ---</option>
                                                </select>

                                                <span asp-validation-for="DistrictId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="PinCodeId">Pincode <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <select id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId">
                                                    <option value="">--- SELECT ---</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="Addressline">Address line <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input type="text" asp-for="Addressline" class="form-control" type="text" required placeholder="Enter Address line" />
                                                <span asp-validation-for="Addressline" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="Addressline">Remarks <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                                </div>
                                                <input required asp-for="Description" class="form-control" type="text" placeholder="Enter Comment" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" asp-for="ProfileImage">Photo</span>
                                                </div>
                                                <img class="form-Image" id="profileImage" src="/img/no-photo.png">
                                                <input asp-for="ProfileImage" type="file" class="form-control" onchange="document.getElementById('profileImage').src = window.URL.createObjectURL(this.files[0])" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group text-right">
                                <a asp-action="Index" class="btn btn-secondary">
                                    <i class="fa fa-window-close"></i>
                                    @Applicationsettings.CANCEL
                                </a>
                                <button type="submit" class="btn btn-success">
                                    <i class="far fa-file-alt"></i> @Applicationsettings.CREATE Claim
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#InvestigationServiceTypeId").focus();

        dateContractId.max = new Date().toISOString().split("T")[0];
        dateIncidentId.max = new Date().toISOString().split("T")[0];
        dateCustomerId.max = new Date().toISOString().split("T")[0];
    </script>
}
