@model risk.control.system.Models.ClaimsInvestigation

@{
    ViewData["Title"] = "Details";
}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-newspaper"></i> Claim Description</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.PolicyDetail.LineOfBusiness)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.PolicyDetail.LineOfBusiness.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CustomerDetail.CustomerName)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CustomerDetail.CustomerName)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CustomerDetail.CustomerDateOfBirth)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CustomerDetail.CustomerDateOfBirth)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CustomerDetail.ContactNumber)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CustomerDetail.ContactNumber)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.PolicyDetail.ContractNumber)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.PolicyDetail.ContractNumber)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.PolicyDetail.ContractIssueDate)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.PolicyDetail.ContractIssueDate)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CustomerDetail.Addressline)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CustomerDetail.Addressline)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.District)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.District.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.State)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.State.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Country)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Country.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.PinCode)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.PinCode.Code)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.InvestigationCaseStatus)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.InvestigationCaseStatus.Name)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimType)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimType)
                                    </dd>
                                    <dt class="col-sm-5">
                                        Claim Document
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.DocumentImage is not null)
                                        {
                                            <img id="documentImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.DocumentImage))">
                                        }
                                        else
                                        {
                                            <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                        }
                                    </dd>

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CustomerIncome)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CustomerIncome)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CustomerOccupation)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CustomerOccupation)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CustomerEducation)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CustomerEducation)
                                    </dd>

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CustomerType)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CustomerType)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CostCentre)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CostCentre.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CaseEnabler)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseEnabler.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                    <dt class="col-sm-5">
                                        Customer Photo
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.ProfilePicture is not null)
                                        {
                                            <img id="profileImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ProfilePicture))">
                                        }
                                        else
                                        {
                                            <img id="profileImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                        }
                                    </dd>
                                </dl>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <form id="create-form" asp-action="Delete">
                    <a asp-action="Incomplete" class="btn btn-default"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a> &nbsp;
                    <input type="hidden" asp-for="ClaimsInvestigationId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            var askConfirmation = true;
            $('#create-form').submit(function (e) {
                if (askConfirmation) {
                    e.preventDefault();
                    $.confirm({
                        title: "Confirm Claim Deletion",
                        content: "Are you sure to <i class='fa fa- trash'></i>?",
                        type: 'red',
                        closeIcon: true,
                        buttons: {
                            confirm: {
                                text: "DELETE",
                                btnClass: 'btn-danger',
                                action: function () {
                                    askConfirmation = false;
                                    $('#create-form').submit();
                                }
                            },
                            cancel: {
                                text: "Cancel",
                                btnClass: 'btn-default'
                            }
                        }
                    });
                }
            })

        });
    </script>
}




