@model ClaimsInvestigationVendorsModel

@{
    ViewData["Title"] = @Applicationsettings.SERVICE;
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-newspaper"></i> Claim Description</h3>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.LineOfBusiness)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.LineOfBusiness.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerName)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerName)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.ContactNumber)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.ContactNumber)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.ClaimType)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.ClaimType)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.PinCode)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.PinCode.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.State)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.State.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.Country)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.Country.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.District)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.District.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        Document
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.ClaimsInvestigation.DocumentImage is not null)
                                        {
                                            <img id="documentImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation.DocumentImage))">
                                        }
                                        else
                                        {
                                            <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                        }
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Customer Photo
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.ClaimsInvestigation.ProfilePicture is not null)
                                        {
                                            <img id="documentImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.ProfilePicture))">
                                        }
                                        else
                                        {
                                            <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                        }
                                    </dd>

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerIncome)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerIncome)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerOccupation)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerOccupation)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerEducation)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerEducation)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerType)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerType)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.Description)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.Description)
                                    </dd>
                                </dl>

                            </div>
                        </div>
                        <hr />
                        <div class="card-body">

                            <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Beneficiary Photo
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.CaseLocation?.ProfileImage is not null)
                                        {
                                            <img id="documentImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.CaseLocation?.ProfilePicture))">
                                        }
                                        else
                                        {
                                            <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                        }
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CaseLocation.BeneficiaryName)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.BeneficiaryName)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CaseLocation.BeneficiaryContactNumber)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.BeneficiaryContactNumber)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">
                                    
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CaseLocation.Addressline)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.Addressline)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CaseLocation.PinCode.Code)
                                    </dt>
                                    <dd class="col-sm-5">
                                        <span class="badge badge-danger"> @Html.DisplayFor(model => model.CaseLocation.PinCode.Code)</span>
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CaseLocation.District.Name)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.District.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CaseLocation.State.Name)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.State.Name)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-tasks"></i> Empanelled Agencies</h3>
                    </div>
                    <div class="card-body">
                        <form id="radioButtons" method="post" asp-action="CaseAllocatedToVendor" enctype="multipart/form-data">
                            <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                            <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.CaseLocation.CaseLocationId" />
                            <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                       

                                        <th>
                                            Vendor Name
                                        </th>

                                        <th>
                                            PhoneNumber
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            <span class="badge badge-success">Service-type = <span class="badge badge-light">Pincodes</span></span>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Vendors)
                                    {
                                        <tr>
                                            <td>
                                                <input id="@item.VendorId" name="selectedcase" class="selected-case" type="radio" value="@item.VendorId" />
                                            </td>
                                            
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @foreach (var service in item.VendorInvestigationServiceTypes)
                                                {
                                                    <span class="badge badge-light">
                                                        @service.LineOfBusiness.Name - @service.InvestigationServiceType.Name
                                                        @foreach (var pincode in service.PincodeServices)
                                                        {
                                                            <span class="badge badge-info">@pincode.Pincode</span>
                                                        }
                                                    </span>

                                                    <br />
                                                }
                                            </td>

                                            <td>
                                                <a class="btn btn-xs btn-info" asp-action="VendorDetail" asp-route-backurl="EmpanelledVendors" asp-route-id="@item.VendorId" asp-route-CompanyId="@ViewBag.CompanyId">
                                                    <i class="fa fa-search"></i> @Applicationsettings.DETAILS
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    <button disabled="disabled" id="allocate-case" type="submit" class="btn btn-success">
                                        <i class="fas fa-thumbs-up" aria-hidden="true"></i> @Applicationsettings.BROADCAST
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>