@model ClaimsInvestigationVendorsModel

@{
    ViewData["Title"] = "Claim: Report ";

}

<section class="content">
    <form id="create-form" method="post" asp-controller="ClaimsInvestigationPost" asp-action="ProcessCaseReport">
        <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
        <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.Location.CaseLocationId" />
        <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
        <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
        <input type="hidden" id="beneficiaryId" value="@Model.Location?.CaseLocationId" />
        <input type="hidden" id="assessorRemarkType" name="assessorRemarkType" value="OK" />
        <div id="article" class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-newspaper"></i> Report</h3>
            </div>
            <partial name="_PolicyDetails" model="@Model" />

            <partial name="_AgencyReport" model="@Model" />
            @{
                var lastReport = Model.Location?.PreviousClaimReports.FirstOrDefault();
                if(lastReport is not null)
                {
                    <a class="btn btn-default btn-sm" href="@Url.Action("PreviousReports", new { id = lastReport.PreviousClaimReportId })"> <i class="fas fa-newspaper"></i> Previous Report</a>
                }

            }
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
        </div>

        <div class="card card-secondary">

            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-user-check"></i> Assessor Remarks</h3>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-6 d-flex align-items-stretch flex-column">

                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                <i class="far fa-file-powerpoint"></i> Submission type
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 d-flex align-items-stretch flex-column">

                                    <div class="form-group">

                                        @if(Model.TrialVersion)
                                            {
                                                <div class="form-check">
                                                    <input disabled class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        REJECT
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input disabled class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        REVIEW
                                                    </label>
                                                </div>
                                            }

                                            else
                                            {
                                                <div class="form-check">
                                                    <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        REJECT
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        REVIEW
                                                    </label>
                                                </div>
                                            }
                                            <div class="form-check">
                                            <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                                            <label class="form-check-label" for="flexRadioDefault3">
                                                APPROVE
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                <div class="form-group">
                                    <span class="input-group-label"> Remarks :</span>
                                    <div class="input-group mb-8">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" asp-for="Location.ClaimReport.AgentRemarks"><i class="far fa-comment"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                        </div>
                                        <input required maxlength="100" name="assessorRemarks" id="assessorRemarks" type="text" class="form-control remarks" autocomplete="off" required placeholder="enter remarks to submit"/>

                                        <span asp-validation-for="Location.ClaimReport.SupervisorRemarks" class="text-danger"></span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                                <div class="card-footer">

                                    <div class="row  float-right">
                                        <div class="col-md-12">
                                            <a id="back" asp-controller="ClaimsInvestigation" class="btn btn-outline-secondary" asp-action="Assessor">
                                                <i class="fas fa-arrow-left" aria-hidden="true"></i> Back
                                            </a>
                                            @*  <button id="review-case" type="submit" class="btn btn-danger">
                                            <i class="fas fa-sync" aria-hidden="true"></i> REVIEW
                                            </button> *@
                                            <button id="approve-case" type="submit" class="btn btn-success">
                                                <i class="far fa-thumbs-up" aria-hidden="true"></i> SUBMIT
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH8T9FvJ8n2LNwxkppRAeOq3Mx7I3qi1E&callback=initReportMap">
    </script>
    <script src="~/js/map.js"></script>
    <script src="~/js/get-report.js"></script>

}