@model IEnumerable<risk.control.system.Models.ClaimsInvestigation>

@{
    ViewData["Title"] = "Index";
    var hasClientCompany = @ViewBag.HasClientCompany ? "none" : "";
}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <form asp-action="incomplete">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-search"></i> Incomplete claim</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <a class="btn btn-success" asp-controller="ClaimsInvestigation" asp-action="Create"><i class="fas fa-plus"></i> Create New Claim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i> Incomplete claim List</h3>
                    </div>
                    <div class="card-body">
                        <form id="checkboxes" asp-action="Assign" method="post" enctype="multipart/form-data">
                            <div class="col-md-12">
                                    <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                        <thead>
                                            <tr>

                                                <th>
                                                    Line Of Business
                                                </th>
                                                <th>
                                                    Claim Status
                                                </th>
                                                <th>
                                                    Customer Name
                                                </th>
                                                <th>
                                                    Claim Type
                                                </th>
                                                <th>
                                                    Location - Status
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LineOfBusiness.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.InvestigationCaseStatus.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ClaimType)
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (item.CaseLocations.Count == 0)
                                                            {
                                                                <span class="badge badge-danger">Add verification location</span>
                                                            }
                                                        }
                                                        @{
                                                            foreach (var caseLocation in item.CaseLocations)
                                                            {
                                                                <span class="badge badge-light">@caseLocation.PinCode.Code - @caseLocation.InvestigationCaseSubStatus.Name</span>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-xs btn-info" asp-action="Details" asp-route-id="@item.ClaimsInvestigationId">
                                                            <i class="fa fa-search"></i> @Applicationsettings.DETAILS
                                                        </a> &nbsp;
                                                        <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-id="@item.ClaimsInvestigationId">
                                                            <i class="fas fa-pen"></i> @Applicationsettings.EDIT
                                                        </a> &nbsp;
                                                        <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@item.ClaimsInvestigationId">
                                                            <i class="fas fa-trash"></i> @Applicationsettings.DELETE
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <script>
    $(document).ready(function () {
        //$('#datatable').DataTable({
        //    processing: true,
        //    ordering: true,
        //    paging: true,
        //    searching: true
        //});
    });

    </script>