@model IEnumerable<risk.control.system.Models.ClaimsInvestigation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineOfBusiness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationCaseStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractIssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfIncident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CauseOfLoss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumAssuredValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerOccupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEducation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryRelation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostCentre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseEnabler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineOfBusiness.LineOfBusinessId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestigationCaseStatus.InvestigationCaseStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractIssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIncident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauseOfLoss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumAssuredValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PinCode.PinCodeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.StateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerOccupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEducation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryRelation.BeneficiaryRelationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostCentre.CostCentreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseEnabler.CaseEnablerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClaimsInvestigationCaseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClaimsInvestigationCaseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClaimsInvestigationCaseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
