@model risk.control.system.Models.ClaimsInvestigation

@{
    ViewData["Title"] = "Details";
}
<section class="content pt-2">
    <form id="create-form" asp-action="SetWithdraw" enctype="multipart/form-data">
        <input type="hidden" asp-for="ClaimsInvestigationId" />
        <input type="hidden" asp-for="InvestigationCaseSubStatusId" />
        <input type="hidden" asp-for="PolicyDetail.LineOfBusinessId" value="@Model.PolicyDetail.LineOfBusinessId" />

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-folder-open"></i> @Applicationsettings.CASE_PROFILE</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <dl class="row">
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.PolicyDetail.ContractNumber)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.PolicyDetail.ContractNumber)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.Description)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.Description)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.PolicyDetail.LineOfBusiness)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.PolicyDetail.LineOfBusiness.Name)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.InvestigationCaseStatus)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.InvestigationCaseStatus.Name)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.PolicyDetail.ContractIssueDate)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.PolicyDetail.ContractIssueDate)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.CustomerName)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.CustomerName)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.CustomerDateOfBirth)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.CustomerDateOfBirth)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.ContactNumber)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.ContactNumber)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.PolicyDetail.ClaimType)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.PolicyDetail.ClaimType)
                                        </dd>
                                        <dt class="col-sm-4">
                                            Document
                                        </dt>
                                        <dd class="col-sm-6">
                                            @if (Model?.PolicyDetail.DocumentImage is not null)
                                            {
                                                <img id="documentImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.PolicyDetail.DocumentImage))">
                                            }
                                            else
                                            {
                                                <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                            }
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <dl class="row">

                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.CustomerIncome)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.CustomerIncome)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.CustomerOccupation)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.CustomerOccupation)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.CustomerEducation)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.CustomerEducation)
                                        </dd>

                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.CustomerType)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.CustomerType)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.PolicyDetail.CostCentre)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.PolicyDetail.CostCentre.Name)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.PolicyDetail.CaseEnabler)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.PolicyDetail.CaseEnabler.Name)
                                        </dd>

                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.PinCode)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.PinCode.Name)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.State)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.State.Name)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.Country)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.Country.Name)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.CustomerDetail.District)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.CustomerDetail.District.Name)
                                        </dd>
                                       
                                    </dl>

                                </div>
                           
                                <div class="col-md-12">
                                    <div class="card card-default">
                                        <div class="card-header">
                                            <h3 class="card-title"><i class="fas fa-map-marker-alt"></i> Location(s) to Verify</h3>
                                        </div>
                                        <div class="card-body">
                                            <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Benficiary Name
                                                        </th>
                                                        <th>
                                                            Benficiary Relation
                                                        </th>
                                                        <th>
                                                            Address
                                                        </th>
                                                        <th>
                                                            District
                                                        </th>
                                                        <th>
                                                            State
                                                        </th>

                                                        <th>
                                                            Verification Pincodes
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.CaseLocations)
                                                    {
                                                        <tr>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BeneficiaryName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.BeneficiaryRelation.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Addressline)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.District.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.State.Name)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PinCode.Code)
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        Withdrawl Remarks
                        <input asp-for="PolicyDetail.Comments" class="form-control" />
                        <span asp-validation-for="PolicyDetail.Comments" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">

                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-window-close"></i> Withdraw &nbsp;
                    </button>
                </div>
            </div>
        </div>
        <
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            var askConfirmation = true;
            $('#create-form').submit(function (e) {
                if (askConfirmation) {
                    e.preventDefault();
                    $.confirm({
                        title: "Confirm Claim Withdrawl",
                        content: "Are you sure?",
                        icon: 'fas fa-trash',
                        type: 'red',
                        closeIcon: true,
                        buttons: {
                            confirm: {
                                text: "Withdraw Claim",
                                btnClass: 'btn-danger',
                                action: function () {
                                    askConfirmation = false;
                                    $('#create-form').submit();
                                }
                            },
                            cancel: {
                                text: "Cancel",
                                btnClass: 'btn-default'
                            }
                        }
                    });
                }
            })

        });
        $("#InvestigationServiceTypeId").focus();
    </script>
}
