@model DashboardData;

<div class="row">
    <div class="col-lg-3 col-6">

        <div class="small-box bg-danger">
            <div class="inner">
                <h3 id="new-claims">@Model.FirstBlockCount</h3>
                <span>@Model.FirstBlockName</span>
            </div>
            <div class="icon">
                <i class="fas fa-glasses"></i>
            </div>
            <a href="@Model.FirstBlockUrl" class="details-page small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">

        <div class="small-box bg-warning">
            <div class="inner">
                <h3 id="active-claims">@Model.SecondBlockCount</h3>
                <span>@Model.SecondBlockName</span>
            </div>
            <div class="icon">
                <i class="fas fa-random"></i>
            </div>
            <a href="@Model.SecondBlockUrl" class="details-page small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">

        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="submit-claims">@Model.ThirdBlockCount</h3>
                <span>@Model.ThirdBlockName</span>
            </div>
            <div class="icon">
                <i class="far fa-thumbs-up"></i>
            </div>
            <a href="@Model.ThirdBlockUrl" class="details-page small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">

        <div class="small-box bg-secondary">
            <div class="inner">
                <h3 id="approved-claims">@Model.LastBlockCount</h3>
                <span>@Model.LastBlockName</span>
            </div>
            <div class="icon">
                <i class="far fa-thumbs-down"></i>
            </div>
            <a href="@Model.LastBlockUrl" class="details-page small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="card card-light collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Claims Bar Chart</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div id="container-claim" class="container-claim">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-light collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Claims Pie Chart</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div id="container-claim-pie" class="container-claim">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card card-light collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Turn Around Time </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div id="container-claim-tat" class="container-claim">
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-light  collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Month-wise Claims</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div id="container-monthly-claim" class="container-claim">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-light  collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Agency Current Case Count: Pie Chart</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div id="container-agency-pie" class="container-agency">
                </div>
            </div>

        </div>
    </div>
</div>
