@using System.Security.Claims;
@using risk.control.system.Helpers;
@model DashboardData;
@{
    ViewData["Title"] = "Dashboard";
    var userRole = User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role);
}

<section class="content">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Dashboard</h3>
        </div>
        <div class="card-body bg-light">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            @if (userRole.Value.Contains(AppRoles.PORTAL_ADMIN.ToString()))
            {
                <partial name="_PortalAdmin" model="@Model" />
            }
            else if (userRole.Value.Contains(AppRoles.COMPANY_ADMIN.ToString()))
            {
                <partial name="_CompanyAdmin" model="@Model" />
            }
            else if (userRole.Value.Contains(AppRoles.AGENCY_ADMIN.ToString()))
            {
                <partial name="_AgencyAdmin" model="@Model" />
            }
            else if (userRole.Value.Contains(AppRoles.MANAGER.ToString()))
            {
                <partial name="_Manager" model="@Model" />
            }
            else if (userRole.Value.Contains(AppRoles.CREATOR.ToString()))
            {
                <partial name="_Creator" model="@Model" />
            }
            else if (userRole.Value.Contains(AppRoles.ASSESSOR.ToString()))
            {
                <partial name="_Assessor" model="@Model" />
            }
            else if (userRole.Value.Contains(AppRoles.SUPERVISOR.ToString()))
            {
                <partial name="_Supervisor" model="@Model" />
            }
            else if (userRole.Value.Contains(AppRoles.AGENT.ToString()))
            {
                <partial name="_Agent" model="@Model" />
            }
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/highcharts.js"></script>
    <script src="/js/exporting.js"></script>
    <script src="~/js/dashboard.js"></script>

}