@model List<Country>

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary border-secondary">
                    <div class="submit-progress hidden">
                        <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                    </div>
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-map-marked-alt"></i> Country</h3>
                        <div class="card-tools">
                            <span data-toggle="tooltip" title="Countries" class="badge badge-light"><i class="fas fa-map-marked-alt"></i></span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>
                                        Code

                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var country in Model)
                                {
                                    <tr>
                                        <td>@country.Code</td>
                                        <td>@country.Name</td>
                                        <td>
                                            <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-id="@country.CountryId"><i class="fas fa-map-marked-alt"></i> @Applicationsettings.EDIT</a> &nbsp;
                                            <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@country.CountryId"><i class="fas fa-trash"></i> @Applicationsettings.DELETE</a>
                                            <input type="hidden" value="@country.CountryId" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
                                    <a class="btn btn-success" asp-controller="Country" asp-action="Create"><i class="fas fa-map-marked-alt"></i> @Applicationsettings.CREATE New</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
