@model List<ApplicationRole>
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">@Applicationsettings.ROLE</h3>
                    </div>
                    <form asp-action="index" asp-antiforgery="true">
                        <div class="card-body dataTable-search-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input autocomplete="off" name="searchString" type="text" class="form-control" placeholder="enter role code or role name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button id="btnFilter" type="submit" class="btn btn-primary"><i class="fas fa-search"></i> @Applicationsettings.SEARCH</button>
                                    <a class="btn btn-success" asp-controller="Roles" asp-action="Create"><i class="fas fa-plus"></i> @Applicationsettings.CREATE</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-body contained-width">@if (Model.Count() == 0)
                        {
                            <caption>@Applicationsettings.NO_RECORDS_FOUND</caption>
                        }
                        else
                        {
                            <table class="table table-striped">
                            <thead>
                                <tr>
                                    @*<th>Id</th>*@
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var role in Model)
                                {
                                    <tr>
                                        <td>@role.Name</td>
                                        <td>
                                            <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-id="@role.Id"><i class="fas fa-pen"></i> @Applicationsettings.EDIT</a> &nbsp;
                                            <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@role.Id"><i class="fas fa-trash"></i> @Applicationsettings.DELETE</a>
                                            <a class="btn btn-xs btn-success" asp-controller="Permission" asp-action="Index" asp-route-id="@role.Id"><i class="fa-solid fa-house-lock"></i> @Applicationsettings.PERMISSION</a>
                                            <input type="hidden" value="@role.Id" />
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
