@model risk.control.system.Models.ReportQuestionaire

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReportQuestionaire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Optional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Optional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReportQuestionaireId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
