@model risk.control.system.Models.CaseLocation

@{
    ViewData["Title"] = @Applicationsettings.EDIT;
    var caseId = Model.ClaimsInvestigation.ClaimsInvestigationId;
}

<section class="content">
    <div class="container-fluid ">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-warning card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Edit  @Applicationsettings.VERIFY_LOCATIONS</h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="Edit">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="CaseLocationId" />
                                        <div class="form-group">
                                            <label asp-for="BeneficiaryName" class="control-label"></label>
                                            <input asp-for="BeneficiaryName" class="form-control" />
                                            <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BeneficiaryRelationId" class="control-label"></label>
                                            <select asp-for="BeneficiaryRelationId" class="form-control" asp-items="ViewBag.BeneficiaryRelationId">
                                                <option>--- SELECT BENEFICIARY RELATION ---</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BeneficiaryContactNumber" class="control-label"></label>
                                            <input asp-for="BeneficiaryContactNumber" class="form-control" />
                                            <span asp-validation-for="BeneficiaryContactNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BeneficiaryIncome" class="control-label"></label>
                                            <input asp-for="BeneficiaryIncome" class="form-control" />
                                            <span asp-validation-for="BeneficiaryIncome" class="text-danger"></span>
                                        </div>
                                        <div style="display:none" class="form-group">
                                            <label asp-for="ClaimsInvestigationId" class="control-label"></label>
                                            <input asp-for="ClaimsInvestigationId" class="form-control" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CountryId" class="control-label"></label>
                                            <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId" onchange="loadState(this, false)">
                                                <option>--SELECT COUNTRY--</option>
                                            </select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="StateId" class="control-label"></label>
                                            <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this, false)">
                                                <option>--SELECT STATE--</option>

                                            </select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="DistrictId" class="control-label"></label>
                                            <select id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.StateId" onchange="loadPinCode(this)">
                                                <option>--SELECT DISTRICT--</option>

                                            </select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PinCodeId" class="control-label"></label>
                                            <select id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId">
                                                <option>--- SELECT PINCODE ---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-right">
                                            <a asp-controller="ClaimsInvestigation" asp-action="Details" asp-route-id="@Model.ClaimsInvestigationId" class="btn btn-secondary">
                                                <i class="fa fa-window-close"></i>
                                                @Applicationsettings.CANCEL
                                            </a>
                                            <button type="submit" class="btn btn-warning">
                                                <i class="fas fa-pen"></i> @Applicationsettings.EDIT
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            $(document).ready(function () {
                //$('.selectPincode').attr('data-live-search', true);

                //// Enable multiple select.
                //$('.selectPincode').attr('multiple', true);
                //$('.selectPincode').attr('data-selected-text-format', 'count');

                //$('.selectPincode').selectpicker(
                //    {
                //        width: '100%',
                //        title: '- [Choose Multiple Pincodes] -',
                //        style: 'btn-info',
                //        size: 6,
                //        iconBase: 'fa',
                //        tickIcon: 'fa-check'
                //    });
                //$('#PinCodeId').attr('multiple', true);
            });
        </script>
    }
}
