@using risk.control.system.AppConstant;
@using risk.control.system.Models.ViewModel;
@model VendorUsersViewModel

@{
    ViewData["Title"] = @Applicationsettings.USER;
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-user-friends"></i> Agency Users</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Name
                                    </th>

                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Addresline
                                    </th>
                                    <th>
                                        Pincode
                                    </th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Roles</th>
                                    <th>Code</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td>
                                            <img src="@user?.ProfileImage" height="30" alt="No image" />
                                        </td>
                                        <td style="width: 10%;"><a href=""> @user.Email</a></td>
                                        <td>@user.FirstName @user.LastName</td>
                                        <td>@user.PhoneNumber</td>
                                        <td>@user.Addressline</td>
                                        <td>@user.PinCode</td>
                                        <td>@user.State</td>
                                        <td>@user.Country</td>
                                        <td>
                                            @if (user.Roles.Count() == 0)
                                            {
                                                <span class="badge badge-danger">No role Added</span>
                                            }
                                            else
                                            {
                                                @foreach (var role in user.Roles)
                                                {
                                                    <span class="badge badge-light">@role</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (user.Roles.Contains(AppRoles.PortalAdmin.ToString()))
                                                {
                                                    <span class="badge badge-light">PA</span>
                                                }
                                                else if (user.Roles.Contains(AppRoles.CompanyAdmin.ToString()))
                                                {
                                                    <span class="badge badge-light">CA</span>
                                                }
                                                else if (user.Roles.Contains(AppRoles.Creator.ToString()))
                                                {
                                                    <span class="badge badge-warning">CC</span>
                                                }
                                                else if (user.Roles.Contains(AppRoles.Assigner.ToString()))
                                                {
                                                    <span class="badge badge-info">CS</span>
                                                }
                                                else if (user.Roles.Contains(AppRoles.Assessor.ToString()))
                                                {
                                                    <span class="badge badge-success">CAS</span>
                                                }
                                                else if (user.Roles.Contains(AppRoles.AgencyAdmin.ToString()))
                                                {
                                                    <span class="badge badge-danger">VA</span>
                                                }
                                                else if (user.Roles.Contains(AppRoles.Supervisor.ToString()))
                                                {
                                                    <span class="badge badge-warning">VS</span>
                                                }
                                                else if (user.Roles.Contains(AppRoles.Agent.ToString()))
                                                {
                                                    <span class="badge badge-success">VA</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-light">...</span>
                                                }

                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-xs btn-warning" asp-controller="Agency" asp-action="EditUser" asp-route-userId="@user.UserId">
                                                <i class="fas fa-pen"></i> @Applicationsettings.EDIT
                                            </a>&nbsp;
                                            <a class="btn btn-xs btn-info" asp-controller="Agency" asp-action="UserRoles"
                                           asp-route-userId="@user.UserId"><i class="fas fa-pen"></i> @Applicationsettings.ROLE</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>