@model ClaimsInvestigationVendorsModel
<article>
    <div class="bb-blog-inner">
        <div class="card card-light">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-user-shield"></i> Report: <span class="badge badge-light"> @Model.AgencyReport.AgentEmail </span>
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <span>

                                <i class="fas fa-user-shield"></i><b> @Model.AgencyReport.AgentEmail</b> report
                            </span>

                        </span>
                    </span>
                </h3>

                <div class="card-tools">
                    <span data-toggle="tooltip" title="Agent report # : @Model.AgencyReport.AgentEmail" class="badge badge-light">
                        <i class='far fa-hand-point-right'></i>
                    </span>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body pb-0">

                <div class="row">
                    <partial name="_AgencyDigitalReport" model="@Model" />
                    <partial name="_AgencyDocumentReport" model="@Model" />
                    @if(Model.ClaimsInvestigation.EnablePassport)
                    {
                        <partial name="_AgencyPassportIdReport" model="@Model" />
                    }
                    <partial name="_AgencyAgentAnswer" model="@Model" />
                </div>
            </div>
        </div>
    </div>
</article>