@model ClaimTransactionModel
@{
    string address = string.Empty;
    string baddress = string.Empty;
    int currentAgeinYrs = 0;
    int currentBAgeinYrs = 0;
    bool customerExist = false;
    bool beneficiaryExist = false;
    if (Model.ClaimsInvestigation != null && Model.ClaimsInvestigation.CustomerDetail != null)
    {
        address = @Model.ClaimsInvestigation?.CustomerDetail.Addressline + " " + @Model.ClaimsInvestigation?.CustomerDetail.District.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.State.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.Country.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.PinCode.Code;
        baddress = @Model.Location != null ? @Model.Location?.Addressline + " " +
        @Model.Location?.District?.Name + " " + @Model.Location?.State?.Name + " " +
        @Model.Location?.Country?.Name + " " + @Model.Location?.PinCode?.Code : string.Empty;
        if (Model.ClaimsInvestigation?.CustomerDetail.DateOfBirth != null)
        {
            var age = DateTime.Now.Subtract(Model.ClaimsInvestigation.CustomerDetail.DateOfBirth).TotalDays;
            currentAgeinYrs = (int)age / 365;
        }

        if (Model.Location?.DateOfBirth != null)
        {
            var age = DateTime.Now.Subtract(Model.Location.DateOfBirth).TotalDays;
            currentBAgeinYrs = (int)age / 365;
        }

    }
    if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.PolicyDetail?.ContractNumber))
    {
        customerExist = true;
    }
    if (Model.Location?.BeneficiaryDetailId > 0)
    {
        beneficiaryExist = true;
    }
    string customerProgressColor = "grey";
    if (@customerExist)
    {
        customerProgressColor = "green";
    }
    string benficiaryProgressColor = "lightgrey";
    if (@customerExist && @beneficiaryExist)
    {
        benficiaryProgressColor = "green";
    }
    if (@customerExist && !@beneficiaryExist)
    {
        benficiaryProgressColor = "grey";
    }
    if (!@customerExist && !@beneficiaryExist)
    {
        benficiaryProgressColor = "lightgrey";
    }
}
<article>
    <div class="bb-blog-inner">
        <div class="card card-light expanding-card">
            <div class="card-header">
                <h3 class="card-title">
                    <span class="badge badge-info" data-toggle="tooltip" title="Status : @Model.ClaimsInvestigation?.InvestigationCaseSubStatus.Name">
                        <b>   @Model.ClaimsInvestigation?.InvestigationCaseSubStatus.Name</b>
                    </span>
                    <b> <i class='far fa-hand-point-right'></i> </b>
                    @{
                        if (string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.UserEmailActionedTo))
                        {
                            <span class="badge badge-info" data-toggle="tooltip" title="Owner : @Model.ClaimsInvestigation?.UserRoleActionedTo">

                                <b>   @Model.ClaimsInvestigation?.UserRoleActionedTo</b>
                            </span>
                        }
                        else
                        {
                            <span class="badge badge-info" data-toggle="tooltip" title="Owner : @Model.ClaimsInvestigation?.UserEmailActionedTo">
                                <b>   @Model.ClaimsInvestigation?.UserEmailActionedTo</b>
                            </span>
                        }
                    }
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <li>
                                <i class='far fa-file-powerpoint'></i> Policy details.
                            </li>
                            <li>
                                <i class='fa fa-user-plus'></i> Customer details.
                            </li>
                            <li> <i class='fas fa-user-tie'></i> Beneficiary details </li>

                        </span>
                    </span>
                </h3>

                <div class="card-tools">
                    <span data-toggle="tooltip" title="Claim # :  @Model.ClaimsInvestigation.PolicyDetail.ContractNumber" class="badge badge-light">
                        <i class='far fa-hand-point-right'></i>
                    </span>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body pb-0">
                <div class="row">
                    @{
                        var pmodel = new ClaimsInvestigationVendorAgentModel
                        {
                            ClaimsInvestigation = Model.ClaimsInvestigation,
                            CaseLocation = Model.Location
                        };

                        <partial name="_ClaimPolicyDetails" model="@pmodel" />
                        @if (Model.ClaimsInvestigation.PolicyDetail.ClaimType == ClaimType.HEALTH)
                        {
                            <partial name="_ClaimCustomerDetails" model="@pmodel" />
                        }
                        @if (Model.ClaimsInvestigation.PolicyDetail.ClaimType == ClaimType.DEATH)
                        {
                            <partial name="_ClaimBeneficairyDetails" model="@pmodel" />
                        }
                    }

                </div>

                @if (@Model.ClaimsInvestigation.AgencyReport != null)
                {
                    <div class="card card-light collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-print nav-icon"></i> Agent: <span class="badge badge-light">@Model.ClaimsInvestigation.AgencyReport.AgentEmail</span>
                                <span class="hover-text">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltip-text" id="information">
                                        <span>
                                            <i class='far fa-hand-point-right'></i><b> @Model.ClaimsInvestigation.AgencyReport.AgentEmail</b> report  <i class="fas fa-print nav-icon"></i>.
                                        </span>

                                    </span>
                                </span>
                            </h3>
                            <div class="card-tools">
                                <span data-toggle="tooltip" title="Agent report # : @Model.ClaimsInvestigation.Vendor.Email" class="badge badge-light">
                                    <i class='far fa-hand-point-right'></i>
                                </span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>

                        </div>
                        <div class="card-body pb-0">
                            <div class="row">
                                @{
                                    <partial name="_AgentSubmittedDigitalIdReport" model="@Model" />
                                    <partial name="_AgentSubmittedDocumentIdReport" model="@Model" />
                                    if (Model.ClaimsInvestigation.EnablePassport)
                                    {
                                        <partial name="_AgentSubmittedPassportIdReport" model="@Model" />
                                    }
                                    if (Model.ClaimsInvestigation.EnableMedia)
                                    {
                                        <partial name="_AgentSubmittedAudioReport" model="@Model" />
                                        <partial name="_AgentSubmittedVideoReport" model="@Model" />
                                    }
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.AgencyReport?.AgentRemarks))
                                {
                                    var questionTime = @Model.ClaimsInvestigation.AgencyReport.AgentRemarksUpdated != null ?
                                    @Model.ClaimsInvestigation.AgencyReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;

                                    <div class="col-12 col-sm-4 d-flex align-items-stretch flex-column">
                                        <div class="card bg-light d-flex flex-fill border-success">
                                            <div class="card-header text-muted border-bottom-0">
                                                <h3 class="card-title">
                                                    <i class="far fa-comment"></i> Questionnaire
                                                    <span class="hover-text">
                                                        <i class="fas fa-info-circle"></i>
                                                        <span class="tooltip-text" id="information">
                                                            <span>
                                                                <i class="far fa-comment"></i><b> Questionnaire.</b>
                                                            </span>

                                                        </span>
                                                    </span>
                                                </h3>
                                                <div class="card-tools">
                                                    <span data-toggle="tooltip" title="Claim #" class="badge badge-light">
                                                        <i class="nav-icon fas fa-clock"></i>
                                                        @Model.ClaimsInvestigation.AgencyReport?.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-footer text-muted border-bottom-0">
                                                <i class="fas fa-user-shield"></i>  Agent:<span class="badge badge-light">  @Model.ClaimsInvestigation.AgencyReport.AgentEmail </span>
                                            </div>
                                            <div class="progress">
                                                <i class="far fa-bookmark bookmark-green"></i>
                                                <div class="progress-bar" role="progressbar" style="width:100%;background-color:green;">
                                                    questionaaire
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <partial name="_AgentChat" model="@Model" />

                                                <div class="row">

                                                    <div class="col-7">
                                                        <p class="text-muted text-sm">
                                                            <span class="badge badge-light"><i class="fas fa-film"></i> Questions</span>:
                                                            <br />
                                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                <li class="small">
                                                                    Ownership of residence ?
                                                                    <span class="fa-li">
                                                                        <i class="far fa-comment"></i>
                                                                    </span>
                                                                </li>
                                                                <br />
                                                                <li class="small">
                                                                    Perceived financial status ?
                                                                    <span class="fa-li">
                                                                        <i class="far fa-comment"></i>
                                                                    </span>
                                                                </li>
                                                                <br />
                                                                <li class="small">
                                                                    Name of neighbour met ?
                                                                    <span class="fa-li">
                                                                        <i class="far fa-comment"></i>
                                                                    </span>
                                                                </li>
                                                                <br />
                                                                <li class="small">
                                                                    Date when met with neighbour ?
                                                                    <span class="fa-li">
                                                                        <i class="far fa-comment"></i>
                                                                    </span>
                                                                </li>
                                                                <br />
                                                                <li class="small">
                                                                    Remarks?
                                                                    <span class="fa-li">
                                                                        <i class="far fa-comment"></i>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </p>
                                                    </div>

                                                    <div class="col-5">
                                                        <p class="text-muted text-sm">
                                                            <span class="badge badge-light"><i class="fas fa-film"></i> Answers</span>:
                                                            <br />
                                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                <li class="small">
                                                                    <span class="fa-li">
                                                                        <i class="far fa-comment"></i>
                                                                    </span>
                                                                    @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer1
                                                                </li>
                                                                <br />
                                                                <li class="small">

                                                                    <span class="fa-li">
                                                                        <i class="far fa-comment"></i>
                                                                    </span>
                                                                    @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer2
                                                                </li>
                                                                <br />
                                                                <li class="small">
                                                                    <span class="fa-li">
                                                                        <i class="far fa-comment"></i>
                                                                    </span>
                                                                    @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer3
                                                                </li>
                                                                <br />
                                                                <li class="small">
                                                                    <span class="fa-li">
                                                                        <i class="far fa-comment"></i>
                                                                    </span>
                                                                    @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer4
                                                                </li>
                                                                <br />
                                                                <li class="small">
                                                                    <span class="fa-li">
                                                                        <i class="far fa-comment"></i>
                                                                    </span>
                                                                    @{
                                                                        var remarks = Model.ClaimsInvestigation.AgencyReport?.AgentRemarks;
                                                                        if (Model.ClaimsInvestigation.UpdateAgentAnswer)
                                                                        {
                                                                            var edited = Model.ClaimsInvestigation.AgencyReport?.AgentRemarks != Model.ClaimsInvestigation.AgencyReport?.AgentRemarksEdit;
                                                                            if (edited)
                                                                            {
                                                                                remarks = Model.ClaimsInvestigation.AgencyReport?.AgentRemarksEdit; ;
                                                                            }
                                                                        }
                                                                    }
                                                                    @remarks
                                                                </li>
                                                            </ul>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                }

                                <div class="col-12">
                                    @if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarks))
                                    {
                                        <div class="card bg-light  border-success">

                                            <div class="card-header">
                                                <h3 class="card-title">
                                                    <i class="fas fa-user-edit"></i> Supervisor : <span class="badge badge-light"> @Model?.ClaimsInvestigation.AgencyReport?.SupervisorEmail</span>
                                                    <span class="hover-text">
                                                        <i class="fas fa-info-circle"></i>
                                                        <span class="tooltip-text" id="information">
                                                            <span>
                                                                <i class="fas fa-user-shield"></i><b> @Model?.ClaimsInvestigation.AgencyReport?.SupervisorEmail</b> remark.
                                                            </span>

                                                        </span>
                                                    </span>
                                                </h3>
                                                <div class="card-tools">
                                                    <span data-toggle="tooltip" title=" Supervisor :  @Model?.ClaimsInvestigation.AgencyReport?.SupervisorEmail" class="badge badge-light">
                                                        <i class="nav-icon fas fa-clock"></i> @Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                                                    </span>
                                                </div>

                                            </div>

                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p class="text-muted text-sm">

                                                            <span>Supervisor comments: </span>
                                                        </p>
                                                        <table id="customerTable" class="table-bordered table-hover dt-responsive nowrap w-100">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        Time
                                                                    </th>
                                                                    <th>
                                                                        Supervisor Response
                                                                    </th>
                                                                    <th>
                                                                        Document
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        @{
                                                                            string displayTime = string.Empty;
                                                                            var time = @Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarksUpdated;
                                                                            if (time is not null)
                                                                            {
                                                                                displayTime = time.Value.ToString("dd-MMM-yyy HH:mm");
                                                                            }
                                                                            if (time == null)
                                                                            {
                                                                                displayTime = @Model.ClaimsInvestigation.AgencyReport.Created.ToString("dd-MMM-yyy HH:mm");
                                                                            }
                                                                        }
                                                                        <span class="badge badge-light">@displayTime</span>
                                                                    </td>
                                                                    <td>
                                                                        @Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarks

                                                                    </td>
                                                                    <td>
                                                                        @if (Model.ClaimsInvestigation.AgencyReport?.SupervisorAttachment != null)
                                                                        {
                                                                            <img title="enquiry document" id="enquiryDocument" class="img-fluid doc-profile-image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.ClaimsInvestigation.AgencyReport?.SupervisorAttachment))">
                                                                            <a asp-controller="Download" asp-action="SupervisorFileAttachment" target="_blank"
                                                                               asp-route-id="@Model.ClaimsInvestigation.AgencyReport.AgencyReportId" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> </a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <img title="enquiry document" id="enquiryDocument" alt="face image" class="img-fluid doc-profile-image" src=@Applicationsettings.NO_IMAGE>
                                                                        }
                                                                    </td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>

                                @if (@Model.ClaimsInvestigation.IsQueryCase && @Model.ClaimsInvestigation.AgencyReport.EnquiryRequest != null)
                                {
                                    <partial name="_EnquiryReport" model="@Model" />
                                }
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</article>