@model ClaimsInvestigationVendorsModel
@{

    if (@Model.AgencyReport?.PanIdReport?.DocumentIdImageData != null &&
    @Model.AgencyReport?.PanIdReport?.DocumentIdImageLongLatTime != null &&
    @Model.AgencyReport?.PanIdReport?.DocumentIdImageLocationUrl != null)
    {
        string documentIdColor = "progress-bar-grey";
        var documentIdBorderColor = "";
        if (Model.AgencyReport.PanIdReport?.DocumentIdImageLongLat == null)
        {

        }
        else if (Model.AgencyReport.PanIdReport?.DocumentIdImageLongLat != null && (
        Model.AgencyReport?.PanIdReport?.DocumentIdImageValid != null && Model.AgencyReport?.PanIdReport?.DocumentIdImageValid == true))
        {
            documentIdColor = "progress-bar-green";
            documentIdBorderColor = "border-success";
        }
        else
        {
            documentIdColor = "progress-bar-red";
            documentIdBorderColor = "border-danger";
        }
        <div class="card bg-light d-flex flex-fill @documentIdBorderColor">
            <div class="card bg-light d-flex flex-fill collapsed-card">
                <div class="card-header text-muted border-bottom-0">
                    <h3 class="card-title">
                        <i class="fas fa-mobile-alt"></i> PAN CARD
                        <span class="hover-text">
                            <i class="fas fa-info-circle"></i>
                            @if (documentIdBorderColor == "border-danger")
                            {
                                <span class="tooltip-text" id="beneficiary-information">
                                    <i class='far fa-thumbs-down'></i> Verify <i class='fa fa-times i-orangered' aria-hidden='true'></i> UnMatched PAN CARD
                                </span>
                            }
                            else if (documentIdBorderColor == "border-success")
                            {
                                <span class="tooltip-text" id="beneficiary-information">
                                    <i class='far fa-thumbs-up'></i> Verify <i class='fas fa-check-circle i-green'></i> Matched PAN CARD
                                </span>
                            }
                            else
                            {
                                <span class="tooltip-text" id="beneficiary-information">
                                    <i class='far fa-hand-point-right'></i>
                                    <button class='badge badge-info btn-xs'>
                                        <span class='badge badge-info btn-xs'>
                                            <i class='fa fa-upload'></i>
                                        </span> Upload
                                    </button>  <i class='fa fa-times i-grey' aria-hidden='true'></i> PAN CARD
                                </span>
                            }
                        </span>
                    </h3>
                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Agent report time" class="badge badge-light">
                            <i class="nav-icon fas fa-clock"></i>
                            @Model.AgencyReport?.PanIdReport?.DocumentIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")
                        </span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>

                </div>
                <div class="progress">
                    <i class="far fa-bookmark bookmark-green"></i>
                    <div class="progress-bar @documentIdColor" role="progressbar">
                        pan-card
                    </div>
                </div>
                <div class="card-body">
                    <div class="card collapsed-card">
                        <div class="card-header">
                            <i class="fas fa-film"></i> <h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                            <div class="card-tools">
                                <span data-toggle="tooltip" title="Map Location: Expected and visited" class="badge badge-light"> <i class='far fa-hand-point-right'></i></span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="ocr-map">
                                <img id="ocr-map-url" />
                                <div id="ocr-msg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted text-sm">
                                <span class="badge badge-light"><i class="fas fa-film"></i> Pan card Image</span>:
                                <br />
                                @{
                                    if (Model.AgencyReport?.PanIdReport?.DocumentIdImage != null)
                                    {
                                        <img id="agentOcrPicture" class="img-fluid ocr-Image @documentIdBorderColor" data-toggle="tooltip" title="PAN card Image"
                                             src="data:image/*;base64,@(Convert.ToBase64String(@Model.AgencyReport?.PanIdReport?.DocumentIdImage))">
                                    }
                                    else
                                    {
                                        <img data-toggle="tooltip" title="No PAN card Image" id="agentOcrPicture" class="img-fluid no-Image" src=@Applicationsettings.NO_PHOTO_IMAGE>
                                    }
                                }
                            </p>

                        </div>
                        <div class="col-6">
                            <p class="text-muted text-sm">

                                <span class="badge badge-light"><i class="fas fa-info"></i> Image Scan Info</span>
                                <br />
                                <label class="img-fluid ocr-data"> @Model.AgencyReport?.PanIdReport?.DocumentIdImageData</label>
                            </p>
                            <p class="text-muted text-sm">

                                <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                <br />
                                <label class="img-fluid ocr-data"> @Model.AgencyReport?.PanIdReport?.DocumentIdImageLocationAddress</label>
                            </p>
                        </div>
                    </div>
                </div>

                @if (Model.ClaimsInvestigation.UpdateAgentReport)
                {
                    <form id="upload-pan" method="post" enctype="multipart/form-data" asp-controller="Uploads" asp-action="PanUpload">
                        <input type="hidden" id="documentIdLatitude" name="documentIdLatitude" />
                        <input type="hidden" id="documentIdLongitude" name="documentIdLongitude" />
                        <input type="hidden" id="supervisorPanUpdate" name="supervisorPanUpdate" value="true" />
                        <input type="hidden" id="selectedclaim" name="selectedclaim" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                        <div class="card-footer">

                            <div class="form-group">
                                <span class="input-group-label">Upload PAN CARD : </span>
                                <div class="input-group mb-3">
                                    <img class="form-Image" id="pan-Image" src="@Applicationsettings.NO_IMAGE" title="PAN card" />
                                    <input accept=".jpg,jpeg,png" type="file" class="form-control remarks" name="panImage" id="panImage" data-toggle="tooltip" title="Upload PAN card Image" />
                                    <button id="UploadPanImageButton" disabled type="submit" class="btn btn-info upload"><i class="nav-icon fa fa-upload"></i> Upload</button>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
            <div class="text-muted text-center">
                <span class="badge badge-light"><i class="far fa-image"></i> Valid : </span>
                @if (@Model.AgencyReport?.PanIdReport?.DocumentIdImageValid.Value ?? false)
                {
                    <i class='fas fa-check-circle i-green'></i>
                }
                else
                {
                    <i class='fa fa-times i-orangered' aria-hidden='true'></i>
                }
            </div>
        </div>
    }
}