@model ClaimsInvestigationVendorsModel
<article>
    <div class="bb-blog-inner">
        <div class="card card-light">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-user-shield"></i> Report: <span class="badge badge-light"> @Model.AgencyReport.AgentEmail </span>
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <span>

                                <i class="fas fa-user-shield"></i><b> @Model.AgencyReport.AgentEmail</b> report
                            </span>

                        </span>
                    </span>
                </h3>

                <div class="card-tools">
                    <span data-toggle="tooltip" title="Agent report # : @Model.AgencyReport.AgentEmail" class="badge badge-light">
                        <i class='far fa-hand-point-right'></i>
                    </span>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body pb-0">

                <div class="row">
                    @{
                        string digitalIdColor = "grey";
                        var borderColor = "";
                        if (Model.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime == null)
                        {
                            digitalIdColor = "grey";
                            borderColor = "";
                        }
                        else if (Model.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime != null && string.IsNullOrWhiteSpace(@Model.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
                        {
                            digitalIdColor = "#dc3545!important";
                            borderColor = "border-danger";
                        }
                        else if (Model.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime != null && !string.IsNullOrWhiteSpace(@Model.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
                        {
                            borderColor = "border-success";
                            digitalIdColor = "green";
                        }

                        if (@Model.AgencyReport?.DigitalIdReport?.DigitalIdImageData != null && @Model.AgencyReport?.DigitalIdReport?.DigitalIdImageLongLatTime != null)
                        {
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light d-flex flex-fill @borderColor">
                                    <div class="card-header text-muted border-bottom-0">

                                        <h3 class="card-title">
                                            <i class="fas fa-portrait"></i> Photo ID
                                            <span class="hover-text">
                                                <i class="fas fa-info-circle"></i>
                                                @if (borderColor == "")
                                                {
                                                    <span class="tooltip-text" id="beneficiary-information">
                                                        <i class='far fa-hand-point-right'></i>
                                                        <button class='badge badge-info btn-xs'>
                                                            <span class='badge badge-info btn-xs'>
                                                                <i class='fa fa-upload'></i>
                                                            </span> Upload <i style='color:grey;' class='fa fa-times' aria-hidden='true'></i>
                                                        </button> Photo ID
                                                    </span>
                                                }
                                                else if (borderColor == "border-danger")
                                                {
                                                    <span class="tooltip-text" id="beneficiary-information">
                                                        <i class='far fa-thumbs-down'></i> Verify <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i> UnMatched Photo ID
                                                    </span>
                                                }
                                                else if (borderColor == "border-success")
                                                {
                                                    <span class="tooltip-text" id="beneficiary-information">
                                                        <i class='far fa-thumbs-up'></i> Verify  <i style='color:green;' class='fas fa-check-circle'></i> Matched Photo ID
                                                    </span>
                                                }
                                            </span>
                                        </h3>
                                        <div class="card-tools">
                                            <span data-toggle="tooltip" title="Agent report # : @Model.AgencyReport.AgentEmail" class="badge badge-light">
                                                <i class="nav-icon fas fa-clock"></i>
                                                @Model.AgencyReport?.DigitalIdReport?.DigitalIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")
                                            </span>

                                        </div>

                                        
                                    </div>
                                    <div class="card-footer text-center">
                                        <span class="badge badge-light"><i class="fas fa-portrait"></i> Match :  </span>
                                        @if (string.IsNullOrWhiteSpace(@Model.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence) && Model.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime != null)
                                        {
                                            <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                        }
                                        else
                                        {
                                            <i style='color:green;' class='fas fa-check-circle'></i>
                                        }
                                    </div>
                                    <div class="progress">
                                        <i class="far fa-bookmark bookmark-green"></i>
                                        <div class="progress-bar" role="progressbar" style="width:100%;background-color:@digitalIdColor;">
                                            photo-id
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-light"><i class="far fa-image"></i> Photo Id Image</span>:
                                                    <br />
                                                    @{
                                                        if (Model.AgencyReport?.DigitalIdReport?.DigitalIdImage != null)
                                                        {
                                                            <img title="digital image" id="agentLocationPicture" class="img-fluid face-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.AgencyReport?.DigitalIdReport?.DigitalIdImage))">
                                                        }
                                                        else
                                                        {
                                                            <img title="digital image" id="agentLocationPicture" alt="face image" class="img-fluid  no-Image" src=@Applicationsettings.NO_PHOTO_IMAGE>
                                                        }
                                                    }
                                                </p>
                                                <p class="text-muted text-sm">

                                                    <span class="badge badge-light"><i class="fas fa-info"></i> Location Info</span>
                                                    <br />
                                                    <label class="ocr-data img-fluid"> @Model.AgencyReport?.DigitalIdReport?.DigitalIdImageData</label>

                                                </p>
                                            </div>
                                            <div class="col-6">
                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                                                    <br />
                                                    <img class="img-fluid locationImage" src="@Model.AgencyReport?.DigitalIdReport?.DigitalIdImageLocationUrl" />
                                                </p>
                                                <p class="text-muted text-sm">

                                                    <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                                    <br />
                                                    <label class="img-fluid ocr-data"> @Model.AgencyReport?.DigitalIdReport?.DigitalIdImageLocationAddress</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card direct-chat direct-chat-warning collapsed-card">
                                    <div class="card-header">
                                        <i class="fas fa-film"></i><h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                                        <div class="card-tools">
                                            <span data-toggle="tooltip" title="Map Location" class="badge badge-light"> <i class='far fa-hand-point-right'></i></span>
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="face-map">
                                        </div>
                                        <div id="face-msg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        if (@Model.AgencyReport?.DocumentIdReport?.DocumentIdImageData != null &&
                        @Model.AgencyReport?.DocumentIdReport?.DocumentIdImageLongLatTime != null &&
                        @Model.AgencyReport?.DocumentIdReport?.DocumentIdImageLocationUrl != null)
                        {
                            string documentIdColor = "grey";
                            var documentIdBorderColor = "";
                            if (Model.AgencyReport.DocumentIdReport?.DocumentIdImageLongLat == null)
                            {

                            }
                            else if (Model.AgencyReport.DocumentIdReport?.DocumentIdImageLongLat != null && (
                            Model.AgencyReport?.DocumentIdReport?.DocumentIdImageValid != null && Model.AgencyReport?.DocumentIdReport?.DocumentIdImageValid == true))
                            {
                                documentIdColor = "green";
                                documentIdBorderColor = "border-success";
                            }
                            else
                            {
                                documentIdColor = "#dc3545!important";
                                documentIdBorderColor = "border-danger";
                            }
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light d-flex flex-fill @documentIdBorderColor">
                                    <div class="card-header text-muted border-bottom-0">
                                        <h3 class="card-title">
                                            <i class="fas fa-mobile-alt"></i> PAN CARD
                                            <span class="hover-text">
                                                <i class="fas fa-info-circle"></i>
                                                @if (documentIdBorderColor == "border-danger")
                                                {
                                                    <span class="tooltip-text" id="beneficiary-information">
                                                        <i class='far fa-thumbs-down'></i> Verify <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i> UnMatched PAN CARD
                                                    </span>
                                                }
                                                else if (documentIdBorderColor == "border-success")
                                                {
                                                    <span class="tooltip-text" id="beneficiary-information">
                                                        <i class='far fa-thumbs-up'></i> Verify <i style='color:green;' class='fas fa-check-circle'></i> Matched PAN CARD
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="tooltip-text" id="beneficiary-information">
                                                        <i class='far fa-hand-point-right'></i>
                                                        <button class='badge badge-info btn-xs'>
                                                            <span class='badge badge-info btn-xs'>
                                                                <i class='fa fa-upload'></i>
                                                            </span> Upload
                                                        </button>  <i style='color:grey;' class='fa fa-times' aria-hidden='true'></i> PAN CARD
                                                    </span>
                                                }
                                            </span>
                                        </h3>
                                        <div class="card-tools">
                                            <span data-toggle="tooltip" title="Agent report # : @Model.AgencyReport.AgentEmail" class="badge badge-light">
                                                <i class="nav-icon fas fa-clock"></i>
                                                @Model.AgencyReport?.DocumentIdReport?.DocumentIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")
                                            </span>

                                        </div>
                                        
                                    </div>
                                    <div class="card-footer text-center">
                                        <span class="badge badge-light"><i class="far fa-image"></i> Valid : </span>
                                        @if (@Model.AgencyReport?.DocumentIdReport?.DocumentIdImageValid.Value ?? false)
                                        {
                                            <i style='color:green;' class='fas fa-check-circle'></i>
                                        }
                                        else
                                        {
                                            <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                        }
                                    </div>
                                    <div class="progress">
                                        <i class="far fa-bookmark bookmark-green"></i>
                                        <div class="progress-bar" role="progressbar" style="width:100%;background-color:@documentIdColor;">
                                            pan-card
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-light"><i class="fas fa-film"></i> Pan card Image</span>:
                                                    <br />
                                                    @{
                                                        if (Model.AgencyReport?.DocumentIdReport?.DocumentIdImage != null)
                                                        {
                                                            <img title="document image" id="agentOcrPicture" class="img-fluid ocr-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.AgencyReport?.DocumentIdReport?.DocumentIdImage))">
                                                        }
                                                        else
                                                        {
                                                            <img title="document image" id="agentOcrPicture" alt="ocr-image" class="img-fluid no-Image" src=@Applicationsettings.NO_PHOTO_IMAGE>
                                                        }
                                                    }
                                                </p>
                                                <p class="text-muted text-sm">

                                                    <span class="badge badge-light"><i class="fas fa-info"></i> Image Scan Info</span>
                                                    <br />
                                                    <label class="img-fluid ocr-data"> @Model.AgencyReport?.DocumentIdReport?.DocumentIdImageData</label>
                                                </p>
                                            </div>
                                            <div class="col-6">

                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                                                    <br />
                                                    <img class="img-fluid olocationImage" src="@Model.AgencyReport?.DocumentIdReport?.DocumentIdImageLocationUrl" />
                                                </p>
                                                <p class="text-muted text-sm">

                                                    <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                                    <br />
                                                    <label class="img-fluid ocr-data"> @Model.AgencyReport?.DocumentIdReport?.DocumentIdImageLocationAddress</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="card direct-chat direct-chat-warning collapsed-card">
                                    <div class="card-header">
                                        <i class="fas fa-film"></i> <h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                                        <div class="card-tools">
                                            <span data-toggle="tooltip" title="Map Location" class="badge badge-light"> <i class='far fa-hand-point-right'></i></span>
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="ocr-map">
                                        </div>
                                        <div id="ocr-msg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @{
                        var questionTime = @Model.AgencyReport.AgentRemarksUpdated != null ?
                        @Model.AgencyReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;
                    }
                    <div class="col-12 col-sm-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill border-success">
                            <div class="card-header text-muted border-bottom-0">
                                <h3 class="card-title">
                                    <i class="far fa-comment"></i> Questionnaire
                                    <span class="hover-text">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text" id="information">
                                            <span>
                                                <i class='far fa-hand-point-right'></i> Review <i class="far fa-comment"></i> Questionnaire
                                            </span>

                                        </span>
                                    </span>
                                </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="Claim #" class="badge badge-light"> <i class="nav-icon fas fa-clock"></i> @questionTime </span>
                                </div>
                            </div>
                            <div class="card-footer text-muted border-bottom-0">
                                <i class="fas fa-user-shield"></i>  Agent :<span class="badge badge-light">  @Model.AgencyReport.AgentEmail </span>
                            </div>
                            <div class="progress">
                                <i class="far fa-bookmark bookmark-green"></i>
                                <div class="progress-bar" role="progressbar" style="width:100%;background-color:green;">
                                    questionnaire
                                </div>
                            </div>
                            <div class="card-body">

                                @* <partial name="_MediaDetails" model="@Model.ClaimsInvestigation" />*@

                                <div class="row">
                                    <div class="col-6">
                                        <p class="text-muted text-sm">
                                            <span class="badge badge-light"><i class="fas fa-film"></i> Questions</span>:
                                            <br />
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small">
                                                    Ownership of residence ?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                                <br />
                                                <li class="small">
                                                    Perceived financial status ?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                                <br />
                                                <li class="small">
                                                    Name of neighbour met ?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                                <br />
                                                <li class="small">
                                                    Date when met with neighbour ?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                                <br />
                                                <li class="small">
                                                    Remarks?
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-muted text-sm">
                                            <span class="badge badge-light"><i class="fas fa-film"></i> Answers</span>:
                                            <br />
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                    @Model.AgencyReport?.ReportQuestionaire?.Answer1
                                                </li>
                                                <br />
                                                <li class="small">

                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                    @Model.AgencyReport?.ReportQuestionaire?.Answer2
                                                </li>
                                                <br />
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                    @Model.AgencyReport?.ReportQuestionaire?.Answer3
                                                </li>
                                                <br />
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                    @Model.AgencyReport?.ReportQuestionaire?.Answer4
                                                </li>
                                                <br />
                                                <li class="small">
                                                    <span class="fa-li">
                                                        <i class="far fa-comment"></i>
                                                    </span>
                                                    @Model.AgencyReport?.AgentRemarks
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <partial name="_Chat" model="@Model" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</article>