@model ClaimsInvestigationVendorsModel

@{
    <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
    <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
    <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
    <input type="hidden" id="claimId" value="@Model.ClaimsInvestigation?.ClaimsInvestigationId" />
    <article>
        <div class="bb-blog-inner">
            <div class="card card-light expanding-card">
                <div class="card-header">
                    <h3 class="card-title">
                        Status: <span class="badge badge-info">
                            <b>   @Model.ClaimsInvestigation?.InvestigationCaseSubStatus.Name</b>
                        </span>
                        |
                        Owner
                        <span class="badge badge-info">
                            @{
                                if (string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.UserEmailActionedTo))
                                {
                                    <b>   @Model.ClaimsInvestigation?.UserRoleActionedTo</b>
                                }
                                else
                                {
                                    <b>   @Model.ClaimsInvestigation?.UserEmailActionedTo</b>

                                }
                            }
                        </span>
                        <span class="hover-text">
                            <i class="fas fa-info-circle"></i>
                            <span class="tooltip-text" id="information">
                                <li>

                                    <i class='far fa-hand-point-right'></i> Claim <i class='far fa-file-powerpoint'></i><strong>#@Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber </strong>  details

                                </li>

                            </span>
                        </span>
                    </h3>
                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Claim # : @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber" class="badge badge-light">
                            <i class='far fa-hand-point-right'></i>
                        </span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">

                    <div class="row">
                        @{
                            var pmodel = new ClaimsInvestigationVendorAgentModel
                            {
                                ClaimsInvestigation = Model.ClaimsInvestigation,
                                CaseLocation = Model.Location
                            };

                            <partial name="_ClaimPolicyDetails" model="@pmodel" />
                            @if (Model.ClaimsInvestigation.PolicyDetail.ClaimType == ClaimType.HEALTH)
                            {
                                <partial name="_ClaimCustomerDetails" model="@pmodel" />
                            }
                            @if (Model.ClaimsInvestigation.PolicyDetail.ClaimType == ClaimType.DEATH)
                            {
                                <partial name="_ClaimBeneficairyDetails" model="@pmodel" />
                            }
                        }
                    </div>
                </div>
            </div>
        </div> <!-- class bb-blog-inner -->
    </article>
}
