@model ClaimsInvestigationVendorAgentModel

<div class="row">
    <div class="col-md-12">
        <div id="article" class="card  card-secondary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-users"></i>  @Applicationsettings.AGENTS
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <li>

                                <i class='far fa-hand-point-right'></i> Claim:
                                <b>
                                    <i class="far fa-file-powerpoint"></i>
                                    @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber
                                </b>
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i> Select <input type='radio' /> <strong>AGENT</strong>
                            </li>
                            <li>
                                <i class='far fa-thumbs-up'></i>
                                <button class='btn btn-danger  btn-xs'>
                                    <span class='badge badge-danger btn-xs'>
                                        <i class='fas fa-external-link-alt'></i>
                                    </span> <b>Allocate</b>
                                </button>
                            </li>
                        </span>
                    </span>
                </h3>
            </div>
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
                <article>
                    <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
                    <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
                    <input type="hidden" id="caseLocationId" value="@Model.CaseLocation?.BeneficiaryDetailId" />
                    <input type="hidden" id="beneficiaryId" value="@Model.CaseLocation?.BeneficiaryDetailId" />
                    <input type="hidden" id="claimId" value="@Model.ClaimsInvestigation?.ClaimsInvestigationId" />
                    <div class="bb-blog-inner">
                        <div class="card card-light collapsed-card">
                            <div class="card-header">
                                <h3 class="card-title">Claim: <span class="badge badge-light"><i class="far fa-file-powerpoint"></i>  @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber</span>
                                    <span class="hover-text">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text" id="information">
                                            <li>
                                                <i class='far fa-file-powerpoint'></i> Policy details.
                                            </li>
                                            <li>
                                                <i class='fa fa-user-plus'></i> Customer details.
                                            </li>
                                            <li> <i class='fas fa-user-tie'></i> Beneficiary details </li>

                                        </span>
                                    </span>
                                </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="Claim # : @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber" class="badge badge-light">
                                        <i class='far fa-hand-point-right'></i>
                                    </span>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                <partial name="_ClaimPolicyDetails" model="@Model" />
                                @if (Model.ClaimsInvestigation.PolicyDetail.ClaimType == ClaimType.HEALTH)
                                {
                                    <partial name="_ClaimCustomerDetails" model="@Model" />
                                }
                                @if (Model.ClaimsInvestigation.PolicyDetail.ClaimType == ClaimType.DEATH)
                                {
                                    <partial name="_ClaimBeneficairyDetails" model="@Model" />
                                }
                                </div>
                            </div>
                        </div>
                    </div> <!-- class bb-blog-inner -->
                </article>
            @{
                Model.ReSelect = true;
            }
                <partial name="_AgentList" model="@Model" />
        </div>
    </div>
</div>