@model ClaimsInvestigationVendorAgentModel

<div class="row">
    <div class="col-md-12">
        <div id="article" class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-users"></i>  @Applicationsettings.AGENTS
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <li>

                                <i class='far fa-hand-point-right'></i> Claim:
                                <b>
                                    <i class="far fa-file-powerpoint"></i>
                                    @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber
                                </b>
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i> Select <input type='radio' /> <strong>AGENT</strong>
                            </li>
                            <li>
                                <i class='far fa-thumbs-up'></i>
                                <button class='btn btn-danger  btn-xs'>
                                    <span class='badge badge-danger btn-xs'>
                                        <i class='fas fa-external-link-alt'></i>
                                    </span> <b>Allocate</b> <sub>agent</sub>
                                </button>
                            </li>
                        </span>
                    </span>
                </h3>
            </div>
            @{
                string address = string.Empty;
                string baddress = string.Empty;
                int currentAgeinYrs = 0;
                int currentBAgeinYrs = 0;
                bool customerExist = false;
                bool beneficiaryExist = false;
                if (Model.ClaimsInvestigation != null)
                {
                    address = @Model.ClaimsInvestigation?.CustomerDetail.Addressline + " " + @Model.ClaimsInvestigation?.CustomerDetail.District.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.State.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.Country.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.PinCode.Code;
                    baddress = @Model.CaseLocation != null ? @Model.CaseLocation?.Addressline + " " +
                    @Model.CaseLocation?.District?.Name + " " + @Model.CaseLocation?.State?.Name + " " +
                    @Model.CaseLocation?.Country?.Name + " " + @Model.CaseLocation?.PinCode?.Code : string.Empty;
                    if (Model.ClaimsInvestigation?.CustomerDetail.CustomerDateOfBirth != null)
                    {
                        var age = DateTime.Now.Subtract(Model.ClaimsInvestigation.CustomerDetail.CustomerDateOfBirth).TotalDays;
                        currentAgeinYrs = (int)age / 365;
                    }
                    if (Model.CaseLocation?.BeneficiaryDateOfBirth != null)
                    {
                        var age = DateTime.Now.Subtract(Model.CaseLocation.BeneficiaryDateOfBirth).TotalDays;
                        currentBAgeinYrs = (int)age / 365;
                    }
                }


                <article>
                    <div class="bb-blog-inner">
                        <div class="card card-light collapsed-card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Claim: <span class="badge badge-light">
                                        <i class="far fa-file-powerpoint"></i>
                                        @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber
                                    </span>
                                    <span class="hover-text">
                                        <i class="fas fa-info-circle"></i>
                                        <span class="tooltip-text" id="policy-information">
                                            <li>
                                                <i class='far fa-file-powerpoint'></i> Policy details.
                                            </li>
                                            <li>
                                                <i class='fa fa-user-plus'></i> Customer details
                                            </li>
                                            <li> <i class='fas fa-user-tie'></i> Beneficiary details </li>

                                        </span>
                                    </span>
                                </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title="Claim # : @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber" class="badge badge-light">
                                        <i class='far fa-hand-point-right'></i>
                                    </span>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                        <div class="card bg-light d-flex flex-fill">
                                            <div class="card-header text-muted border-bottom-0">
                                                <i class="far fa-file-powerpoint"></i> Policy Details
                                                <span class="hover-text">
                                                    <i class="fas fa-info-circle"></i>
                                                    <span class="tooltip-text" id="policy-information">
                                                        <li>
                                                            <i class='far fa-file-powerpoint'></i> Policy details

                                                        </li>
                                                        <li>
                                                            <i class='far fa-hand-point-right'></i>
                                                            <div class="btn btn-xs bg-teal">
                                                                <i class="fas fa-edit"></i>
                                                            </div> Add Notes

                                                        </li>
                                                        <li>
                                                            <i class='far fa-hand-point-right'></i>
                                                            <div class="btn btn-xs btn-info">
                                                                <i class="far fa-file-powerpoint"></i> ...
                                                            </div> Show Policy Detail

                                                        </li>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="progress">
                                                <i class="far fa-bookmark bookmark-green"></i>
                                                <div class="progress-bar" role="progressbar" style="width:100%;background-color:green;">
                                                    <i class="far fa-file-powerpoint"></i>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <h2 class="lead"><b>@Model.ClaimsInvestigation?.PolicyDetail.ContractNumber</b></h2>
                                                        <p class="text-muted text-sm">
                                                            <b>Policy Type: </b>@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name
                                                        </p>
                                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-money-bill-wave"></i>
                                                                </span>
                                                                Claim Type: <i class="fas fa-rupee-sign"></i>@Model.ClaimsInvestigation?.PolicyDetail.ClaimType
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-money-bill-wave"></i>
                                                                </span>
                                                                Amount: <i class="fas fa-rupee-sign"></i>@Model.ClaimsInvestigation?.PolicyDetail.SumAssuredValue
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-bolt"></i>
                                                                </span>
                                                                Cause: @Model.ClaimsInvestigation?.PolicyDetail.CauseOfLoss
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-tools"></i>
                                                                </span>
                                                                Service: @Model.ClaimsInvestigation?.PolicyDetail.InvestigationServiceType.Name
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-money-check-alt"></i>
                                                                </span>
                                                                Budget center: @Model.ClaimsInvestigation?.PolicyDetail.CostCentre.Name
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-sun"></i>
                                                                </span>
                                                                Reason: @Model.ClaimsInvestigation?.PolicyDetail.CaseEnabler.Name;
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="far fa-clock"></i>
                                                                </span>
                                                                Issue Date: @Model.ClaimsInvestigation?.PolicyDetail.ContractIssueDate.ToString("dd-MMM-yyyy")
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="far fa-clock"></i>
                                                                </span>
                                                                Incidence Date: @Model.ClaimsInvestigation?.PolicyDetail.DateOfIncident.ToString("dd-MMM-yyyy")
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-5 text-center">
                                                        
                                                        <p class="text-muted text-sm">
                                                            @if (Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage is not null)
                                                            {
                                                                <img id="documentImage" class="img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage))" data-toggle="tooltip" title="@Model?.ClaimsInvestigation?.PolicyDetail.ContractNumber Document">
                                                            }
                                                            else
                                                            {
                                                                <img id="documentImage" alt="user-avatar"
                                                                     class="img-fluid form-Image" src=@Applicationsettings.NO_POLICY_IMAGE data-toggle="tooltip" title="No Document">
                                                            }
                                                        </p>
                                                        <p class="text-muted text-sm">
                                                            @if (Model.ClaimsInvestigation.ClaimNotes.Count > 0)
                                                            {
                                                                <img id="notesDetail" class="img-fluid form-Image" src="@Applicationsettings.POLICY_BLANK_IMAGE" data-toggle="tooltip" title="Display notes">
                                                            }
                                                            else
                                                            {
                                                                <img id="notesDetail-disabled" class="img-fluid form-Image" src="@Applicationsettings.NO_POLICY_IMAGE" data-toggle="tooltip" title="No notes">
                                                            }
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="text-right">
                                                    <a id="policy-comments" class="btn btn-sm bg-teal" data-toggle="tooltip" title="Add Notes">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a id="policy-detail" class="btn btn-sm btn-info" data-toggle="tooltip" title="Show  Policy Details">
                                                        <i class="far fa-file-powerpoint"></i> ...
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                        <div class="card bg-light d-flex flex-fill">
                                            <div class="card-header text-muted border-bottom-0">
                                                <i class="fa fa-user-plus"></i> Customer Details
                                                <span class="hover-text">
                                                    <i class="fas fa-info-circle"></i>
                                                    <span class="tooltip-text" id="customer-information">
                                                        <li>

                                                            <i class='fa fa-user-plus'></i> Customer details
                                                        </li>
                                                        <li>
                                                            <i class='far fa-hand-point-right'></i>
                                                            <div class="btn btn-xs bg-teal">
                                                                <i class="fas fa-comments"></i>
                                                            </div> Send SMS to Customer

                                                        </li>
                                                        <li>
                                                            <i class='far fa-hand-point-right'></i>
                                                            <div class="btn btn-xs btn-warning">
                                                                <i class="fa fa-user-plus"></i> ...
                                                            </div> Show Customer Details

                                                        </li>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="progress">
                                                <i class="far fa-bookmark bookmark-green"></i>
                                                <div class="progress-bar" role="progressbar" style="width:100%;background-color:green;">
                                                    <i class="fa fa-user-plus"></i>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <h2 class="lead"><b>@Model.ClaimsInvestigation?.CustomerDetail?.CustomerName</b></h2>
                                                        <p class="text-muted text-sm">
                                                            <b>Occupation: </b> @Model.ClaimsInvestigation?.CustomerDetail?.CustomerOccupation
                                                        </p>
                                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-user-tag"></i>
                                                                </span>
                                                                Customer Type: @Model.ClaimsInvestigation?.CustomerDetail?.CustomerType
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-rupee-sign"></i>
                                                                </span>
                                                                Income: @Model.ClaimsInvestigation?.CustomerDetail?.CustomerIncome
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-restroom"></i>
                                                                </span>
                                                                Gender: @Model.ClaimsInvestigation?.CustomerDetail?.Gender
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-graduation-cap"></i>
                                                                </span>
                                                                Education: @Model.ClaimsInvestigation?.CustomerDetail?.CustomerEducation
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-user-alt"></i>
                                                                </span>
                                                                Age: @currentAgeinYrs
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-lg fa-building"></i>
                                                                </span>
                                                                Address: @address
                                                            </li>

                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-lg fa-phone"></i>
                                                                </span>
                                                                Phone #: + @Model.ClaimsInvestigation?.CustomerDetail?.ContactNumber
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-5 text-center">
                                                        <p class="text-muted text-sm">
                                                            @if (Model?.ClaimsInvestigation?.CustomerDetail?.ProfilePicture is not null)
                                                            {
                                                                <img id="profileImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.CustomerDetail?.ProfilePicture))" data-toggle="tooltip" title="Customer Photo">
                                                            }
                                                            else
                                                            {
                                                                <img id="profileImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="No Customer Photo">
                                                            }
                                                        </p>
                                                        <p class="text-muted text-sm">
                                                            <img id="profileImageMap" class="img-fluid block-data" src="@Model?.ClaimsInvestigation?.CustomerDetail?.CustomerLocationMap" data-toggle="tooltip" title="Display Customer Address in map">
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="text-right">
                                                    <a id="customer-comments" class="btn btn-sm bg-teal" data-toggle="tooltip" title="Send SMS to Customer">
                                                        <i class="fas fa-comments"></i>
                                                    </a>

                                                    <a id="customer-detail" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Show Customer Details">
                                                        <i class="fa fa-user-plus"></i> ...
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                        <div class="card bg-light d-flex flex-fill">
                                            <div class="card-header text-muted border-bottom-0">
                                                <i class="fas fa-user-tie"></i>  Beneficiary Details
                                                <span class="hover-text">
                                                    <i class="fas fa-info-circle"></i>
                                                    <span class="tooltip-text" id="beneficiary-information">
                                                        <li>
                                                            <i class='fas fa-user-tie'></i> Beneficiary details
                                                        </li>
                                                        <li>
                                                            <i class='far fa-hand-point-right'></i>
                                                            <div class="btn btn-xs bg-teal">
                                                                <i class="fas fa-comments"></i>
                                                            </div> Send SMS to Beneficiary

                                                        </li>
                                                        <li>
                                                            <i class='far fa-hand-point-right'></i>
                                                            <div class="btn btn-xs btn-success">
                                                                <i class="fas fa-user-tie"></i> ...
                                                            </div> Show Beneficiary Details

                                                        </li>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="progress">
                                                <i class="far fa-bookmark bookmark-green"></i>
                                                <div class="progress-bar" role="progressbar" style="width:100%;background-color:green;">
                                                    <i class="fas fa-user-tie"></i>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <h2 class="lead"><b>@Model?.CaseLocation.BeneficiaryName</b></h2>
                                                        <p class="text-muted text-sm">
                                                            <b>Relation: </b> @Model.CaseLocation?.BeneficiaryRelation.Name
                                                        </p>
                                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-rupee-sign"></i>
                                                                </span>
                                                                Income: @Model.CaseLocation?.BeneficiaryIncome
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-user-alt"></i>
                                                                </span>
                                                                Age: @currentBAgeinYrs
                                                            </li>

                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-lg fa-building"></i>
                                                                </span>
                                                                Address: @baddress
                                                            </li>
                                                            <li class="small">
                                                                <span class="fa-li">
                                                                    <i class="fas fa-lg fa-phone"></i>
                                                                </span>
                                                                Phone #: + @Model.CaseLocation?.BeneficiaryContactNumber
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-5 text-center">
                                                        <p class="text-muted text-sm">
                                                            @if (Model?.CaseLocation?.ProfilePicture is not null)
                                                            {
                                                                <img id="bImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.CaseLocation?.ProfilePicture))" data-toggle="tooltip" title="Beneficiary Photo">
                                                            }
                                                            else
                                                            {
                                                                <img id="bImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="No Beneficiary Photo">
                                                            }
                                                        </p>
                                                        <p class="text-muted text-sm">
                                                            <img id="bImageMap" class="img-fluid block-data" src="@Model?.CaseLocation?.BeneficiaryLocationMap" data-toggle="tooltip" title="Display Beneficiary Address in map">
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-footer">
                                                <div class="text-right">
                                                    <a id="beneficiary-comments" class="btn btn-sm bg-teal" data-toggle="tooltip" title="Send SMS to Beneficiary">
                                                        <i class="fas fa-comments"></i>
                                                    </a>

                                                    <a id="beneficiary-detail" class="btn btn-sm btn-success" data-toggle="tooltip" title="Show Beneficiary Details">
                                                        <i class="fas fa-user-tie"></i> ...
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> <!-- class bb-blog-inner -->
                </article>

                <form id="radioButtons" method="post" asp-controller="ClaimsVendorPost" asp-action="AllocateToVendorAgent" enctype="multipart/form-data">
                    <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
                    <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
                    <input type="hidden" id="caseLocationId" value="@Model.CaseLocation?.BeneficiaryDetailId" />
                    <input type="hidden" id="beneficiaryId" value="@Model.CaseLocation?.BeneficiaryDetailId" />
                    <input type="hidden" id="claimId" value="@Model.ClaimsInvestigation?.ClaimsInvestigationId" />
                    <div class="card-body">
                        <div class="submit-progress hidden">
                            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                        </div>
                        <div class="row">
                            <div class="table-responsive mailbox-messages">
                                <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                                <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.CaseLocation.BeneficiaryDetailId" />
                                <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th data-orderable="false" >
                                                <img class="action-image" src="~/headers/arrow-down.gif" data-toggle="tooltip" title="Select Agent" />
                                            </th>

                                            <th data-orderable="false">
                                                Agent Photo
                                            </th>
                                            <th>
                                                Agent Name
                                            </th>
                                            <th data-orderable="false">
                                                Phone #
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th data-orderable="false">
                                                Address
                                            </th>
                                            <th>
                                                District
                                            </th>
                                            <th>
                                                State
                                            </th>
                                            <th>
                                                Country
                                            </th>
                                            <th>
                                                Pincode
                                            </th>
                                            <th>
                                                Case(s)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.VendorUserClaims)
                                        {
                                            <tr>
                                                <td>
                                                @{
                                                        var title = @item?.AgencyUser.FirstName + ' ' + @item.AgencyUser?.LastName;
                                                }
                                                    <input id="@item.AgencyUser.Id" name="selectedcase" class="selected-case" type="radio" value="@item.AgencyUser.Id" data-toggle="tooltip" title="Select Agent @title" />
                                                </td>
                                                <td>
                                                    @if (item?.AgencyUser.ProfilePictureUrl is not null)
                                                    {
                                                        <img id="profileImage" title="@title" class="form-Image table-profile-image" src="@item?.AgencyUser.ProfilePictureUrl" data-toggle="tooltip" />
                                                    }
                                                    else
                                                    {
                                                        <img id="profileImage" title="..." class="form-Image  table-profile-image" src="@Applicationsettings.NO_USER" data-toggle="tooltip" />
                                                    }
                                                </td>
                                                <td>
                                                    @item.AgencyUser.FirstName @item.AgencyUser.LastName
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AgencyUser.PhoneNumber)
                                                </td>
                                                <td>
                                                    <a href="#">  @Html.DisplayFor(modelItem => item.AgencyUser.Email)</a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AgencyUser.Addressline)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AgencyUser.District.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AgencyUser.State.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AgencyUser.Country.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AgencyUser.PinCode.Code)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CurrentCaseCount)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <a id="back" asp-controller="SuperVisor" asp-action="Allocate" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>


                                <button disabled="disabled" id="allocate-case" type="submit" class="btn btn-danger">
                                    <span class="badge badge-danger"> <i class="fas fa-external-link-alt"></i> </span> Allocate <sub>agent</sub>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            }
        </div>
    </div>
