@model ClaimTransactionModel

@{
    ViewData["Title"] = "Details";
    
}
<section class="content">
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-newspaper"></i> Details
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-file-powerpoint'></i> Policy details.
                        </li>
                        <li>
                            <i class='fa fa-user-plus'></i> Customer details.
                        </li>
                        <li> <i class='fas fa-user-tie'></i> Beneficiary details </li>
                        <li>
                            <i class='far fa-thumbs-up'></i> <b>
                                <button class='btn btn-danger btn-xs'>
                                    <span class='badge badge-danger btn-xs'>
                                        <i class='fas fa-undo'></i>
                                    </span> <b>DECLINE</b>
                                </button>
                            </b>
                        </li>
                    </span>
                </span>
            </h3>
        </div>
        @{
            var data = new ClaimsInvestigationVendorsModel
            {
                Location = Model.Location,
                ClaimsInvestigation = Model.ClaimsInvestigation,
            };
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <partial name="_PolicyDetailsWithdraw" model="@data" />

            <div class="card-footer">

                <form id="create-form" method="post" asp-action="WithdrawCase" asp-controller="ClaimsVendorPost">
                    <div class="row">
                        <input type="hidden" name="claimId" asp-for="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                        <input type="hidden" name="policyNumber" asp-for="@Model.ClaimsInvestigation.PolicyDetail.ContractNumber" />
                        <div class="col-md-12">
                            <div class="form-group">
                                Decline Remarks
                                <input id="remarks" asp-for="@Model.ClaimsInvestigation.AgencyDeclineComment" class="form-control remarks" required />
                                <span asp-validation-for="@Model.ClaimsInvestigation.AgencyDeclineComment" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a id="back" asp-action="Allocate" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
                            <button id="submit-case" disabled type="submit" class="btn btn-danger"><i class="fas fa-undo"></i> DECLINE</button>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/claim-details.js">

    </script>
    <script src="~/js/supervisor/claims-details.js">
 
    </script>
}
