@model risk.control.system.Models.Vendor

@{
    ViewData["Title"] = @Applicationsettings.DELETE;

}
<section class="content">
    <form id="create-form" asp-action="Delete" method="post">
        <input type="hidden" asp-for="VendorId" name="VendorId" id="@Model.VendorId" />
        <input type="hidden" id="Latitude" asp-for="@Model.PinCode.Latitude" />
    <input type="hidden" id="Longitude" asp-for="@Model.PinCode.Longitude" />
        <div class="card shadow-lg border-0 rounded-lg">
            <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title"><i class="fas fa-building"></i> @Applicationsettings.MANAGE_VENDOR</h3>
        </div>
        <div class="card-body pb-0">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <div class="row">
                <div class="col-12 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-footer">
                            <i class="fas fa-building"></i> Details View
                        </div>
                        <div class="progress">
                            <i class="far fa-bookmark bookmark-green"></i>
                                <div class="progress-bar progress-bar-red" role="progressbar">
                                <i class="fas fa-building"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <p class="text-muted text-sm">
                                        <b>Agency Domain: </b>  <i class="fa fa-globe"></i>  <a href="#">@Model.Email</a>
                                    </p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-building"></i>
                                            </span>
                                            Agency Name: <i class="fas fa-building"></i> @Model.Name
                                        </li>
                                        
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                            Phone #: <i class="fas fa-phone"></i> @Model.PhoneNumber
                                        </li>
                                        
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-landmark"></i>
                                            </span>
                                            Bank Name: <i class="fas fa-landmark"></i> @Model.BankName
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fab fa-btc"></i>
                                            </span>
                                            Bank Account #: <i class="fab fa-btc"></i> @Model.BankAccountNumber
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-code"></i>
                                            </span>
                                            IFSC Code: <i class="fas fa-code"></i> @Model.IFSCCode
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-calendar-check"></i>
                                            </span>
                                            Active Date:  <i class="fas fa-calendar-check"></i>  @Model.ActivatedDate?.ToString("dd-MMM-yyyy")
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-calendar-check"></i>
                                            </span>
                                            Agreement Date:  <i class="fas fa-calendar-check"></i>  @Model.AgreementDate?.ToString("dd-MMM-yyyy")
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-home"></i>
                                            </span>
                                            Address:  @Model.Addressline @Model.District.Name @Model.State.Name @Model.PinCode.Code
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-code"></i>
                                            </span>
                                            Mobile App Url : <i class="fas fa-code"></i> <a href="#">  @Model.MobileAppUrl</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-5 text-center">
                                    <p class="text-muted text-sm">
                                        <i class="fa fa-star"></i> <b>Agency Rating: </b>

                                    </p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">

                                        <li class="small">
                                            <div class="col-md-12" id="agency-rating">
                                                <img src="~/images/StarFade.gif" alt="Star Rating" align="middle" id="1" class="main-rating" vendorId="@Model.VendorId" />
                                                <img src="~/images/StarFade.gif" alt="Star Rating" align="middle" id="2" class="main-rating" vendorId="@Model.VendorId" />
                                                <img src="~/images/StarFade.gif" alt="Star Rating" align="middle" id="3" class="main-rating" vendorId="@Model.VendorId" />
                                                <img src="~/images/StarFade.gif" alt="Star Rating" align="middle" id="4" class="main-rating" vendorId="@Model.VendorId" />
                                                <img src="~/images/StarFade.gif" alt="Star Rating" align="middle" id="5" class="main-rating" vendorId="@Model.VendorId" />

                                                <span id="rating-result">
                                                    <span class="badge badge-light">
                                                        (@Model.RateCount)
                                                    </span>
                                                    @if (Model.RateCount != null && Model.RateCount > 0)
                                                    {
                                                        decimal a = @Model.RateTotal.Value / @Model.RateCount.Value;
                                                        <span class="avr"> @a</span>
                                                    }

                                                </span>

                                            </div>
                                        </li>

                                        <li class="small">
                                            @if (Model?.DocumentUrl is not null)
                                            {
                                                <img id="documentImage" class="img-fluid" src="@Model?.DocumentUrl">
                                            }
                                            else
                                            {
                                                <img id="documentImage" alt="user-avatar"
                                                     class="img-fluid form-Image" src="@Applicationsettings.NO_IMAGE">
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                        <div class="form-group text-right">
                            @if (Model.SelectedByCompany)
                            {
                                <a id="back" asp-controller="Vendors" asp-action="Agencies" class="btn btn-secondary"><i class="fa fa-window-close"></i>  @Applicationsettings.CANCEL </a>
                            }
                            else
                            {
                                <a id="back" asp-controller="Company" asp-action="AvailableVendors" class="btn btn-secondary"><i class="fa fa-window-close"></i>  @Applicationsettings.CANCEL </a>
                            }
                            &nbsp;
                        @if(Model.HasClaims)
                        {
                                <span id="withdraw-information-popup" class="badge badge-light">
                                    <div class="btn btn-outline-danger">
                                        <i class="fa fa-trash"></i>  @Applicationsettings.DELETE <span class="badge badge-danger">
                                            <i class="fas fa-info"></i>
                                        </span>
                                    </div>
                                </span>
                        }
                        else
                        {
                                <input type="submit" value="Delete" class="btn btn-danger" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

        <script src="~/js/common/delete-user.js">
    </script>
}