@model risk.control.system.Models.Vendor

@{
    ViewData["Title"] = "Details";
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-success">
                    <div class="card-header">
                         <h3 class="card-title">@Model.Name services</h3>
                    </div>
                    <form asp-action="index">
                        <div class="card-body dataTable-search-form">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <a asp-controller="VendorService" asp-action="Create" asp-route-id="@Model.VendorId" class="btn btn-success"><i class="fas fa-plus"></i> Add Service</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-body contained-width">
                        <table class="table  table-striped fixed-with-height">
                            <thead>
                                <tr>
                                    <th>
                                        Line of Business
                                    </th>
                                    <th>
                                        Type of Investigation Service
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.State)
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    
                                    <th>
                                        Pincode Services
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdatedBy)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.VendorInvestigationServiceTypes)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LineOfBusiness.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvestigationServiceType.Name)
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @foreach (var svc in item?.PincodeServices)
                                            {
                                                var pinCodeDetail = svc.Pincode + "- " + svc.Name;
                                                @Html.DisplayFor(modelItem => pinCodeDetail)
                                                ;
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                                        </td>
                                        <td>
                                            <a class="btn btn-xs btn-info" asp-controller="VendorService" asp-action="Details" asp-route-id="@item.VendorInvestigationServiceTypeId"> <i class="fa fa-search"></i>  Details</a>&nbsp;
                                            <a class="btn btn-xs btn-warning" asp-controller="VendorService" asp-action="Edit" asp-route-id="@item.VendorInvestigationServiceTypeId"><i class="fas fa-pen"></i>  Edit</a> &nbsp;
                                            <a class="btn btn-xs btn-danger" asp-controller="VendorService" asp-action="Delete" asp-route-id="@item.VendorInvestigationServiceTypeId"> <i class="fas fa-trash"></i>  Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>