@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model ClientCompany
@if (SignInManager.IsSignedIn(User))
{
    var roleCode = string.Empty;

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">

        <div class="image">
            @if (UserManager.GetUserAsync(User).Result?.ProfilePictureUrl != null)

            {
                <img class="elevation-2 sidebar-profile img-circle" src="@UserManager.GetUserAsync(User).Result.ProfilePictureUrl" alt="user image">
            }
            else
            {
                <img class="elevation-0 sidebar-profile img-circle" src="@Applicationsettings.NO_USER" alt="user image">

            }
        </div>
        <a href="/companyuserprofile" class="d-block">
            @UserManager.GetUserAsync(User).Result?.FirstName
            @if (User.IsInRole(AppRoles.COMPANY_ADMIN.ToString()))
            {
                roleCode = @Applicationsettings.COMPANY_ADMIN.CODE;
                <span class="badge badge-warning">@roleCode</span>
            }
            else if (User.IsInRole(AppRoles.CREATOR.ToString()))
            {
                roleCode = @Applicationsettings.CREATOR.CODE;
                <span class="badge badge-primary">@roleCode</span>
            }
           
            else if (User.IsInRole(AppRoles.ASSESSOR.ToString()))
            {
                roleCode = @Applicationsettings.ASSESSOR.CODE;
                <span class="badge badge-secondary">@roleCode</span>
            }
            else if (User.IsInRole(AppRoles.MANAGER.ToString()))
            {
                roleCode = @Applicationsettings.MANAGER.CODE;
                <span class="badge badge-secondary">@roleCode</span>
            }
        </a>
    </div>
}