@using risk.control.system.Helpers;
@model ClientCompany

@{
    <li class="nav-item">
        <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("ClaimsActive","")
                                                            @Url.MakeActiveClass("CreatorAuto","")
                                                            @Url.MakeActiveClass("CreatorManual","")
                                                    @Url.MakeActiveClass("ClaimsLog","") ">
            <i class="nav-icon far fa-money-bill-alt"></i>
            <p class="sidebar-menu-header-label">
                @Applicationsettings.INVESTIGATION_CLAIM
            </p>
        </a>
    </li>

    // <li class="nav-item">
    //     <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Incomplete" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Incomplete")
    //     @Url.MakeActiveClass("InsurancePolicy","CreatePolicy") @Url.MakeActiveClass("ClaimsInvestigation","Details")
    //         @Url.MakeActiveClass("InsurancePolicy","Delete") @Url.MakeActiveClass("Beneficiary","Details")
    //     @Url.MakeActiveClass("InsurancePolicy","EditPolicy") @Url.MakeActiveClass("InsuranceClaims","Index")
    //     @Url.MakeActiveClass("CustomerInsurancePolicy","CreateCustomer") @Url.MakeActiveClass("CustomerInsurancePolicy","EditCustomer")
    //             @Url.MakeActiveClass("Beneficiary","Create") @Url.MakeActiveClass("Beneficiary","Edit")
    //     ">
    //         <i class="far fa-edit nav-icon"></i>
    //         <p>
    //             <span class="badge badge-success">NEW & DRAFT </span>
    //         </p>

    //     </a>
    // </li>
    if (Model.AutoAllocation)
    {
        <li class="nav-item">
            <a is-active-page asp-controller="CreatorAuto" asp-action="New" class="actual-link nav-link
                        @Url.MakeActiveClass("CreatorAuto","New")
                        @Url.MakeActiveClass("CreatorManual","New")
                        @Url.MakeActiveClass("CreatorAuto","Details")
                            @Url.MakeActiveClass("CreatorAuto","Create")
                            @Url.MakeActiveClass("CreatorAuto","CreatePolicy")
                        @Url.MakeActiveClass("CreatorAuto","EditPolicy")
                                @Url.MakeActiveClass("CreatorAuto","CreateCustomer")
                            @Url.MakeActiveClass("CreatorAuto","EditCustomer")
                                @Url.MakeActiveClass("CreatorAuto","CreateBeneficiary")
                                @Url.MakeActiveClass("CreatorAuto","EditBeneficiary")
                            @Url.MakeActiveClass("CreatorAuto","Delete") 
                            @Url.MakeActiveClass("CreatorManual","Details")
                                            @Url.MakeActiveClass("CreatorManual","Create")
                                        @Url.MakeActiveClass("CreatorManual","CreatePolicy")
                                    @Url.MakeActiveClass("CreatorManual","EditPolicy")
                                            @Url.MakeActiveClass("CreatorManual","CreateCustomer")
                                                    @Url.MakeActiveClass("CreatorManual","EditCustomer")
                                                            @Url.MakeActiveClass("CreatorManual","CreateBeneficiary")
                                                                    @Url.MakeActiveClass("CreatorManual","EditBeneficiary")
                                                                        @Url.MakeActiveClass("CreatorManual","Delete")
                                                             @Url.MakeActiveClass("CreatorManual", "VendorDetail")
                                    @Url.MakeActiveClass("CreatorManual","EmpanelledVendors")">
                <i class="fas fa-random nav-icon"></i>
                <p>
                    <span class="badge badge-warning">ASSIGN
                </p>
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a is-active-page asp-controller="CreatorManual" asp-action="New" class="actual-link nav-link
                                    @Url.MakeActiveClass("CreatorManual","New")
                                            @Url.MakeActiveClass("CreatorManual","Details")
                                            @Url.MakeActiveClass("CreatorManual","Create")
                                        @Url.MakeActiveClass("CreatorManual","CreatePolicy")
                                    @Url.MakeActiveClass("CreatorManual","EditPolicy")
                                            @Url.MakeActiveClass("CreatorManual","CreateCustomer")
                                                    @Url.MakeActiveClass("CreatorManual","EditCustomer")
                                                            @Url.MakeActiveClass("CreatorManual","CreateBeneficiary")
                                                                    @Url.MakeActiveClass("CreatorManual","EditBeneficiary")
                                                                        @Url.MakeActiveClass("CreatorManual","Delete")
                                                             @Url.MakeActiveClass("CreatorManual", "VendorDetail")
                                    @Url.MakeActiveClass("CreatorManual","EmpanelledVendors")">
                <i class="fas fa-external-link-alt nav-icon"></i>
                <p>
                    <span class="badge badge-danger">ASSIGN </span><sub>manual</sub>
                </p>
            </a>
        </li>
    }
    
    // else
    // {
    //     <li class="nav-item">
    //         <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Assigner" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Assigner")
    //              @Url.MakeActiveClass("CustomerInsurancePolicy","EditCustomerManual") @Url.MakeActiveClass("ClaimsInvestigation","AllocateToVendor") @Url.MakeActiveClass("InsurancePolicy","EditPolicyManual")
    //              @Url.MakeActiveClass("ClaimsInvestigation","DetailsManual") @Url.MakeActiveClass("InsurancePolicy","DeleteManual")
    //              @Url.MakeActiveClass("ClaimsInvestigation", "VendorDetail")
    //                     @Url.MakeActiveClass("InsuranceClaims","IndexManual")
    //                             @Url.MakeActiveClass("CustomerInsurancePolicy","CreateCustomerManual")
    //                         @Url.MakeActiveClass("InsurancePolicy","CreatePolicyManual")
    //                                 @Url.MakeActiveClass("Beneficiary","CreateManual")
    //                                 @Url.MakeActiveClass("Beneficiary","EditManual")">
    //             <i class="fas fa-external-link-alt nav-icon"></i>
    //             <p>
    //                 <span class="badge badge-warning">ASSIGN</span>
    //             </p>
    //         </a>
    //     </li>
    //     <li class="nav-item">
    //         <a is-active-page asp-controller="ClaimsInvestigation" asp-action="ReAssigner" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","ReAssigner")
    //                 @Url.MakeActiveClass("InsurancePolicy","CreatePolicy") @Url.MakeActiveClass("ClaimsInvestigation","Details")
    //             @Url.MakeActiveClass("InsurancePolicy","DeleteReAssigner") @Url.MakeActiveClass("Beneficiary","Details")
    //         @Url.MakeActiveClass("InsurancePolicy","EditPolicy")
    //         @Url.MakeActiveClass("InsuranceClaims","Index")
    //         @Url.MakeActiveClass("CustomerInsurancePolicy","CreateCustomer") @Url.MakeActiveClass("CustomerInsurancePolicy","EditCustomer")
    //                     @Url.MakeActiveClass("Beneficiary","Create") @Url.MakeActiveClass("Beneficiary","Edit")
    //                      @Url.MakeActiveClass("ClaimsInvestigation","EmpanelledVendors")
    //             @Url.MakeActiveClass("ClaimsInvestigation","ReAssign2EmpanelledVendors")">
    //             <i class="fas fa-external-link-alt nav-icon"></i>
    //             <p>
    //                 <span class="badge badge-danger">REASSIGN</span>
    //             </p>
    //         </a>
    //     </li>
    // }

    <li class="nav-item">
        <a is-active-page asp-controller="ClaimsActive" asp-action="Active" class="actual-link nav-link @Url.MakeActiveClass("ClaimsActive","Active")
                                            @Url.MakeActiveClass("ClaimsActive","ActiveDetail") ">
            <i class="fa fa-toggle-on nav-icon"></i>
            <p>
                <span class="badge badge-primary">ACTIVE</span>
            </p>
        </a>
    </li>

    // <li class="nav-item">
    //     <a is-active-page asp-controller="Report" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Report","Index")
    //                                                 @Url.MakeActiveClass("Report","Detail") @Url.MakeActiveClass("Report","ShowInvoice")
    //                                                                         @Url.MakeActiveClass("Report","PrintInvoice")">
    //         <i class="fas fa-print nav-icon"></i>
    //         <p>
    //             <span class="badge badge-info"> COMPLETED </span>
    //         </p>
    //     </a>
    // </li>
    <li class="nav-item">
        <a is-active-page asp-controller="ClaimsLog" asp-action="Uploads" class="actual-link nav-link @Url.MakeActiveClass("ClaimsLog","Uploads")">
            <i class="nav-icon fa fa-upload"></i>
            <p>
                <span class="badge badge-secondary"> UPLOAD Log</span>
            </p>
        </a>
    </li>
}