@using risk.control.system.Helpers;
@{
    if (User.IsInRole(COMPANY_ADMIN.DISPLAY_NAME))
    {
        <li class="nav-item">
            <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("Audit", "")
                       @Url.MakeActiveClass("ReportTemplate", "") @Url.MakeActiveClass("CaseEnabler", "") @Url.MakeActiveClass("Costcentre", "")
                                            @Url.MakeActiveClass("OccupationType","")
                                            @Url.MakeActiveClass("EducationType","")
                                            @Url.MakeActiveClass("AnnualIncome","")
                                        @Url.MakeActiveClass("BeneficiaryRelation","")">
                <i class="nav-icon fas fa-cog"></i>
                <p class="sidebar-menu-header-label">
                    @Applicationsettings.COMPANY_SETTINGS
                    <i class="right fas fa-angle-down"></i>
                </p>
            </a>
        </li>
        // <li class="nav-item">
        //     <a is-active-page asp-controller="LineOfBusiness" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("LineOfBusiness","")">
        //         <i class="fas fa-business-time nav-icon"></i>
        //         <p>
        //             @Applicationsettings.LINE_OF_BUSINESS
        //         </p>
        //     </a>
        // </li>
        // <li class="nav-item">
        //     <a is-active-page asp-controller="InvestigationServiceTypes" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InvestigationServiceTypes","")">
        //         <i class="fas fa-tools nav-icon"></i>
        //         <p>
        //             @Applicationsettings.INVESTIGATION_SERVICE
        //         </p>
        //     </a>
        // </li>
        // @if (System.Diagnostics.Debugger.IsAttached)
        // {
        // <li class="nav-item">
        //     <a is-active-page asp-controller="AnnualIncome" asp-action="Profile" class="actual-link nav-link @Url.MakeActiveClass("AnnualIncome", "")">
        //         <i class="fas fa-money nav-icon"></i>
        //         <p>
        //             Income Type
        //         </p>
        //     </a>
        // </li>
        // <li class="nav-item">
        //     <a is-active-page asp-controller="OccupationType" asp-action="Profile" class="actual-link nav-link @Url.MakeActiveClass("OccupationType", "")">
        //         <i class="fas fa-business-time nav-icon"></i>
        //         <p>
        //             Occupation Type
        //         </p>
        //     </a>
        // </li>
        // <li class="nav-item">
        //     <a is-active-page asp-controller="EducationType" asp-action="Profile" class="actual-link nav-link @Url.MakeActiveClass("EducationType", "")">
        //         <i class="fas fa-graduation-cap nav-icon"></i>
        //         <p>
        //             Education Type
        //         </p>
        //     </a>
        // </li>
        // }
        
        <li class="nav-item">
            <a is-active-page asp-controller="CaseEnabler" asp-action="Profile" class="actual-link nav-link @Url.MakeActiveClass("CaseEnabler","")">
                <i class="fas fa-puzzle-piece nav-icon"></i>
                <p>
                    @Applicationsettings.CASE_ENABLER
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="Costcentre" asp-action="Profile" class="actual-link nav-link @Url.MakeActiveClass("Costcentre", "")">
                <i class="fas fa-building nav-icon"></i>
                <p>
                    Budget Centre
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="BeneficiaryRelation" asp-action="Profile" class="actual-link nav-link @Url.MakeActiveClass("BeneficiaryRelation","")">
                <i class="fas fa-user-tie nav-icon"></i>
                <p>
                    @Applicationsettings.BENEFICIARY
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="ReportTemplate" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("ReportTemplate", "")">
                <i class="nav-icon far fa-file-powerpoint"></i>
                <p>
                    Report <sub class="i-green">template</sub>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="Audit" asp-action="Profile" class="actual-link nav-link @Url.MakeActiveClass("Audit", "")">
                <i class="nav-icon fa fa-align-center"></i>
                <p>
                    Audit <sub class="i-grey">log</sub>
                </p>
            </a>
        </li>
        //<li class="nav-item">
        //    <a is-active-page asp-controller="InvestigationCaseOutcome" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InvestigationCaseOutcome","")">
        //        <i class="fas fa-clipboard-check nav-icon"></i>
        //        <p>
        //            @Applicationsettings.CASE_OUTCOME
        //        </p>
        //    </a>
        //</li>

        //<li class="nav-item">
        //    <a is-active-page asp-controller="InvestigationCaseStatus" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InvestigationCaseStatus","")">
        //        <i class="fas fa-battery-full nav-icon"></i>
        //        <p>
        //            @Applicationsettings.INVESTIGATION_CASE_STATUS
        //        </p>
        //    </a>
        //</li>
        //<li class="nav-item">
        //    <a is-active-page asp-controller="InvestigationCaseSubStatus" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InvestigationCaseSubStatus","")">
        //        <i class="fas fa-battery-half nav-icon"></i>
        //        <p>
        //            @Applicationsettings.CASE_SUBSTATUS
        //        </p>
        //    </a>
        //</li>
        // <li class="nav-item">
        //     <a is-active-page asp-controller="Audit" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Audit","")">
        //         <i class="nav-icon fa fa-align-center"></i>
        //         <p>
        //             @Applicationsettings.AUDIT_LOG
        //         </p>
        //     </a>
        // </li>
    }
}