@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> userManager
@model ClientCompany

@if (SignInManager.IsSignedIn(User))
{
    var user = await userManager.GetUserAsync(User);
    var firstName = user?.FirstName ?? "User";

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img class="elevation-2 sidebar-profile img-circle" src="/Document/GetUserProfileImage/@user.Id" alt="profile">
        </div>
        <a class="d-block">
            <div data-bs-toggle="tooltip" title="User Firstname" id="user-firstname">@firstName</div>
            <div id="user-role">
                @if (User.IsInRole(COMPANY_ADMIN.DISPLAY_NAME))
                {
                    <span data-bs-toggle="tooltip" title="Role" class="badge badge-warning">@COMPANY_ADMIN.CODE</span>
                }
                else if (User.IsInRole(CREATOR.DISPLAY_NAME))
                {
                    <span data-bs-toggle="tooltip" title="Role" class="badge badge-primary">@CREATOR.CODE</span>
                }
                else if (User.IsInRole(ASSESSOR.DISPLAY_NAME))
                {
                    <span data-bs-toggle ="tooltip" title="Role" class="badge badge-secondary">@ASSESSOR.CODE</span>
                }
                else if (User.IsInRole(MANAGER.DISPLAY_NAME))
                {
                    <span data-bs-toggle="tooltip" title="Role" class="badge badge-secondary">@MANAGER.CODE</span>
                }
            </div>
        </a>
    </div>
}