@using Microsoft.EntityFrameworkCore;
@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> UserManager
@model ClientCompany

<li class="nav-item">
    <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("ClaimsInvestigation","") @Url.MakeActiveClass("InsuranceClaims","") @Url.MakeActiveClass("InsurancePolicy","")
                    @Url.MakeActiveClass("CaseLocations","") @Url.MakeActiveClass("CustomerInsurancePolicy","") @Url.MakeActiveClass("Report","")">
        <i class="nav-icon fa fa-user-secret"></i>
        <p class="sidebar-menu-header-label">
            @Applicationsettings.INVESTIGATION_CLAIM
            <i class="right fas fa-angle-right"></i>
        </p>
    </a>
</li>
<partial name="AdminLTE/_CompanySidebarClaimsCreator" />
<partial name="AdminLTE/_CompanySidebarClaimsAssigner" />
<partial name="AdminLTE/_CompanySidebarClaimsAssessor" />