@using Microsoft.EntityFrameworkCore;
@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> UserManager
@model ClientCompany
@{
    var userEmail = User?.Identity?.Name;
    var applicationUser = context.ClientCompanyApplicationUser.Where(u => u.Email == userEmail).FirstOrDefault();
    var userMailbox = context.Mailbox
    .Include(m => m.Inbox)
    .Include(m => m.Outbox)
    .Include(m => m.Sent)
    .FirstOrDefault(c => c.Name == applicationUser.Email);

}
<aside class="main-sidebar elevation-2 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <div>
            @if (Model?.DocumentUrl is not null)
            {
                <img src="@Model.DocumentUrl" alt="logo" class="brand-image elevation-2">
            }
            else
            {
                <img src="@Applicationsettings.NO_IMAGE" alt="logo" class="brand-image elevation-2">
            }
        </div>
        <div>
            @if (Model?.Name is not null)
            {
                <span class="brand-text font-weight-bold">@Model.Name </span>
            }
            else
            {
                <span class="brand-text font-weight-bold">add name.. </span>
            }
        </div>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <partial name="AdminLTE/_CompanySidebarTopLogo" />
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <partial name="AdminLTE/_CompanySidebarMailbox" />
                <partial name="AdminLTE/_CompanySidebarClaims" />
                <li class="nav-item">
                    <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Active" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Active")
                    @Url.MakeActiveClass("ClaimsInvestigation","Detail") ">
                        <i class="fa fa-toggle-on nav-icon"></i>
                        <p>
                             <span class="badge badge-primary">ACTIVE</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="Report" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Report","Index")
                                    @Url.MakeActiveClass("Report","Detail") @Url.MakeActiveClass("Report","ShowInvoice")
                                                            @Url.MakeActiveClass("Report","PrintInvoice")">
                        <i class="fas fa-print nav-icon"></i>
                        <p>
                            <span class="badge badge-info"> COMPLETED </span>
                        </p>
                    </a>
                </li>
                @{
                    if (User.IsInRole(AppRoles.CompanyAdmin.ToString()) || User.IsInRole(AppRoles.Creator.ToString()))
                    {
                        <li class="nav-item">
                            <a is-active-page asp-controller="Uploads" asp-action="Uploads" class="actual-link nav-link @Url.MakeActiveClass("Uploads","Uploads")">
                                <i class="nav-icon fas fa-archive"></i>
                                <p>
                                    <span class="badge badge-secondary"> UPLOADS</span>
                                </p>
                            </a>
                        </li>
                    }

                    //<li class="nav-item">
                    //    <a is-active-page asp-controller="Claim" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Claim","")">
                    //        <i class="fas fa-rupee-sign nav-icon"></i>
                    //        <p>
                    //            @Applicationsettings.INVESTIGATION_CLAIM ^
                    //        </p>
                    //    </a>
                    //</li>
                    //<li class="nav-item">
                    //    <a is-active-page asp-controller="Underwriting" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Underwriting","")">
                    //        <i class="fas fa-handshake nav-icon"></i>
                    //        <p>
                    //            @Applicationsettings.INVESTIGATION_UNDERWRITINGS ^
                    //        </p>
                    //    </a>
                    //</li>
                    
                }
                <partial name="AdminLTE/_CompanySidebarAdmin" />
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>