@using Microsoft.EntityFrameworkCore;
@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> UserManager
@model ClientCompany

@{
    var userEmail = User?.Identity?.Name;
    var applicationUser = context.ClientCompanyApplicationUser.Where(u => u.Email == userEmail).FirstOrDefault();
    var userMailbox = context.Mailbox
    .Include(m => m.Inbox)
    .Include(m => m.Outbox)
    .Include(m => m.Sent)
    .FirstOrDefault(c => c.Name == applicationUser.Email);

    var roleCode = string.Empty;
    var newInboxMessgeDisplay = string.Empty;
    var newOutboxMessgeDisplay = string.Empty;
    var newSentMessgeDisplay = string.Empty;
    var newTrashMessgeDisplay = string.Empty;


    var newInboxMessages = userMailbox?.Inbox.Where(i => i.Read == false);
    if (newInboxMessages is not null && newInboxMessages.Count() > 0)
    {
        newInboxMessgeDisplay = "(" + newInboxMessages.Count().ToString() + ")";
    }

    var newOutboxMessages = userMailbox?.Outbox.Where(i => i.Read == false);
    if (newOutboxMessages is not null && newOutboxMessages.Count() > 0)
    {
        newOutboxMessgeDisplay = "(" + newOutboxMessages.Count().ToString() + ")";
    }
    var newSentMessages = userMailbox?.Sent.Where(i => i.Read == false);
    if (newSentMessages is not null && newSentMessages.Count() > 0)
    {
        newSentMessgeDisplay = "(" + newSentMessages.Count().ToString() + ")";
    }
}
<aside class="main-sidebar elevation-2 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <div>
            @if (Model?.DocumentImage is not null)
            {
                <img src="data:image/*;base64,@(Convert.ToBase64String(@Model.DocumentImage))" alt="logo" class="brand-image elevation-0" style="opacity: .8">
            }
            else
            {
                <img src="@Applicationsettings.NO_IMAGE" alt="logo" class="brand-image elevation-0" style="opacity: .8">
            }
        </div>
        <div>
            @if (Model?.Name is not null)
            {
                <span class="brand-text font-weight-light">@Model.Name </span>
            }
            else
            {
                <span class="brand-text font-weight-light">add name.. </span>
            }
        </div>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                @if (UserManager.GetUserAsync(User).Result?.ProfilePictureUrl != null)
                {
                    <div class="image">
                        <img class="elevation-0 sidebar-profile" src="@UserManager.GetUserAsync(User).Result.ProfilePictureUrl">
                    </div>
                }
                else
                {
                    <div class="image">
                        <img class="elevation-0 sidebar-profile" src="@Applicationsettings.NO_IMAGE">
                    </div>
                }
                <a href="#" class="d-block">
                    @UserManager.GetUserAsync(User).Result?.FirstName @UserManager.GetUserAsync(User).Result?.LastName
                    @if (User.IsInRole(AppRoles.PortalAdmin.ToString()))
                    {
                        roleCode = @Applicationsettings.PORTAL_ADMIN.CODE;
                        <span class="badge badge-danger">@roleCode</span>
                    }
                    else if (User.IsInRole(AppRoles.ClientAdmin.ToString()))
                    {
                        roleCode = @Applicationsettings.CLIENT_ADMIN.CODE;
                        <span class="badge badge-warning">@roleCode</span>
                    }
                    else if (User.IsInRole(AppRoles.VendorAdmin.ToString()))
                    {
                        roleCode = @Applicationsettings.VENDOR_ADMIN.CODE;
                        <span class="badge badge-info">@roleCode</span>
                    }
                    else if (User.IsInRole(AppRoles.ClientCreator.ToString()))
                    {
                        roleCode = @Applicationsettings.CLIENT_CREATOR.CODE;
                        <span class="badge badge-primary">@roleCode</span>
                    }
                    else if (User.IsInRole(AppRoles.ClientAssigner.ToString()))
                    {
                        roleCode = @Applicationsettings.CLIENT_ASSIGNER.CODE;
                        <span class="badge badge-secondary">@roleCode</span>
                    }
                    else if (User.IsInRole(AppRoles.ClientAssessor.ToString()))
                    {
                        roleCode = @Applicationsettings.CLIENT_ASSESSOR.CODE;
                        <span class="badge badge-secondary">@roleCode</span>
                    }
                    else if (User.IsInRole(AppRoles.VendorSupervisor.ToString()))
                    {
                        roleCode = @Applicationsettings.VENDOR_SUPERVISOR.CODE;
                        <span class="badge badge-dark">@roleCode</span>
                    }
                    else if (User.IsInRole(AppRoles.VendorAgent.ToString()))
                    {
                        roleCode = @Applicationsettings.VENDOR_AGENT.CODE;
                        <span class="badge badge-dark">@roleCode</span>
                    }
                </a>
            </div>
        }


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item ">
                    <a asp-controller="Dashboard" asp-action="Index" class="navlink-border nav-link @Url.MakeActiveClass("Dashboard","")">
                        <i class="nav-icon fas fa-home"></i>
                        <p class="sidebar-menu-header-label">
                            @Applicationsettings.DASHBOARD
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("ContactMessage","")">
                        <i class="nav-icon fas fa-envelope"></i>
                        <p class="sidebar-menu-header-label">
                            @Applicationsettings.MAILBOX
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="ContactMessage" asp-action="Index" class="actual-link nav-link
                        @Url.MakeActiveClass("ContactMessage","Index") @Url.MakeActiveClass("ContactMessage","InboxDetails") @Url.MakeActiveClass("ContactMessage","InboxDetailsReply")">
                        <i class="fas fa-envelope-open nav-icon"></i>
                        <p>
                            @Applicationsettings.INBOX <span class="badge badge-danger">@newInboxMessgeDisplay</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="ContactMessage" asp-action="Create" class="actual-link nav-link @Url.MakeActiveClass("ContactMessage","Create")">
                        <i class="fa fa-edit nav-icon"></i>
                        <p>
                            @Applicationsettings.COMPOSE
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="ContactMessage" asp-action="Sent" class="actual-link nav-link @Url.MakeActiveClass("ContactMessage","Sent") @Url.MakeActiveClass("ContactMessage","Sentdetails") @Url.MakeActiveClass("ContactMessage","SentdetailsReply")">
                        <i class="fas fa-paper-plane nav-icon"></i>
                        <p>
                            @Applicationsettings.SENT_MAIL <span class="badge badge-light">@newSentMessgeDisplay</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="ContactMessage" asp-action="Outbox" class="actual-link nav-link @Url.MakeActiveClass("ContactMessage","Outbox") @Url.MakeActiveClass("ContactMessage","OutboxDetails")">
                        <i class="fa fa-exclamation-triangle nav-icon"></i>
                        <p>
                            @Applicationsettings.OUTBOX  <span class="badge badge-warning">@newOutboxMessgeDisplay</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="ContactMessage" asp-action="Trash" class="actual-link nav-link @Url.MakeActiveClass("ContactMessage","Trash") @Url.MakeActiveClass("ContactMessage","TrashDetails")">
                        <i class="fas fa-trash-alt nav-icon"></i>
                        <p>
                            @Applicationsettings.TRASH_MAIL
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("ClaimsInvestigation","")">
                        <i class="nav-icon fa fa-user-secret"></i>
                        <p class="sidebar-menu-header-label">
                            @Applicationsettings.INVESTIGATION_CLAIM
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                </li>
                @{
                    if (User.IsInRole(AppRoles.ClientCreator.ToString()))
                    {
                        <li class="nav-item">
                            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Create" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Create")">
                                <i class="fas fa-search-dollar nav-icon"></i>
                                <p>
                                    <span class="badge badge-success">Create </span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Incomplete" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Incomplete") ">
                                <i class="fas fa-search-dollar nav-icon"></i>
                                <p>
                                    <span class="badge badge-warning">Incomplete</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Assign" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Assign") @Url.MakeActiveClass("ClaimsInvestigation","Details")">
                                <i class="fas fa-funnel-dollar nav-icon"></i>
                                <p>
                                    <span class="badge badge-danger">Ready to assign</span>
                                </p>
                            </a>
                        </li>
                    }
                    if (User.IsInRole(AppRoles.ClientAssigner.ToString()))
                    {
                        <li class="nav-item">
                            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Assigner" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Assigner")
                                    @Url.MakeActiveClass("ClaimsInvestigation","AllocateToVendor") @Url.MakeActiveClass("ClaimsInvestigation","EmpanelledVendors")">
                                <i class="fas fa-funnel-dollar nav-icon"></i>
                                <p>
                                    <span class="badge badge-danger">Ready To Allocate</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Review" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Review")">
                                <i class="fas fa-rupee-sign nav-icon"></i>
                                <p>
                                    <span class="badge badge-warning">Review To Allocate</span>
                                </p>
                            </a>
                        </li>
                    }
                    if (User.IsInRole(AppRoles.ClientAssessor.ToString()))
                    {
                        <li class="nav-item">
                            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Assessor" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Assessor")">
                                <i class="fas fa-glasses nav-icon"></i>
                                <p>
                                    <span class="badge badge-danger">Ready To Assess</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Approved" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Approved")">
                                <i class="fas fa-glasses nav-icon"></i>
                                <p>
                                    <span class="badge badge-success">Approved</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Review" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Review")">
                                <i class="fas fa-glasses nav-icon"></i>
                                <p>
                                     <span class="badge badge-warning">Reviewed</span>
                                </p>
                            </a>
                        </li>
                    }
                }
                
                <li class="nav-item">
                    <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Active" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Active")">
                        <i class="fas fa-rupee-sign nav-icon"></i>
                        <p>
                             <span class="badge badge-light">Active</span>
                        </p>
                    </a>
                </li>
                 @{

                    if (User.IsInRole(AppRoles.ClientAdmin.ToString()))
                    {
                        <li class="nav-item">
                            <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("Company","Index") @Url.MakeActiveClass("CompanyUserRoles","") ">
                                <i class="nav-icon fas fa-shield-alt"></i>
                                <p class="sidebar-menu-header-label">
                                    MANAGE COMPANY
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Company" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Company","Index")
                                        @Url.MakeActiveClass("Company","Edit") @Url.MakeActiveClass("CompanyUserRoles","")">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    @Applicationsettings.CLIENT_COMPANIY_PROFILE
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Company" asp-action="User" class="actual-link nav-link @Url.MakeActiveClass("Company","User")">
                                <i class="fas fa-user-friends nav-icon"></i>
                                <p>
                                    @Applicationsettings.COMPANY_USERS
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Company" asp-action="CreateUser" class="actual-link nav-link @Url.MakeActiveClass("Company","CreateUser")
                                    @Url.MakeActiveClass("Company","UserEdit")">
                                <i class="fas fa-user-plus nav-icon"></i>
                                <p>
                                    Create User
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page class="navlink-border nav-link  @Url.MakeActiveClass("Vendors","") @Url.MakeActiveClass("Company","AvailableVendors") @Url.MakeActiveClass("Company","EmpanelledVendors")
                                           @Url.MakeActiveClass("Company","VendorDetail") @Url.MakeActiveClass("VendorUser","") @Url.MakeActiveClass("VendorService","") @Url.MakeActiveClass("VendorApplicationUsers","")">
                                <i class="nav-icon fas fa-shield-alt"></i>
                                <p class="sidebar-menu-header-label">
                                    MANAGE AGENCY
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a is-active-page asp-controller="Vendors" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Vendors","Index") @Url.MakeActiveClass("Vendors","Details")
                            @Url.MakeActiveClass("VendorUser","") @Url.MakeActiveClass("VendorService","") @Url.MakeActiveClass("VendorApplicationUsers","")">
                                <i class="nav-icon fa fa-binoculars"></i>
                                <p>
                                    All Agencies
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Company" asp-action="EmpanelledVendors" class="actual-link nav-link 
                                @Url.MakeActiveClass("Company","EmpanelledVendors")">
                                <i class="nav-icon fa fa-thumbs-up"></i>
                                <p>
                                    Empanelled Agencies
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Company" asp-action="AvailableVendors" class="actual-link nav-link @Url.MakeActiveClass("Company","AvailableVendors")">
                                <i class="nav-icon fa fa-thumbs-down"></i>
                                <p>
                                    Available Agencies
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Vendors" asp-action="Create" class="actual-link nav-link
                                            @Url.MakeActiveClass("Vendors","Create")">
                                <i class="nav-icon fa fa-thumbs-up"></i>
                                <p>
                                    Add Agency
                                </p>
                            </a>
                        </li>
                    }
                }
                @{
                    if (User.IsInRole(AppRoles.ClientAdmin.ToString()))
                    {
                        <li class="nav-item">
                            <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("LineOfBusiness","") @Url.MakeActiveClass("InvestigationServiceTypes","")
                        @Url.MakeActiveClass("InvestigationCaseStatus","") @Url.MakeActiveClass("CaseEnabler","") @Url.MakeActiveClass("Costcentre","") @Url.MakeActiveClass("InvestigationCaseOutcome","")
                        @Url.MakeActiveClass("BeneficiaryRelation","")">
                                <i class="nav-icon fas fa-cog"></i>
                                <p class="sidebar-menu-header-label">
                                    @Applicationsettings.COMPANY_SETTINGS
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="LineOfBusiness" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("LineOfBusiness","")">
                                <i class="fas fa-business-time nav-icon"></i>
                                <p>
                                    @Applicationsettings.LINE_OF_BUSINESS
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="InvestigationServiceTypes" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InvestigationServiceTypes","")">
                                <i class="fas fa-tools nav-icon"></i>
                                <p>
                                    @Applicationsettings.INVESTIGATION_SERVICE
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="InvestigationCaseStatus" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InvestigationCaseStatus","")">
                                <i class="fas fa-battery-full nav-icon"></i>
                                <p>
                                    @Applicationsettings.INVESTIGATION_CASE_STATUS
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="InvestigationCaseSubStatus" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InvestigationCaseSubStatus","")">
                                <i class="fas fa-battery-half nav-icon"></i>
                                <p>
                                    @Applicationsettings.CASE_SUBSTATUS
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="CaseEnabler" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("CaseEnabler","")">
                                <i class="fas fa-sun nav-icon"></i>
                                <p>
                                    @Applicationsettings.CASE_ENABLER
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Costcentre" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Costcentre","")">
                                <i class="fas fa-money-check-alt nav-icon"></i>
                                <p>
                                    @Applicationsettings.COST_CENTRE
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="InvestigationCaseOutcome" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InvestigationCaseOutcome","")">
                                <i class="fas fa-clipboard-check nav-icon"></i>
                                <p>
                                    @Applicationsettings.CASE_OUTCOME
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="BeneficiaryRelation" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("BeneficiaryRelation","")">
                                <i class="fas fa-user-tie nav-icon"></i>
                                <p>
                                    @Applicationsettings.BENEFICIARY
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Audit" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Audit","")">
                                <i class="nav-icon fa fa-align-center"></i>
                                <p>
                                    @Applicationsettings.AUDIT_LOG
                                </p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>