@using Microsoft.EntityFrameworkCore;
@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> UserManager
@model ClientCompany

@{
    if (User.IsInRole(AppRoles.Creator.ToString()))
    {
        

        <li class="nav-item">
            <a is-active-page asp-controller="InsuranceClaims" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InsuranceClaims","Index")
                                                    @Url.MakeActiveClass("InsurancePolicy","CreatePolicy") @Url.MakeActiveClass("ClaimsInvestigation","Details")
                                                            @Url.MakeActiveClass("InsurancePolicy","Delete") @Url.MakeActiveClass("InsurancePolicy","DeleteManual")
                                                    @Url.MakeActiveClass("CaseLocations","Details")@Url.MakeActiveClass("CaseLocations","Delete")
                                                            @Url.MakeActiveClass("InsurancePolicy","EditPolicy")
                                                                @Url.MakeActiveClass("CustomerInsurancePolicy","CreateCustomer") @Url.MakeActiveClass("CustomerInsurancePolicy","EditCustomer")
                                                                            @Url.MakeActiveClass("CaseLocation","Create") @Url.MakeActiveClass("CaseLocation","Edit")">
                <i class="fas fa-pen-alt nav-icon"></i>
                <p>
                    <span class="badge badge-success">ADD NEW </span>
                </p>
            </a>
        </li>
        if(Model.AutoAllocation)
        {
            <li class="nav-item">
                <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Draft" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Draft") ">
                    <i class="fas fa-external-link-alt nav-icon"></i>
                    <p>
                        <span class="badge badge-warning">ASSIGN</span><span class="badge badge-light">auto</span>
                    </p>
                </a>
            </li>
        }
        
        <li class="nav-item">
            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Assigner" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Assigner")
                                                    @Url.MakeActiveClass("ClaimsInvestigation","AllocateToVendor") 
                                @Url.MakeActiveClass("ClaimsInvestigation","Detail")
                    @Url.MakeActiveClass("ClaimsInvestigation", "VendorDetail")
                                                @Url.MakeActiveClass("ClaimsInvestigation","EmpanelledVendors")">
                <i class="fas fa-external-link-alt nav-icon"></i>
                <p>
                    <span class="badge badge-danger">ASSIGN</span><span class="badge badge-light">manual</span>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Active" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Active")
                            @Url.MakeActiveClass("ClaimsInvestigation","ActiveDetail") ">
                <i class="fa fa-toggle-on nav-icon"></i>
                <p>
                    <span class="badge badge-primary">ACTIVE</span>
                </p>
            </a>
        </li>
    }
}