@using Microsoft.EntityFrameworkCore;
@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> UserManager
@model ClientCompany
@{
    if (User.IsInRole(AppRoles.COMPANY_ADMIN.ToString()))
    {
        <li class="nav-item">

            <a is-active-page asp-action="Agencies" class="navlink-border nav-link  @Url.MakeActiveClass("Vendors","") @Url.MakeActiveClass("Company","AvailableVendors") @Url.MakeActiveClass("Company","EmpanelledVendors")
                                                       @Url.MakeActiveClass("Company","VendorDetail") @Url.MakeActiveClass("VendorUser","") @Url.MakeActiveClass("VendorService","") @Url.MakeActiveClass("VendorApplicationUsers","")">
                <i class="nav-icon fas fa-shield-alt"></i>
                <p class="sidebar-menu-header-label">
                    MANAGE AGENCY(s)
                    <i class="right fas fa-angle-right"></i>
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a is-active-page asp-controller="Vendors" asp-action="Agencies" class="actual-link nav-link @Url.MakeActiveClass("Vendors","Agencies") @Url.MakeActiveClass("Vendors","Details")
                                                    @Url.MakeActiveClass("Vendors","Edit") @Url.MakeActiveClass("Vendors","Service") 
                                                        @Url.MakeActiveClass("Vendors","Users")
                                                        @Url.MakeActiveClass("Vendors","Delete")
                                                                    @Url.MakeActiveClass("Vendors","CreateUser") @Url.MakeActiveClass("Vendors","EditUser") @Url.MakeActiveClass("Vendors","UserRoles")
                                            @Url.MakeActiveClass("VendorService","") @Url.MakeActiveClass("VendorApplicationUsers","")">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    All Agencies
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="Company" asp-action="EmpanelledVendors" class="actual-link nav-link
                                                @Url.MakeActiveClass("Company","VendorDetails") @Url.MakeActiveClass("Company","EmpanelledVendors")">
                <i class="nav-icon fas fa-handshake"></i>
                <p>
                    Empanelled Agencies
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="Company" asp-action="AvailableVendors" class="actual-link nav-link @Url.MakeActiveClass("Company","AvailableVendors")
                                            @Url.MakeActiveClass("Company","VendorDetail")">
                <i class="nav-icon fas fa-hand-pointer"></i>
                <p>
                    Available Agencies
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="Vendors" asp-action="Create" class="actual-link nav-link
                                                        @Url.MakeActiveClass("Vendors","Create")">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    Add Agency
                </p>
            </a>
        </li>
    }
}