@using risk.control.system.Helpers;
@using risk.control.system.Models;
@model ClientCompany

@{
    <li class="nav-item">
        <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("Assessor","") ">
            <i class="nav-icon fa fa-user-secret"></i>
            <p class="sidebar-menu-header-label">
                @Applicationsettings.INVESTIGATION_CLAIM
                <i class="right fas fa-angle-right"></i>
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a is-active-page asp-controller="Assessor" asp-action="Assessor" class="actual-link nav-link
                            @Url.MakeActiveClass("Assessor","Assessor")
                                @Url.MakeActiveClass("Assessor","SendEnquiry")
                            @Url.MakeActiveClass("Assessor","PreviousReports")
                    @Url.MakeActiveClass("Assessor","GetInvestigateReport")">
            <i class="fas fa-glasses nav-icon"></i>
            <p>
                <span class="badge badge-danger">ASSESS</span> <sub>report</sub>
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a is-active-page asp-controller="Assessor" asp-action="Review" class="actual-link nav-link @Url.MakeActiveClass("Assessor","Review")
                    @Url.MakeActiveClass("Assessor","ReviewDetail")">
            <i class="fas fa-random nav-icon"></i>
            <p>
                <span class="badge badge-warning">REVIEW</span>
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a is-active-page asp-controller="Assessor" asp-action="Approved" class="actual-link nav-link @Url.MakeActiveClass("Assessor","Approved")
                                                        @Url.MakeActiveClass("Assessor","ApprovedDetail") 
                                                            @Url.MakeActiveClass("Assessor","ShowInvoice")
                                                            @Url.MakeActiveClass("Assessor","PrintInvoice")">
            <i class="far fa-thumbs-up nav-icon"></i>
            <p>
                <span class="badge badge-info"> APPROVED </span>
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a is-active-page asp-controller="Assessor" asp-action="Rejected" class="actual-link nav-link @Url.MakeActiveClass("Assessor","Rejected")
                                                               @Url.MakeActiveClass("Assessor","RejectDetail") ">
           <i class="far fa-thumbs-down nav-icon"></i>
           <p>
               <span class="badge badge-secondary">REJECTED</span>
           </p>
       </a>
    </li>
}