@using Microsoft.EntityFrameworkCore;
@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> UserManager
@model ClientCompany

<li class="nav-item">
    <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("ClaimsInvestigation","") @Url.MakeActiveClass("InsuranceClaims","") @Url.MakeActiveClass("InsurancePolicy","")
                    @Url.MakeActiveClass("CaseLocations","") @Url.MakeActiveClass("CustomerInsurancePolicy","") @Url.MakeActiveClass("Report","")">
        <i class="nav-icon fa fa-user-secret"></i>
        <p class="sidebar-menu-header-label">
            @Applicationsettings.INVESTIGATION_CLAIM
            <i class="right fas fa-angle-right"></i>
        </p>
    </a>
</li>
@{
    if (User.IsInRole(AppRoles.Creator.ToString()))
    {
        <li class="nav-item">
            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Draft" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Draft") ">
                <i class="fas fa-thumbtack nav-icon"></i>
                <p>
                    <span class="badge badge-warning">ASSIGN</span>
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a is-active-page asp-controller="InsuranceClaims" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InsuranceClaims","Index")
                                                    @Url.MakeActiveClass("InsurancePolicy","CreatePolicy") @Url.MakeActiveClass("ClaimsInvestigation","Details")
                                                    @Url.MakeActiveClass("ClaimsInvestigation","Delete")
                                                    @Url.MakeActiveClass("CaseLocations","Details")@Url.MakeActiveClass("CaseLocations","Delete")
                                                            @Url.MakeActiveClass("InsurancePolicy","EditPolicy")
                                                                @Url.MakeActiveClass("CustomerInsurancePolicy","CreateCustomer") @Url.MakeActiveClass("CustomerInsurancePolicy","EditCustomer")
                                                                            @Url.MakeActiveClass("CaseLocation","Create") @Url.MakeActiveClass("CaseLocation","Edit")">
                <i class="fas fa-pen-alt nav-icon"></i>
                <p>
                    <span class="badge badge-success">ADD NEW </span>
                </p>
            </a>
        </li>

    }
    if (User.IsInRole(AppRoles.Assigner.ToString()))
    {
        <li class="nav-item">
            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Assigner" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Assigner")
                                        @Url.MakeActiveClass("ClaimsInvestigation","AllocateToVendor") @Url.MakeActiveClass("ClaimsInvestigation","EmpanelledVendors")">
                <i class="fas fa-external-link-alt nav-icon"></i>
                <p>
                    <span class="badge badge-danger">ALLOCATE</span><span class="badge badge-light">manual</span>
                </p>
            </a>
        </li>

    }
    if (User.IsInRole(AppRoles.Assessor.ToString()))
    {
        <li class="nav-item">
            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Assessor" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Assessor") @Url.MakeActiveClass("ClaimsInvestigation","GetInvestigateReport")">
                <i class="fas fa-glasses nav-icon"></i>
                <p>
                    <span class="badge badge-danger">ASSESS</span>
                </p>
            </a>
        </li>
        //<li class="nav-item">
        //    <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Review" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Review")">
        //        <i class="fas fa-random nav-icon"></i>
        //        <p>
        //            <span class="badge badge-warning">RE ALLOCATE</span>
        //        </p>
        //    </a>
        //</li>
        <li class="nav-item">
            <a is-active-page asp-controller="ClaimsInvestigation" asp-action="Approved" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","Approved")
                                                    @Url.MakeActiveClass("ClaimsInvestigation","GetApprovedReport") @Url.MakeActiveClass("ClaimsInvestigation","ShowInvoice")
                                                    @Url.MakeActiveClass("ClaimsInvestigation","PrintInvoice")">
                <i class="fas fa-thumbs-up nav-icon"></i>
                <p>
                    <span class="badge badge-success">ASSESSED</span>
                </p>
            </a>
        </li>

    }
}