@using risk.control.system.Helpers;
@model ClientCompany

@{
    <li class="nav-item">
        <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("Manager","") @Url.MakeActiveClass("ClaimsLog","")">
            <i class="nav-icon far fa-money-bill-alt"></i>
            <p class="sidebar-menu-header-label">
                CASES
                <i class="right fas fa-angle-right"></i>
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a is-active-page asp-controller="Manager" asp-action="Assessor" class="actual-link nav-link
                                            @Url.MakeActiveClass("Manager","Assessor") @Url.MakeActiveClass("Manager","AssessorDetail")">
            <i class="fas fa-glasses nav-icon"></i>
            <p>
                <span class="badge badge-danger">ASSESS</span> <sub>new</sub>
            </p>
        </a>
    </li>
    // <li class="nav-item">
    //     <a is-active-page asp-controller="ClaimsInvestigation" asp-action="ManagerReview" class="actual-link nav-link @Url.MakeActiveClass("ClaimsInvestigation","ManagerReview")
    //                     @Url.MakeActiveClass("ClaimsInvestigation","ManagerReviewDetail")">
    //         <i class="fas fa-random nav-icon"></i>
    //         <p>
    //             <span class="badge badge-warning">REVIEW</span>
    //         </p>
    //     </a>
    // </li>
    <li class="nav-item">
        <a is-active-page asp-controller="Manager" asp-action="Active" class="actual-link nav-link 
                        @Url.MakeActiveClass("Manager","Active")
                        @Url.MakeActiveClass("Manager","ActiveDetail")">
            <i class="fa fa-toggle-on nav-icon"></i>
            <p>
                <span class="badge badge-primary">ACTIVE</span>
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a is-active-page asp-controller="Manager" asp-action="Approved" class="actual-link nav-link @Url.MakeActiveClass("Manager","Approved")
                                                            @Url.MakeActiveClass("Manager","ApprovedDetail") 
                                                            @Url.MakeActiveClass("Manager","ShowInvoice")
                                                                          @Url.MakeActiveClass("Manager","PrintInvoice")">
            <i class="far fa-thumbs-up nav-icon"></i>
            <p>
                <span class="badge badge-info"> APPROVED </span>
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a is-active-page asp-controller="Manager" asp-action="Rejected" class="actual-link nav-link @Url.MakeActiveClass("Manager","Rejected")
                                                                   @Url.MakeActiveClass("Manager","RejectDetail") ">
           <i class="far fa-thumbs-down nav-icon"></i>
           <p>
               <span class="badge badge-secondary">REJECTED</span>
           </p>
       </a>
    </li>
    if (Model.BulkUpload)
    {
        <li class="nav-item">
            <a is-active-page asp-controller="ClaimsLog" asp-action="Uploads" class="actual-link nav-link @Url.MakeActiveClass("ClaimsLog","Uploads")">
                <i class="nav-icon fa fa-upload"></i>
                <p>
                    <span class="badge badge-secondary"> UPLOAD <sub>file</sub></span>
                </p>
            </a>
        </li>
    }
}