@using risk.control.system.Helpers;
@using risk.control.system.Models;
@model ClientCompany
@{
    if (User.IsInRole(AppRoles.CREATOR.ToString()))
    {
        @if (System.Diagnostics.Debugger.IsAttached)
        {
            <partial name="AdminLTE/_CompanySidebarCaseCreator" model="@Model" />
        }
        else
        {
            <partial name="AdminLTE/_CompanySidebarClaimsCreator" model="@Model" />

        }
    }
    else if (User.IsInRole(AppRoles.ASSESSOR.ToString()))
    {
        <partial name="AdminLTE/_CompanySidebarClaimsAssessor" />
    }
    else if (User.IsInRole(AppRoles.MANAGER.ToString()))
    {
        <partial name="AdminLTE/_CompanySidebarClaimsManager" model="@Model" />
    }

    else if (User.IsInRole(AppRoles.PORTAL_ADMIN.ToString()))
    {
        <li class="nav-item">
            <a is-active-page asp-controller="Claim" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Claim","")">
                <i class="fa fa-money nav-icon"></i>
                <p>
                    @Applicationsettings.INVESTIGATION_CLAIM ^
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="Underwriting" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Underwriting","")">
                <i class="fas fa-handshake nav-icon"></i>
                <p>
                    @Applicationsettings.INVESTIGATION_UNDERWRITINGS ^
                </p>
            </a>
        </li>
    }

}