@using risk.control.system.Helpers;
@{
	if (User.IsInRole(COMPANY_ADMIN.DISPLAY_NAME))
	{
		<li class="nav-item">
			<a is-active-page
			   class="navlink-border nav-link @Url.MakeActiveClass("ManageCompany", "") @Url.MakeActiveClass("ManageCompanyUser", "") @Url.MakeActiveClass("CreateCompanyUser", "")">
				<i class="nav-icon fas fa-landmark"></i>
				<p class="sidebar-menu-header-label">
					MANAGE COMPANY
					<div class="right"><i class="fas fa-angle-down"></i></div>
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a is-active-page asp-controller="ManageCompany" asp-action="CompanyProfile"
			   class="actual-link nav-link @Url.MakeActiveClass("ManageCompany", "CompanyProfile") @Url.MakeActiveClass("ManageCompany", "Edit")">
				<i class="nav-icon fas fa-building"></i>
				<p>
					Company Profile
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a is-active-page asp-controller="ManageCompanyUser" asp-action="Users"
			   class="actual-link nav-link @Url.MakeActiveClass("ManageCompanyUser","Users") @Url.MakeActiveClass("ManageCompanyUser","Edit")">
				<i class="fas fa-user-friends nav-icon"></i>
				<p>
					@Applicationsettings.COMPANY_USERS
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a is-active-page asp-controller="CreateCompanyUser" asp-action="CreateUser"
			   class="actual-link nav-link @Url.MakeActiveClass("CreateCompanyUser", "Create")">
				<i class="fas fa-user-plus nav-icon"></i>
				<p>
					Add User
				</p>
			</a>
		</li>
	}
}