@using Microsoft.EntityFrameworkCore;
@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> UserManager
@model ClientCompany
@{
    if (User.IsInRole(AppRoles.COMPANY_ADMIN.ToString()))
    {
        <li class="nav-item">
            <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("Company","") @Url.MakeActiveClass("CompanyUserRoles","") ">
                <i class="nav-icon fas fa-shield-alt"></i>
                <p class="sidebar-menu-header-label">
                    MANAGE COMPANY
                    <i class="right fas fa-angle-right"></i>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="Company" asp-action="CompanyProfile" class="actual-link nav-link @Url.MakeActiveClass("Company","CompanyProfile")
                                                @Url.MakeActiveClass("Company","Edit") @Url.MakeActiveClass("CompanyUserRoles","")">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    @Applicationsettings.CLIENT_COMPANIY_PROFILE
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="Company" asp-action="User" class="actual-link nav-link @Url.MakeActiveClass("Company","User")
                                            @Url.MakeActiveClass("Company","EditUser") @Url.MakeActiveClass("Company","UserRoles")">
                <i class="fas fa-user-friends nav-icon"></i>
                <p>
                    @Applicationsettings.COMPANY_USERS
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a is-active-page asp-controller="Company" asp-action="CreateUser" class="actual-link nav-link @Url.MakeActiveClass("Company","CreateUser")
                                    ">
                <i class="fas fa-user-plus nav-icon"></i>
                <p>
                    Add User
                </p>
            </a>
        </li>
    }
}