@using risk.control.system.Helpers;
@using risk.control.system.Models;
@model ClientCompany
@{
	if (User.IsInRole(MANAGER.DISPLAY_NAME))
	{
		<li class="nav-item">

			<a is-active-page
				   class="navlink-border nav-link
				@Url.MakeActiveClass("ActiveAgency", "")
				@Url.MakeActiveClass("ActiveAgencyUser", "")
				@Url.MakeActiveClass("ActiveAgencyService", "")
				@Url.MakeActiveClass("AvailableAgency", "")
				@Url.MakeActiveClass("AvailableAgencyUser", "")
				@Url.MakeActiveClass("AvailableAgencyService", "")
				@Url.MakeActiveClass("Vendors", "")">
				<i class="nav-icon fas fa-shield-alt"></i>
				<p class="sidebar-menu-header-label">
					MANAGE AGENCY
					<div class="right"><i class="fas fa-angle-down"></i></div>
				</p>
			</a>
		</li>

		<li class="nav-item">
			<a asp-controller="ActiveAgency" asp-action="Agencies" is-active-page
				   class="actual-link nav-link
				@Url.MakeActiveClass("ActiveAgency", "Agencies")
				@Url.MakeActiveClass("ActiveAgency", "Profile")
				@Url.MakeActiveClass("ActiveAgency", "Edit")
				@Url.MakeActiveClass("ActiveAgencyService", "Service")
				@Url.MakeActiveClass("ActiveAgencyService", "Edit")
				@Url.MakeActiveClass("ActiveAgencyService", "Create")
				@Url.MakeActiveClass("ActiveAgencyService", "Delete")
				@Url.MakeActiveClass("ActiveAgencyUser", "Users")
				@Url.MakeActiveClass("ActiveAgencyUser", "Create")
				@Url.MakeActiveClass("ActiveAgencyUser", "Edit")
				@Url.MakeActiveClass("ActiveAgencyUser", "Delete")">
				<i class="nav-icon fas fa-handshake"></i>
				<p>
					Active Agencies
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a asp-controller="AvailableAgency" asp-action="Agencies" is-active-page
				   class="actual-link nav-link
				@Url.MakeActiveClass("AvailableAgency", "Agencies")
				@Url.MakeActiveClass("AvailableAgency", "Profile")
				@Url.MakeActiveClass("AvailableAgency", "Edit")
				@Url.MakeActiveClass("AvailableAgency", "Delete")
				@Url.MakeActiveClass("AvailableAgencyService", "Service")
				@Url.MakeActiveClass("AvailableAgencyService", "Create")
				@Url.MakeActiveClass("AvailableAgencyService", "Edit")
				@Url.MakeActiveClass("AvailableAgencyService", "Delete")
				@Url.MakeActiveClass("AvailableAgencyUser", "Users")
				@Url.MakeActiveClass("AvailableAgencyUser", "Create")
				@Url.MakeActiveClass("AvailableAgencyUser", "Edit")
				@Url.MakeActiveClass("AvailableAgencyUser", "Delete")">
				<i class="nav-icon fas fa-hand-pointer"></i>
				<p>
					Available Agencies
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a is-active-page asp-controller="Vendors" asp-action="Create" class="actual-link nav-link
				@Url.MakeActiveClass("Vendors", "Create")">
				<i class="nav-icon fas fa-building"></i>
				<p>
					Add Agency
				</p>
			</a>
		</li>
	}
}