@using risk.control.system.Helpers;
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context
@inject SignInManager<ApplicationUser> SignInManager
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>icheckify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <partial name="AdminLTE/_Styles" />
    <partial name="AdminLTE/_DataTableStylePartial" />
</head>

<body class="hold-transition sidebar-mini">
    @Html.AntiForgeryToken() <!-- Add this line -->
    @{
        var timeout = Context.Items["timeout"];
        var userEmail = User?.Identity?.Name;
        string CSPNonce = HttpContextAccessor.HttpContext?.Items["CSP-Nonce"]?.ToString() ?? "";
    }
    <div class="wrapper">
        <div id="main-container">
            <input type="hidden" id="timeout" name="timeout" value="@timeout" />
            @if (SignInManager.IsSignedIn(User))
            {
                var companyUser = _context.ClientCompanyApplicationUser.FirstOrDefault(c => c.Email == userEmail);
                var vendorUser = _context.VendorApplicationUser.FirstOrDefault(c => c.Email == userEmail);
                ClientCompany company = null!;
                if (companyUser is not null)
                {
                    company = _context.ClientCompany.Include(c=>c.Country).FirstOrDefault(c => c.ClientCompanyId == companyUser.ClientCompanyId);
                    
                    var navigationModel = new TopNavigation
                    {
                        UserId = companyUser.Id,
                        Email = companyUser.Email,
                        CanChangePassword = company.CanChangePassword,
                        CountryCode = company.Country.Code,
                        Country = $"{company.Country.Name} ({company.Country.Code})",
                        IsdCode = $"(+{company.Country.ISDCode})",
                        CurrencyCode = $" {company.Country.CurrencyCode} ({Extensions.GetCultureByCountry(company.Country.Code.ToUpper()).NumberFormat.CurrencySymbol})",
                        CurrencyName = $" {company.Country.CurrencyName} ({Extensions.GetCultureByCountry(company.Country.Code.ToUpper()).NumberFormat.CurrencySymbol})",
                        Language = company.Country.Language
                    };
                    <partial name="AdminLTE/_CompanyTopNavigation" model="@navigationModel" />

                    <partial name="AdminLTE/_CompanySidebar" model="@company" />
                }
                else if (vendorUser is not null)
                {
                    var vendor = _context.Vendor.Include(c => c.Country).FirstOrDefault(c => c.VendorId == vendorUser.VendorId);
                    var navigationModel = new TopNavigation
                    {
                        UserId = vendorUser.Id,
                        Email = vendorUser.Email,
                        CanChangePassword = vendor.CanChangePassword,
                        CountryCode = vendor.Country.Code,
                        Country = $"{vendor.Country.Name} ({vendor.Country.Code})",
                        IsdCode = $"(+{vendor.Country.ISDCode})",
                        CurrencyCode = $" {vendor.Country.CurrencyCode}({Extensions.GetCultureByCountry(vendor.Country.Code.ToUpper()).NumberFormat.CurrencySymbol})",
                        CurrencyName = $" {vendor.Country.CurrencyName} ({Extensions.GetCultureByCountry(vendor.Country.Code.ToUpper()).NumberFormat.CurrencySymbol})",
                        Language = vendor.Country.Language
                    };
                    <partial name="AdminLTE/_AgencyTopNavigation" model="@navigationModel" />
                    <partial name="AdminLTE/_VendorSidebar" model="@vendor" />
                }
                else
                {
                    var admin = _context.ApplicationUser.Include(c => c.Country).FirstOrDefault(c => c.Email == userEmail);
                    var navigationModel = new TopNavigation
                    {
                        UserId = admin.Id,
                        Email = admin.Email,
                        CanChangePassword = true,
                        CountryCode = admin.Country.Code,
                        Country = $"{admin.Country.Name} ({admin.Country.Code})",
                        IsdCode = $"(+{admin.Country.ISDCode})",
                        CurrencyCode = $"{admin.Country.CurrencyCode} ({Extensions.GetCultureByCountry(admin.Country.Code.ToUpper()).NumberFormat.CurrencySymbol})",
                        CurrencyName = $"{admin.Country.CurrencyName} ({Extensions.GetCultureByCountry(admin.Country.Code.ToUpper()).NumberFormat.CurrencySymbol})",
                        Language = admin.Country.Language
                    };
                    <partial name="AdminLTE/_TopNavigation" model="@navigationModel" />
                    <partial name="AdminLTE/_Sidebar" model="@admin"/>
                }
                <div class="content-wrapper content-wrapper-main">
                    <breadcrumb class="no-print"></breadcrumb>
                    <div id="main-content" class="content">
                        <main>
                            @RenderBody()
                        </main>
                    </div>
                </div>
                <partial name="AdminLTE/_Footer" />
            }
        </div>

        <!-- Logout Modal-->
        <partial name="_Logout" />
    </div>
    <partial name="AdminLTE/_Scripts" view-data="@(new ViewDataDictionary(ViewData) { { "CSPNonce", CSPNonce } })" />
    <partial name="AdminLTE/_DataTableScriptPartial" view-data="@(new ViewDataDictionary(ViewData) { { "CSPNonce", CSPNonce } })" />
    <script nonce="@CSPNonce" src="~/js/site.js"></script>
    <script nonce="@CSPNonce" src="~/js/clock.js"></script>
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("Notyf", new { nonce = CSPNonce })
</body>
</html>
