@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>icheckify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <partial name="AdminLTE/_Styles" />
    <partial name="AdminLTE/_DataTableStylePartial" />
</head>

<body class="hold-transition sidebar-mini">
    @{
        var timeout = Context.Items["timeout"];
    }
    <div class="wrapper">
        <div id="main-container">
            <input type="hidden" id="timeout" name="timeout" value="@timeout" />
            @if (SignInManager.IsSignedIn(User))
            {
                var userEmail = User?.Identity?.Name;
                var companyUser = _context.ClientCompanyApplicationUser.FirstOrDefault(c => c.Email == userEmail);
                var vendorUser = _context.VendorApplicationUser.FirstOrDefault(c => c.Email == userEmail);
                ClientCompany company = null!;
                if (companyUser is not null)
                {
                    company = _context.ClientCompany.Include(c=>c.Country).FirstOrDefault(c => c.ClientCompanyId == companyUser.ClientCompanyId);
                    var navigationModel = new TopNavigation
                    {
                        CanChangePassword = @company.CanChangePassword,
                        CountryCode = company.Country.Code,
                        Country = $"(+{company.Country.ISDCode}) {company.Country.Name} ({company.Country.Code})",
                        ProfilePicture = companyUser.ProfilePicture,
                        CurrencyCode = company.Country.CurrencyCode,
                        Language = company.Country.Language
                    };
                    <partial name="AdminLTE/_CompanyTopNavigation" model="@navigationModel" />

                    <partial name="AdminLTE/_CompanySidebar" model="@company" />
                }
                else if (vendorUser is not null)
                {
                    var vendor = _context.Vendor.Include(c => c.Country).FirstOrDefault(c => c.VendorId == vendorUser.VendorId);
                    var navigationModel = new TopNavigation
                    {
                        CanChangePassword = vendor.CanChangePassword,
                        CountryCode = vendor.Country.Code,
                        Country = $"(+{vendor.Country.ISDCode}) {vendor.Country.Name} ({vendor.Country.Code})",
                        ProfilePicture = vendorUser.ProfilePicture,
                        CurrencyCode = vendor.Country.CurrencyCode,
                        Language = vendor.Country.Language
                    };
                    <partial name="AdminLTE/_AgencyTopNavigation" model="@navigationModel" />
                    <partial name="AdminLTE/_VendorSidebar" model="@vendor" />
                }
                else
                {
                    var admin = _context.ApplicationUser.Include(c => c.Country).FirstOrDefault(c => c.Email == userEmail);
                    var navigationModel = new TopNavigation
                    {
                        CanChangePassword = true,
                        CountryCode = admin.Country.Code,
                        Country = $"(+{admin.Country.ISDCode}) {admin.Country.Name} ({admin.Country.Code})",
                        ProfilePicture = admin.ProfilePicture,
                        CurrencyCode = admin.Country.CurrencyCode,
                        Language = admin.Country.Language
                    };
                    <partial name="AdminLTE/_TopNavigation" model="@navigationModel" />
                    <partial name="AdminLTE/_Sidebar" />
                }
                <div class="content-wrapper content-wrapper-main">
                    <breadcrumb class="no-print"></breadcrumb>
                    <div id="main-content" class="content">
                        <main>
                            @RenderBody()
                        </main>
                    </div>
                </div>
                <partial name="AdminLTE/_Footer" />
            }
        </div>

        <!-- Logout Modal-->
        <partial name="_Logout" />
    </div>
    <partial name="AdminLTE/_Scripts" />
    <partial name="AdminLTE/_DataTableScriptPartial" />
    <script src="~/js/site.js"></script>
    <script src="~/js/clock.js"></script>
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    @await Component.InvokeAsync("Notyf")
</body>
</html>
