@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<aside class="main-sidebar elevation-2 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="~/img/logo.png" alt="aby Logo" class="brand-image img-circle elevation-0" style="opacity: .8">
        <div>
            <span class="brand-text font-weight-light">TALIC </span>
        </div>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        @if (SignInManager.IsSignedIn(User))
        {

            <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                @if (UserManager.GetUserAsync(User).Result?.ProfilePictureUrl != null)
                {
                    <div class="image">
                        <img class="img-circle elevation-0 sidebar-profile" src="@UserManager.GetUserAsync(User).Result.ProfilePictureUrl">
                    </div>
                }
                else
                {
                    <div class="image">
                        <img class="img-circle elevation-0 sidebar-profile" src="@Applicationsettings.NO_IMAGE">
                    </div>
                }
                <a href="#" class="d-block">
                    @UserManager.GetUserAsync(User).Result?.FirstName @UserManager.GetUserAsync(User).Result?.LastName
                    @if (User.IsInRole(AppRoles.PortalAdmin.ToString()))
                    {
                        <span class="badge badge-danger">PA</span>
                    }
                    else if (User.IsInRole(AppRoles.ClientAdmin.ToString()))
                    {
                        <span class="badge badge-warning">CA</span>
                    }
                    else if (User.IsInRole(AppRoles.VendorAdmin.ToString()))
                    {
                        <span class="badge badge-info">VA</span>
                    }
                    else if (User.IsInRole(AppRoles.ClientCreator.ToString()))
                    {
                        <span class="badge badge-primary">CC</span>
                    }
                    else if (User.IsInRole(AppRoles.ClientAssigner.ToString()))
                    {
                        <span class="badge badge-secondary">CAS</span>
                    }
                    else if (User.IsInRole(AppRoles.ClientAssessor.ToString()))
                    {
                        <span class="badge badge-secondary">CSS</span>
                    }
                    else if (User.IsInRole(AppRoles.VendorSupervisor.ToString()))
                    {
                        <span class="badge badge-dark">VS</span>
                    }
                    else if (User.IsInRole(AppRoles.VendorAgent.ToString()))
                    {
                        <span class="badge badge-dark">VAG</span>
                    }
                </a>
            </div>
        }


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->

                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="navlink-border nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p class="sidebar-menu-header-label">
                            @Applicationsettings.DASHBOARD
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("Claim","") @Url.MakeActiveClass("Underwriting","")">
                        <i class="nav-icon fas fa-search"></i>
                        <p class="sidebar-menu-header-label">
                            @Applicationsettings.INVESTIGATION_MAIN
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="Claim" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Claim","")">
                        <i class="fas fa-rupee-sign nav-icon"></i>
                        <p>
                            @Applicationsettings.INVESTIGATION_CLAIMS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="Underwriting" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Underwriting","")">
                        <i class="fas fa-handshake nav-icon"></i>
                        <p>
                            @Applicationsettings.INVESTIGATION_UNDERWRITINGS
                        </p>
                    </a>
                </li>
                @*
                <li class="nav-item">
                <a is-active-page asp-controller="InvestigationCase" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-users-cog"></i>
                <p>
                investigation cases
                </p>
                </a>
                </li>*@
                <li class="nav-item">
                    <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("LineOfBusiness","") @Url.MakeActiveClass("InvestigationServiceTypes","") @Url.MakeActiveClass("InvestigationCaseStatus","")">
                        <i class="nav-icon fas fa-cog"></i>
                        <p class="sidebar-menu-header-label">
                            @Applicationsettings.COMPANY_SETTINGS
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="LineOfBusiness" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("LineOfBusiness","")">
                        <i class="fas fa-business-time nav-icon"></i>
                        <p>
                            @Applicationsettings.LINE_OF_BUSINESS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="InvestigationServiceTypes" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InvestigationServiceTypes","")">
                        <i class="fas fa-tools nav-icon"></i>
                        <p>
                            @Applicationsettings.INVESTIGATION_SERVICE
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active-page asp-controller="InvestigationCaseStatus" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("InvestigationCaseStatus","")">
                        <i class="fas fa-clipboard-check nav-icon"></i>
                        <p>
                            @Applicationsettings.INVESTIGATION_CASE_STATUS
                        </p>
                    </a>
                </li>

                @{
                    if (User.IsInRole(AppRoles.PortalAdmin.ToString()) || User.IsInRole(AppRoles.ClientAdmin.ToString()))
                    {
                        <li class="nav-item">
                            <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("User","") @Url.MakeActiveClass("Roles","")">
                                <i class="nav-icon fas fa-user-cog"></i>
                                <p class="sidebar-menu-header-label">
                                    @Applicationsettings.USER_ROLES
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="User" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("User","")">
                                <i class="fas fa-user-friends nav-icon"></i>
                                <p>
                                    @Applicationsettings.USER
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Roles" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Roles","")">
                                <i class="fas fa-user-lock nav-icon"></i>
                                <p>
                                    @Applicationsettings.ROLE

                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("ClientCompany","") @Url.MakeActiveClass("Vendors","") @Url.MakeActiveClass("CompanyUser","") @Url.MakeActiveClass("CompanyUserRoles","") @Url.MakeActiveClass("VendorUser","") @Url.MakeActiveClass("VendorService","")">
                                <i class="nav-icon fas fa-shield-alt"></i>
                                <p class="sidebar-menu-header-label">
                                    @Applicationsettings.ADMIN_SETTINGS
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-page asp-controller="ClientCompany" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("ClientCompany","") @Url.MakeActiveClass("CompanyUser","") @Url.MakeActiveClass("CompanyUserRoles","")">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    @Applicationsettings.CLIENT_COMPANIES
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Vendors" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Vendors","") @Url.MakeActiveClass("VendorUser","") @Url.MakeActiveClass("VendorService","")">
                                <i class="nav-icon fa fa-binoculars"></i>
                                <p>
                                    @Applicationsettings.VENDORS
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("Country","") @Url.MakeActiveClass("State","") @Url.MakeActiveClass("District","") @Url.MakeActiveClass("PinCodes","") @Url.MakeActiveClass("File","") @Url.MakeActiveClass("Uploads","")">
                                <i class="nav-icon fas fa-wrench"></i>
                                <p class="sidebar-menu-header-label">
                                    @Applicationsettings.GENERAL_SETUP
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="Country" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Country","")">
                                <i class="nav-icon fas fa-map-marked-alt"></i>
                                <p>
                                    @Applicationsettings.COUNTRY
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="State" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("State","")">
                                <i class="nav-icon fas fa-map-marker-alt"></i>
                                <p>
                                    @Applicationsettings.STATE
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="District" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("District","")">
                                <i class="nav-icon fas fa-city"></i>
                                <p>
                                    @Applicationsettings.DISTRICT
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="PinCodes" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("PinCodes","")">
                                <i class="nav-icon fas fa-file"></i>
                                <p>
                                    @Applicationsettings.PINCODE
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-page asp-controller="File" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("File","")">
                                <i class="nav-icon fa fa-upload"></i>
                                <p>
                                    @Applicationsettings.MULTIPLE_UPLOAD
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a is-active-page asp-controller="Uploads" asp-action="Index" class="actual-link nav-link @Url.MakeActiveClass("Uploads","")">
                                <i class="nav-icon fa fa-upload"></i>
                                <p>
                                    @Applicationsettings.PINCODE_UPLOAD
                                </p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>