@using risk.control.system.Helpers;

<li class="nav-item">
    <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("ClaimsVendor","")">
        <i class="nav-icon fa fa-user-secret"></i>
        <p class="sidebar-menu-header-label">
            @Applicationsettings.INVESTIGATION_CLAIM
            <i class="right fas fa-angle-right"></i>
        </p>
    </a>
</li>
<li class="nav-item">
    <a is-active-page asp-controller="SuperVisor" asp-action="Allocate" class="actual-link nav-link @Url.MakeActiveClass("SuperVisor","Allocate")
                                    @Url.MakeActiveClass("SuperVisor","SelectVendorAgent")
                                            @Url.MakeActiveClass("SuperVisor","Allocate")
                                            @Url.MakeActiveClass("SuperVisor","ReplyEnquiry")
                                            @Url.MakeActiveClass("SuperVisor","CaseDetail")
                                            ">
        <i class="fas fa-external-link-alt nav-icon"></i>
        <p>
            <span class="badge badge-danger">ALLOCATE</span> <sub>new</sub>
        </p>
    </a>
</li>
<li class="nav-item">
    <a is-active-page asp-controller="SuperVisor" asp-action="ClaimReport" class="actual-link nav-link @Url.MakeActiveClass("SuperVisor","ClaimReport")
                                                    @Url.MakeActiveClass("SuperVisor","GetInvestigateReport")
                                                    @Url.MakeActiveClass("SuperVisor","ReSelectVendorAgent")">
        <i class="far fa-file-archive nav-icon"></i>
        <p>
            <span class="badge badge-info">SUBMIT</span> <sub>report</sub>
        </p>
    </a>
</li>

<li class="nav-item">
    <a is-active-page asp-controller="SuperVisor" asp-action="Open" class="actual-link nav-link @Url.MakeActiveClass("SuperVisor","Open")
                                @Url.MakeActiveClass("SuperVisor","Detail")">
        <i class="fa fa-toggle-on nav-icon"></i>
        <p>
            <span class="badge badge-primary">ACTIVE</span>
        </p>
    </a>
</li>
<li class="nav-item">
    <a is-active-page asp-controller="SuperVisor" asp-action="Completed" class="actual-link nav-link @Url.MakeActiveClass("SuperVisor","Completed")
                                           @Url.MakeActiveClass("SuperVisor","CompletedDetail")
                                                   @Url.MakeActiveClass("SuperVisor","ShowInvoice")
                                                       @Url.MakeActiveClass("SuperVisor","PrintInvoice")">
        <i class="fas fa-print nav-icon"></i>
        <p>
            <span class="badge badge-secondary">COMPLETED</span>
        </p>
    </a>
</li>