@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> userManager
@model Vendor

@if (SignInManager.IsSignedIn(User))
{
    var user = await userManager.GetUserAsync(User);
    var firstName = user?.FirstName ?? "User";
    var truncatedName = firstName.Length > 15 ? firstName.Substring(0, 15) + "..." : firstName;

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image" data-bs-toggle="tooltip" title="@firstName">
            <img class="elevation-2 sidebar-profile img-circle" src="/Document/GetUserProfileImage/@user!.Id" alt="Profile">
        </div>
        <a class="d-block">
            <div data-bs-toggle="tooltip" title="Firstname: @firstName" id="user-firstname">@truncatedName</div>
            <div id="user-role">
                @if (User.IsInRole(AGENCY_ADMIN.DISPLAY_NAME))
                {
                    <span data-bs-toggle="tooltip" title="Role: @AGENCY_ADMIN.CODE" class="badge badge-info">@AGENCY_ADMIN.CODE</span>
                }
                else if (User.IsInRole(SUPERVISOR.DISPLAY_NAME))
                {
                    <span data-bs-toggle="tooltip" title="Role: @SUPERVISOR.CODE" class="badge badge-dark">@SUPERVISOR.CODE</span>
                }
                else if (User.IsInRole(AGENT.DISPLAY_NAME))
                {
                    <span data-bs-toggle="tooltip" title="Role: @AGENT.CODE" class="badge badge-dark">@AGENT.CODE</span>
                }
            </div>
        </a>
    </div>
}