@using Microsoft.EntityFrameworkCore;
@using risk.control.system.Helpers;
@using risk.control.system.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> UserManager
@model Vendor
<aside class="main-sidebar elevation-2 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <div>
            @if (Model?.DocumentUrl is not null)
            {
                <img src="@Model.DocumentUrl" alt="logo" class="brand-image elevation-2">
            }
            else
            {
                <img src="@Applicationsettings.NO_IMAGE" alt="logo" class="brand-image elevation-2">
            }
        </div>
        <div>
            @if (Model?.Name is not null)
            {
                <span class="brand-text font-weight-bold">@Model.Name </span>
            }
            else
            {
                <span class="brand-text font-weight-bold">add name.. </span>
            }
        </div>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->

        <partial name="AdminLTE/_VendorSidebarTopLogo" />

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <partial name="AdminLTE/_VendorSidebarMailbox" />

                @if (User.IsInRole(AppRoles.AgencyAdmin.ToString()))
                {
                <partial name="AdminLTE/_VendorSidebarAdmin" />
                }

                @if (User.IsInRole(AppRoles.Supervisor.ToString()))
                {
                <partial name="AdminLTE/_VendorSidebarSupervisor" />
                }

                @{
                    if (User.IsInRole(AppRoles.Agent.ToString()))
                    {
                        <li class="nav-item">
                            <a is-active-page class="navlink-border nav-link @Url.MakeActiveClass("ClaimsVendor","")">
                                <i class="nav-icon fa fa-user-secret"></i>
                                <p class="sidebar-menu-header-label">
                                    @Applicationsettings.INVESTIGATION_CLAIM
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-page asp-controller="ClaimsVendor" asp-action="Agent" class="actual-link nav-link @Url.MakeActiveClass("ClaimsVendor","Agent")
                                        @Url.MakeActiveClass("ClaimsVendor","GetInvestigate")">
                                <i class="fa fa-binoculars nav-icon"></i>
                                <p>
                                    <span class="badge badge-danger">TASKS</span>
                                </p>
                            </a>
                        </li>
                    }
                }

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>