@model ClaimTransactionModel

@{
    ViewData["Title"] = "Delete";

}
<section class="content">
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-newspaper"></i> Delete
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-hand-point-right'></i> Deletes the claim info permanently.
                        </li>
                        <li>
                            <i class='far fa-thumbs-up'></i> Please make sure before you delete.
                        </li>
                    </span>
                </span>

            </h3>
        </div>
        @{
            string address = string.Empty;
            string baddress = string.Empty;
            int currentAgeinYrs = 0;
            int currentBAgeinYrs = 0;
            bool customerExist = false;
            bool beneficiaryExist = false;
            if (Model.ClaimsInvestigation != null && Model.ClaimsInvestigation.CustomerDetail != null)
            {
                address = @Model.ClaimsInvestigation?.CustomerDetail.Addressline + " " + @Model.ClaimsInvestigation?.CustomerDetail.District.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.State.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.Country.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.PinCode.Code;
                baddress = @Model.Location != null ? @Model.Location?.Addressline + " " +
                @Model.Location?.District?.Name + " " + @Model.Location?.State?.Name + " " +
                @Model.Location?.Country?.Name + " " + @Model.Location?.PinCode?.Code : string.Empty;
                if (Model.ClaimsInvestigation?.CustomerDetail.DateOfBirth != null)
                {
                    var age = DateTime.Now.Subtract(Model.ClaimsInvestigation.CustomerDetail.DateOfBirth).TotalDays;
                    currentAgeinYrs = (int)age / 365;
                }

                if (Model.Location?.DateOfBirth != null)
                {
                    var age = DateTime.Now.Subtract(Model.Location.DateOfBirth).TotalDays;
                    currentBAgeinYrs = (int)age / 365;
                }

            }
            if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.PolicyDetail?.ContractNumber))
            {
                customerExist = true;
            }
            if (Model.Location?.BeneficiaryDetailId > 0)
            {
                beneficiaryExist = true;
            }
            string customerProgressColor = "grey";
            if (@customerExist)
            {
                customerProgressColor = "green";
            }
            string benficiaryProgressColor = "lightgrey";
            if (@customerExist && @beneficiaryExist)
            {
                benficiaryProgressColor = "green";
            }
            if (@customerExist && !@beneficiaryExist)
            {
                benficiaryProgressColor = "grey";
            }
            if (!@customerExist && !@beneficiaryExist)
            {
                benficiaryProgressColor = "lightgrey";
            }
            <article>

                <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
                <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail?.CustomerDetailId" />
                <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
                <input type="hidden" id="claimId" value="@Model.ClaimsInvestigation?.ClaimsInvestigationId" />
                <div class="bb-blog-inner">
                    <div class="card card-light expand-card">
                        <div class="card-header">
                            <h3 class="card-title">Claim: <span class="badge badge-light"><i class="far fa-file-powerpoint"></i>  @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber</span></h3>
                            <div class="card-tools">
                                <span data-toggle="tooltip" title="Claim # : @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber" class="badge badge-light"> <i class="far fa-file-powerpoint"></i> </span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="submit-progress hidden">
                                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                    <div class="card bg-light d-flex flex-fill">
                                        <div class="card-header text-muted border-bottom-0">
                                            <i class="far fa-file-powerpoint"></i> Policy Details
                                        </div>
                                        <div class="progress">
                                            <i class="far fa-bookmark bookmark-green"></i>
                                            <div class="progress-bar" role="progressbar" style="width:100%;background-color:green;">
                                                <i class="far fa-file-powerpoint"></i>
                                            </div>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>@Model.ClaimsInvestigation?.PolicyDetail.ContractNumber</b></h2>
                                                    <p class="text-muted text-sm">
                                                        <b>Policy Type: </b>@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name
                                                    </p>
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-money-bill-wave"></i>
                                                            </span>
                                                            Claim Type: <i class="fas fa-rupee-sign"></i>@Model.ClaimsInvestigation?.PolicyDetail.ClaimType
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-money-bill-wave"></i>
                                                            </span>
                                                            Amount: <i class="fas fa-rupee-sign"></i>@Model.ClaimsInvestigation?.PolicyDetail.SumAssuredValue
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-bolt"></i>
                                                            </span>
                                                            Cause: @Model.ClaimsInvestigation?.PolicyDetail.CauseOfLoss
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-tools"></i>
                                                            </span>
                                                            Service: @Model.ClaimsInvestigation?.PolicyDetail.InvestigationServiceType.Name
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-money-check-alt"></i>
                                                            </span>
                                                            Budget center: @Model.ClaimsInvestigation?.PolicyDetail.CostCentre.Name
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-sun"></i>
                                                            </span>
                                                            Reason: @Model.ClaimsInvestigation?.PolicyDetail.CaseEnabler.Name;
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="far fa-clock"></i>
                                                            </span>
                                                            Issue Date: @Model.ClaimsInvestigation?.PolicyDetail.ContractIssueDate.ToString("dd-MMM-yyyy")
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="far fa-clock"></i>
                                                            </span>
                                                            Incidence Date: @Model.ClaimsInvestigation?.PolicyDetail.DateOfIncident.ToString("dd-MMM-yyyy")
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <p class="text-muted text-sm">

                                                    </p>
                                                    <p class="text-muted text-sm">
                                                        @if (Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage is not null)
                                                        {
                                                            <img id="documentImage" class="img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage))">
                                                        }
                                                        else
                                                        {
                                                            <img id="documentImage" alt="user-avatar"
                                                                 class="img-fluid form-Image" src=@Applicationsettings.NO_POLICY_IMAGE>
                                                        }
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">

                                            <div class="row">
                                                <div class="col-6 text-left">
                                                    <button id="policy-comments" class="btn btn-sm bg-teal">
                                                        <i class="fas fa-comments"></i>
                                                    </button>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <button id="policy-detail" class="btn btn-sm btn-danger">
                                                        <i class="far fa-file-powerpoint"></i> ...
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                    <div class="card bg-light d-flex flex-fill">
                                        <div class="card-header text-muted border-bottom-0">
                                            <i class="fa fa-user-plus"></i> Customer Details
                                        </div>
                                        <div class="progress">
                                            <i class="far fa-bookmark bookmark-green"></i>
                                            <div class="progress-bar" role="progressbar" style="width:100%;background-color:@customerProgressColor;">
                                                <i class="fa fa-user-plus"></i>
                                            </div>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>@Model.ClaimsInvestigation?.CustomerDetail?.Name</b></h2>
                                                    <p class="text-muted text-sm">
                                                        <b>Occupation: </b> @Model.ClaimsInvestigation?.CustomerDetail?.Occupation
                                                    </p>
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-user-tag"></i>
                                                            </span>
                                                            Customer Type: @Model.ClaimsInvestigation?.CustomerDetail?.CustomerType
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-rupee-sign"></i>
                                                            </span>
                                                            Income: @Model.ClaimsInvestigation?.CustomerDetail?.Income
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-restroom"></i>
                                                            </span>
                                                            Gender: @Model.ClaimsInvestigation?.CustomerDetail?.Gender
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-graduation-cap"></i>
                                                            </span>
                                                            Education: @Model.ClaimsInvestigation?.CustomerDetail?.Education
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-user-alt"></i>
                                                            </span>
                                                            Age: @currentAgeinYrs
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-lg fa-building"></i>
                                                            </span>
                                                            Address: @address
                                                        </li>

                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-lg fa-phone"></i>
                                                            </span>
                                                            Phone #: + @Model.ClaimsInvestigation?.CustomerDetail?.ContactNumber
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <p class="text-muted text-sm">
                                                        @if (Model?.ClaimsInvestigation?.CustomerDetail?.ProfilePicture is not null)
                                                        {
                                                            <img id="profileImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.CustomerDetail?.ProfilePicture))">
                                                        }
                                                        else
                                                        {
                                                            <img id="profileImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER">
                                                        }
                                                    </p>
                                                    <p class="text-muted text-sm">
                                                        <img id="profileImageMap" class="img-fluid block-data" src="@Model?.ClaimsInvestigation?.CustomerDetail?.CustomerLocationMap">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-6 text-left">
                                                    @if (Model.ClaimsInvestigation.CustomerDetail != null && Model.ClaimsInvestigation.CustomerDetail.ContactNumber > 0 )
                                                    {
                                                        <button id="customer-comments" class="btn btn-sm bg-teal">
                                                            <i class="fas fa-comments"></i>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button disabled id="customer-comments" class="btn btn-sm bg-teal">
                                                        <i class="fas fa-comments"></i>
                                                    </button>                                                        
                                                    }

                                                </div>
                                                <div class="col-6 text-right">
                                                    <button id="customer-detail" class="btn btn-sm btn-warning">
                                                        <i class="fa fa-user-plus"></i> ...
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                    <div class="card bg-light d-flex flex-fill">
                                        <div class="card-header text-muted border-bottom-0">
                                            <i class="fas fa-user-tie"></i>  Beneficiary Details
                                        </div>
                                        <div class="progress">
                                            <i class="far fa-bookmark bookmark-green"></i>
                                            <div class="progress-bar" role="progressbar" style="width:100%;background-color:@benficiaryProgressColor;">
                                                <i class="fas fa-user-tie"></i>
                                            </div>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>@Model.Location?.Name</b></h2>
                                                    <p class="text-muted text-sm">
                                                        <b>Relation: </b> @Model.Location?.BeneficiaryRelation.Name
                                                    </p>
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-rupee-sign"></i>
                                                            </span>
                                                            Income: @Model.Location?.Income
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-user-alt"></i>
                                                            </span>
                                                            Age: @currentBAgeinYrs
                                                        </li>

                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-lg fa-building"></i>
                                                            </span>
                                                            Address: @baddress
                                                        </li>
                                                        <li class="small">
                                                            <span class="fa-li">
                                                                <i class="fas fa-lg fa-phone"></i>
                                                            </span>
                                                            Phone #: + @Model.Location?.ContactNumber
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <p class="text-muted text-sm">
                                                        @if (Model?.Location?.ProfilePicture is not null)
                                                        {
                                                            <img id="bImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.Location?.ProfilePicture))">
                                                        }
                                                        else
                                                        {
                                                            <img id="bImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER">
                                                        }
                                                    </p>
                                                    <p class="text-muted text-sm">
                                                        <img id="bImageMap" class="img-fluid block-data" src="@Model?.Location?.BeneficiaryLocationMap">
                                                    </p>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-6 text-left">
                                                    @if (Model.ClaimsInvestigation.BeneficiaryDetail != null && Model.ClaimsInvestigation.BeneficiaryDetail.ContactNumber > 0 )
                                                    {
                                                        <button id="beneficiary-comments" class="btn btn-sm bg-teal">
                                                            <i class="fas fa-comments"></i>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button disabled id="beneficiary-comments" class="btn btn-sm bg-teal">
                                                            <i class="fas fa-comments"></i>
                                                        </button>
                                                    }

                                                </div>
                                                <div class="col-6 text-right">
                                                    <button id="beneficiary-detail" class="btn btn-sm btn-success">
                                                        <i class="fas fa-user-tie"></i> ...
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> <!-- class bb-blog-inner -->
            </article>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">

                        <form id="create-form" asp-controller="CreatorAutoPost" asp-action="Delete">
                            <a id="back" asp-action="New" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
                            <input type="hidden" asp-for="ClaimsInvestigation.ClaimsInvestigationId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/delete-claim.js">

    </script>
}
