@model List<State>

<div class="card">
    <div id="viewAll" class="card-body table-responsive">
    <h4>Manage State</h4>
    <form method="post" action="State/create"  asp-antiforgery="true">
        <div class="input-group col-5" style="padding:0px;">
            <select name="CountryId"  class="form-control" asp-items="ViewBag.CountryId">
                                    <option>
                                       --- SELECT COUNTRY ---
                                    </option></select>
            <input autocomplete="off" name="stateName" type="text" class="form-control" placeholder="state name">
            <input autocomplete="off" name="stateCode" type="text" class="form-control" placeholder="state code">
            <span class="input-group-append">
                <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> State</button>
            </span>
        </div>
    </form>
        <form asp-action="index">
            <div class="input-group col-5" style="padding:0px;">
                <input autocomplete="off" name="SearchString" type="text" class="form-control" />
                <span class="input-group-append">
                    <button type="submit" class="btn btn-info"> <i class="fa fa-search"></i> Search...</button>
                </span>
            </div>
        </form>
    <br />
        <table class="table table-striped  fixed-with-height">
        <thead>
            <tr>
                    <th>@Html.ActionLink("State name", "Index", new { sortOrder = ViewBag.StateSortParm })</th>
                    <th>@Html.ActionLink("State code", "Index", new { sortOrder = ViewBag.StateSortParm })</th>
                    <th>@Html.ActionLink("Country name", "Index", new { sortOrder = ViewBag.CountrySortParm })</th>
                </tr>
        </thead>
        <tbody>
            @foreach (var state in Model)
            {
                <tr>
                        <td>@state.Name</td>
                        <td>@state.Code</td>
                        <td>@state.Country.Name</td>
                        <td>
                        <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-id="@state.StateId"><i class="fas fa-pen"></i> Edit</a> &nbsp;
                        <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@state.StateId"><i class="fas fa-trash"></i> Delete</a>
                        <input type="hidden" value="@state.StateId" />
                    </td>
                </tr>
            }

        </tbody>
    </table>
        <br />
        @{
            var PageNumber = (int)@ViewBag.PageNumber;

            var PageSize = (int)@ViewBag.PageSize;

            var TotalPages = (int)@ViewBag.TotalPages;

            var ShowPrevious = (bool)@ViewBag.ShowPrevious;

            var ShowNext = (bool)@ViewBag.ShowNext;

            var ShowFirst = (bool)@ViewBag.ShowFirst;

            var ShowLast = (bool)@ViewBag.ShowLast;
        }
        <ul class="pagination">
            <li class="page-item @(!ShowFirst? "disabled":"")">
                <a asp-page="/pagination" asp-route-CurrentPage="1" class="page-link">
                    <i class="fas fa-fast-backward"></i>
                </a>
            </li>
            <li class="page-item @(!ShowPrevious? "disabled":"")">
                <a asp-page="/pagination" asp-route-CurrentPage="@(PageNumber -1)" class="page-link">
                    <i class="fas fa-step-backward"></i>
                </a>
            </li>
            <li class="page-item  @(!ShowNext? "disabled":"")">
                <a asp-page="/pagination" asp-route-CurrentPage="@(PageNumber + 1)" class="page-link">
                    <i class="fas fa-step-forward"></i>
                </a>
            </li>

            <li class="page-item  @(!ShowLast? "disabled":"")">
                <a asp-page="/pagination" asp-route-CurrentPage="@TotalPages" class="page-link">
                    <i class="fas fa-fast-forward"></i>
                </a>
            </li>
        </ul>
    </div>
</div>