@model IEnumerable<risk.control.system.Models.Vendor>

@{
    ViewData["Title"] = @Applicationsettings.SERVICE;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="EmpanelledVendors">
                    <div class="card card-success card-outline">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-folder-open"></i> @Applicationsettings.MANAGE_COMPANY_VENDOR</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm">
                                    <input autocomplete="off" name="SearchString" type="text" class="form-control" placeholder="search">
                                    <div class="input-group-append">
                                        <div onclick="this.parentNode.submit()" class="btn btn-success">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <a asp-controller="ClientCompany" asp-action="Details" asp-route-id="@ViewBag.CompanyId" class="btn btn-secondary"><i class='fas fa-undo'></i> @Applicationsettings.BACK</a>
                                    <a asp-controller="ClientCompany" asp-action="AvailableVendors" asp-route-id="@ViewBag.CompanyId" class="btn btn-success"><i class="fas fa-thumbs-up"></i>  @Applicationsettings.EMPANEL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success card-outline">
                    <div class="card-body p-0 contained-width">
                        <form id="checkboxes" method="post" enctype="multipart/form-data">

                                    @if (Model == null || Model.Count() == 0)
                                    {
                                        <hr />
                                        <div class="col-md-12 text-center">
                                            <caption>@Applicationsettings.NO_RECORDS_FOUND</caption>
                                        </div>
                                        <hr />
                                    }
                                    else
                                    {
                                        <table class="table table-striped fixed-with-height">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" id="checkall" /></th>

                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Document)
                                                    </th>
                                                    <th>
                                                        @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.CodeSortParm })
                                                    </th>
                                                    <th>
                                                        @Html.ActionLink("Code", "Index", new { sortOrder = ViewBag.CodeSortParm })
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Email)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Addressline)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.State)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input id="@item.VendorId" class="vendors" name="vendors" type="checkbox" value="@item.VendorId" checked="@item.SelectedByCompany" />
                                                        </td>
                                                        <td>
                                                            @if (item?.DocumentImage is not null)
                                                            {
                                                                <img id="documentImage" class="table-row-image" src="data:image/*;base64,@(Convert.ToBase64String(item?.DocumentImage))">
                                                            }
                                                            else
                                                            {
                                                                <img id="documentImage" class="table-row-image" src="@Applicationsettings.NO_IMAGE">
                                                            }
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Code)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Email)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Addressline)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.State.Name)
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-xs btn-info" asp-action="VendorDetail" asp-route-backurl="EmpanelledVendors" asp-route-id="@item.VendorId" asp-route-CompanyId="@ViewBag.CompanyId">
                                                                <i class="fa fa-search"></i> @Applicationsettings.DETAILS
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                            @if (Model != null && Model?.Count() > 0)
                            {
                                    <div class="col-md-12">
                                        <div class="form-group text-right">
                                            <a asp-controller="ClientCompany" asp-action="Details" asp-route-id="@ViewBag.CompanyId" class="btn btn-secondary">
                                                <i class="fa fa-window-close"></i>
                                                @Applicationsettings.CANCEL
                                            </a>
                                            <button disabled="disabled" id="manage-vendors" type="submit" class="btn btn-danger">
                                                <i class="fas fa-thumbs-down" aria-hidden="true"></i> @Applicationsettings.DEPANEL_VENDORS
                                            </button>
                                        </div>
                                    </div>
                            }
                        </form>
                        <br />
                        <br />
                        @{
                            var PageNumber = (int)@ViewBag.PageNumber;

                            var PageSize = (int)@ViewBag.PageSize;

                            var TotalPages = (int)@ViewBag.TotalPages;

                            var ShowPrevious = (bool)@ViewBag.ShowPrevious;

                            var ShowNext = (bool)@ViewBag.ShowNext;

                            var ShowFirst = (bool)@ViewBag.ShowFirst;

                            var ShowLast = (bool)@ViewBag.ShowLast;
                        }
                        <ul class="pagination">
                            <li class="page-item @(!ShowFirst? "disabled":"")">
                                <a asp-page="/pagination" asp-route-CurrentPage="1" class="page-link">
                                    <i class="fas fa-fast-backward"></i>
                                </a>
                            </li>
                            <li class="page-item @(!ShowPrevious? "disabled":"")">
                                <a asp-page="/pagination" asp-route-CurrentPage="@(PageNumber -1)" class="page-link">
                                    <i class="fas fa-step-backward"></i>
                                </a>
                            </li>
                            <li class="page-item  @(!ShowNext? "disabled":"")">
                                <a asp-page="/pagination" asp-route-CurrentPage="@(PageNumber + 1)" class="page-link">
                                    <i class="fas fa-step-forward"></i>
                                </a>
                            </li>

                            <li class="page-item  @(!ShowLast? "disabled":"")">
                                <a asp-page="/pagination" asp-route-CurrentPage="@TotalPages" class="page-link">
                                    <i class="fas fa-fast-forward"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>