@model ClaimTransactionModel


<div class="card card-light expand-card">
    <div class="card-header">
        <h3 class="card-title"><i class="far fa-file-powerpoint"></i> Claim #: <span class="badge badge-light"> @Model.ClaimsInvestigation.PolicyDetail.ContractNumber</span> </h3>

        <div class="card-tools">
            <span data-toggle="tooltip" title="Claim # :  @Model.ClaimsInvestigation.PolicyDetail.ContractNumber" class="badge badge-light"><i class="far fa-file-powerpoint"></i></span>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="progress">
        <i class="far fa-bookmark bookmark-green"></i>
        <div class="progress-bar" role="progressbar" style="width:33%;background-color:green;">
            policy
        </div>
        <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>
        <div class="progress-bar" role="progressbar" style="width:32.33%;background-color:green">
            customer
        </div>
        <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>

        <div class="progress-bar" role="progressbar" style="width:33.34%;background-color:green">
            beneficiary
        </div>
        <i class="far fa-bookmark" style="font-size:1.1rem;"></i>
    </div>
    <div class="card-body pb-0">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        <i class="far fa-file-powerpoint"></i> Policy Details
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="lead"><b>@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name</b></h2>
                                <p class="text-muted text-sm">
                                    <b>Claim Type: </b>@Model.ClaimsInvestigation?.PolicyDetail.ClaimType
                                </p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="fas fa-money-bill-wave"></i>
                                        </span>
                                        Amount: <i class="fas fa-rupee-sign"></i>@Model.ClaimsInvestigation?.PolicyDetail.SumAssuredValue
                                    </li>
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="fas fa-tools"></i>
                                        </span>
                                        Service: @Model.ClaimsInvestigation?.PolicyDetail.InvestigationServiceType.Name
                                    </li>
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="fas fa-money-check-alt"></i>
                                        </span>
                                        Budget center: @Model.ClaimsInvestigation?.PolicyDetail.CostCentre.Name
                                    </li>
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="fas fa-sun"></i>
                                        </span>
                                        Reason: @Model.ClaimsInvestigation?.PolicyDetail.CaseEnabler.Name;
                                    </li>
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="far fa-clock"></i>
                                        </span>
                                        Issue Date: @Model.ClaimsInvestigation?.PolicyDetail.ContractIssueDate.ToString("dd-MMM-yyyy")
                                    </li>
                                </ul>
                            </div>
                            <div class="col-5 text-center">
                                <p class="text-muted text-sm">

                                </p>
                                <p class="text-muted text-sm">
                                    @if (Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage is not null)
                                    {
                                        <img id="documentImage" class="img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage))">
                                    }
                                    else
                                    {
                                        <img id="documentImage" alt="user-avatar"
                                             class="img-circle img-fluid form-Image" src="/img/no-policy.jpg">
                                    }
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <a id="policy-comments" class="btn btn-sm bg-teal">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a id="policy-detail" class="btn btn-sm btn-info">
                                <i class="far fa-file-powerpoint"></i> ...
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @{
                var address = @Model.ClaimsInvestigation?.CustomerDetail.Addressline + " " + @Model.ClaimsInvestigation?.CustomerDetail.District.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.State.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.Country.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.PinCode.Code;
                var baddress = @Model.Location != null ? @Model.Location?.Addressline + " " +
                @Model.Location?.District?.Name + " " + @Model.Location?.State?.Name + " " +
                @Model.Location?.Country?.Name + " " + @Model.Location?.PinCode?.Code : string.Empty;
                var age = DateTime.Now.Subtract(Model.ClaimsInvestigation.CustomerDetail.CustomerDateOfBirth).TotalDays;
                var currentAgeinYrs = (int)age / 365;
                int beneficaryAge = 0;

                if (Model.Location.BeneficiaryDateOfBirth != null)
                {
                    var bage = DateTime.Now.Subtract(Model.Location.BeneficiaryDateOfBirth).TotalDays;
                    beneficaryAge = (int)bage / 365;
                }
                string timeTaken = "< 1";
                var totalTime = @Model.Log.FirstOrDefault().Created.Subtract(Model.Log.LastOrDefault().Created).Days;
                if (totalTime > 0)
                {
                    timeTaken = totalTime.ToString();
                }
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            <i class="fa fa-user-plus"></i> Customer Details
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>@Model.ClaimsInvestigation.CustomerDetail.CustomerName</b></h2>
                                    <p class="text-muted text-sm">
                                        <b>Occupation: </b> @Model.ClaimsInvestigation.CustomerDetail.CustomerOccupation
                                    </p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-rupee-sign"></i>
                                            </span>
                                            Income: @Model.ClaimsInvestigation.CustomerDetail.CustomerIncome
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-rupee-sign"></i>
                                            </span>
                                            Age: @currentAgeinYrs
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-lg fa-building"></i>
                                            </span>
                                            Address: @address
                                        </li>

                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-lg fa-phone"></i>
                                            </span>
                                            Phone #: + @Model.ClaimsInvestigation.CustomerDetail.ContactNumber
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-5 text-center">
                                    <p class="text-muted text-sm">
                                        @if (Model?.ClaimsInvestigation?.CustomerDetail?.ProfilePicture is not null)
                                        {
                                            <img id="profileImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.CustomerDetail?.ProfilePicture))">
                                        }
                                        else
                                        {
                                            <img id="profileImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER">
                                        }
                                    </p>
                                    <p class="text-muted text-sm">
                                        <img id="profileImageMap" class="img-fluid block-data" src="@Model.ClaimsInvestigation?.CustomerDetail?.CustomerLocationMap" />

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a id="customer-comments" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments"></i>
                                </a>
                                <a id="customer-detail" class="btn btn-sm btn-warning">
                                    <i class="fa fa-user-plus"></i> ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            <i class="fas fa-user-tie"></i>  Beneficiary Details
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>@Model.Location?.BeneficiaryName</b></h2>
                                    <p class="text-muted text-sm">
                                        <b>Relation: </b> @Model.Location?.BeneficiaryRelation.Name
                                    </p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-user-clock"></i>
                                            </span>
                                            Age: @beneficaryAge
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-rupee-sign"></i>
                                            </span>
                                            Income: @Model.Location?.BeneficiaryIncome
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-lg fa-building"></i>
                                            </span>
                                            Address: @baddress
                                        </li>
                                        <li class="small">
                                            <span class="fa-li">
                                                <i class="fas fa-lg fa-phone"></i>
                                            </span>
                                            Phone #: + @Model.Location?.BeneficiaryContactNumber
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-5 text-center">
                                    <p class="text-muted text-sm">
                                        @if (Model?.Location?.ProfilePicture is not null)
                                        {
                                            <img id="bImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.Location?.ProfilePicture))">
                                        }
                                        else
                                        {
                                            <img id="bImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER">
                                        }
                                    </p>
                                    <p class="text-muted text-sm">
                                        <img id="bImageMap" class="img-fluid block-data" src="@Model?.Location?.BeneficiaryLocationMap" />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a id="beneficiary-comments" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments"></i>
                                </a>
                                <a id="beneficiary-detail" class="btn btn-sm btn-success">
                                    <i class="fas fa-user-tie"></i> ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="card card-light">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-print nav-icon"></i> Agency Report: <span class="badge badge-light">@Model.Location.Vendor.Email</span> </h3>
                <div class="card-tools">
                    <span data-toggle="tooltip" title="Agent report # : @Model.Location.ClaimReport.AgentEmail" class="badge badge-light"><i class="fas fa-user-shield"></i></span>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>

            </div>
            <div class="progress">
                <i class="far fa-bookmark bookmark-green"></i>
                <div class="progress-bar" role="progressbar" style="width:33%;background-color:green;">
                    digital-id
                </div>
                <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>
                <div class="progress-bar" role="progressbar" style="width:32.33%;background-color:green">
                    document-id
                </div>
                <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>

                <div class="progress-bar" role="progressbar" style="width:33.34%;background-color:green">
                    questionaire
                </div>
                <i class="far fa-bookmark" style="font-size:1.1rem;"></i>
            </div>
            <div class="card-body pb-0">
                <div class="row">
                    @{
                        if (@Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageData != null && @Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageLongLatTime != null)
                        {
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-header text-muted border-bottom-0">

                                        <i class="fas fa-portrait"></i> Digital <span class="badge badge-light">checkify</span>
                                        <span class="badge badge-light" style="float:right;">
                                            <i class="nav-icon fas fa-clock"></i>
                                            @Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")
                                        </span>
                                    </div>
                                    <div class="card-footer text-center">
                                        <span class="badge badge-light"><i class="fas fa-portrait"></i> Match :  </span>
                                        @if (string.IsNullOrWhiteSpace(@Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
                                        {
                                            <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                        }
                                        else
                                        {
                                            <i style='color:green;' class='fas fa-check-circle'></i>
                                        }
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-light"><i class="far fa-image"></i> Digital Image</span>:
                                                    <br />
                                                    @{
                                                        if (Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImage != null)
                                                        {
                                                            <img title="digital image" id="agentLocationPicture" class="img-fluid face-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImage))">
                                                        }
                                                        else
                                                        {
                                                            <img title="digital image" id="agentLocationPicture" alt="face image" class="img-fluid  ocr-data" src="/img/no-photo.png">
                                                        }
                                                    }
                                                </p>
                                                <p class="text-muted text-sm">

                                                    <span class="badge badge-light"><i class="fas fa-info"></i> Location Info</span>
                                                    <br />
                                                    <label class="ocr-data img-fluid"> @Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageData</label>

                                                </p>
                                            </div>
                                            <div class="col-6">
                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                                                    <br />
                                                    <img class="img-fluid locationImage" src="@Model.Location?.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationUrl" />
                                                </p>
                                                <p class="text-muted text-sm">

                                                    <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                                    <br />
                                                    <label class="img-fluid ocr-data"> @Model.Location?.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationAddress</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-secondary direct-chat direct-chat-warning collapsed-card">
                                    <div class="card-header">
                                        <i class="fas fa-film"></i><h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                                        <div class="card-tools">
                                            <span data-toggle="tooltip" title="Map Location" class="badge badge-light"><i class="fas fa-film"></i></span>
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="face-map">
                                        </div>
                                        <div id="face-msg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        if (@Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImageData != null && @Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImageLongLatTime != null)
                        {
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-header text-muted border-bottom-0">

                                        <i class="fas fa-mobile-alt"></i> Document <span class="badge badge-light">checkify </span>
                                        <span class="badge badge-light" style="float:right;">
                                            <i class="nav-icon fas fa-clock"></i>
                                            @Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")
                                        </span>
                                    </div>
                                    <div class="card-footer text-center">
                                        <span class="badge badge-light"><i class="far fa-image"></i> Valid : </span>
                                        @if (@Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImageValid.Value ?? false)
                                        {
                                            <i style='color:green;' class='fas fa-check-circle'></i>
                                        }
                                        else
                                        {
                                            <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                        }
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-light"><i class="fas fa-film"></i> Document Image</span>:
                                                    <br />
                                                    @{
                                                        if (Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImage != null)
                                                        {
                                                            <img title="document image" id="agentOcrPicture" class="img-fluid ocr-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.Location.ClaimReport?.DocumentIdReport?.DocumentIdImage))">
                                                        }
                                                        else
                                                        {
                                                            <img title="document image" id="agentOcrPicture" alt="ocr-image" class="img-fluid ocr-data" src="/img/no-photo.png" />
                                                        }
                                                    }
                                                </p>
                                                <p class="text-muted text-sm">

                                                    <span class="badge badge-light"><i class="fas fa-info"></i> Image Scan Info</span>
                                                    <br />
                                                    <label class="img-fluid ocr-data"> @Model.Location?.ClaimReport?.DocumentIdReport?.DocumentIdImageData</label>
                                                </p>
                                            </div>
                                            <div class="col-6">

                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                                                    <br />
                                                    <img class="img-fluid olocationImage" src="@Model.Location?.ClaimReport?.DocumentIdReport?.DocumentIdImageLocationUrl" />
                                                </p>
                                                <p class="text-muted text-sm">

                                                    <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                                    <br />
                                                    <label class="img-fluid ocr-data"> @Model.Location?.ClaimReport?.DocumentIdReport?.DocumentIdImageLocationAddress</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-secondary direct-chat direct-chat-warning collapsed-card">
                                    <div class="card-header">
                                        <i class="fas fa-film"></i> <h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                                        <div class="card-tools">
                                            <span data-toggle="tooltip" title="Map Location" class="badge badge-light"><i class="fas fa-film"></i></span>
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="ocr-map">
                                        </div>
                                        <div id="ocr-msg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.Location.ClaimReport?.AgentRemarks))
                    {

                        var questionTime = @Model.Location.ClaimReport.AgentRemarksUpdated != null ? @Model.Location.ClaimReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;

                        <div class="col-12 col-sm-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-header text-muted border-bottom-0">
                                    <i class="far fa-comment"></i> Questionnaire <span class="badge badge-light">checkify</span> <span class="badge badge-light" style="float:right;"><i class="nav-icon fas fa-clock"></i> @questionTime </span>
                                </div>
                                <div class="card-footer text-muted border-bottom-0">
                                    <i class="fas fa-user-shield"></i>  Agent:<span class="badge badge-light">  @Model.Location.ClaimReport.AgentEmail </span>
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-7">
                                            <p class="text-muted text-sm">
                                                <span class="badge badge-light"><i class="fas fa-film"></i> Questions</span>:
                                                <br />
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                    <li class="small">
                                                        Ownership of residence ?
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        Perceived financial status ?
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        Name of neighbour met ?
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        Date when met with neighbour ?
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        Remarks?
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>

                                        <div class="col-5">
                                            <p class="text-muted text-sm">
                                                <span class="badge badge-light"><i class="fas fa-film"></i> Answers</span>:
                                                <br />
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                        @Model.Location.ClaimReport?.ReportQuestionaire?.Answer1
                                                    </li>
                                                    <br />
                                                    <li class="small">

                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                        @Model.Location.ClaimReport?.ReportQuestionaire?.Answer2
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                        @Model.Location.ClaimReport?.ReportQuestionaire?.Answer3
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                        @Model.Location.ClaimReport?.ReportQuestionaire?.Answer4
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                        @Model.Location.ClaimReport?.AgentRemarks
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <partial name="_AgentChat" model="@Model" />

                        </div>
                    }

                </div>
                <div class="col-12">
                    @if (!string.IsNullOrWhiteSpace(Model.Location.ClaimReport?.SupervisorRemarks))
                    {
                        <div class="card card-light">

                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-user-edit"></i> Supervisor : <span class="badge badge-light"> @Model?.Location.ClaimReport?.SupervisorEmail</span> </h3>
                                <div class="card-tools">
                                    <span data-toggle="tooltip" title=" Supervisor :  @Model?.Location.ClaimReport?.SupervisorEmail" class="badge badge-light"><i class="nav-icon fas fa-clock"></i> @Model.Location.ClaimReport?.SupervisorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")</span>
                                </div>

                            </div>
                            <div class="progress">
                                <i class="far fa-bookmark bookmark-green"></i>
                                <div class="progress-bar" role="progressbar" style="width:100%;background-color:green;">
                                    supervisor
                                </div>
                                <i class="far fa-bookmark bookmark-green"></i>

                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-muted text-sm">

                                            <span>Supervisor comments: </span>
                                        </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="far fa-comment"></i>
                                                </span>
                                                @Model.Location.ClaimReport?.SupervisorRemarks <i class="far fa-comment"></i>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-user-check"></i> Assessor: <span class="badge badge-light">@Model.Location.ClaimReport.AssessorEmail</span> </h3>
                        <div class="card-tools">
                            <span data-toggle="tooltip" title="Assessor: : @Model.Location.ClaimReport.AssessorEmail" class="badge badge-light"><i class="nav-icon fas fa-clock"></i> @Model.Location.ClaimReport?.AssessorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")</span>
                        </div>

                    </div>
                    <div class="progress">
                        <i class="far fa-bookmark bookmark-green"></i>
                        <div class="progress-bar" role="progressbar" style="width:100%;background-color:darkgreen">
                            assessor
                        </div>
                        <i class="far fa-bookmark bookmark-green"></i>

                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-muted text-sm">

                                    <span>Assessor remarks: </span>
                                </p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="far fa-comment"></i>
                                        </span>
                                        @Model.Location.ClaimReport.AssessorRemarks <i class="far fa-comment"></i>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
