@model ClaimsInvestigationVendorsModel

@{
    if (@Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageData != null && @Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageLongLatTime != null)
    {
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">

                    <i class="fas fa-portrait"></i> Digital <span class="badge badge-light">checkify</span>
                    <span class="badge badge-light" style="float:right;">
                        <i class="nav-icon fas fa-clock"></i>
                        @Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")
                    </span>
                </div>
                <div class="card-footer text-center">
                    <span class="badge badge-light"><i class="fas fa-portrait"></i> Match :  </span>
                    @if (string.IsNullOrWhiteSpace(@Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
                    {
                        <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                    }
                    else
                    {
                        <i style='color:green;' class='fas fa-check-circle'></i>
                    }
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted text-sm">
                                <span class="badge badge-light"><i class="far fa-image"></i> Digital Image</span>:
                                <br />
                                @{
                                    if (Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImage != null)
                                    {
                                        <img title="digital image" id="agentLocationPicture" class="img-fluid face-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImage))">
                                    }
                                    else
                                    {
                                        <img title="digital image" id="agentLocationPicture" alt="face image" class="img-fluid no-Image" src="/img/no-photo.png">
                                    }
                                }
                            </p>
                            <p class="text-muted text-sm">

                                <span class="badge badge-light"><i class="fas fa-info"></i> Location Info</span>
                                <br />
                                <label class="ocr-data img-fluid"> @Model?.Location?.ClaimReport?.DigitalIdReport?.DigitalIdImageData</label>

                            </p>
                        </div>
                        <div class="col-6">
                            <p class="text-muted text-sm">
                                <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                                <br />
                                <img class="img-fluid locationImage" src="@Model.Location?.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationUrl" />
                            </p>
                            <p class="text-muted text-sm">

                                <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                <br />
                                <label class="img-fluid ocr-data"> @Model.Location?.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationAddress</label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="badge badge-light"><i class="fas fa-film"></i> Map Location</span>:<span class="badge badge-light">Expected and visited</span>
                    <div id="face-map">
                    </div>
                    <div id="face-msg">
                    </div>
                </div>

            </div>
        </div>
    }
}
