@model ClaimsInvestigationVendorsModel

@{
    var imageCapturedTime = @Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageLongLatTime != null ? @Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt") : null;
    string digitalIdColor = "grey";
    var borderColor = "";
    if (Model.Location.ClaimReport.DigitalIdReport?.DigitalIdImageLongLatTime == null)
    {
        digitalIdColor = "grey";
        borderColor = "";
    }
    else if (Model.Location.ClaimReport.DigitalIdReport?.DigitalIdImageLongLatTime != null && string.IsNullOrWhiteSpace(@Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
    {
        digitalIdColor = "#dc3545!important";
        borderColor = "border-danger";
    }
    else if (Model.Location.ClaimReport.DigitalIdReport?.DigitalIdImageLongLatTime != null && !string.IsNullOrWhiteSpace(@Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
    {
        borderColor = "border-success";
        digitalIdColor = "green";
    }
    

    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill @borderColor">

            <div class="card-header text-muted border-bottom-0">
                <h3 class="card-title"><i class="fas fa-portrait"></i> Digital <span class="badge badge-light">checkify</span></h3>
                <div class="card-tools">
                    <span data-toggle="tooltip" title="Agent report # : @Model.Location.ClaimReport.AgentEmail" class="badge badge-light">
                        <i class="nav-icon fas fa-clock"></i>
                        @imageCapturedTime
                    </span>

                </div>
            </div>

            <div class="card-footer text-center">
                <span class="badge badge-light"><i class="fas fa-portrait"></i> Match :  </span>
                @if (@Model.Location.ClaimReport.DigitalIdReport?.DigitalIdImageLongLatTime == null)
                {
                    <i style='color:grey;' class='fa fa-times' aria-hidden='true'></i>
                }
                else if (string.IsNullOrWhiteSpace(@Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImageMatchConfidence) && @Model.Location.ClaimReport.DigitalIdReport?.DigitalIdImageLongLatTime != null)
                {
                    <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                }
                
                else
                {
                    <i style='color:green;' class='fas fa-check-circle'></i>
                }
            </div>
            <div class="progress">
                <i class="far fa-bookmark bookmark-green"></i>
                <div class="progress-bar" role="progressbar" style="width:100%;background-color:@digitalIdColor;">
                    digital-id
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="far fa-image"></i> Digital Image</span>:
                            <br />
                            @{
                                if (Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImage != null)
                                {
                                    <img title="digital image" id="agentLocationPicture" class="img-fluid face-Image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.Location.ClaimReport?.DigitalIdReport?.DigitalIdImage))">
                                }
                                else
                                {
                                    <img title="digital image" id="agentLocationPicture" alt="face image" class="img-fluid no-Image" src=@Applicationsettings.NO_PHOTO_IMAGE>
                                }
                            }
                        </p>
                        <p class="text-muted text-sm">

                            <span class="badge badge-light"><i class="fas fa-info"></i> Location Info</span>
                            <br />
                            <label class="ocr-data img-fluid"> @Model?.Location?.ClaimReport?.DigitalIdReport?.DigitalIdImageData</label>

                        </p>
                    </div>
                    <div class="col-6">
                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                            <br />
                            @if (@Model.Location?.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationUrl != null)
                            {
                                <img class="img-fluid locationImage" src="@Model.Location?.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationUrl" />
                            }
                            else
                            {
                                <img class="img-fluid no-Image" src="@Applicationsettings.NO_MAP" />
                            }
                        </p>
                        <p class="text-muted text-sm">

                            <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                            <br />
                            <label class="img-fluid ocr-data"> @Model.Location?.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationAddress</label>
                        </p>
                    </div>
                </div>
            </div>
            

            <form id="upload-face" asp-controller="Uploads" asp-action="FaceUpload" method="post" enctype="multipart/form-data">
                <input type="hidden" id="digitalIdLatitude" name="digitalIdLatitude" />
                <input type="hidden" id="digitalIdLongitude" name="digitalIdLongitude" />
                <input type="hidden" id="selectedcase" name="selectedcase" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                <div class="card-footer">

                    <div class="form-group">
                        <span class="input-group-label"> Upload Digital Id : </span>
                        <div class="input-group mb-3">
                            <img class="form-Image" id="face-Image" src="@Applicationsettings.NO_USER" title="Digital Id Image" />
                            <input accept=".jpg,jpeg,png" type="file" class="form-control remarks" name="digitalImage" id="digitalImage" onchange="document.getElementById('face-Image').src = window.URL.createObjectURL(this.files[0])" />
                            <button id="UploadFaceImageButton" disabled type="submit" class="btn btn-info"><i class="nav-icon fa fa-upload"></i> Upload</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (@Model.Location?.ClaimReport?.DigitalIdReport?.DigitalIdImageLocationUrl != null)
        {
            <div class="card border-secondary direct-chat direct-chat-warning collapsed-card">
                <div class="card-header">
                    <i class="fas fa-film"></i><h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Map Location" class="badge badge-light"><i class="fas fa-film"></i></span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="face-map">
                    </div>
                    <div id="face-msg">
                    </div>
                </div>
            </div>
        }
    </div>
}
