@model IEnumerable<risk.control.system.Models.ClaimsInvestigation>

@{
    ViewData["Title"] = "Index";
    var hasClientCompany = @ViewBag.HasClientCompany ? "none" : "";
}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i> Review List</h3>
                    </div>
                    <div class="card-body">
                        <form id="checkboxes" asp-action="GetInvestigateReportReview" method="get" enctype="multipart/form-data">
                            <div class="col-md-12">
                                    <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th style="display:@hasClientCompany">
                                                    @Html.DisplayNameFor(model => model.ClientCompany)
                                                </th>
                                                <th></th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.LineOfBusiness)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.InvestigationCaseStatus)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CustomerName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ContactNumber)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ClaimType)
                                                </th>
                                                <th>
                                                    Location - SubStatus
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td style="display:@hasClientCompany">
                                                        @Html.DisplayFor(modelItem => item.ClientCompany.Name)
                                                    </td>
                                                    <td>
                                                        <input id="selectedcase" name="selectedcase" class="selected-case" type="radio" value="@item.ClaimsInvestigationId" />
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LineOfBusiness.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.InvestigationCaseStatus.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ContactNumber)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ClaimType)
                                                    </td>
                                                    <td>
                                                        @{
                                                            foreach (var caseLocation in item.CaseLocations)
                                                            {
                                                                <span class="badge badge-light">@caseLocation.PinCode.Code - @caseLocation.InvestigationCaseSubStatus.Name</span>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        
                                    </table>
                                    <div class="row">
                                        <div class="col-md-12">
                                                <button disabled id="allocate-case" type="submit" class="btn btn-success">
                                                    <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                                                    @Applicationsettings.SELECT_CASE_REPORT
                                                </button>
                                        </div>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>