@model ClaimTransactionModel

@{
    ViewData["Title"] = "Details";
}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="article" class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-newspaper"></i> Claim detail</h3>
                    </div>
                    @{
                        var data = new ClaimsInvestigationVendorsModel
                        {
                            Location = Model.Location,
                            ClaimsInvestigation = Model.ClaimsInvestigation,
                        };
                        <div class="card-body">
                            <partial name="_PolicyDetails" model="@data" />

                            <form id="create-form" method="post" asp-action="WithdrawCase" asp-controller="ClaimsVendorPost">
                                <div class="row">
                                <input type="hidden" name="claimId" asp-for="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                                <div class="col-md-12">
                                        <div class="form-group">
                                            Withdrawl Remarks
                                            <input id="remarks" asp-for="@Model.ClaimsInvestigation.PolicyDetail.Comments" class="form-control" required/>
                                            <span asp-validation-for="@Model.ClaimsInvestigation.PolicyDetail.Comments" class="text-danger"></span>
                                        </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                            <a asp-action="Index" class="btn btn-default"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a> &nbsp;
                                        <button id="submit-case" disabled type="submit" class="btn btn-danger"><i class="fas fa-undo"></i> Withdraw</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/claims-details.js">
 
    </script>
}
