@model ClaimsInvestigationVendorsModel

@{
    ViewData["Title"] = "Claim: Report ";
}

<section class="content pt-2">
    <div class="container-fluid">
        <form id="create-form" asp-controller="ClaimsVendorPost" asp-action="SubmitReport" method="post">
            <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
            <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.Location.CaseLocationId" />
            <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
            <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
            <input type="hidden" id="beneficiaryId" value="@Model.Location?.CaseLocationId" />
            <div class="row">
                <div class="col-md-12">
                    <div id="article" class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-binoculars"></i> Agent Report</h3>
                        </div>
                        <div class="card-body">
                            <partial name="_PolicyDetails" model="@Model" />
                            <partial name="_PolicyReport" model="@Model" />
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

</section>
@section Scripts    {
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH8T9FvJ8n2LNwxkppRAeOq3Mx7I3qi1E&callback=initReportMap">
    </script>
    <script src="~/js/map.js"></script>
    <script src="~/js/get-investigate.js"></script>

}