@model ClaimsInvestigationVendorsModel

@{
    ViewData["Title"] = @Applicationsettings.SERVICE;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="SubmitReport" method="post">
                    <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                    <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.CaseLocation.CaseLocationId" />
                    <div class="card card-success card-outline">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-folder-open"></i> @Applicationsettings.SUBMIT_REPORT</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <dl class="row">
                                        
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerName)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerName)
                                        </dd>
                                        
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.ClaimsInvestigation.PinCode)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.ClaimsInvestigation.PinCode.Name)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.ClaimsInvestigation.State)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.ClaimsInvestigation.State.Name)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.ClaimsInvestigation.District)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.ClaimsInvestigation.District.Name)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <dl class="row">
                                        <dt class="col-sm-3">
                                            Document
                                        </dt>
                                        <dd class="col-sm-8">
                                            @if (Model?.ClaimsInvestigation.DocumentImage is not null)
                                            {
                                                <img id="documentImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation.DocumentImage))">
                                            }
                                            else
                                            {
                                                <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                            }
                                        </dd>

                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerIncome)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerIncome)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerOccupation)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerOccupation)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerEducation)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerEducation)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.ClaimsInvestigation.Comments)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.ClaimsInvestigation.Comments)
                                        </dd>
                                    </dl>

                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-folder-open"></i> @Applicationsettings.VERIFY_LOCATION</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CaseLocation.BeneficiaryName)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CaseLocation.BeneficiaryName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CaseLocation.BeneficiaryContactNumber)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CaseLocation.BeneficiaryContactNumber)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CaseLocation.Addressline)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CaseLocation.Addressline)
                                    </dd>
                                    
                                </div>
                                <div class="col-md-6">
                                    
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CaseLocation.PinCode.Code)
                                    </dt>
                                    <dd class="col-sm-10">
                                        <span class="badge badge-danger"> @Html.DisplayFor(model => model.CaseLocation.PinCode.Code)</span>
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CaseLocation.District.Name)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CaseLocation.District.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CaseLocation.State.Name)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CaseLocation.State.Name)
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        @if(Model.CaseLocation.ClaimReport != null && Model.CaseLocation.ClaimReport.AgentRemarks != null)
                        {
                            <div class="card card-success card-outline">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-folder-open"></i> AGENT Report</h3>
                                </div>
                                <div class="card-body">
                                    <div class="=row">
                                        <div class="col-md-12">
                                            <textarea disabled name="@Model.CaseLocation.ClaimReport.AgentRemarks" id="remarks" type="text" class="form-control">@Model.CaseLocation.ClaimReport.AgentRemarks</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-success card-outline">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-folder-open"></i> Review Report</h3>
                                </div>
                                <div class="card-body">
                                    <div class="=row">
                                        <div class="col-md-12">
                                            <select disabled name="supervisorRemarkType" id="supervisorRemarkType" type="text" class="form-control" asp-items="Html.GetEnumSelectList<SupervisorRemarkType>()"></select>
                                            <textarea disabled name="supervisorRemarks" id="supervisorRemarks" type="text" class="form-control">@Model.CaseLocation.ClaimReport.SupervisorRemarks</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <div class="card card-success card-outline">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-folder-open"></i> @Applicationsettings.SUBMIT_REPORT</h3>
                        </div>
                        <div class="card-body">
                            <div class="=row">
                                <div class="col-md-12">
                                    <textarea name="remarks" id="remarks" type="text" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="=row">
                                <div class="col-md-12 float-right">
                                    <a asp-controller="ClaimsInvestigation" asp-action="Index" class="btn btn-secondary">
                                        <i class="fa fa-window-close"></i>
                                        @Applicationsettings.CANCEL
                                    </a>
                                    <button id="allocate-case" type="submit" class="btn btn-success">
                                        <i class="fas fa-thumbs-up" aria-hidden="true"></i> @Applicationsettings.SUBMIT_CASE_INVESTIGATE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>