@model ClaimsInvestigationVendorsModel

@{
    ViewData["Title"] = "Claim: Report ";
}

<section class="content">
    <form id="create-form" method="post" asp-action="ProcessReport" asp-controller="ClaimsVendorPost">
        <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
        <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.Location.CaseLocationId" />
        <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
        <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
        <input type="hidden" id="beneficiaryId" value="@Model.Location?.CaseLocationId" />
        <div id="article" class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="far fa-file-alt"></i> Submit</h3>
            </div>

            <partial name="_PolicyDetails" model="@Model" />

            <partial name="_AgentReport" model="@Model" />

            <partial name="_SupervisorRemarks" model="@Model" />
        </div>
    </form>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH8T9FvJ8n2LNwxkppRAeOq3Mx7I3qi1E&callback=initReportMap">
    </script>
    <script src="~/js/map.js"></script>
    <script src="~/js/get-investigate-report.js"></script>

}