@model ClaimsInvestigationVendorsModel

@{
    ViewData["Title"] = "Claim: Report ";
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="create-form" method="post">
                    <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                    <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.CaseLocation.CaseLocationId" />
                    <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
                    <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
                    <input type="hidden" id="beneficiaryId" value="@Model.CaseLocation?.CaseLocationId" />
                    <div id="article" class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-file-archive"></i> Agent Report</h3>
                        </div>
                        <div class="card-body">
                                <partial name="_PolicyDetails" model="@Model" />
                                <partial name="_AgentReport" model="@Model" />
                                <partial name="_SupervisorRemarks" model="@Model" />
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH8T9FvJ8n2LNwxkppRAeOq3Mx7I3qi1E&callback=initReportMap">
    </script>
    <script src="~/js/map.js"></script>
    <script src="~/js/get-investigate-report.js"></script>

}