@model ClaimsInvestigationVendorAgentModel

@{
    ViewData["Title"] = @Applicationsettings.SERVICE;
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i>  Claim Description</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerName)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerName)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.ContactNumber)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.ContactNumber)
                                    </dd>

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.PinCode)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.PinCode.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.State)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.State.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.Country)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.Country.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.District)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.District.Name)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Document
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.ClaimsInvestigation.DocumentImage is not null)
                                        {
                                            <img id="documentImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation.DocumentImage))">
                                        }
                                        else
                                        {
                                            <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                        }
                                    </dd>

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerIncome)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerIncome)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerOccupation)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerOccupation)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerEducation)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerEducation)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerType)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerType)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.Comments)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.Comments)
                                    </dd>
                                </dl>

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.CaseLocation.BeneficiaryName)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.CaseLocation.BeneficiaryName)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.CaseLocation.BeneficiaryContactNumber)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.CaseLocation.BeneficiaryContactNumber)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.CaseLocation.Addressline)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.CaseLocation.Addressline)
                                </dd>

                            </div>
                            <div class="col-md-6">

                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.CaseLocation.PinCode.Code)
                                </dt>
                                <dd class="col-sm-5">
                                    <span class="badge badge-danger"> @Html.DisplayFor(model => model.CaseLocation.PinCode.Code)</span>
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.CaseLocation.District.Name)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.CaseLocation.District.Name)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.CaseLocation.State.Name)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.CaseLocation.State.Name)
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i>  @Applicationsettings.AGENTS</h3>
                    </div>
                    <div class="card-body">
                        <form id="radioButtons" method="post" asp-action="AllocateToVendorAgent" enctype="multipart/form-data">
                            <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                            <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.CaseLocation.CaseLocationId" />
                            <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            Agent Name
                                        </th>

                                        <th>
                                            PhoneNumber
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VendorApplicationUser)
                                    {
                                        <tr>
                                            <td>
                                                <input id="selectedcase" name="selectedcase" class="selected-case" type="radio" value="@item.Id" />
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    <button disabled="disabled" id="allocate-case" type="submit" class="btn btn-success">
                                        <i class="fas fa-thumbs-up" aria-hidden="true"></i> @Applicationsettings.BROADCAST
                                    </button>
                                </div>
                            </div>
                        </form>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>