@model ClaimsInvestigationVendorAgentModel

@{
    ViewData["Title"] = @Applicationsettings.SERVICE;
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i>  Claim Description</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerName)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerName)
                                    </dd>
                                    <dt class="col-sm-5">
                                        Phone #
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.ContactNumber)
                                    </dd>

                                    <dt class="col-sm-5">
                                        PinCode
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.PinCode.Name)
                                    </dd>

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.District)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.District.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        Policy Document
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.ClaimsInvestigation.DocumentImage is not null)
                                        {
                                            <img id="documentImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation.DocumentImage))">
                                        }
                                        else
                                        {
                                            <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                        }
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Customer Photo
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.ClaimsInvestigation?.ProfilePicture is not null)
                                        {
                                            <img id="documentImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.ProfilePicture))">
                                        }
                                        else
                                        {
                                            <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                        }
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerIncome)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerIncome)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerOccupation)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerOccupation)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.ClaimsInvestigation.CustomerEducation)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.ClaimsInvestigation.CustomerEducation)
                                    </dd>

                                </dl>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Beneficiary Photo
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.CaseLocation?.ProfilePicture is not null)
                                        {
                                            <img id="documentImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.CaseLocation?.ProfilePicture))">
                                        }
                                        else
                                        {
                                            <img id="documentImage" class="form-Image" src="/img/user.png">
                                        }
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CaseLocation.BeneficiaryName)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.BeneficiaryName)
                                    </dd>
                                    <dt class="col-sm-5">
                                        Phone #
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.BeneficiaryContactNumber)
                                    </dd>
                                    <dt class="col-sm-5">
                                        Beneficiary Relation
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.BeneficiaryRelation.Name)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CaseLocation.Addressline)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.Addressline)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.CaseLocation.District.Name)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.District.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        State
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.State.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        Country
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.CaseLocation.Country.Name)
                                    </dd>

                                    <dt class="col-sm-5">
                                        PinCode
                                    </dt>
                                    <dd class="col-sm-5">
                                        <span class="badge badge-danger"> @Html.DisplayFor(model => model.CaseLocation.PinCode.Code)</span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i>  @Applicationsettings.AGENTS</h3>
                    </div>
                    <div class="card-body">
                        <form id="radioButtons" method="post" asp-action="AllocateToVendorAgent" enctype="multipart/form-data">
                            <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                            <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.CaseLocation.CaseLocationId" />
                            <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            Agent Photo
                                        </th>
                                        <th>
                                            Agent Name
                                        </th>
                                        <th>
                                            Phone #
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Address
                                        </th>
                                        <th>
                                            District
                                        </th>
                                        <th>
                                            State
                                        </th>
                                        <th>
                                            Country
                                        </th>
                                        <th>
                                            Pincode
                                        </th>
                                        <th>
                                            Current Claims
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VendorUserClaims)
                                    {
                                        <tr>
                                            <td>
                                                <input id="@item.AgencyUser.Id" name="selectedcase" class="selected-case" type="radio" value="@item.AgencyUser.Id" />
                                            </td>
                                            <td>
                                                @if (item?.AgencyUser.ProfilePictureUrl is not null)
                                                {
                                                    <img id="documentImage" class="form-Image" src="@item?.AgencyUser.ProfilePictureUrl">
                                                }
                                                else
                                                {
                                                    <img id="documentImage" class="form-Image" src="/img//user.png">
                                                }
                                            </td>
                                            <td>
                                                @item.AgencyUser.FirstName @item.AgencyUser.LastName
                                            </td>
                                            
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AgencyUser.PhoneNumber)
                                            </td>
                                            <td>
                                                <a href="#">  @Html.DisplayFor(modelItem => item.AgencyUser.Email)</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AgencyUser.Addressline)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AgencyUser.District.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AgencyUser.State.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AgencyUser.Country.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AgencyUser.PinCode.Code)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CurrentCaseCount)
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    <a asp-action="AllocateToVendorAgent" asp-route-selectedcase="@Model.ClaimsInvestigation.ClaimsInvestigationId" class="btn btn-default"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a> &nbsp;

                                    
                                    <button disabled="disabled" id="allocate-case" type="submit" class="btn btn-success">
                                        <i class="fas fa-thumbs-up" aria-hidden="true"></i> ALLOCATE
                                    </button>
                                </div>
                            </div>
                        </form>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>