@model risk.control.system.Models.ApplicationUser

@{
	ViewData["Title"] = Applicationsettings.CREATE;
	var email = Model.ClientCompany.Email;
	var emailAtIndex = email.IndexOf("@");
	if (emailAtIndex > 0)
	{
		email = email.Substring(emailAtIndex + 1);
	}
}

<section class="content">
	<div class="card shadow-lg border-1 rounded-lg">
		<div class="card-header bg-secondary text-white text-center">
			<h3 class="card-title"><i class="fas fa-user-plus"></i>  Add User</h3>
		</div>
		<div class="card-body">
			<div class="submit-progress hidden">
				<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="form-group">
						<label class="input-group-label" for="emailAddress"> Email: <small>(minimum 5 character)</small></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text" id="emailid"><i class="fas fa-at"></i> <i class="fa fa-asterisk asterik-style"></i> </span>
							</div>
							<input type="text" asp-for="Email" id="emailAddress" class="form-control email-address remarks" required
								   placeholder="email" maxlength="15" autocomplete="name" title="Enter unique email with 5 minimum character" data-bs-toggle="tooltip" />
							<div class="input-group-append" title="domain name">
								<span class="input-group-text" id="Email">@@@email</span>
							</div>
							<div class="input-group-append" data-bs-toggle="tooltip" title="Click to validate email">
								<button disabled id="check-email" class="input-group-text disabled-btn validate-user">
									<i class="far fa-question-circle"></i>
								</button>
							</div>
							<div class="input-group-append">
								<span id="result"></span>
							</div>
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<form id="create-form" asp-action="Create" enctype="multipart/form-data" autocomplete="off">
			<input type="hidden" asp-for="Email" id="mailAddress" />
			<input type="hidden" id="Isd" value="@Model?.Country.ISDCode" />
			<input type="hidden" id="countryCode" value="@Model?.Country.Code" />
			<input type="hidden" id="emailSuffix" name="emailSuffix" value="@email" />
			<input type="hidden" asp-for="ClientCompanyId" value="@Model.ClientCompany.ClientCompanyId" />
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>

						<div class="form-group text-center">
							<div class="profile-img-container">
								<img id="document-Image" class="form-Image img-circle" src="@Applicationsettings.NO_USER" title="User Photo" alt="User" data-bs-toggle="tooltip" />
							</div>
							<label for="createImageInput" class="control-label">User Photo<i class="fa fa-asterisk asterik-style-logo"></i></label>
							<input id="createImageInput" accept=".jpg,.jpeg,.png" required asp-for="ProfileImage" class="form-control remarks document-image-input" type="file" data-preview-id="createProfileImage" data-title-id="user-document" title="Upload User Photo" data-bs-toggle="tooltip" />
							<span asp-validation-for="ProfileImage" class="text-danger"></span>
						</div>

						<div class="form-group">
							<label class="input-group-label" for="FirstName"> First Name:</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
								</div>
								<input type="text" id="FirstName" asp-for="FirstName" class="form-control title-name remarks" required placeholder="First Name" minlength="3" maxlength="20" autocomplete=off>
								<span asp-validation-for="FirstName" class="text-danger"></span>
							</div>
						</div>

						<div class="form-group">
							<label class="input-group-label" for="LastName"> Last Name:</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"> <i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
								</div>
								<input type="text" id="LastName" asp-for="LastName" class="form-control title-name remarks" required placeholder="Last Name" maxlength="20" autocomplete="off">
								<span asp-validation-for="LastName" class="text-danger"></span>
							</div>
						</div>

						@*  <div class="form-group">
                        <span class="input-group-label"> Password:</span>
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="Password"> <i class="fa fa-key"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input type="password" asp-for="Password" class="form-control remarks" required placeholder="Password" maxlength="20" autocomplete="off">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        </div>*@

						<div class="form-group">
							<label class="input-group-label" for="PhoneNumber"> Mobile #:</label>
							<div class="input-group">

								<div class="input-group-prepend">
									@{
										var imgPath = "/flags/" + @Model.Country.Code.ToLower() + ".png";
									}
									<span class="input-group-text country-code-text" data-bs-toggle="tooltip" title="Country Code :+@Model?.Country.ISDCode">
										<img src="@imgPath" class="flag-icon" data-bs-toggle="tooltip" alt="flag" />  +@Model?.Country.ISDCode<i class="fa fa-asterisk asterik-style"></i>
									</span>
								</div>
								<input id="PhoneNumber" type="text" asp-for="PhoneNumber" class="form-control remarks" required maxlength="10" placeholder="Enter mobile # without country-code" data-bs-toggle="tooltip" />
								<span id="phone-spinner" class="text-secondary phone-icon d-none">
									<i class="fas fa-spinner fa-spin"></i>
								</span>
								<span id="phone-valid" class="text-success phone-icon d-none">
								</span>
								<span id="phone-invalid" class="text-danger phone-icon d-none">
								</span>
								<span asp-validation-for="PhoneNumber" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="input-group-label" for="Role"> Role:</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="nav-icon fas fa-file-invoice"></i> <i class="fa fa-asterisk asterik-style"></i></span>
								</div>
								<select id="Role" required asp-for="Role" class="form-control remarks" asp-items="@Model.AvailableRoles">
									<option value="">--- SELECT ---</option>
								</select>
								<span asp-validation-for="Role" class="text-danger"></span>
							</div>
						</div>
						<partial name="_Address" model="@Model" />

						<div class="form-group">
							<label class="input-group-label" for="Addressline"> Address:</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-home"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
								</div>
								<input type="text" id="Addressline" asp-for="Addressline" class="form-control remarks" placeholder="Street Address..." required maxlength="70" autocomplete="off" />
								<span asp-validation-for="Addressline" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="input-group-label" for="Comments"> Note:</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"> <i class="fa fa-asterisk asterik-style-none"></i><i class="fas fa-comment"></i> </span>
								</div>
								<input type="text" id="Comments" asp-for="Comments" class="form-control remarks" placeholder="Notes (optional)" maxlength="70" autocomplete="off" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group text-right">
							@* <button id="reset" type="submit" onclick="clearAllInputs()" class="btn btn-outline-secondary">
                                <i class="fas fa-undo"></i> Reset
                            </button> *@
							<a id="cancel" asp-controller="ManageCompanyUser" asp-action="Users" class="btn btn-secondary"><i class="fa fa-window-close"></i> Cancel</a>
							<button disabled id="create" type="submit" class="btn btn-success">
								<i class="fas fa-user-plus"></i> Add User
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/common/manage-user.js"></script>
	<script src="~/js/company-admin/pincode.js"></script>
	<script src="~/js/company-admin/phone-bank-validate.js"></script>
	<script src="~/js/common/image-upload.js"></script>
	<script src="~/js/common/form-validation.js"></script>
}