@model risk.control.system.Models.ApplicationUser

@{
    ViewData["Title"] = Applicationsettings.CREATE;
    var email = Model.Vendor.Email;
}

<section class="content">
    <div class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title"><i class="fas fa-user-plus"></i>  Add User</h3>
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="input-group-label" for="emailAddress"> Email Address:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="emailid"><i class="fas fa-at"></i> <i class="fa fa-asterisk asterik-style"></i> </span>
                            </div>
                            <input type="text" asp-for="Email" id="emailAddress" class="form-control email-address" 
                                   required placeholder="Enter User Email prefix" maxlength="15" autocomplete="name">
                            <div class="input-group-append">
                                <span class="input-group-text" id="Email">@@@email</span>
                            </div>
                            <div class="input-group-append">
                                <button disabled id="check-email" class="input-group-text">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </div>
                            <div class="input-group-append">
                                <span id="result"></span>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>

            </div>
        </div>

        <form id="create-form" asp-action="Create" enctype="multipart/form-data" autocomplete="off">
            <input type="hidden" asp-for="VendorId" value="@Model.Vendor.VendorId" />
            <input type="hidden" asp-for="Email" id="mailAddress" />
            <input type="hidden" id="emailSuffix" name="emailSuffix" value="@email" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group hide-id">
                            <input asp-for="VendorId" class="form-control remarks" value="@Model.Vendor.VendorId" />
                            <span asp-validation-for="VendorId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label" for="createImageInput"> Photo:</label>
                            <div class="input-group mb-3">
                                <img id="createProfileImage" class="form-Image" data-preview-id="createProfileImage" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="Upload Photo" alt="Profile"/>
                                <i class="fa fa-asterisk asterik-style"></i>
                                <input accept=".jpg,.jpeg,.png" asp-for="ProfileImage" class="form-control remarks document-image-input" type="file" id="createImageInput" data-preview-id="createProfileImage" required data-toggle="tooltip" title="Upload Photo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label" for="FirstName"> First Name:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input id="FirstName" type="text" asp-for="FirstName" class="form-control remarks title-name" required placeholder="First Name" maxlength="20" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-group-label" for="LastName"> Last Name:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input id="LastName" type="text" asp-for="LastName" class="form-control remarks title-name" required placeholder="Last Name" maxlength="20" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        @*
                        <div class="form-group">
                        <span class="input-group-label"> Password:</span>
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="Password"> <i class="fa fa-key"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input type="password" asp-for="Password" class="form-control remarks" required placeholder="Password"  maxlength="20" autocomplete="new-password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        </div>*@

                        <div class="form-group">
                            <label class="input-group-label" for="PhoneNumber"> Mobile #:</label>
                            <div class="input-group">
                                <!-- Display Country Code -->
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" title="Country Code :+@Model?.Country.ISDCode">
                                        <i class="fas fa-phone"></i><i class="fa fa-asterisk asterik-style"> </i>
                                    </span>
                                </div>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" title="Country Code :+@Model?.Country.ISDCode">
                                        (+@Model?.Country.ISDCode)
                                    </span>
                                </div>
                                <input id="PhoneNumber" type="text" asp-for="PhoneNumber" class="form-control remarks" required maxlength="10" placeholder="Mobile # only (e.g., 9876543210)" data-bs-toggle="tooltip" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label" for="Comments"> Note:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-comment"></i> <i class="fa fa-asterisk asterik-style-none"></i></span>
                                </div>
                                <input id="Comments" type="text" asp-for="Comments" class="form-control remarks" placeholder="Note (optional)" maxlength="70" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <partial name="_Address" model="@Model" />

                        <div class="form-group">
                            <label class="input-group-label" for="Addressline"> Address:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fa fa-home"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input id="Addressline" type="text" asp-for="Addressline" class="form-control remarks" placeholder="Street Address..." maxlength="70" required />
                                <span asp-validation-for="Addressline" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label" for="Active"> Status:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <div class="input-group-prepend">
                                </div>
                                <span class="checkbox">
                                    <input id="Active" asp-for="Active" type="checkbox" data-toggle="toggle" data-on="<i class='fa fa-toggle-on'></i> Active " data-off="<i class='fa fa-toggle-off'></i> Lock" data-onstyle="success" data-offstyle="danger" data-width="120">
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group text-right">
                            <a id="cancel" asp-controller="Vendors" asp-action="Users" asp-route-id="@Model.Vendor.VendorId" class="btn btn-secondary">
                            <i class="fa fa-window-close"></i>
                            @Applicationsettings.CANCEL
                        </a>
                        <button disabled id="create-user" type="submit" class="btn btn-success">
                            <i class="fas fa-user-plus"></i> Add User
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </form>

    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/common/manage-user.js"></script>
    <script src="~/js/company-admin/pincode.js"></script>
}
