@model risk.control.system.Models.VendorApplicationUser

@{
    ViewData["Title"] = Applicationsettings.CREATE;
    var email = Model.Vendor.Email;
    Layout = "/Views/Shared/AdminLTE/_FormLayout.cshtml";
}
<section class="content pt-2">
    <div class="container-fluid ">
        <form asp-action="Create" enctype="multipart/form-data" autocomplete="off">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-user-plus"></i>  Add @Applicationsettings.USER</h3>
                        </div>
                        <div class="card-body">
                            <input hidden asp-for="VendorId" value="@Model.Vendor.VendorId" />
                            <input type="hidden" id="emailSuffix" name="emailSuffix" value="@email" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group hide-id">
                                        <label asp-for="VendorId" class="control-label"></label>
                                        <input asp-for="VendorId" class="form-control" value="@Model.Vendor.VendorId" />
                                        <span asp-validation-for="VendorId" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="emailid">Email <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i> </span>
                                            </div>
                                            <input type="text" asp-for="Email" id="email" class="form-control email-address" value="" required placeholder="Enter User Email prefix" maxlength="20" onkeydown='return alphaOnly(event);'>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="Email">@@@email</span>
                                            </div>
                                            <span asp-validation-for="Email" class="text-danger" id="result"></span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="FirstName">First Name <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="FirstName" class="form-control" required placeholder="Enter First Name" value="" maxlength="20">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="LastName">Last Name <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="LastName" class="form-control" required placeholder="Enter Last Name" value="" maxlength="20">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Password">Password <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="password" asp-for="Password" class="form-control" required placeholder="Enter Password" value="" maxlength="20">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="PhoneNumber">Phone # <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="number" asp-for="PhoneNumber" class="form-control" required maxlength="10" value="" placeholder="Enter Phone # (10 digit)" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Profile Photo</span>
                                            </div>
                                            <img id="ProfileImage" class="form-Image" src="/img/no-photo.png">

                                            <input asp-for="ProfileImage" class="form-control" type="file" onchange="document.getElementById('ProfileImage').src = window.URL.createObjectURL(this.files[0])" />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="CountryId">Country <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select asp-for="CountryId" class="form-control" id="CountryId" asp-items="ViewBag.CountryId" onchange="loadState(this)" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="CountryId" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="StateId">State <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select id="StateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this)" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>

                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="DistrictId">District <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>

                                            <span asp-validation-for="DistrictId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="PinCodeId">Pincode <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <select id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId" required>
                                                <option value="">--- SELECT ---</option>
                                            </select>
                                            <span asp-validation-for="PinCodeId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Addressline">Address line <i class="fa fa-asterisk" style="font-size:.4rem;color:red"></i></span>
                                            </div>
                                            <input type="text" asp-for="Addressline" class="form-control" placeholder="Enter Address line" value="" required maxlength="20"/>
                                            <span asp-validation-for="Addressline" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="Comments">Remarks</span>
                                            </div>
                                            <input type="text" asp-for="Comments" class="form-control" placeholder="Enter Remarks (optional)" maxlength="20"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-right">
                                        <a asp-controller="VendorUser" asp-action="Index" asp-route-id="@Model.Vendor.VendorId" class="btn btn-secondary">
                                            <i class="fa fa-window-close"></i>
                                            @Applicationsettings.CANCEL
                                        </a>
                                        <button disabled id="create-agency" type="submit" class="btn btn-success">
                                            <i class="fas fa-user-plus"></i> Add User
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        function alphaOnly(event) {
            var key = event.keyCode;
            return ((key >= 65 && key <= 90) || key == 8);
        };
        $("input#email").on({
            keydown: function (e) {
                if (e.which === 32)
                    return false;
            },
            change: function () {
                this.value = this.value.replace(/\s/g, "");
            }
        });
        $('#email').blur(function () {
            var url = "/Account/CheckUserEmail";
            var name = $('#email').val();
            var emailSuffix = $('#emailSuffix').val();
            if (name) {
                $.get(url, { input: name + '@@' + emailSuffix }, function (data) {

                    if (data == 0) { //available
                        $("#result").html("<span style='color:green;padding-top:.5rem;'> <i class='fas fa-check' style='color:#298807'></i></span>");
                        $('#result').css('padding', '.5rem')
                        $('#result').fadeOut(2000); // 1.5 seconds
                        $('#result').fadeOut('slow'); // 1.5 seconds
                        $("#email").css('background-color', '');
                        $("#email").css('border-color', '#ccc');
                        $('#create-agency').prop('disabled', false);
                    }
                    else if (data == 1) {//domain exists
                        $("#result").html("<span style='color:red;padding-top:.5rem;display:inline !important'><i class='fa fa-times-circle' style='color:red;'></i> </span>");
                        $('#result').css('padding', '.5rem')
                        $('#result').css('display', 'inline')
                        $("#email").css('border-color', '#e97878');
                        $('#create-agency').prop('disabled', 'true !important');
                    }
                    else if (data = null || data == undefined) {

                    }
                });
            }

        })
    </script>
}
