@model CreateClaims
@{
    ViewData["Title"] = "Assign";
}
<section class="content">
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <partial name="Investigation/_UploadTitle" model="Model" />

        <div class="filter-refresh-container shadow-lg border-1 rounded-lg">
            <div class="filter-group">
                <label for="caseTypeFilter" class="filter-label">
                    <i class="bi bi-funnel"></i> Case Type:
                </label>
                <select id="caseTypeFilter" class="form-select custom-select">
                    <option value="">All</option>
                    <option value="@InsuranceType.CLAIM">@CONSTANTS.CLAIM</option>
                    <option value="@InsuranceType.UNDERWRITING">@CONSTANTS.UNDERWRITING</option>
                </select>
            </div>
            <div class="shadow-lg border-1 rounded-lg">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <button id="refreshTable" class="btn btn-light refresh-button">
                    <i id="refreshIcon" class="fas fa-sync"></i> Refresh
                </button>
            </div>
        </div>

        <form id="checkboxes" asp-action="AssignAuto" asp-controller="InvestigationPost" method="post">
            @Html.AntiForgeryToken()
            <div class="card-body">
                <table id="customerTableAuto" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th data-toggle="tooltip" title="Select Case(s) to Assign/delete"><input type="checkbox" name="select_all" id="checkall" value="0" /></th>
                            <th data-toggle="tooltip" title="Case Number" alt="Case Number"><img class="action-image" src="~/headers/policy-num.gif" /></th>
                            <th data-toggle="tooltip" title="Assured Amount" alt="Assured Amount"><img class="action-image" src="~/headers/amount.gif" /></th>
                            <th data-toggle="tooltip" title="Address of Interest" alt="Address of Interest"><img class="action-image" src="~/headers/pincode.gif" /></th>
                            <th data-toggle="tooltip" title="Policy Document" alt="Policy Document"><img class="action-image" src="~/headers/policy-doc.gif" /></th>
                            <th data-toggle="tooltip" title="Customer Photo" alt="Customer Photo"><img class="action-image" src="~/headers/portrait.gif" /></th>
                            <th data-toggle="tooltip" title="Customer Name" alt="Customer Name"><img class="action-image" src="~/headers/customer.gif" /></th>
                            <th data-toggle="tooltip" title="Beneficiary Photo" alt="Beneficiary Photo"><img class="action-image" src="~/headers/portrait.gif" /></th>
                            <th data-toggle="tooltip" title="Beneficiary Name" alt="Beneficiary Name"><img class="action-image" src="~/headers/customer.gif" /></th>
                            <th data-toggle="tooltip" title="Case Type" alt="Case Type"><img class="action-image" src="~/headers/claim-type.gif" /></th>
                            <th data-toggle="tooltip" title="Source" alt="Source"><img class="action-image" src="~/headers/status.gif" /></th>
                            <th data-toggle="tooltip" title="Updated Date" alt="Updated Date"><img class="action-image" src="~/headers/created.gif" /></th>
                            <th data-toggle="tooltip" title="Days since Drafted">
                                <img class="action-image" src="~/headers/timer.gif" />
                            </th>
                            <th data-toggle="tooltip" title="Action"><img class="action-image" src="~/headers/action.gif" /></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        @if (@Model.UserCanCreate)
                        {
                            <a class="create-policy btn btn-success" asp-action="Create"><i class="far fa-edit"></i> @Applicationsettings.CREATE</a>
                        }
                        else
                        {
                            <button disabled class="create-policy btn btn-success"><i class="far fa-edit"></i> @Applicationsettings.CREATE</button>
                        }
                        @if (Model.AutoAllocation)
                        {
                            <button disabled id="allocatedcase" type="submit" class="btn btn-warning">
                                <i class="fas fa-random"></i> Assign<sub>auto</sub>
                            </button>
                        }

                        <button disabled id="deletecase" type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<partial name="_DisplayPopUp" />
@section Scripts {
    <script src="~/js/company/new.js"></script>
}

