@using risk.control.system.Helpers;
@model LocationReport
@{
	var location = Model;
}

@if (location.DocumentIds?.Any(d => d.Selected) == true)
{
	<div class="table-responsive mb-4">
		<table class="table table-bordered table-hover dt-responsive nowrap w-100">
		<thead class="thead-light">
			<tr>
					<th class="col-face-photo">
						<i class="far fa-file text-primary" title="Document"></i> Document
					</th>
				<th>
						<i class="fas fa-copy text-muted ms-2" title="Scanned Document Image"></i> Scanned Image
				</th>
					<th title="Indicative Map"><img class="action-image" src="~/headers/pincode.gif" />Indicative Map</th>
					<th class="col-pin-img" title="Indicative Address Info"> Indicative Address Info</th>
					<th class="col-weather" title="Document info"><img class="action-image" src="~/headers/information.gif" />Document info</th>
				<th>Valid</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var doc in location.DocumentIds.Where(d => d.Selected && d.ValidationExecuted))
			{

				<tr>
					<td>
							<small>
						@doc.ReportName
								</small>
							@if (doc.IsRequired)
							{
								<span class="required-asterisk" title="Mandatory Location">*</span>
							}
					</td>
					
					<td>
						@if (doc.ValidationExecuted)
						{
							<img id="doc-img-@doc.Id"
								 src="@(doc?.FilePath)"
									 class="thumbnail-image thumbnail profile-image doc-profile-image preview-image"
								 title="Click to view document" />
						}
						else
						{
							<img id="doc-img-@doc.Id" src="~/img/no-policy.jpg" class="thumbnail profile-image doc-profile-image" />
						}

					</td>
					<td>
						@if (doc.ValidationExecuted && doc.LocationMapUrl != null)
						{
							<img id="face-img-@doc.Id"
									 src="@string.Format(doc.LocationMapUrl, "300","300")"
									 class="thumbnail-image thumbnail profile-image doc-profile-image map-image"
								 data-faceid="@doc.Id"
								 data-locationid="@location.Id"
								 data-source="document"
								 title="Click to view map" />

						}
						else
						{
							<img src="~/img/no-map.jpeg" class="thumbnail profile-image doc-profile-image" />
						}
					</td>
					<td>
									<div>@doc.LongLat</div>
							<small>
						@doc.LocationAddress
								</small>
							<span class="badge badge-light">
								Indicative Distance from @location.Address Address @doc.Distance
							</span>
					</td>
					<td>
							<small>
						@doc.LocationInfo
								</small>
					</td>
					<td>
						@if (doc.ValidationExecuted)
						{
							@if (doc.ImageValid.HasValue && doc.ImageValid.Value)
							{
								<i class='fas fa-check-circle i-green'></i>
							}
							else
							{
								<i class='fa fa-times i-orangered' aria-hidden='true'></i>
							}
						}
						else
						{
							<i class='fa fa-times i-grey' aria-hidden='true'></i>
						}

					</td>
				</tr>
			}
		</tbody>
	</table>
	</div>
}
