@model ClaimTransactionModel

@{
    ViewData["Title"] = "Details";

}
<section class="content">
        <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
        <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
        <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
        <input type="hidden" id="claimId" value="@Model.ClaimsInvestigation?.ClaimsInvestigationId" />
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title">
                <i class="fas fa-newspaper"></i> Details
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-file-powerpoint'></i> Case details
                        </li>
                        <li>
                            <i class='fa fa-user-plus'></i> Customer details
                        </li>
                        <li> <i class='fas fa-user-tie'></i> Beneficiary details </li>
                        <li> <i class="fas fa-newspaper"></i> Agency report </li>
                        <li><i class="fas fa-clock"></i> Timeline </li>

                    </span>
                </span>
            </h3>
        </div>
    </div>

    <div class="card direct-chat direct-chat-warning collapsed-card">
        <div class="card-header bg-light text-white text-center">
            <h3 class="card-title">Case :<span class="badge badge-light"><i class="far fa-file-powerpoint"></i>  @Model.ClaimsInvestigation?.PolicyDetail?.ContractNumber</span></h3>
            <div class="card-tools">
                <span data-toggle="tooltip" title="Agent report # : @Model.ClaimsInvestigation.Vendor.Email" class="badge badge-light">
                    <i class='far fa-hand-point-right'></i>
                </span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <partial name="Creator/_DeletePolicy" model="Model" />
                    <partial name="Creator/_DeleteCustomer" model="Model" />
                    <partial name="Creator/_DeleteBeneficiary" model="Model" />

                </div>
            </div>
        </div>
        
    <div class="submit-progress hidden">
        <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
    </div>
    <div class="card direct-chat direct-chat-warning expanding-card">
        <div class="card-header bg-light text-white text-center">
            <h3 class="card-title">
                <i class="fas fa-print nav-icon"></i> Agency: <span class="badge badge-light">@Model.ClaimsInvestigation.Vendor.Email</span>
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <span>

                            <i class='far fa-hand-point-right'></i><b> @Model.ClaimsInvestigation.Vendor.Email</b> report  <i class="fas fa-print nav-icon"></i>.
                        </span>

                    </span>
                </span>
            </h3>
            <div class="card-tools">
                <span data-toggle="tooltip" title="Agent report # : @Model.ClaimsInvestigation.AgencyReport.AgentEmail" class="badge badge-light"><i class='far fa-hand-point-right'></i></span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>

        </div>

        <div class="card-body">
            <div class="row">
                @{
                    <partial name="_AgentSubmittedAgentdReport" model="@Model" />
                    <partial name="_AgentSubmittedDigitalIdReport" model="@Model" />
                    <partial name="_AgentSubmittedDocumentIdReport" model="@Model" />
                    if (Model.ClaimsInvestigation.EnablePassport)
                    {
                        <partial name="_AgentSubmittedPassportIdReport" model="@Model" />
                    }
                    if (Model.ClaimsInvestigation.EnableMedia)
                    {
                        <partial name="_AgentSubmittedAudioReport" model="@Model" />
                        <partial name="_AgentSubmittedVideoReport" model="@Model" />
                    }
                }
                

            </div>
            @{
                           var questionTime = @Model.ClaimsInvestigation.AgencyReport.AgentRemarksUpdated != null ?
                            @Model.ClaimsInvestigation.AgencyReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;
                       }
            <div class="row">
               <div class="col-12 col-md-6">
                    <div class="card bg-light d-flex flex-fill border-success">
                        <div class="card-header text-muted border-bottom-0">
                            <h3 class="card-title">
                                        <i class="far fa-comment"></i> Questionnaire (@Model.ClaimsInvestigation.PolicyDetail.LineOfBusiness.Name)
                                        <span class="hover-text">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="tooltip-text" id="information">
                                                <span>
                                                        <i class="far fa-comment"></i><b> Questionnaire (@Model.ClaimsInvestigation.PolicyDetail.LineOfBusiness.Name)</b>
                                                </span>

                                            </span>
                                        </span>
                                    </h3>
                                    <div class="card-tools">
                                        <span data-toggle="tooltip" title="Agent report time" class="badge badge-light">
                                            <i class="nav-icon fas fa-clock"></i>
                                            @Model.ClaimsInvestigation.AgencyReport?.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                                        </span>
                                        
                                    </div>
                                </div>
                                <div class="card-footer text-muted border-bottom-0">
                                    <i class="fas fa-user-shield"></i>  Agent:<span class="badge badge-light">  @Model.ClaimsInvestigation.AgencyReport.AgentEmail </span>
                                </div>
                                <div class="progress">
                                    <i class="far fa-bookmark bookmark-green"></i>
                                    <div class="progress-bar progress-bar-green" role="progressbar">
                                            questionaaire (@Model.ClaimsInvestigation.PolicyDetail.LineOfBusiness.Name)
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="row">

                                        <div class="col-6">
                                            <p class="text-muted text-sm">
                                                <span class="badge badge-light"><i class="fas fa-film"></i> Questions</span>:
                                                <br />
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                    <li class="small">
                                                        @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question1
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                                                                                @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question2
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                            @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question3

                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                                                                                    @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question4
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        Remarks?
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>

                                        <div class="col-6">
                                            <p class="text-muted text-sm">
                                                <span class="badge badge-light"><i class="fas fa-film"></i> Answers</span>:
                                                <br />
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                        @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer1
                                                    </li>
                                                    <br />
                                                    <li class="small">

                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                        @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer2
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                        @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer3
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                        @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer4
                                                    </li>
                                                    <br />
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="far fa-comment"></i>
                                                        </span>
                                                        @{
                                                            var remarks = Model.ClaimsInvestigation.AgencyReport?.AgentRemarks;
                                                            if (Model.ClaimsInvestigation.UpdateAgentAnswer)
                                                            {
                                                                var edited = Model.ClaimsInvestigation.AgencyReport?.AgentRemarks != Model.ClaimsInvestigation.AgencyReport?.AgentRemarksEdit;
                                                                if (edited)
                                                                {
                                                                    remarks = Model.ClaimsInvestigation.AgencyReport?.AgentRemarksEdit; ;
                                                                }
                                                            }
                                                        }
                                                        @remarks
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>

                                </div>
                            </div>
                         </div>
                    </div>
                <div class="col-12 col-md-6">
                    <partial name="_AgentChat" model="@Model" />
                    @if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarks))
                    {
                     <div class="card bg-light  border-success">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-user-edit"></i> Supervisor comments:
                                        <span class="hover-text">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="tooltip-text" id="information">
                                                <span>
                                                    <i class="fas fa-user-shield"></i><b> @Model?.ClaimsInvestigation.AgencyReport?.SupervisorEmail</b> comments.
                                                </span>

                                            </span>
                                        </span>
                                    </h3>
                                    <div class="card-tools">
                                        <span data-toggle="tooltip" title=" Supervisor :  @Model?.ClaimsInvestigation.AgencyReport?.SupervisorEmail" class="badge badge-light">
                                            <i class="nav-icon fas fa-clock"></i> @Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                                        </span>
                                    </div>

                                </div>
                                <div class="progress">
                                    <i class="far fa-bookmark bookmark-green"></i>
                                    <div class="progress-bar progress-bar-green" role="progressbar">
                                        supervisor comments
                                    </div>
                                </div>
                                <div class="card-footer text-muted border-bottom-0">
                                    <i class="fas fa-user-shield"></i>  Supervisor :<span class="badge badge-light">  @Model?.ClaimsInvestigation.AgencyReport.SupervisorEmail </span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="text-muted text-sm">

                                                <span>comments: </span>
                                            </p>
                                            <div class="table-responsive">
                                            <table class="table table-bordered table-sm table-hover align-middle text-center">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th class="w-25">Time</th>
                                                        <th>Supervisor Response</th>
                                                        <th class="w-25">Document</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @{
                                                                var updateTime = Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarksUpdated
                                                                                 ?? Model.ClaimsInvestigation.AgencyReport.Created;
                                                                string displayTime = updateTime.ToString("dd-MMM-yyyy HH:mm");
                                                            }
                                                            <span class="badge badge-light">@displayTime</span>
                                                        </td>

                                                        <td class="text-start">
                                                            <div class="bg-light rounded p-2 text-muted">
                                                                @Model.ClaimsInvestigation.AgencyReport?.SupervisorRemarks
                                                            </div>
                                                        </td>

                                                        <td>
                                                            @if (Model.ClaimsInvestigation.AgencyReport?.SupervisorAttachment != null)
                                                            {
                                                                <div class="d-flex flex-column gap-2 align-items-center">
                                                                    <img class="img-thumbnail mb-2 doc-preview" src="data:image/*;base64,@(Convert.ToBase64String(Model.ClaimsInvestigation.AgencyReport.SupervisorAttachment))" alt="Attachment">

                                                                    <a asp-controller="Download"
                                                                       asp-action="SupervisorFileAttachment"
                                                                       asp-route-id="@Model.ClaimsInvestigation.AgencyReport.AgencyReportId"
                                                                       target="_blank"
                                                                       class="btn btn-outline-primary btn-sm">
                                                                        <i class="fas fa-paperclip"></i> View
                                                                    </a>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <img src="@Applicationsettings.NO_IMAGE" alt="No Document" class="img-thumbnail doc-preview">
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                    }

                </div>
            </div>
            <div class="row">
                @if (@Model.ClaimsInvestigation.IsQueryCase && @Model.ClaimsInvestigation.AgencyReport.EnquiryRequest != null)
                {
                    <partial name="_EnquiryReport" model="@Model" />
                }
            </div>
        </div>
    </div>
    <partial name="Company/_TimelineReport" model="@Model" />

    <div class="card-footer">
        <div class="row float-right">
            <div class="col-md-12">

                <a id="back" asp-action="Assessor" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left"></i>
                    <span class="badge badge-light"> <i class="fas fa-glasses"></i> </span> Back
                </a>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company/policy-detail.js"></script>
    <script src="~/js/common/claim-details.js"></script>
    <script src="~/js/case-map.js"></script>
    <script>
        initReportMap();
    </script>

}
