@model IEnumerable<risk.control.system.Models.CostCentre>
@{
    ViewData["Title"] = @Applicationsettings.COST_CENTRE;
}


<section class="content">
    <div class="card card-secondary border-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-money-check-alt"></i> Budget Centre</h3>

        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Code
                        </th>
                        <th>Date Updated</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Code
                            </td>
                            <td>
                                @item.Updated
                            </td>
                            <td>
                                <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-id="@item.CostCentreId"><i class="fas fa-money-check-alt"></i> @Applicationsettings.EDIT</a> &nbsp;
                                <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@item.CostCentreId"><i class="fas fa-trash"></i> @Applicationsettings.DELETE</a>
                                <input type="hidden" value="@item.CostCentreId" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
                        <a class="btn btn-success" asp-action="Create"><i class="fas fa-money-check-alt"></i> @Applicationsettings.CREATE New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/company-admin/cost-center.js">
    </script>
}