@model IEnumerable<OutboxMessage>
@{
    ViewData["Title"] = "Outbox";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success card-outline card-outline">
                    <form id="checkboxes" asp-controller="ContactMessage" asp-action="OutboxDelete" method="post" id="listForm">

                        <div class="card-header">
                            <h3 class="card-title">@Applicationsettings.OUTBOX</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Search Mail">
                                    <div class="input-group-append">
                                        <div class="btn btn-success">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-body p-0">
                            <div class="table-responsive mailbox-messages">
                                <table id="dataTbl" class="table message-table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="7">
                                                <input style="margin-right:10px;" type="checkbox" id="checkall" />
                                                <div class="btn-group">
                                                    <button disabled="disabled" id="manage-vendors" type="submit" class="btn btn-default"><i class="fa fa-trash"></i> Delete</button>
                                                    <a asp-action="Index" class="btn btn-default"><i class="fas fa-sync-alt"></i> Refresh</a>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>select</th>
                                            <th>priority</th>
                                            <th>Sender</th>
                                            <th>Receiver</th>
                                            <th>Subject</th>
                                            <th><i class='fas fa-paperclip'></i></th>
                                            <th><i class="fas fa-clock"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count() > 0)
                                        {
                                            @foreach (var message in Model)
                                            {
                                                var sentDateTime = message.SendDate.Value.ToString();
                                                var time = DateTime.Now.Subtract(message.SendDate.Value).Minutes;
                                                if (time < 60)
                                                {
                                                    sentDateTime = time.ToString() + " minute(s)";
                                                }
                                                else if (time < 24)
                                                {
                                                    time = DateTime.Now.Subtract(message.SendDate.Value).Hours;
                                                    sentDateTime = time.ToString() + " hour(s)";
                                                }
                                                var star = message.Priority == ContactMessagePriority.IMPORTANT ? "fas fa-star text-warning" : "fas fa-star text-secondary";
                                                star = message.Read && message.Priority == ContactMessagePriority.IMPORTANT ? "fas fa-star text-warning" : "fas fa-star text-secondary";
                                                var fileAttachment = string.Empty;
                                                if (string.IsNullOrEmpty(message.AttachmentName))
                                                {
                                                    fileAttachment = "none";
                                                }
                                                <tr class="@(message.Read == false ? "message-unread" : "message-read")">
                                                    <td>
                                                        <input id="@message.OutboxMessageId" class="vendors" name="messages" type="checkbox" value="@message.OutboxMessageId" checked="@message.SelectedForAction" />
                                                    </td>
                                                    <td class="mailbox-star">
                                                        <a class="row-links" asp-action="OutBoxDetails" asp-route-id="@message.OutboxMessageId"><i class="@star"></i></a>
                                                    </td>
                                                    <td><a class="row-links" asp-action="OutBoxDetails" asp-route-id="@message.OutboxMessageId">@message.SenderEmail</a></td>
                                                    <td><a class="row-links" asp-action="OutBoxDetails" asp-route-id="@message.OutboxMessageId">@message.ReceipientEmail</a></td>
                                                    <td class="message-title text-muted">
                                                        <a class="row-links" asp-action="SentDetails" asp-route-id="@message.OutboxMessageId">
                                                        <span>@message.Subject</span> - @message.Message
                                                        </a>
                                                    </td>
                                                    <td class="mailbox-attachment"><a asp-action="OutBoxDetails" asp-route-id="@message.OutboxMessageId">
                                                            <span style="display:@fileAttachment"> <i class='fas fa-paperclip'></i></span>
                                                        </a></td>

                                                    <td class="mailbox-date">
                                                        <a class="row-links" asp-action="OutBoxDetails" asp-route-id="@message.OutboxMessageId">
                                                        @sentDateTime</a></td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="7" class="empty-table-message">Empty Outbox</td></tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer p-0">
                            <div class="mailbox-controls">

                                @*<button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                    <i class="far fa-square"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="fas fa-reply"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="fas fa-share"></i>
                                    </button>
                                </div>

                                <button type="button" class="btn btn-default btn-sm">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                                <div class="float-right">
                                    1-@Model.Count()/@Model.Count()
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>

                                </div>*@

                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}