@model risk.control.system.Models.InvestigationCaseStatus

@{
    ViewData["Title"] = @Applicationsettings.EDIT;
    
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"> <i class="fas fa-battery-full"></i> @Applicationsettings.EDIT @Applicationsettings.CASE_STATUS</h3>
                    </div>
                    <div class="card-body">
                        <form id="edit-form" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="InvestigationCaseStatusId" />

                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control remarks" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Code" class="control-label"></label>
                                <input asp-for="Code" class="form-control remarks" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Created" class="control-label"></label>
                                <input asp-for="Created" class="form-control remarks" />
                                <span asp-validation-for="Created" class="text-danger"></span>
                            </div>
                            <div class="form-group text-right">
                                <a asp-action="Index" class="btn btn-secondary">
                                    <i class="fa fa-window-close"></i>
                                    @Applicationsettings.CANCEL
                                </a>
                                <button type="submit" class="btn btn-warning">
                                    <i class="fas fa-battery-full"></i>  @Applicationsettings.EDIT
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-4">
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company-admin/investigate-case-status.js">
        
    </script>
}
