@model IEnumerable<risk.control.system.Models.InvestigationCaseStatus>

@{
    ViewData["Title"] = @Applicationsettings.CASE_STATUS;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i> @Applicationsettings.CASE_STATUS List</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Code)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Created)
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)

                                {
                                    var masterData = item.MasterData ? "master-data" : "";
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>
                                        <td>
                                            <a class="btn btn-xs btn-info" asp-action="Details" asp-route-id="@item.InvestigationCaseStatusId">
                                                <i class="fa fa-search"></i>  @Applicationsettings.VIEW
                                            </a> &nbsp;
                                            <a class="btn btn-xs btn-warning @masterData" asp-action="Edit" asp-route-id="@item.InvestigationCaseStatusId">
                                                <i class="fas fa-pen"></i>  @Applicationsettings.EDIT
                                            </a> &nbsp;
                                            <a class="btn btn-xs btn-danger @masterData" asp-action="Delete" asp-route-id="@item.InvestigationCaseStatusId">
                                                <i class="fas fa-trash"></i>  @Applicationsettings.DELETE
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <a id="back" asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
                                    <a class="btn btn-success" as-controller="InvestigationCaseStatus" asp-action="Create"> <i class="fas fa-battery-full"></i> Add  New </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>