@using risk.control.system.Helpers;
@model CaseInvestigationVendorsModel

@{
    var questionTime = @Model.InvestigationReport.AgentRemarksUpdated != null ?
    @Model.InvestigationReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;
}

<div class="card border-success">
    <div class="card border-success direct-chat-warning collapsed-card">
        <div class="card-header text-muted border-bottom-0">
            <h3 class="card-title">
                <i class="far fa-comment"></i> Questionnaire
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <span>
                            <i class='far fa-hand-point-right'></i> Review <i class="far fa-comment"></i> Questionnaire (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())
                        </span>

                    </span>
                </span>
            </h3>
            <div class="card-tools">
                <span data-toggle="tooltip" title="Agent report time" class="badge badge-light"> <i class="nav-icon fas fa-clock"></i> @questionTime </span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="progress">
            <i class="far fa-bookmark bookmark-green"></i>
            <div class="progress-bar progress-bar-green" role="progressbar">
                questionnaire (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())
            </div>
        </div>
        <div class="card-footer text-muted border-bottom-0">
            <i class="fas fa-user-shield"></i>  Agent :<span class="badge badge-light">  @Model.InvestigationReport.AgentEmail </span>
        </div>
        
        <div class="card-body">

            <div class="row">
                <!-- Questions -->
                <div class="col-md-6">
                    <h6 class="text-success">
                        <i class="fas fa-film me-1"></i> Questions
                    </h6>
                    <ul class="fa-ul text-muted small">
                        @foreach (var question in Model.ClaimsInvestigation.InvestigationReport.CaseQuestionnaire?.Questions)
                        {
                            <li class="mb-2">
                                <span class="fa-li"><i class="far fa-comment text-primary"></i></span>
                                @question.QuestionText
                            </li>
                        }
                        
                    </ul>
                </div>
                <div class="col-md-6">
                    <h6 class="text-success">
                        <i class="fas fa-film me-1"></i> Answers
                    </h6>
                    <ul class="fa-ul text-muted small">
                        @foreach (var question in Model.ClaimsInvestigation.InvestigationReport.CaseQuestionnaire?.Questions)
                        {
                            <li class="mb-2">
                                <span class="fa-li"><i class="far fa-comment text-success"></i></span>
                                @question.AnswerText
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p class="text-muted text-sm">
                        <span class="badge badge-light"><i class="fas fa-film"></i> Agent Remarks</span>:
                        <br />

                        @if (Model.ClaimsInvestigation.UpdateAgentAnswer && Model.ClaimsInvestigation.SubStatus == CONSTANTS.CASE_STATUS.CASE_SUBSTATUS.SUBMITTED_TO_SUPERVISOR)
                        {
                            <textarea name="remarks" id="remarks" asp-for="InvestigationReport.AgentRemarks" class="form-control remarks" data-toggle="tooltip" title="Edit Agent Remarks" rows="2"></textarea>
                            <span asp-validation-for="InvestigationReport.AgentRemarks" class="text-danger"></span>
                        }
                        else
                        {
                            @Model.InvestigationReport?.AgentRemarks

                        }
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center">
        <i class='fas fa-check-circle i-green'></i>
    </div>

</div>