@model CaseInvestigationVendorsModel

@{
    string digitalIdColor = "progress-bar-grey";
    var borderColor = "";
    if (Model.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime == null)
    {
        digitalIdColor = "grey";
        borderColor = "";
    }
    else if (Model.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime != null && @Model.AgencyReport?.DigitalIdReport?.Similarity < 70)
    {
        digitalIdColor = "progress-bar-red";
        borderColor = "border-danger";
    }
    else if (Model.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime != null && @Model.AgencyReport?.DigitalIdReport?.Similarity >= 70)
    {
        borderColor = "border-success";
        digitalIdColor = "progress-bar-green";
    }

    if (@Model.AgencyReport?.DigitalIdReport?.DigitalIdImageData != null && @Model.AgencyReport?.DigitalIdReport?.DigitalIdImageLongLatTime != null)
    {
        <div class="card @borderColor">
            <div class="card direct-chat-warning collapsed-card">
                <div class="card-header text-muted border-bottom-0">

                    <h3 class="card-title">
                        <i class="fas fa-portrait"></i> Photo ID
                        <span class="hover-text">
                            <i class="fas fa-info-circle"></i>
                            @if (borderColor == "")
                            {
                                <span class="tooltip-text" id="beneficiary-information">
                                    <i class='far fa-hand-point-right'></i>
                                    <button class='badge badge-info btn-xs'>
                                        <span class='badge badge-info btn-xs'>
                                            <i class='fa fa-upload'></i>
                                        </span> Upload <i class='fa fa-times i-grey' aria-hidden='true'></i>
                                    </button> Photo ID
                                </span>
                            }
                            else if (borderColor == "border-danger")
                            {
                                <span class="tooltip-text" id="beneficiary-information">
                                    <i class='far fa-thumbs-down'></i> Verify <i class='fa fa-times i-orangered' aria-hidden='true'></i> UnMatched Photo ID
                                </span>
                            }
                            else if (borderColor == "border-success")
                            {
                                <span class="tooltip-text" id="beneficiary-information">
                                    <i class='far fa-thumbs-up'></i> Verify  <i class='fas fa-check-circle i-green'></i> Matched Photo ID
                                </span>
                            }
                        </span>
                    </h3>
                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Agent report time" class="badge badge-light">
                            <i class="nav-icon fas fa-clock"></i>
                            @Model.AgencyReport?.DigitalIdReport?.DigitalIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt")
                        </span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>


                </div>
                <div class="progress">
                    <i class="far fa-bookmark bookmark-green"></i>
                    <div class="progress-bar @digitalIdColor" role="progressbar">
                        photo-id
                    </div>
                </div>
                <div class="card-body">
                    <div class="card direct-chat-warning collapsed-card">
                        <div class="card-header">
                            <i class="fas fa-film"></i><h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                            <div class="card-tools">
                                <span data-toggle="tooltip" title="Map Location: Expected and visited" class="badge badge-light"> <i class='far fa-hand-point-right'></i></span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="face-map">
                                <img id="face-map-url" />
                                <div id="face-msg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted text-sm">
                                <span class="badge badge-light"><i class="far fa-image"></i> Photo Id Image</span>:
                                <br />
                                @{
                                    if (Model.AgencyReport?.DigitalIdReport?.DigitalIdImage != null)
                                    {
                                        <img id="agentLocationPicture" class="img-fluid face-Image @borderColor" data-toggle="tooltip" title="Face Image"
                                             src="data:image/*;base64,@(Convert.ToBase64String(@Model.AgencyReport?.DigitalIdReport?.DigitalIdImage))">
                                    }
                                    else
                                    {
                                        <img data-toggle="tooltip" title="No Face Image" id="agentLocationPicture" alt="face image" class="img-fluid  no-Image" src=@Applicationsettings.NO_PHOTO_IMAGE>
                                    }
                                }
                            </p>

                        </div>
                        <div class="col-6">
                            <p class="text-muted text-sm">

                                <span class="badge badge-light"><i class="fas fa-info"></i> Location Info</span>
                                <br />
                                <label class="ocr-data img-fluid"> @Model.AgencyReport?.DigitalIdReport?.DigitalIdImageData</label>

                            </p>
                            <p class="text-muted text-sm">

                                <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                                <br />
                                <label class="img-fluid ocr-data"> @Model.AgencyReport?.DigitalIdReport?.DigitalIdImageLocationAddress</label>
                            </p>
                        </div>

                    </div>

                </div>

            </div>
            <div class="text-muted text-center">
                <span class="badge badge-light"> Match :  </span>
                @if (@Model.AgencyReport?.DigitalIdReport?.Similarity < 70 && Model.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime != null)
                {
                    <i class='fa fa-times i-orangered' aria-hidden='true'></i>
                }
                else
                {
                    <i class='fas fa-check-circle i-green'></i>
                }
            </div>
        </div>
    }

}