@model CaseAgencyAgentModel

<form id="radioButtons" method="post" asp-controller="CaseAllocation" asp-action="AllocateToVendorAgent">
	<div class="card-body">
		<div class="submit-progress hidden">
			<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
		</div>
		<input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.Id" />
		<input type="hidden" id="policyDetailId" name="policyDetailId" value="@Model.ClaimsInvestigation.PolicyDetail.PolicyDetailId" />
		<input type="hidden" id="customerDetailId" name="customerDetailId" value="@Model.ClaimsInvestigation.CustomerDetail.CustomerDetailId" />
		<input type="hidden" id="beneficiaryId" name="beneficiaryId" value="@Model.Beneficiary.BeneficiaryDetailId" />
		<input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.Beneficiary.BeneficiaryDetailId" />
		<table id="dataTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
			<thead>
				<tr>
					<th><img class="action-image" src="~/headers/arrow-down.gif" data-toggle="tooltip" title="Select Case to Allocate" /></th>
					<th>Email</th>
					<th>Agent</th>
					<th>Mobile #</th>
					<th title="Map Direction From Agent Address To Verification Address" data-toggle="tooltip">Map</th>
					<th title="Driving Distance From Agent Address To Verification Address" data-toggle="tooltip">Distance</th>
					<th title="Driving Duration From Agent Address To Verification Address" data-toggle="tooltip">Duration</th>
					<th title="Agent Registered Address" data-toggle="tooltip">Address </th>
					<th title="Agent Registered Pincode" data-toggle="tooltip">Pincode </th>
					<th title="Agent Current Case(s) Count" data-toggle="tooltip">Case(s)</th>
				</tr>
			</thead>
			<tbody>
				<!-- Add your dynamic data here -->
			</tbody>
		</table>
	</div>
	<div class="card-footer">
		<div class="row">
			<div class="col-md-12">
				@if (Model.ReSelect)
				{
					<a id="back" asp-action="GetInvestigateReport" asp-route-id="@Model.ClaimsInvestigation.Id" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
					<button disabled="disabled" id="allocatedcase" type="submit" class="btn btn-danger">
						<i class="fas fa-external-link-alt" aria-hidden="true"></i> Re-Allocate <sub>agent</sub>
					</button>
				}
				else
				{
					<a id="back" asp-action="Allocate" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
					<button disabled="disabled" id="allocatedcase" type="submit" class="btn btn-danger">
						<i class="fas fa-external-link-alt" aria-hidden="true"></i> Allocate <sub>agent</sub>
					</button>
				}
			</div>
		</div>
	</div>
</form>