@using risk.control.system.Helpers;
@model CaseInvestigationVendorsModel

@{
    var questionTime = @Model.InvestigationReport.AgentRemarksUpdated != null ?
    @Model.InvestigationReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;
}
<div class="col-12 col-md-6">
    <div class="card bg-light border-success">

    <div class="card-header">
        <h3 class="card-title">
                <i class="far fa-comment"></i> Agent remarks
            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="information">
                    <span>
                        <i class='far fa-hand-point-right'></i> Review <i class="far fa-comment"></i> Agent remarks
                    </span>
                </span>
            </span>
        </h3>
        <div class="card-tools">
            <span data-bs-toggle="tooltip" title="Agent report time" class="badge badge-light"> <i class="nav-icon fas fa-clock"></i> @questionTime </span>
        </div>
    </div>
    <div class="progress">
        <i class="far fa-bookmark bookmark-green"></i>
        <div class="progress-bar progress-bar-green" role="progressbar">
                Agent remarks (@Model.CaseTask?.PolicyDetail.InsuranceType.GetEnumDisplayName())
        </div>
    </div>
    <div class="card-footer text-muted border-bottom-0">
        <i class="fas fa-user-shield"></i>  Agent :<span class="badge badge-light">  @Model.InvestigationReport.AgentEmail </span>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <p class="text-muted text-sm">
                    <span class="badge badge-light"><i class="fas fa-film"></i> Agent Remarks</span>:
                    <br />

                    @if (Model.CaseTask.UpdateAgentAnswer && Model.CaseTask.SubStatus == CONSTANTS.CASE_STATUS.CASE_SUBSTATUS.SUBMITTED_TO_SUPERVISOR)
                    {
                        <textarea name="remarks" id="remarks" asp-for="InvestigationReport.AgentRemarks" class="form-control remarks" data-bs-toggle="tooltip" title="Edit Agent Remarks" rows="2"></textarea>
                        <span asp-validation-for="InvestigationReport.AgentRemarks" class="text-danger"></span>
                    }
                    else
                    {
                        @if (string.IsNullOrWhiteSpace(Model.InvestigationReport.AgentRemarksEdit))
                        {
                                @Model.InvestigationReport?.AgentRemarks
                            }
                            else
                            {
                                @Model.InvestigationReport?.AgentRemarksEdit
                            }

                    }
                </p>
            </div>
        </div>
    </div>
</div>
</div>