@model CaseTransactionModel

@{
    var cardView = "expanding-card";
    var cardViewIcon = "fas fa-minus";
}
<div class="card shadow-lg border-1 rounded-lg direct-chat-warning  @cardView">
    <div class="card-header bg-light text-white text-center">
        <h3 class="card-title">
            <span class="badge badge-info" data-toggle="tooltip" title="Status : @Model.ClaimsInvestigation?.SubStatus?">
                <b>@Model.ClaimsInvestigation?.SubStatus</b>
            </span>
            <b><i class='far fa-hand-point-right'></i></b>

            <span class="badge badge-info" data-toggle="tooltip"
                  title="Owner : @Model.ClaimsInvestigation.CaseOwner">
                <b>
                    @Model.ClaimsInvestigation.CaseOwner
                </b>
            </span>

            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="information">
                    <li>
                        <i class='far fa-file-powerpoint'></i> Policy details.
                    </li>
                    @if (Model.ClaimsInvestigation.PolicyDetail.InsuranceType == InsuranceType.UNDERWRITING)
                    {
                        <li>
                            <i class='fa fa-user-plus'></i> Customer details
                        </li>
                    }
                    else
                    {
                        <li> <i class='fas fa-user-tie'></i> Beneficiary details </li>
                    }
                </span>
            </span>
        </h3>
        <div class="card-tools">
            <span data-toggle="tooltip" title="Agent report # : @Model.ClaimsInvestigation.Vendor.Email" class="badge badge-light">
                <i class='far fa-hand-point-right'></i>
            </span>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="@cardViewIcon"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="submit-progress hidden">
            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
        </div>
        <div class="row">
            @{
                var pmodel = new CaseInvestigationVendorAgentModel
            {
                ClaimsInvestigation = Model.ClaimsInvestigation,
                CaseLocation = Model.Location
            };

                <partial name="_ClaimPolicyDetails" model="@pmodel" />
                @if (Model.ClaimsInvestigation.PolicyDetail.InsuranceType == InsuranceType.UNDERWRITING)
                {
                    <partial name="_ClaimCustomerDetails" model="@pmodel" />
                }
                else
                {
                    <partial name="_ClaimBeneficairyDetails" model="@pmodel" />
                }
            }

        </div>
        
    </div>
</div>