@using risk.control.system.Helpers;
@model CaseTransactionModel

<div class="card card-light direct-chat-warning collapsed-card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="far fa-file-powerpoint"></i> Case #: <span class="badge badge-light"> @Model.ClaimsInvestigation.PolicyDetail.ContractNumber</span>
            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="information">
                    <li>
                        <i class='far fa-file-powerpoint'></i> Case details.
                    </li>
                        @if (Model.ClaimsInvestigation.PolicyDetail.InsuranceType == InsuranceType.UNDERWRITING)
                    {
                        <li>
                            <i class='fa fa-user-plus'></i> Customer details.
                        </li>
                    }
                    else
                    {
                    <li> <i class='fas fa-user-tie'></i> Beneficiary details </li>
                    }
                </span>
            </span>
        </h3>
        <div class="card-tools">
            <span data-toggle="tooltip" title="Agent report # : @Model.ClaimsInvestigation.InvestigationReport.AgentEmail" class="badge badge-light">
                <i class='far fa-hand-point-right'></i>
            </span>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body pb-0">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        <i class="far fa-file-powerpoint"></i> Case description
                        <span class="hover-text">
                            <i class="fas fa-info-circle"></i>
                            <span class="tooltip-text" id="policy-information">
                                <i class='far fa-file-powerpoint'></i> Case details.
                            </span>
                        </span>
                    </div>
                    <div class="progress">
                        <i class="far fa-bookmark bookmark-green"></i>
                        <div class="progress-bar progress-bar-green" role="progressbar">
                            <i class="far fa-file-powerpoint"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="lead"><b>@Model.ClaimsInvestigation?.PolicyDetail.ContractNumber</b></h2>
                                <p class="text-muted text-sm">
                                    <b>Case Type: </b>@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName()
                                </p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="fas fa-money-bill-wave"></i>
                                        </span>
                                        Amount: (@ViewBag.Currency) @Model.ClaimsInvestigation?.PolicyDetail.SumAssuredValue
                                    </li>
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="fas fa-tools"></i>
                                        </span>
                                        Service: @Model.ClaimsInvestigation?.PolicyDetail.InvestigationServiceType.Name
                                    </li>
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="fas fa-money-check-alt"></i>
                                        </span>
                                        Budget center: @Model.ClaimsInvestigation?.PolicyDetail.CostCentre.Name
                                    </li>
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="fas fa-sun"></i>
                                        </span>
                                        Reason: @Model.ClaimsInvestigation?.PolicyDetail.CaseEnabler.Name;
                                    </li>
                                    <li class="small">
                                        <span class="fa-li">
                                            <i class="far fa-clock"></i>
                                        </span>
                                        Issue Date: @Model.ClaimsInvestigation?.PolicyDetail.ContractIssueDate.ToString("dd-MMM-yyyy")
                                    </li>
                                </ul>
                            </div>
                            <div class="col-5 text-center">

                                <p class="text-muted text-sm">
                                    @if (Model?.ClaimsInvestigation?.PolicyDetail.DocumentPath is not null)
                                    {
                                        <img id="documentImage" class="img-fluid" src="@Model?.ClaimsInvestigation?.PolicyDetail.DocumentPath">
                                    }
                                    else
                                    {
                                        <img id="documentImage" alt="user-avatar"
                                             class="img-circle img-fluid form-Image" src=@Applicationsettings.NO_POLICY_IMAGE>
                                    }
                                </p>
                                <p class="text-muted text-sm">
                                    @if (Model.ClaimsInvestigation.CaseNotes.Count > 0)
                                    {
                                        <img id="notesDetail" class="img-fluid form-Image" src="@Applicationsettings.POLICY_BLANK_IMAGE" data-toggle="tooltip" title="Display notes">
                                    }
                                    else
                                    {
                                        <img id="notesDetail-disabled" class="img-fluid form-Image" src="@Applicationsettings.NO_POLICY_IMAGE" data-toggle="tooltip" title="No notes">
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <a id="policy-comments" class="btn btn-sm bg-teal">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a id="policy-detail" class="btn btn-sm btn-info">
                                <i class="far fa-file-powerpoint"></i> ...
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            @{
                var address = @Model.ClaimsInvestigation?.CustomerDetail.Addressline + " " + @Model.ClaimsInvestigation?.CustomerDetail.District.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.State.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.Country.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.PinCode.Code;
                var baddress = @Model.Location != null ? @Model.Location?.Addressline + " " +
                @Model.Location?.District?.Name + " " + @Model.Location?.State?.Name + " " +
                @Model.Location?.Country?.Name + " " + @Model.Location?.PinCode?.Code : string.Empty;
                var age = DateTime.Now.Subtract(Model.ClaimsInvestigation.CustomerDetail.DateOfBirth.GetValueOrDefault()).TotalDays;
                var currentAgeinYrs = (int)age / 365;
                int beneficaryAge = 0;

                if (Model.Location.DateOfBirth != null)
                {
                    var bage = DateTime.Now.Subtract(Model.Location.DateOfBirth.GetValueOrDefault()).TotalDays;
                    beneficaryAge = (int)bage / 365;
                }
                @if (Model.ClaimsInvestigation.PolicyDetail.InsuranceType == InsuranceType.UNDERWRITING)
                {
                    var map = string.Format(@Model.ClaimsInvestigation?.CustomerDetail.CustomerLocationMap, "200", "200");

                    <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                <i class="fa fa-user-plus"></i> Customer Details
                                <span class="hover-text">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltip-text" id="customer-information">
                                        <i class='fa fa-user-plus'></i> <b> Customer Information.</b>
                                    </span>
                                </span>
                            </div>
                            <div class="progress">
                                <i class="far fa-bookmark bookmark-green"></i>
                                <div class="progress-bar progress-bar-green" role="progressbar">
                                    <i class="fa fa-user-plus"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>@Model.ClaimsInvestigation.CustomerDetail.Name</b></h2>
                                        <p class="text-muted text-sm">
                                            <b>Occupation: </b> @Model.ClaimsInvestigation.CustomerDetail.Occupation
                                        </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fa fa-money"></i>
                                                </span>
                                                Annual Income: (@ViewBag.Currency) @Model.ClaimsInvestigation.CustomerDetail.Income
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                                Age: @currentAgeinYrs years
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-lg fa-building"></i>
                                                </span>
                                                Address: @address
                                            </li>

                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-lg fa-phone"></i>
                                                </span>
                                                Phone #: + @Model.ClaimsInvestigation.CustomerDetail.ContactNumber
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <p class="text-muted text-sm">
                                            @if (Model?.ClaimsInvestigation?.CustomerDetail?.ImagePath is not null)
                                            {
                                                <img id="profileImage" class="img-fluid block-data" src="@Model?.ClaimsInvestigation?.CustomerDetail?.ImagePath">
                                            }
                                            else
                                            {
                                                <img id="profileImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER">
                                            }
                                        </p>
                                        <p class="text-muted text-sm">
                                            <img id="customerGoogleMap" class="img-fluid block-data" src="@map" />

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a id="customer-comments" class="btn btn-sm bg-teal">
                                        <i class="fas fa-comments"></i>
                                    </a>
                                    <a id="customer-detail" class="btn btn-sm btn-warning">
                                        <i class="fa fa-user-plus"></i> ...
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.ClaimsInvestigation.PolicyDetail.InsuranceType == InsuranceType.CLAIM)
                {
                    var map = string.Format(Model.Location.BeneficiaryLocationMap, "200", "200");

                    <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                <i class="fas fa-user-tie"></i>  Beneficiary Details
                                <span class="hover-text">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltip-text" id="beneficiary-information">

                                        <b> <i class='fas fa-user-tie'></i> Beneficiary Details </b>
                                    </span>
                                </span>
                            </div>
                            <div class="progress">
                                <i class="far fa-bookmark bookmark-green"></i>
                                <div class="progress-bar progress-bar-green" role="progressbar">
                                    <i class="fas fa-user-tie"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>@Model.Location?.Name</b></h2>
                                        <p class="text-muted text-sm">
                                            <b>Relation: </b> @Model.Location?.BeneficiaryRelation.Name
                                        </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-user-clock"></i>
                                                </span>
                                                Age: @beneficaryAge years
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fa fa-money"></i>
                                                </span>
                                                Annual Income: (@ViewBag.Currency) @Model.Location?.Income
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-lg fa-building"></i>
                                                </span>
                                                Address: @baddress
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-lg fa-phone"></i>
                                                </span>
                                                Phone #: + @Model.Location?.ContactNumber
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <p class="text-muted text-sm">
                                            @if (Model?.Location?.ImagePath is not null)
                                            {
                                                <img id="bImage" class="img-fluid block-data" src="@Model?.Location?.ImagePath">
                                            }
                                            else
                                            {
                                                <img id="bImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER">
                                            }
                                        </p>
                                        <p class="text-muted text-sm">
                                            <img id="beneficiaryGoogleMap" class="img-fluid block-data" src="@map" />
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a id="beneficiary-comments" class="btn btn-sm bg-teal">
                                        <i class="fas fa-comments"></i>
                                    </a>
                                    <a id="beneficiary-detail" class="btn btn-sm btn-success">
                                        <i class="fas fa-user-tie"></i> ...
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

<div class="card card-light direct-chat-warning collapsed-card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-print nav-icon"></i> Agency: <span class="badge badge-light">@Model.ClaimsInvestigation.Vendor.Email</span>
            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="information">
                    <span>
                        <i class='far fa-hand-point-right'></i><b> @Model.ClaimsInvestigation.Vendor.Email</b> report  (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())<i class="fas fa-print nav-icon"></i>.
                    </span>

                </span>
            </span>
        </h3>
        <div class="card-tools">
            <span data-toggle="tooltip" title="Agent report (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName()): @Model.ClaimsInvestigation.InvestigationReport.AgentEmail" class="badge badge-light">
                <i class='far fa-hand-point-right'></i>
            </span>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>

    </div>
    <div class="card-body pb-0">
        <div class="row">
            @{
                var template = Model.ClaimsInvestigation.InvestigationReport.ReportTemplate;
                template.CaseId = Model.ClaimsInvestigation.Id;
            }
            <input type="hidden" id="caseId" value="@Model.ClaimsInvestigation.Id" />
            <partial name="_Location" model="@template" />
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                @if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.InvestigationReport?.AgentRemarks))
                {
                    var questionTime = @Model.ClaimsInvestigation.InvestigationReport.AgentRemarksUpdated != null ?
                    @Model.ClaimsInvestigation.InvestigationReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;
                    <div class="card  border-success">
                        <div class="card-header text-muted border-bottom-0">
                            <h3 class="card-title">
                                <i class="far fa-comment"></i> remarks (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())
                                <span class="hover-text">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltip-text" id="information">
                                        <span>
                                            <i class="far fa-comment"></i><b> remarks (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())</b>
                                        </span>

                                    </span>
                                </span>
                            </h3>
                            <div class="card-tools">
                                <span data-toggle="tooltip" title="Agent report time" class="badge badge-light">
                                    <i class="nav-icon fas fa-clock"></i>
                                    @Model.ClaimsInvestigation.InvestigationReport?.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                                </span>
                            </div>
                        </div>
                        <div class="progress">
                            <i class="far fa-bookmark bookmark-green"></i>
                            <div class="progress-bar progress-bar-green" role="progressbar">
                                remarks (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())
                            </div>
                        </div>
                        <div class="card-footer text-muted border-bottom-0">
                            <i class="fas fa-user-shield"></i>  Agent:<span class="badge badge-light">  @Model.ClaimsInvestigation.InvestigationReport.AgentEmail </span>
                        </div>

                        <div class="card-body">
                            <div class="row">

                                <div class="col-4">
                                    <span>
                                        <i class="far fa-comment"></i> Remarks?
                                    </span>
                                </div>

                                <div class="col-8">
                                    <span>
                                        <i class="far fa-comment"></i>
                                        @if (string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.InvestigationReport.AgentRemarksEdit))
                                        {
                                            @Model.ClaimsInvestigation.InvestigationReport?.AgentRemarks
                                        }
                                        else
                                        {
                                            @Model.ClaimsInvestigation.InvestigationReport.AgentRemarksEdit
                                        }
                                    </span>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>

                }
            </div>
            <div class="col-12 col-md-6">
                @if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.InvestigationReport?.SupervisorRemarks))
                {
                    <div class="card bg-light  border-success">

                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-user-edit"></i> Supervisor comments:
                                <span class="hover-text">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltip-text" id="information">
                                        <span>
                                            <i class="fas fa-user-shield"></i><b> @Model?.ClaimsInvestigation.InvestigationReport?.SupervisorEmail</b> comments.
                                        </span>

                                    </span>
                                </span>
                            </h3>
                            <div class="card-tools">
                                <span data-toggle="tooltip" title=" Supervisor :  @Model?.ClaimsInvestigation.InvestigationReport?.SupervisorEmail" class="badge badge-light">
                                    <i class="nav-icon fas fa-clock"></i> @Model.ClaimsInvestigation.InvestigationReport?.SupervisorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                                </span>
                            </div>

                        </div>
                        <div class="progress">
                            <i class="far fa-bookmark bookmark-green"></i>
                            <div class="progress-bar progress-bar-green" role="progressbar">
                                supervisor comments
                            </div>
                        </div>
                        <div class="card-footer text-muted border-bottom-0">
                            <i class="fas fa-user-shield"></i>  Supervisor :<span class="badge badge-light">  @Model?.ClaimsInvestigation.InvestigationReport.SupervisorEmail </span>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm table-hover">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Supervisor Remarks</th>
                                                    <th class="w-25">Document</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-start">
                                                        <div class="bg-light rounded p-2 text-muted">

                                                            @Model.ClaimsInvestigation.InvestigationReport?.SupervisorRemarks
                                                        </div>

                                                    </td>
                                                    <td>
                                                        @if (Model.ClaimsInvestigation.InvestigationReport?.SupervisorAttachment != null)
                                                        {
                                                            <img title="enquiry document" id="enquiryDocument" class="img-fluid doc-profile-image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.ClaimsInvestigation.InvestigationReport?.SupervisorAttachment))">
                                                            <a asp-controller="Download" asp-action="SupervisorFileAttachment" target="_blank"
                                                               asp-route-id="@Model.ClaimsInvestigation.InvestigationReport.Id"
                                                               class="mailbox-attachment-name">
                                                                <i class="fas fa-paperclip"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <img title="enquiry document" id="enquiryDocument" alt="face image" class="img-fluid doc-profile-image" src=@Applicationsettings.NO_IMAGE>
                                                        }
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    // <partial name="_AgentChat" model="@Model" />

                }
            </div>
        </div>

        @if (@Model.ClaimsInvestigation.IsQueryCase && @Model.ClaimsInvestigation.InvestigationReport.EnquiryRequest != null)
        {
            <partial name="_EnquiryReport" model="@Model" />
        }
    </div>
</div>
<div class="submit-progress hidden">
    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
</div>
@if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.InvestigationReport.AssessorRemarks))
{
    <div class="row">
        <div class="col-12">
            <div class="card bg-light  border-success">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-user-check"></i> Assessor: <span class="badge badge-light">@Model.ClaimsInvestigation.InvestigationReport.AssessorEmail</span>
                        <span class="hover-text">
                            <i class="fas fa-info-circle"></i>
                            <span class="tooltip-text" id="information">
                                <span>
                                    <i class="fas fa-user-check"></i><b> @Model?.ClaimsInvestigation.InvestigationReport?.AssessorEmail</b> remark.
                                </span>

                            </span>
                        </span>
                    </h3>
                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Assessor: : @Model.ClaimsInvestigation.InvestigationReport.AssessorEmail" class="badge badge-light">
                            @if (@Model.ClaimsInvestigation.InvestigationReport?.AssessorRemarksUpdated != null)
                            {
                                <i class="nav-icon fas fa-clock"></i> @Model.ClaimsInvestigation.InvestigationReport?.AssessorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                            }
                            else
                            {
                                <i class="nav-icon fas fa-clock"></i>
                            }
                        </span>
                    </div>

                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <p class="text-muted text-sm">

                                <span>Assessor remarks: </span>
                            </p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.ClaimsInvestigation.InvestigationReport.AssessorRemarks <i class="far fa-comment"></i>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}