@using risk.control.system.Helpers;
@model CaseAgencyAgentModel

<div class="col-12 col-sm-6 d-flex align-items-stretch flex-column">
	<div class="card bg-light d-flex flex-fill">
		<div class="card-header text-muted border-bottom-0">
			<i class="far fa-file-powerpoint"></i> Case Details
			<span class="hover-text">
				<i class="fas fa-info-circle"></i>
				<span class="tooltip-text" id="policy-information">
					<li>
						<i class='far fa-file-powerpoint'></i> Case details
					</li>
					<li>
						<i class='far fa-hand-point-right'></i>
						<div class="btn btn-xs bg-teal">
							<i class="fas fa-edit"></i>
						</div> Add Notes
					</li>
					<li>
						<i class='far fa-hand-point-right'></i>
						<div class="btn btn-xs btn-info">
							<i class="far fa-file-powerpoint"></i> ...
						</div> Show Case Detail
					</li>
				</span>
			</span>
		</div>
		<div class="progress">
			<i class="far fa-bookmark bookmark-green"></i>
			<div class="progress-bar progress-bar-green" role="progressbar">
				<i class="far fa-file-powerpoint"></i>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-7">
					<h2 class="lead"><b>@Model.ClaimsInvestigation?.PolicyDetail.ContractNumber</b></h2>
					<p class="text-muted text-sm">
						Case Type: <b>@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName()</b>
					</p>
					<ul class="ml-4 mb-0 fa-ul text-muted">

						<li class="small">
							<span class="fa-li">
								<i class="fa fa-money"></i>
							</span>
							Amount:(@Model.Currency) <b> @Model.ClaimsInvestigation?.PolicyDetail.SumAssuredValue</b>
						</li>
						<li class="small">
							<span class="fa-li">
								<i class="fas fa-bolt"></i>
							</span>
							Cause: <b> @Model.ClaimsInvestigation?.PolicyDetail.CauseOfLoss </b>
						</li>
						<li class="small">
							<span class="fa-li">
								<i class="fas fa-tools"></i>
							</span>
							Service:<b> @Model.ClaimsInvestigation?.PolicyDetail.InvestigationServiceType.Name</b>
						</li>
						<li class="small">
							<span class="fa-li">
								<i class="fas fa-building"></i>
							</span>
							Budget center:<b> @Model.ClaimsInvestigation?.PolicyDetail.CostCentre.Name</b>
						</li>
						<li class="small">
							<span class="fa-li">
								<i class="fas fa-sun"></i>
							</span>
							Reason:<b> @Model.ClaimsInvestigation?.PolicyDetail.CaseEnabler.Name;</b>
						</li>
						<li class="small">
							<span class="fa-li">
								<i class="far fa-clock"></i>
							</span>
							Issue Date:<b> @Model.ClaimsInvestigation?.PolicyDetail.ContractIssueDate.ToString("dd-MMM-yyyy")</b>
						</li>
						<li class="small">
							<span class="fa-li">
								<i class="far fa-clock"></i>
							</span>
							Incidence Date:<b> @Model.ClaimsInvestigation?.PolicyDetail.DateOfIncident.ToString("dd-MMM-yyyy")</b>
						</li>
					</ul>
				</div>
				<div class="col-5 text-center">

					<p class="text-muted text-sm">
						@if (Model?.ClaimsInvestigation?.PolicyDetail.DocumentPath is not null)
						{
							<img id="documentImage" class="img-fluid" src="/Document/GetPolicyDocument/@Model?.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" data-bs-toggle="tooltip" title="@Model?.ClaimsInvestigation?.PolicyDetail.ContractNumber Document" />
						}
						else
						{
							<img id="documentImage" alt="user-avatar"
								 class="img-fluid form-Image" src=@Applicationsettings.NO_POLICY_IMAGE data-bs-toggle="tooltip" title="No Document" />
						}
					</p>
					<p class="text-muted text-sm">
						<div id="notesContainer" class="position-relative d-inline-block">
							<img id="notesDetail"
								 class="img-fluid form-Image @(Model.ClaimsInvestigation.CaseNotes.Count > 0 ? "notes-active" : "")"
								 src="/img/blank-document.png"
								 data-bs-toggle="tooltip"
								 title="@(Model.ClaimsInvestigation.CaseNotes.Count > 0 ? "Display notes" : "No notes")" />

							<span id="notesBadge"
								  class="position-absolute top-0 start-100 translate-middle badge rounded-pill @(Model.ClaimsInvestigation.CaseNotes.Count > 0 ? "bg-danger" : "bg-secondary")">
								@Model.ClaimsInvestigation.CaseNotes.Count
							</span>
						</div>
					</p>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="text-right">
				<a id="policy-comments" class="btn btn-sm bg-teal" data-bs-toggle="tooltip" title="Add Notes">
					<i class="fas fa-edit"></i>
				</a>
				<a id="policy-detail" class="btn btn-sm btn-info" data-bs-toggle="tooltip" title="Show  Case Details">
					<i class="far fa-file-powerpoint"></i> ...
				</a>
			</div>
		</div>
	</div>
</div>