@using risk.control.system.Helpers;
@model CaseTransactionModel
<article>
    <div class="bb-blog-inner">
        <div class="card card-light direct-chat-warning expanded-card">

            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-money-check-alt"></i> Billing Info:
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <span>
                                <i class="fas fa-user-check"></i><b> Billing Info: @Model.ClaimsInvestigation.Vendor.Email</b>.
                            </span>
                        </span>
                    </span>
                </h3>
                <div class="card-tools">
                    <span data-bs-toggle="tooltip" title="Billing time" class="badge badge-light">
                        <i class="nav-icon fas fa-clock"></i> @Model.ClaimsInvestigation.InvestigationReport?.AssessorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")
                    </span>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b>Case Type: </b>@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName()</h2>

                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-tools"></i>
                                </span>
                                Service: @Model.ClaimsInvestigation?.PolicyDetail.InvestigationServiceType.Name
                            </li>

                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-sun"></i>
                                </span>
                                Reason: @Model.ClaimsInvestigation?.PolicyDetail.CaseEnabler.Name;
                            </li>
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-money"></i>
                                </span>
                                Tax Amount (@Model.Currency): @Model.VendorInvoice.TaxAmount
                            </li>
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-money"></i>
                                </span>
                                Total Amount (@Model.Currency) : @(Model.VendorInvoice.GrandTotal + Model.VendorInvoice.TaxAmount)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a id="back" asp-action="Completed" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" title="Back to Completed Cases">
                        <i class="fas fa-arrow-left"></i>
                        <span class="badge badge-light"> <i class="fas fa-print"></i> </span>  @Applicationsettings.BACK
                    </a>
                    <a id="printInvoiceButton" class="btn btn-sm btn-danger text-white"><i class="far fa-file-pdf"></i> PDF</a>
                    @* <a href="/Report/PrintPdfReport?Id=@Model.ClaimsInvestigation.Id" class="btn btn-xs btn-danger"><i class="far fa-file-pdf"></i> PDF</a> *@

                    <a class="btn btn-sm btn-primary" asp-action="ShowInvoice" asp-route-id="@Model.VendorInvoice.VendorInvoiceId">
                        <i class="fa fa-print"> Invoice</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>