@model ClaimTransactionModel

@{
    string address = string.Empty;
    string baddress = string.Empty;
    int currentAgeinYrs = 0;
    int currentBAgeinYrs = 0;
    bool policyExist = true;
    bool customerExist = false;
    bool beneficiaryExist = false;
    string customerProgressbarMessage = "add customer";
    string beneficiaryProgressbarMessage = "beneficiary";
    if (Model.ClaimsInvestigation != null && Model.ClaimsInvestigation.CustomerDetail !=null)
    {
        address = @Model.ClaimsInvestigation?.CustomerDetail.Addressline + " " + @Model.ClaimsInvestigation?.CustomerDetail.District.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.State.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.Country.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.PinCode.Code;
        baddress = @Model.Location != null ? @Model.Location?.Addressline + " " +
        @Model.Location?.District?.Name + " " + @Model.Location?.State?.Name + " " +
        @Model.Location?.Country?.Name + " " + @Model.Location?.PinCode?.Code : string.Empty;
        if (Model.ClaimsInvestigation?.CustomerDetail.DateOfBirth != null)
        {
            var age = DateTime.Now.Subtract(Model.ClaimsInvestigation.CustomerDetail.DateOfBirth).TotalDays;
            currentAgeinYrs = (int)age / 365;
        }
        if (Model.Location?.DateOfBirth != null)
        {
            var age = DateTime.Now.Subtract(Model.Location.DateOfBirth).TotalDays;
            currentBAgeinYrs = (int)age / 365;
        }
    }
    if (Model.ClaimsInvestigation.CustomerDetail != null)
    {
        customerExist = true;
        customerProgressbarMessage = "customer";
    }
    if (Model.Location?.BeneficiaryDetailId > 0)
    {
        beneficiaryExist = true;
        beneficiaryProgressbarMessage = "edit beneficiary";
    }
    string customerProgressColor = "steps2";
    string customerLineColor = "line";
    if(Model.ClaimsInvestigation.PolicyDetail !=null)
    {
        customerLineColor = "line0";
    }
    if (@customerExist)
    {
        customerProgressColor = "steps";
        customerLineColor = "line1";
    }
    string benficiaryProgressColor = "steps3";
    string beneficiaryLineColor = "line";

    if (@customerExist)
    {
        benficiaryProgressColor = "steps2";
        beneficiaryLineColor = "line0";
    }
    if (@customerExist && @beneficiaryExist)
    {
        benficiaryProgressColor = "steps";
        beneficiaryLineColor = "line1";
    }
    if (@customerExist)
    {
        customerProgressColor = "green";
    }
    if (@customerExist && @beneficiaryExist)
    {
        benficiaryProgressColor = "green";
    }
    if (@customerExist && !@beneficiaryExist)
    {
        benficiaryProgressColor = "grey";
    }
    if (!@customerExist && !@beneficiaryExist)
    {
        benficiaryProgressColor = "lightgrey";
    }
    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
                <i class="fas fa-user-tie"></i>  Beneficiary Details
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="beneficiary-information">

                        <i class='fas fa-user-tie'></i> Beneficiary Details 
                    </span>
                </span>
            </div>
            <div class="progress">
                <i class="far fa-bookmark bookmark-green"></i>
                <div class="progress-bar" role="progressbar" style="width:100%;background-color:@benficiaryProgressColor">
                    <i class="fas fa-user-tie"></i>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b>@Model.Location?.Name</b></h2>
                        <p class="text-muted text-sm">
                            <b>Relation: </b> @Model.Location?.BeneficiaryRelation.Name
                        </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-rupee-sign"></i>
                                </span>
                                Income: @Model.Location?.Income
                            </li>
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-user-alt"></i>
                                </span>
                                Age: @currentBAgeinYrs
                            </li>
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-lg fa-building"></i>
                                </span>
                                Address: @baddress
                            </li>
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-lg fa-phone"></i>
                                </span>
                                Phone #: + @Model.Location?.ContactNumber
                            </li>
                        </ul>
                    </div>
                    <div class="col-5 text-center">
                        <p class="text-muted text-sm">
                            @if (Model?.Location?.ProfilePicture is not null)
                            {
                                <img id="bImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.Location?.ProfilePicture))" data-toggle="tooltip" title="Beneficiary Photo"/>
                            }
                            else
                            {
                                <img id="bImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="No Beneficiary Photo" />
                            }
                        </p>
                        <p class="text-muted text-sm">
                            <img id="beneficiaryGoogleMap" class="img-fluid block-data" src="@Model?.Location?.BeneficiaryLocationMap" data-toggle="tooltip" title="Display Beneficiary Address in map">
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    @{
                        if (Model.ClaimsInvestigation?.CustomerDetail != null)
                        {
                            if (Model.Location != null && Model.Location.BeneficiaryDetailId > 0)
                            {
                                <input type="hidden" asp-for="ClaimsInvestigation.ClaimsInvestigationId" />
                                <a id="edit-beneficiary" class="btn btn-warning" asp-action="EditBeneficiary" asp-route-id="@Model.Location.BeneficiaryDetailId"><i class="fas fa-user-tie"></i> Edit Beneficiary</a>
                            }
                            else
                            {
                                <a id="add-beneficiary" class="btn btn-success" asp-action="CreateBeneficiary" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId"><i class="fas fa-user-tie"></i> Add Beneficiary</a>
                            }
                        }
                        else
                        {
                            <a style="pointer-events:none;color:grey;" class="btn btn-outline-secondary"><i class="fas fa-user-tie"></i> Beneficiary</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}