@model ClaimTransactionModel

@{
    string address = string.Empty;
    string baddress = string.Empty;
    int currentAgeinYrs = 0;
    int currentBAgeinYrs = 0;
    bool policyExist = true;
    bool customerExist = false;
    bool beneficiaryExist = false;
    string customerProgressbarMessage = "add customer";
    string beneficiaryProgressbarMessage = "beneficiary";
    if (Model.ClaimsInvestigation != null && Model.ClaimsInvestigation.CustomerDetail !=null)
    {
        address = @Model.ClaimsInvestigation?.CustomerDetail.Addressline + " " + @Model.ClaimsInvestigation?.CustomerDetail.District?.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.State?.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.Country?.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.PinCode?.Code;
        baddress = @Model.Location != null ? @Model.Location?.Addressline + " " +
        @Model.Location?.District?.Name + " " + @Model.Location?.State?.Name + " " +
        @Model.Location?.Country?.Name + " " + @Model.Location?.PinCode?.Code : string.Empty;
        if (Model.ClaimsInvestigation?.CustomerDetail.DateOfBirth != null)
        {
            var age = DateTime.Now.Subtract(Model.ClaimsInvestigation.CustomerDetail.DateOfBirth).TotalDays;
            currentAgeinYrs = (int)age / 365;
        }
        if (Model.Location?.DateOfBirth != null)
        {
            var age = DateTime.Now.Subtract(Model.Location.DateOfBirth).TotalDays;
            currentBAgeinYrs = (int)age / 365;
        }
    }
    if (Model.ClaimsInvestigation.CustomerDetail != null)
    {
        customerExist = true;
        customerProgressbarMessage = "customer";
    }
    if (Model.Location?.BeneficiaryDetailId > 0)
    {
        beneficiaryExist = true;
        beneficiaryProgressbarMessage = "edit beneficiary";
    }
    string customerProgressColor = "steps2";
    string customerLineColor = "line";
    if(Model.ClaimsInvestigation.PolicyDetail !=null)
    {
        customerLineColor = "line0";
    }
    if (@customerExist)
    {
        customerProgressColor = "steps1";
        customerLineColor = "line1";
    }

    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
                <i class="fa fa-user-plus"></i> Customer Details
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="customer-information">
                        <i class='fa fa-user-plus'></i> Customer details
                    </span>
                </span>
            </div>
            <div class="progress">
                <i class="far fa-bookmark bookmark-green"></i>
                <div class="progress-bar" role="progressbar" style="width:100%;background-color:green">
                    <i class="fa fa-user-plus"></i>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b>@Model.ClaimsInvestigation?.CustomerDetail?.Name</b></h2>
                        <p class="text-muted text-sm">
                            <b>Occupation: </b> @Model.ClaimsInvestigation?.CustomerDetail?.Occupation
                        </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-user-tag"></i>
                                </span>
                                Customer Type: @Model.ClaimsInvestigation?.CustomerDetail?.CustomerType
                            </li>
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-rupee-sign"></i>
                                </span>
                                Income: @Model.ClaimsInvestigation?.CustomerDetail?.Income
                            </li>
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-restroom"></i>
                                </span>
                                Gender: @Model.ClaimsInvestigation?.CustomerDetail?.Gender
                            </li>
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-graduation-cap"></i>
                                </span>
                                Education: @Model.ClaimsInvestigation?.CustomerDetail?.Education
                            </li>
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-user-alt"></i>
                                </span>
                                Age: @currentAgeinYrs
                            </li>
                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-lg fa-building"></i>
                                </span>
                                Address: @address
                            </li>

                            <li class="small">
                                <span class="fa-li">
                                    <i class="fas fa-lg fa-phone"></i>
                                </span>
                                Phone #: + @Model.ClaimsInvestigation?.CustomerDetail?.ContactNumber
                            </li>
                        </ul>
                    </div>
                    <div class="col-5 text-center">
                        <p class="text-muted text-sm">
                            @if (Model?.ClaimsInvestigation?.CustomerDetail?.ProfilePicture is not null)
                            {
                                <img id="profileImage" class="img-fluid block-data" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.CustomerDetail?.ProfilePicture))" data-toggle="tooltip" title="Customer Photo">
                            }
                            else
                            {
                                <img id="profileImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="No Customer Photo">
                            }
                        </p>
                        <p class="text-muted text-sm">
                            <img id="customerGoogleMap" class="img-fluid block-data" src="@Model?.ClaimsInvestigation?.CustomerDetail?.CustomerLocationMap" data-toggle="tooltip" title="Display Customer Address in map">
                        </p>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    @{
                        if (Model.ClaimsInvestigation?.CustomerDetail != null)
                        {
                            <input type="hidden" asp-for="ClaimsInvestigation.ClaimsInvestigationId" />
                            <a id="edit-customer" class="btn btn-warning" asp-action="EditCustomer" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId"><i class="fa fa-user-plus"></i>  Edit Customer</a>
                        }
                        else
                        {
                            <a id="add-customer" class="btn btn-success" asp-action="CreateCustomer" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId"><i class="fa fa-user-plus"></i> Add Customer</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}