@model ClaimTransactionModel

@{
    ViewData["Title"] = "Details";
}

<section class="content">
    <div id="article" class="card card-secondary">
        @{
            string address = string.Empty;
            string baddress = string.Empty;
            int currentAgeinYrs = 0;
            int currentBAgeinYrs = 0;
            bool policyExist = true;
            bool customerExist = Model.ClaimsInvestigation.CustomerDetail != null;
            bool beneficiaryExist = Model.Location != null;
            string customerProgressbarMessage = "add customer";
            string beneficiaryProgressbarMessage = "beneficiary";
            if (Model.ClaimsInvestigation != null && Model.ClaimsInvestigation.CustomerDetail != null)
            {
                address = @Model.ClaimsInvestigation?.CustomerDetail.Addressline + " " + @Model.ClaimsInvestigation?.CustomerDetail.District.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.State.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.Country.Name + " " + @Model.ClaimsInvestigation?.CustomerDetail.PinCode.Code;
                baddress = @Model.Location != null ? @Model.Location?.Addressline + " " +
                @Model.Location?.District?.Name + " " + @Model.Location?.State?.Name + " " +
                @Model.Location?.Country?.Name + " " + @Model.Location?.PinCode?.Code : string.Empty;
                if (Model.ClaimsInvestigation?.CustomerDetail.CustomerDateOfBirth != null)
                {
                    var age = DateTime.Now.Subtract(Model.ClaimsInvestigation.CustomerDetail.CustomerDateOfBirth).TotalDays;
                    currentAgeinYrs = (int)age / 365;
                }
                if (Model.Location?.BeneficiaryDateOfBirth != null)
                {
                    var age = DateTime.Now.Subtract(Model.Location.BeneficiaryDateOfBirth).TotalDays;
                    currentBAgeinYrs = (int)age / 365;
                }
            }
            if (Model.ClaimsInvestigation.CustomerDetail != null)
            {
                customerExist = true;
                customerProgressbarMessage = "customer";
            }
            if (Model.ClaimsInvestigation.BeneficiaryDetail != null)
            {
                beneficiaryExist = true;
                beneficiaryProgressbarMessage = "edit beneficiary";
            }
            string customerProgressColor = "steps2";
            string customerLineColor = "line";
            if (Model.ClaimsInvestigation.PolicyDetail != null)
            {
                customerLineColor = "line0";
            }
            if (@customerExist)
            {
                customerProgressColor = "steps";
                customerLineColor = "line1";
            }
            string benficiaryProgressColor = "steps3";
            string beneficiaryLineColor = "line";

            if (@customerExist)
            {
                benficiaryProgressColor = "steps2";
                beneficiaryLineColor = "line0";
            }
            if (@customerExist && @beneficiaryExist)
            {
                benficiaryProgressColor = "steps";
                beneficiaryLineColor = "line1";
            }
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-newspaper"></i> Details
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">

                            <li>
                                <i class='far fa-hand-point-right'></i>
                                <button class="btn btn-warning btn-xs"><i class="far fa-file-powerpoint"></i>  Edit Policy</button>

                            </li>
                            @if (customerExist)
                            {
                                <li>
                                    <i class='far fa-hand-point-right'></i>
                                    <button class="btn btn-warning btn-xs"><i class="fa fa-user-plus"></i>  Edit Customer</button>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <i class='far fa-hand-point-right'></i>
                                    <a class="btn btn-success btn-xs"><i class="fa fa-user-plus"></i> Add Customer</a>

                                </li>
                            }

                            @if (!customerExist && !beneficiaryExist)
                            {
                                <li>
                                    <i class='far fa-hand-point-right'></i>
                                    <a style="pointer-events:none;color:grey;" class="btn btn-outline-secondary btn-xs"><i class="fas fa-user-tie"></i> Beneficiary</a>
                                </li>
                            }
                            else if (customerExist && !beneficiaryExist)
                            {
                                <li>
                                    <i class='far fa-hand-point-right'></i>
                                    <a class="btn btn-success btn-xs"><i class="fas fa-user-tie"></i> Add Beneficiary</a>
                                </li>
                            }
                            else if (customerExist && beneficiaryExist)
                            {
                                <li>
                                    <i class='far fa-hand-point-right'></i>
                                    <button class="btn btn-warning btn-xs"><i class="fas fa-user-tie"></i> Edit Beneficiary</button>
                                </li>
                            }

                            @if (!customerExist || !beneficiaryExist)
                            {
                                <li>
                                    <i class='far fa-thumbs-up'></i>

                                    <button class="btn btn-danger  btn-xs disabled">
                                        <span class="badge badge-danger"> <i class="fas fa-external-link-alt"></i></span><b> Assign </b><sub>manual</sub>
                                    </button>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <i class='far fa-thumbs-up'></i>

                                    <button class="btn btn-danger  btn-xs">
                                        <span class="badge badge-danger"> <i class="fas fa-external-link-alt"></i></span><b> Assign </b><sub>manual</sub>
                                    </button>
                                </li>
                            }
                        </span>
                    </span>
                </h3>
            </div>

            <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail?.CustomerDetailId" />
            <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
            <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />

            <div class="container d-flex justify-content-center align-items-center">
                <div class="progresses">
                    <div class="steps">
                        <span> <i class="far fa-file-powerpoint"></i></span>
                    </div>
                    <span class="@customerLineColor"></span>
                    <div class="@customerProgressColor">
                        <span class="font-weight-bold"><i class="fa fa-user-plus"></i></span>
                    </div>
                    <span class="@beneficiaryLineColor"></span>
                    <div class="@benficiaryProgressColor">
                        <span class="font-weight-bold"><i class="fas fa-user-tie"></i></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                <i class="far fa-file-powerpoint"></i> Policy Details
                                <span class="hover-text">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltip-text" id="policy-information">
                                        <i class='far fa-file-powerpoint'></i> Policy details
                                    </span>
                                </span>
                            </div>
                            <div class="progress">
                                <i class="far fa-bookmark bookmark-green"></i>
                                <div class="progress-bar" role="progressbar" style="width:100%;background-color:green;">
                                    <i class="far fa-file-powerpoint"></i>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>@Model.ClaimsInvestigation?.PolicyDetail.ContractNumber</b></h2>
                                        <p class="text-muted text-sm">
                                            <b>Policy Type: </b>@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name
                                        </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-money-bill-wave"></i>
                                                </span>
                                                Claim Type: <i class="fas fa-rupee-sign"></i>@Model.ClaimsInvestigation?.PolicyDetail.ClaimType
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-money-bill-wave"></i>
                                                </span>
                                                Amount: <i class="fas fa-rupee-sign"></i>@Model.ClaimsInvestigation?.PolicyDetail.SumAssuredValue
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-bolt"></i>
                                                </span>
                                                Cause: @Model.ClaimsInvestigation?.PolicyDetail.CauseOfLoss
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-tools"></i>
                                                </span>
                                                Service: @Model.ClaimsInvestigation?.PolicyDetail.InvestigationServiceType.Name
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-money-check-alt"></i>
                                                </span>
                                                Budget center: @Model.ClaimsInvestigation?.PolicyDetail.CostCentre.Name
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="fas fa-sun"></i>
                                                </span>
                                                Reason: @Model.ClaimsInvestigation?.PolicyDetail.CaseEnabler.Name;
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="far fa-clock"></i>
                                                </span>
                                                Issue Date: @Model.ClaimsInvestigation?.PolicyDetail.ContractIssueDate.ToString("dd-MMM-yyyy")
                                            </li>
                                            <li class="small">
                                                <span class="fa-li">
                                                    <i class="far fa-clock"></i>
                                                </span>
                                                Incidence Date: @Model.ClaimsInvestigation?.PolicyDetail.DateOfIncident.ToString("dd-MMM-yyyy")
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <p class="text-muted text-sm">

                                        </p>
                                        <p class="text-muted text-sm">
                                            @if (Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage is not null)
                                            {
                                                <img id="documentImage" class="img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ClaimsInvestigation?.PolicyDetail.DocumentImage))">
                                            }
                                            else
                                            {
                                                <img id="documentImage" alt="user-avatar"
                                                     class="img-circle img-fluid form-Image" src=@Applicationsettings.NO_POLICY_IMAGE>
                                            }
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    @{
                                        if (Model.ClaimsInvestigation != null)
                                        {
                                            <input type="hidden" asp-for="ClaimsInvestigation.ClaimsInvestigationId" />
                                            <a id="edit-policy" class="btn btn-warning"  asp-action="EditPolicy" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId"><i class="far fa-file-powerpoint"></i>  Edit Policy</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-success" asp-action="CreatePolicy"><i class="far fa-file-powerpoint"></i> Add Policy</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                    </div>

                    <partial name="_CustomerBeneficiary" model="@Model" />

                </div>

            </div>
            <form id="create-form" method="post" asp-controller="ClaimsInvestigationPost" asp-action="Assign">
                <input type="hidden" name="claims" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                <div class="card-footer  d-flex  justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-md-12 ">
                            @if (!customerExist || !beneficiaryExist)
                            {
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="detail-wizard"> Complete details <i class="fas fa-hand-point-up"></i>  to <b> Assign </b> manual <i class="far fa-hand-point-down"></i></span>
                                </div>
                                <div>
                                    <a id="back" asp-action="New" class="btn btn-outline-secondary"><span class="badge badge-light"> <i class="fas fa-arrow-left"></i> </span> Back </a>

                                    <button disabled id="assign-list" class="btn btn-danger disabled">
                                        <span class="badge badge-danger"> <i class="fas fa-external-link-alt"></i></span><b> Assign </b><sub>manual</sub>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="detail-wizard-complete"> Detail completed <i class="far fa-thumbs-up"></i>.   <b> Assign </b> manual <i class="far fa-hand-point-down"></i>  now or later </span>
                                </div>

                                <div>
                                    <a id="back" asp-action="New" class="btn btn-outline-secondary"><span class="badge badge-light"> <i class="fas fa-arrow-left"></i> </span> Back </a>

                                    <a id="assign-manual-list" asp-action="EmpanelledVendors" asp-route-selectedcase="@Model.ClaimsInvestigation.ClaimsInvestigationId" class="btn btn-danger">
                                        <span class="badge badge-danger"> <i class="fas fa-external-link-alt"></i></span><b> Assign </b><sub>manual</sub>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/policy-detail.js"></script>

}
