@model risk.control.system.Models.ClaimsInvestigation

@{
    ViewData["Title"] = @Applicationsettings.EDIT;

    var hasClientCompany = @Model.HasClientCompany ? "none" : "";
}
<section class="content">
    <form id="create-form" asp-controller="CreatorManualPost" asp-action="EditCustomer" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="article" class="card  bg-light card-secondary">
            <input type="hidden" asp-for="ClaimsInvestigationId" value="@Model.ClaimsInvestigationId" />
            <input type="hidden" asp-for="PolicyDetail.LineOfBusinessId" value="@Model.PolicyDetail.LineOfBusinessId" />
            <input type="hidden" id="claimtype" name="claimtype" value="manual" />
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-user-plus"></i> Edit Customer
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <li>
                                <i class='far fa-hand-point-right'></i> Edit Customer details
                            </li>
                            <li>

                                <i class='far fa-thumbs-up'></i> Complete wizard
                            </li>

                            <li>
                                <i class='fa fa-hand-peace-o'></i> <b> Assign</b> to Agency
                            </li>

                        </span>
                    </span>
                </h3>
            </div>
            <div class="container d-flex justify-content-center align-items-center">
                <div class="progresses">
                    <div class="steps2">
                        <span> <i class="far fa-file-powerpoint"></i></span>
                    </div>

                    <span class="line"></span>

                    <div class="steps-edit">
                        <span class="font-weight-bold"><i class="fa fa-user-plus"></i></span>
                    </div>

                    <span class="line"></span>

                    <div class="steps2">
                        <span class="font-weight-bold"><i class="fas fa-user-tie"></i></span>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <span class="input-group-label"> Customer Name:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="CustomerName"><i class="fa fa-user-plus"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input id="customer-name" required asp-for="CustomerDetail.Name" class="form-control remarks title-name" type="text" placeholder="Customer Name" maxlength="30" />
                                <span asp-validation-for="CustomerDetail.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Date Of Birth:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="CustomerDateOfBirth"><i class="far fa-calendar-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input required asp-for="CustomerDetail.DateOfBirth" id="dateCustomerId" class="form-control remarks" type="date" />
                                <span asp-validation-for="CustomerDetail.DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Gender:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="Gender"><i class="fa fa-user-plus"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select required asp-for="CustomerDetail.Gender" class="form-control remarks" asp-items="Html.GetEnumSelectList<Gender>()">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="CustomerDetail.Gender" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Customer Type:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="CustomerType"><i class="fa fa-user-plus"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select id="customer-type" required asp-for="CustomerDetail.CustomerType" class="form-control remarks" asp-items="Html.GetEnumSelectList<CustomerType>()">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="CustomerDetail.CustomerType" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Phone #:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="ContactNumber"><i class="fas fa-phone"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>

                                <input type="text" asp-for="CustomerDetail.ContactNumber" class="form-control remarks" required maxlength="14" placeholder="Phone # with country code"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                <span asp-validation-for="CustomerDetail.ContactNumber" class="text-danger field-validation-valid"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Income:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="CustomerIncome"><i class="far fa-money-bill-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select required asp-for="CustomerDetail.Income" class="form-control remarks" asp-items="Html.GetEnumSelectList<Income>()">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="CustomerDetail.Income" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Occupation:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="CustomerOccupation"><i class="fas fa-business-time"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select required asp-for="CustomerDetail.Occupation" class="form-control remarks" asp-items="Html.GetEnumSelectList<Occupation>()">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="CustomerDetail.Occupation" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Education:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="CustomerEducation"><i class="fas fa-graduation-cap"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select required asp-for="CustomerDetail.Education" class="form-control remarks" asp-items="Html.GetEnumSelectList<Education>()">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="CustomerDetail.Education" class="text-danger"></span>

                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="input-group-label"> Country:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="CountryId"><i class="fas fa-map-marked-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select asp-for="CustomerDetail.CountryId" class="form-control remarks" id="CountryId" asp-items="ViewBag.CountryId" onchange="loadState(this)" required>
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="CustomerDetail.CountryId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> State:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="StateId"><i class="fas fa-map-marker-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select id="StateId" asp-for="CustomerDetail.StateId" class="form-control remarks" asp-items="ViewBag.StateId" onchange="loadDistrict(this)" required>
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="CustomerDetail.StateId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label" for="DistrictId">District:</span>
                            <div class="input-group mb-3 autocomplete-wrapper">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="DistrictId">
                                        <i class="fas fa-city"></i>
                                        <i class="fa fa-asterisk asterik-style"></i>
                                    </span>
                                </div>
                                <input type="text" id="DistrictId" class="form-control remarks auto-dropdown"
                                       placeholder="Type district..." asp-for="CustomerDetail.DistrictId" required value="" />
                                <span asp-validation-for="CustomerDetail.DistrictId" class="text-danger"></span>
                                <input type="hidden" id="SelectedDistrictId" name="SelectedDistrictId" value="@Model?.CustomerDetail?.DistrictId" />
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label" for="PinCodeId">Pincode:</span>
                            <div class="input-group mb-3 autocomplete-wrapper">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="PinCodeId">
                                        <i class="fas fa-map-pin"></i>
                                        <i class="fa fa-asterisk asterik-style"></i>
                                    </span>
                                </div>
                                <input type="text" id="PinCodeId" class="form-control remarks auto-dropdown"
                                       placeholder="type pincode..." asp-for="CustomerDetail.PinCodeId" required value=""/>
                                <span asp-validation-for="CustomerDetail.PinCodeId" class="text-danger"></span>
                                <input type="hidden" id="SelectedId" name="SelectedId" value="@Model?.CustomerDetail?.PinCodeId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Address:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="Addressline"><i class="fa fa-home"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" asp-for="CustomerDetail.Addressline" class="form-control remarks title-name" type="text" required placeholder="Address" maxlength="50" />
                                <span asp-validation-for="CustomerDetail.Addressline" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="input-group-label"> Note:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="Addressline"><i class="fas fa-pencil-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input required asp-for="CustomerDetail.Description" class="form-control remarks" type="text" placeholder="Note" maxlength="50" />
                                <span asp-validation-for="CustomerDetail.Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Customer Photo:</span>
                            <div class="input-group mb-3">


                                @if (Model?.CustomerDetail.ProfilePicture is not null)
                                {
                                    <img id="profileImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.CustomerDetail.ProfilePicture))" data-toggle="tooltip" title="Customer Photo" />
                                    <i class="fa fa-asterisk asterik-style"></i>
                                    <input accept="image/*" asp-for="CustomerDetail.ProfileImage" type="file" class="form-control remarks" id="documentImageInput" data-toggle="tooltip" title="Upload Customer Photo" />

                                }
                                else
                                {
                                    <img id="profileImage" class="form-Image" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="Customer Photo" />
                                    <i class="fa fa-asterisk asterik-style"></i>
                                    <input accept="image/*" asp-for="CustomerDetail.ProfileImage" type="file" class="form-control remarks" id="documentImageInput" required data-toggle="tooltip" title="Upload Customer Photo" />

                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <button type="submit" onclick="clearAllInputs()" class="btn btn-outline-secondary">
                        <i class="fas fa-undo"></i> Reset
                    </button>
                    <a id="back" asp-action="Details" asp-route-id="@Model.ClaimsInvestigationId" class="btn btn-secondary">
                        <i class="fa fa-window-close"></i>
                        @Applicationsettings.CANCEL
                    </a>
                    <button id="create-cust" type="submit" class="btn btn-warning">
                        <i class="fas fa-user-plus"></i> @Applicationsettings.EDIT  Customer
                    </button>

                </div>
            </div>
        </div>
    </form>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/creator/edit-customer.js"></script>
    <script src="~/js/company-admin/pincode.js"></script>
}
