@model IEnumerable<risk.control.system.Models.ReportQuestionaire>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Optional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportTemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Optional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportTemplate.ReportTemplateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportQuestionaireId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportQuestionaireId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportQuestionaireId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
