@model ClaimsInvestigationVendorsModel

@{
    var imageCapturedTime = @Model.AgencyReport?.AudioReport?.DocumentIdImageLongLatTime != null ? @Model.AgencyReport?.AudioReport?.DocumentIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt") : null;

    string audioIdColor = "progress-bar-grey";
    var audioIdColorBorderColor = "";
    if (Model.AgencyReport.AudioReport?.DocumentIdImageLongLat == null)
    {

    }
    else if (Model.AgencyReport.AudioReport?.DocumentIdImageLongLat != null && (
    Model.AgencyReport?.AudioReport?.DocumentIdImageValid != null && Model.AgencyReport?.AudioReport?.DocumentIdImageValid == true))
    {
        audioIdColor = "progress-bar-green";
        audioIdColorBorderColor = "border-success";
    }
    else
    {
        audioIdColor = "progress-bar-red";
        audioIdColorBorderColor = "border-danger";
    }

    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill @audioIdColorBorderColor">
            <div class="card-header text-muted border-bottom-0">
                <h3 class="card-title">
                    <i class="fas fa-mobile-alt"></i> AUDIO
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>

                        @if (audioIdColorBorderColor == "border-danger")
                        {
                            <span class="tooltip-text" id="beneficiary-information">
                                <div>
                                    <i class='far fa-hand-point-right'></i>
                                    <b> Upload</b> Max image size 2 MB
                                </div>
                            <div>
                                    <i class='far fa-thumbs-down'></i> <i class='fa fa-times i-orangered' aria-hidden='true'></i> Valid Audio
                                </div>
                            </span>
                        }
                        else if (audioIdColorBorderColor == "border-success")
                        {
                            <span class="tooltip-text" id="beneficiary-information">
                                <div>
                                    <i class='far fa-hand-point-right'></i>
                                    <b> Upload</b> Max image size 2 MB
                                </div>
                                <div>
                                    <i class='far fa-thumbs-up'></i> <i class='fas fa-check-circle i-green'></i> InValid Audio
                                </div>
                            </span>
                        }
                        else
                        {
                            <span class="tooltip-text" id="beneficiary-information">
                                <div>
                                    <i class='far fa-hand-point-right'></i>
                                    <b> Upload</b> Max image size 2 MB
                                </div>
                                <div>
                                <i class='far fa-hand-point-right'></i>
                                <button class='btn btn-info btn-xs'>
                                        <span class='badge badge-info btn-xs'>
                                            <i class='fa fa-upload'></i>
                                    </span> Upload
                                    </button>  Audio
                                </div>
                            </span>

                        }

                    </span>
                </h3>
                <div class="card-tools">
                    <span data-toggle="tooltip" title="Agent report # : @Model.AgencyReport.AgentEmail" class="badge badge-light">
                        <i class="nav-icon fas fa-clock"></i>
                        @imageCapturedTime
                    </span>

                </div>
                
            </div>

            <div class="card-footer text-center">
                <span class="badge badge-light"><i class="far fa-image"></i> Valid : </span>
                @if (@audioIdColor == "grey")
                {
                    <i class='fa fa-times i-grey' aria-hidden='true'></i>
                }
                else if (@Model.AgencyReport?.AudioReport?.DocumentIdImageValid.Value ?? false)
                {
                    <i class='fas fa-check-circle i-green'></i>
                }

                else
                {
                    <i class='fa fa-times i-orangered' aria-hidden='true'></i>
                }
            </div>
            <div class="progress">
                <i class="far fa-bookmark bookmark-green"></i>
                <div class="progress-bar @audioIdColor" role="progressbar">
                    audio
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-film"></i> Audio File</span>:
                            <br />
                            @{
                                if (Model.AgencyReport?.AudioReport?.DocumentIdImage != null)
                                {
                                    <audio id="audioPlayer" controls class="img-fluid audio-Image" data-toggle="tooltip" title="Audio File">
                                        <source src="/Uploads/GetAudioFile?fileName=@Model.AgencyReport.AudioReport.DocumentIdImagePath" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                }
                                else
                                {
                                                            <img id="audioPlayer" class="img-fluid no-Image" data-toggle="tooltip" title="No Audio"
                                         src=@Applicationsettings.NO_AUDIO>
                                }
                            }
                        </p>
                        <p class="text-muted text-sm">

                            <span class="badge badge-light"><i class="fas fa-info"></i> Audio Scan Info</span>
                            <br />
                            <label class="img-fluid ocr-data"> @Model.AgencyReport?.AudioReport?.DocumentIdImageData</label>
                        </p>
                    </div>
                    <div class="col-6 text">

                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                            <br />
                            @if (@Model.AgencyReport?.AudioReport?.DocumentIdImageLocationUrl != null)
                            {
                                <img class="img-fluid audiolocationImage" src="@Model.AgencyReport?.AudioReport?.DocumentIdImageLocationUrl" data-toggle="tooltip" title="Map Location" />
                            }
                            else
                            {
                                <img class="img-fluid no-Image" src="@Applicationsettings.NO_MAP" data-toggle="tooltip" title="No Map Location" />
                            }
                        </p>

                        <p class="text-muted text-sm">

                            <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                            <br />
                            <label class="img-fluid ocr-data"> @Model.AgencyReport?.AudioReport?.DocumentIdImageLocationAddress</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @if (@Model.AgencyReport?.AudioReport?.DocumentIdImageLocationUrl != null)
        {
            <div class="card direct-chat direct-chat-warning collapsed-card">
                <div class="card-header">
                    <i class="fas fa-film"></i> <h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Map Location: Expected and visited" class="badge badge-light"> <i class='far fa-hand-point-right'></i></span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="audio-map">
                    </div>
                            <div id="audio-msg">
                    </div>
                </div>
            </div>

        }
    </div>
}