@using risk.control.system.Helpers
@model CaseTransactionModel
@if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.InvestigationReport?.AgentRemarks))
{
    var questionTime = @Model.ClaimsInvestigation.InvestigationReport.AgentRemarksUpdated != null ? @Model.ClaimsInvestigation.InvestigationReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;

    <div class="col-12 col-md-6">
        <div class="card bg-light  border-success">
            ">
            <div class="card-header text-muted border-bottom-0">
                <i class="far fa-comment"></i> Questionnaire (@Model.ClaimsInvestigation?.PolicyDetail.InsuranceType.GetEnumDisplayName())<span class="badge badge-light">checkify</span> <span class="badge badge-light"><i class="nav-icon fas fa-clock"></i> @questionTime </span>
            </div>
            <div class="card-footer text-muted border-bottom-0">
                <i class="fas fa-user-shield"></i>  Agent:<span class="badge badge-light">  @Model.ClaimsInvestigation.InvestigationReport.AgentEmail </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="text-success">
                            <i class="fas fa-film me-1"></i> Questions
                        </h6>
                        <ul class="fa-ul text-muted small">
                            @foreach (var question in Model.ClaimsInvestigation.InvestigationReport.CaseQuestionnaire?.Questions)
                            {
                                <li class="mb-2">
                                    <span class="fa-li"><i class="far fa-comment text-primary"></i></span>
                                    @question.QuestionText
                                </li>
                            }
                            <li class="mb-2">
                                <span class="fa-li"><i class="far fa-comment text-secondary"></i></span>
                                Agent Remarks?
                            </li>
                            <li>
                                <span class="fa-li"><i class="far fa-comment text-secondary"></i></span>
                                Edited Remarks?
                            </li>
                        </ul>
                    </div>

                    <!-- Answers -->
                    <div class="col-md-6">
                        <h6 class="text-success">
                            <i class="fas fa-film me-1"></i> Answers
                        </h6>
                        <ul class="fa-ul text-muted small">
                            @foreach (var question in Model.ClaimsInvestigation.InvestigationReport.CaseQuestionnaire?.Questions)
                            {
                                <li class="mb-2">
                                    <span class="fa-li"><i class="far fa-comment text-success"></i></span>
                                    @question.AnswerText
                                </li>
                            }
                            <li class="mb-2">
                                <span class="fa-li"><i class="far fa-comment text-warning"></i></span>
                                @Model.ClaimsInvestigation.InvestigationReport?.AgentRemarks
                            </li>
                            @if (Model.ClaimsInvestigation.UpdateAgentAnswer)
                            {
                                <li>
                                    <span class="fa-li"><i class="far fa-comment text-info"></i></span>
                                    @Model.ClaimsInvestigation.InvestigationReport?.AgentRemarksEdit
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}