@model ClaimTransactionModel
@if (!string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.AgencyReport?.AgentRemarks))
{
    var questionTime = @Model.ClaimsInvestigation.AgencyReport.AgentRemarksUpdated != null ? @Model.ClaimsInvestigation.AgencyReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;

    <div class="col-12 col-sm-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
                <i class="far fa-comment"></i> Questionnaire (@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name)<span class="badge badge-light">checkify</span> <span class="badge badge-light"><i class="nav-icon fas fa-clock"></i> @questionTime </span>
            </div>
            <div class="card-footer text-muted border-bottom-0">
                <i class="fas fa-user-shield"></i>  Agent:<span class="badge badge-light">  @Model.ClaimsInvestigation.AgencyReport.AgentEmail </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-film"></i> Questions</span>:
                            <br />
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small">
                                    @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question1
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </li>
                                <br />
                                <li class="small">
                                    @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question2
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </li>
                                <br />
                                <li class="small">
                                    @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question3
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </li>
                                <br />
                                <li class="small">
                                    @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question4
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </li>
                                <br />
                                <li class="small">
                                    Remarks?
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                </li>
                            </ul>
                        </p>
                    </div>

                    <div class="col-6">
                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-film"></i> Answers</span>:
                            <br />
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer1
                                </li>
                                <br />
                                <li class="small">

                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer2
                                </li>
                                <br />
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer3
                                </li>
                                <br />
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.ClaimsInvestigation.AgencyReport?.ReportQuestionaire?.Answer4
                                </li>
                                <br />
                                <li class="small">
                                    <span class="fa-li">
                                        <i class="far fa-comment"></i>
                                    </span>
                                    @Model.ClaimsInvestigation.AgencyReport?.AgentRemarks
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}