@using risk.control.system.Helpers;
@model LocationTemplate
@{
	var location = Model;
}

@if (location.DocumentIds?.Any(d => d.Selected) == true)
{
	<div class="table-responsive mb-4">
	<table class="table table-bordered table-striped">
		<thead class="table-light">
			<tr>
				<th>Document</th>
				<th>
					<i class="fas fa-copy text-muted ms-2" title="Scanned Document Image"></i>
				</th>
					<th title="Indicative Captured Address Map"><img class="action-image" src="~/headers/pincode.gif" /></th>
					<th>Indicative Captured Address</th>
				<th title="Weather info"><img class="action-image" src="~/headers/information.gif" /></th>
				<th>Valid</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var doc in location.DocumentIds.Where(d => d.Selected && d.ValidationExecuted))
			{

				<tr>
					<td>
							<small>
						@doc.ReportName
								</small>
							@if (doc.IsRequired)
							{
								<span class="required-asterisk" title="Mandatory Location">*</span>
							}
					</td>
					
					<td>
						@if (doc.ValidationExecuted)
						{
							<img id="doc-img-@doc.Id"
								 src="data:image/*;base64,@(Convert.ToBase64String(doc?.IdImage))"
									 class="thumbnail-image thumbnail profile-image doc-profile-image preview-image"
								 title="Click to view document" />
						}
						else
						{
							<img id="doc-img-@doc.Id" src="~/img/no-policy.jpg" class="thumbnail profile-image doc-profile-image" />
						}

					</td>
					<td>
						@if (doc.ValidationExecuted && doc.IdImageLocationUrl != null)
						{
							<img id="face-img-@doc.Id"
									 src="@string.Format(doc.IdImageLocationUrl, "500","500")"
									 class="thumbnail-image thumbnail profile-image doc-profile-image map-image"
								 data-faceid="@doc.Id"
								 data-locationid="@location.Id"
								 data-source="document"
								 title="Click to view map" />
						}
						else
						{
							<img src="~/img/no-map.jpeg" class="thumbnail profile-image doc-profile-image" />
						}
					</td>
					<td>
							<small>
						@doc.IdImageLocationAddress
								</small>
							<span class="badge badge-light">
								Indicative Distance from @location.Address Address @doc.Distance
							</span>
					</td>
					<td>
							<small>
						@doc.IdImageData
								</small>
					</td>
					<td>
						@if (doc.ValidationExecuted)
						{
							@if (doc.IdImageValid.HasValue && doc.IdImageValid.Value)
							{
								<i class='fas fa-check-circle i-green'></i>
							}
							else
							{
								<i class='fa fa-times i-orangered' aria-hidden='true'></i>
							}
						}
						else
						{
							<i class='fa fa-times i-grey' aria-hidden='true'></i>
						}

					</td>
				</tr>
			}
		</tbody>
	</table>
	</div>
}
