@using risk.control.system.Helpers;
@model LocationReport
@{
	var location = Model;
}

@if (location.DocumentIds?.Any(d => d.Selected) == true)
{
	<div class="table-responsive mb-4">
		<table class="table table-bordered table-hover dt-responsive nowrap w-100">
			<thead class="thead-light">
			<tr>
					<th class="col-face-photo">
						<i class="far fa-file text-primary" title="Scanned Document Image"></i> Scanned image
				</th>
					<th class="col-pin-img" title="Indicative Address Info"><img class="action-image" src="~/headers/pincode.gif" /> Indicative Address Info</th>
					<th class="col-weather" title="Scanned Data">
						<img class="action-image" src="~/headers/information.gif" /> Scanned Data
					</th>
					<th class="col-match">Valid</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var doc in location.DocumentIds.Where(d => d.Selected && d.ValidationExecuted))
			{
				<tr>
					<td>
						@if (doc.ValidationExecuted)
						{
							<img id="doc-img-@doc.Id"
								 src="@(doc?.FilePath)"
									 class="mobile-capture-info preview-image"
								 title="Click to view document" />
								 <div>
									<small>
										@doc.ReportName
									</small>
									@if (doc.IsRequired)
									{
										<span class="required-asterisk" title="Mandatory Location">*</span>
									}
								 </div>
						}
						else
						{
							<img id="doc-img-@doc.Id" src="~/img/no-policy.jpg" class="thumbnail profile-image doc-profile-image" />
						}

					</td>
					<td>
						@if (doc.ValidationExecuted && doc.LocationMapUrl != null)
						{
							<img id="face-img-@doc.Id"
									 src="@string.Format(doc.LocationMapUrl, "500","500")"
									 class="mobile-capture-map map-image"
								 data-faceid="@doc.Id"
								 data-locationid="@location.Id"
								 data-source="document"
								 title="Click to view map" />
								<div>
									<div>@doc.LongLat</div>
									<small>@doc.LocationAddress</small>
									<div class="badge badge-light">
										Indicative Distance from  @location.Address Address @doc.Distance
									</div>
								</div>
						}
						else
						{
							<img src="~/img/no-map.jpeg" class="thumbnail profile-image doc-profile-image" />
						}
					</td>
					
					<td>
							<small>
						@doc.LocationInfo
								</small>
					</td>
					<td>
						@if (doc.ValidationExecuted)
						{
							@if (doc.ImageValid.HasValue && doc.ImageValid.Value)
							{
								<i class='fas fa-check-circle i-green'></i>
							}
							else
							{
								<i class='fa fa-times i-orangered' aria-hidden='true'></i>
							}
						}
						else
						{
							<i class='fa fa-times i-grey' aria-hidden='true'></i>
						}

					</td>
				</tr>
			}
		</tbody>
	</table>
	</div>
}
