@using risk.control.system.Helpers;
@model ReportTemplate
<input type="hidden" id="latitude" />
<input type="hidden" id="longitude" />
<input type="hidden" name="caseId" value="@Model.CaseId" />
@foreach (var location in Model.LocationTemplate)
{
	if(location.ValidationExecuted)
	{
		location.SetStatus();
		var agent = location.AgentIdReport;
		var duration = location.Updated.GetValueOrDefault().Subtract(agent.Updated.GetValueOrDefault());

		<div class="col-12 mb-4 location-container">
			<div class="card mb-2 border @location.StatusClass @location.LocationStatus">
				<div class="card-header bg-light text-white d-flex align-items-center">
					<h5 class="mb-0 flex-grow-1 @location.LocationStatus">
						<i class="fas fa-map-marker-alt me-2"></i> @location.LocationName
						@if (location.IsRequired)
						{
							<span class="required-asterisk" title="Mandatory Location">*</span>
						}
						<span class="badge badge-light">Time spent:</span><span class="badge @location.StatusClass" title="Time spent on the location">
							@(duration.Hours > 0 ? $"{duration.Hours}h " : "")@(duration.Minutes > 0 ? $"{duration.Minutes}m" : "less than a min")
						</span>
					</h5>

				</div>


				<div id="location-@location.Id" class="expand">

					<div class="card-body bg-light">
						@* Insert all the current content here (the agent table, face/doc/questions) *@

						@Html.AntiForgeryToken()
						<div class="expand" id="agent-@location.Id">
							<div class="table-responsive">
								<table class="table table-bordered table-hover text-center align-middle">
									<thead class="thead-light">
										<tr>
											<th>Email / Type</th>
											<th>ID Photo</th>
											<th>Indicative Map </th>
											<th> Captured Address Info</th>
											<th>Match</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<!-- Email or Report Type -->
											<td>
												<small>
												@if (agent.ValidationExecuted)
												{
													@location.AgentEmail
												}
												else
												{
													@agent.ReportType.GetEnumDisplayName()
												}
												</small>
												@if (agent.IsRequired)
												{
													<span class="required-asterisk" title="Mandatory Location">*</span>
												}
											</td>


											<!-- ID Photo -->
											<td>
												@if (agent.ValidationExecuted)
												{
													<img id="face-img-@agent.Id"
														 src="data:image/*;base64,@(Convert.ToBase64String(agent?.IdImage))"
														 class="img-thumbnail rounded"
														 title="Click to view @location.AgentEmail photo" />
												}
												else
												{
													<img src="~/img/no-user.png" class="img-thumbnail img-fluid profile-image" />
												}
											</td>

											<!-- Map Image -->
											<td>
												@if (agent.ValidationExecuted && agent.IdImageLocationUrl != null)
												{
													<img src="@string.Format(@agent.IdImageLocationUrl, "500","500")"
														 class="img-thumbnail"
														 data-faceid="@agent.Id"
														 data-locationid="@location.Id"
														 data-caseid="@Model.CaseId"
														 data-source="agent"/>
												}
												else
												{
													<img src="~/img/no-map.jpeg" class="img-thumbnail img-fluid profile-image" />
												}
											</td>

											<!-- Address or fallback -->
											<td>
												@if (agent.ValidationExecuted)
												{
													<small>@agent.IdImageLocationAddress</small>
													<span class="badge badge-light">
														Indicative Distance from Location of Interest  @agent.Distance
													</span>
												}
												else
												{
													<img src="~/img/no-map-image.jpeg" class="img-thumbnail img-fluid profile-image" />
												}
											</td>


											<!-- Match status -->
											<td>
												@if (agent.ValidationExecuted)
												{
													@if (agent.IdImageValid.HasValue && agent.IdImageValid.Value)
													{
														<i class="fa fa-check-circle text-success" title="Matched" data-toggle="tooltip"></i>
													}
													else
													{
														<i class="fa fa-times-circle text-danger" title="Not matched" data-toggle="tooltip"></i>
													}
												}
												else
												{
													<i class="fa fa-times-circle text-muted" title="Not validated" data-toggle="tooltip"></i>
												}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- FaceIds Table -->
						<partial name="_LocationFaceId" model="@location" />

						<!-- DocumentIds Table -->

						<partial name="_LocationDocId" model="@location" />

						@* <partial name="_LocationMedia" model="@location" /> *@

						<!-- Questions Table -->
						<partial name="_LocationQuestion" model="@location" />
					</div> <!-- card-body -->
				</div> <!-- collapse -->
			</div> <!-- card -->
		</div> <!-- col-12 -->
	}
	
}
<partial name="_ReportModal" />