@using risk.control.system.Helpers;
@model CaseInvestigationVendorsModel

@{
	string address = string.Empty;
	string baddress = string.Empty;
	int currentAgeinYrs = 0;
	bool customerExist = false;
	bool beneficiaryExist = false;
	int beneficaryAge = 0;
	if (Model.CaseTask != null)
	{
		address = @Model.CaseTask?.CustomerDetail.Addressline + " " + @Model.CaseTask?.CustomerDetail.District.Name + " " + @Model.CaseTask?.CustomerDetail.State.Name + " " +
		@Model.CaseTask?.CustomerDetail.Country.Name + " " + @Model.CaseTask?.CustomerDetail.PinCode.Code;
		baddress = @Model.Beneficiary != null ? @Model.Beneficiary?.Addressline + " " +
		@Model.Beneficiary?.District?.Name + " " + @Model.Beneficiary?.State?.Name + " " +
		@Model.Beneficiary?.Country?.Name + " " + @Model.Beneficiary?.PinCode?.Code : string.Empty;
		if (Model.CaseTask?.CustomerDetail.DateOfBirth != null)
		{
			var age = DateTime.UtcNow.Subtract(Model.CaseTask.CustomerDetail.DateOfBirth.GetValueOrDefault()).TotalDays;
			currentAgeinYrs = (int)age / 365;
		}
	}
	if (Model.Beneficiary.DateOfBirth != null)
	{
		var age = DateTime.UtcNow.Subtract(Model.Beneficiary.DateOfBirth.GetValueOrDefault()).TotalDays;
		beneficaryAge = (int)age / 365;
	}
	if (!string.IsNullOrWhiteSpace(Model.CaseTask.PolicyDetail?.ContractNumber))
	{
		customerExist = true;
	}
	if (Model.Beneficiary?.BeneficiaryDetailId > 0)
	{
		beneficiaryExist = true;
	}
	string customerProgressColor = "progress-bar-grey";
	if (@customerExist)
	{
		customerProgressColor = "progress-bar-green";
	}
	string benficiaryProgressColor = "progress-bar-lightgrey";
	if (@customerExist && @beneficiaryExist)
	{
		benficiaryProgressColor = "progress-bar-green";
	}
	if (@customerExist && !@beneficiaryExist)
	{
		benficiaryProgressColor = "progress-bar-grey";
	}
	if (!@customerExist && !@beneficiaryExist)
	{
		benficiaryProgressColor = "progress-bar-lightgrey";
	}
	var map = string.Format(Model.CaseTask.CustomerDetail.CustomerLocationMap, "400", "400");
	var bmap = string.Format(Model.Beneficiary.BeneficiaryLocationMap, "400", "400");

	<article>
		<div class="bb-blog-inner">
			<div class="card shadow-lg border-1 rounded-lg direct-chat-warning collapsed-card">
				<div class="card-header bg-light text-white text-center">
					<h3 class="card-title">
						<i class="far fa-file-powerpoint"></i> Case # @Model.CaseTask.PolicyDetail.ContractNumber
						<span class="hover-text">
							<i class="fas fa-info-circle"></i>
							<span class="tooltip-text" id="information">
								<li>
									<i class='far fa-file-powerpoint'></i> Case details.
								</li>
								<li>
									<i class='fa fa-user-plus'></i> Customer details.
								</li>
								<li> <i class='fas fa-user-tie'></i> Beneficiary details </li>
							</span>
						</span>
					</h3>

					<div class="card-tools">
						<span data-bs-toggle="tooltip" title="Case # : @Model.CaseTask.PolicyDetail.ContractNumber" class="badge badge-light">
							<i class='far fa-hand-point-right'></i>
						</span>
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
							<div class="card bg-light d-flex flex-fill">
								<div class="card-header text-muted border-bottom-0">
									<i class="far fa-file-powerpoint"></i> Case details
									<span class="hover-text">
										<i class="fas fa-info-circle"></i>
										<span class="tooltip-text" id="policy-information">
											<li>
												<i class='far fa-file-powerpoint'></i> Case details
											</li>
											<li>
												<i class='far fa-hand-point-right'></i>
												<div class="btn btn-xs bg-teal">
													<i class="fas fa-edit"></i>
												</div> Add Notes
											</li>
											<li>
												<i class='far fa-hand-point-right'></i>
												<div class="btn btn-xs btn-info">
													<i class="far fa-file-powerpoint"></i> ...
												</div> Show Case Detail
											</li>
										</span>
									</span>
								</div>
								<div class="progress">
									<i class="far fa-bookmark bookmark-green"></i>
									<div class="progress-bar progress-bar-green" role="progressbar">
										<i class="far fa-file-powerpoint"></i>
									</div>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-7">
											<h2 class="lead"><b>@Model.CaseTask?.PolicyDetail.ContractNumber</b></h2>
											<p class="text-muted text-sm">
												Case Type: <b>@Model.CaseTask?.PolicyDetail.InsuranceType.GetEnumDisplayName()</b>
											</p>
											<ul class="ml-4 mb-0 fa-ul text-muted">

												<li class="small">
													<span class="fa-li">
														<i class="fas fa-money-bill-wave"></i>
													</span>
													Amount: <b>@Model.Currency) @Model.CaseTask?.PolicyDetail.SumAssuredValue</b>
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="fas fa-bolt"></i>
													</span>
													Cause:<b>@Model.CaseTask?.PolicyDetail.CauseOfLoss</b>
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="fas fa-tools"></i>
													</span>
													Service: @Model.CaseTask?.PolicyDetail.InvestigationServiceType.Name
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="fas fa-building"></i>
													</span>
													Budget center: @Model.CaseTask?.PolicyDetail.CostCentre.Name
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="fas fa-sun"></i>
													</span>
													Reason: @Model.CaseTask?.PolicyDetail.CaseEnabler.Name;
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="far fa-clock"></i>
													</span>
													Issue Date: @Model.CaseTask?.PolicyDetail.ContractIssueDate.ToString("dd-MMM-yyyy")
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="far fa-clock"></i>
													</span>
													Incidence Date: @Model.CaseTask?.PolicyDetail.DateOfIncident.ToString("dd-MMM-yyyy")
												</li>
											</ul>
										</div>
										<div class="col-5 text-center">
											<p class="text-muted text-sm">
												@if (Model?.CaseTask?.PolicyDetail.DocumentPath is not null)
												{
													<img id="documentImage" class="img-fluid" src="/Document/GetPolicyDocument/@Model?.CaseTask?.PolicyDetail.PolicyDetailId" data-bs-toggle="tooltip" title="@Model?.CaseTask?.PolicyDetail.ContractNumber Document">
												}
												else
												{
													<img id="documentImage" alt="user-avatar"
														 class="img-fluid form-Image" src=@Applicationsettings.NO_POLICY_IMAGE data-bs-toggle="tooltip" title="No Document">
												}
											</p>
											<p class="text-muted text-sm">
												@if (Model.CaseTask.CaseNotes.Count > 0)
												{
													<div class="position-relative d-inline-block">
														<img id="notesDetail"
															 class="img-fluid form-Image notes-active"
															 src="/img/blank-document.png"
															 data-bs-toggle="tooltip"
															 title="Display notes">

														<span class="position-absolute top-0 start-100 translate-middle
															badge rounded-pill bg-danger">
															@Model.CaseTask.CaseNotes.Count
														</span>
													</div>
												}
												else
												{
													<img id="notesDetail-disabled" class="img-fluid form-Image" src="@Applicationsettings.NO_POLICY_IMAGE" data-bs-toggle="tooltip" title="No notes">
												}
											</p>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<div class="text-right">
										<a id="policy-comments" class="btn btn-sm bg-teal" data-bs-toggle="tooltip" title="Add Notes">
											<i class="fas fa-edit"></i>
										</a>
										<a id="policy-detail" class="btn btn-sm btn-info" data-bs-toggle="tooltip" title="Show  Policy Details">
											<i class="far fa-file-powerpoint"></i> ...
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
							<div class="card bg-light d-flex flex-fill">
								<div class="card-header text-muted border-bottom-0">
									<i class="fa fa-user-plus"></i> Customer Details
									<span class="hover-text">
										<i class="fas fa-info-circle"></i>
										<span class="tooltip-text" id="customer-information">
											<li>

												<i class='fa fa-user-plus'></i> Customer details
											</li>
											<li>
												<i class='far fa-hand-point-right'></i>
												<div class="btn btn-xs bg-teal">
													<i class="fas fa-comments"></i>
												</div> Send SMS to Customer
											</li>
											<li>
												<i class='far fa-hand-point-right'></i>
												<div class="btn btn-xs btn-warning">
													<i class="fa fa-user-plus"></i> ...
												</div> Show Customer Details
											</li>
										</span>
									</span>
								</div>
								<div class="progress">
									<i class="far fa-bookmark bookmark-green"></i>
									<div class="progress-bar @customerProgressColor" role="progressbar">
										<i class="fa fa-user-plus"></i>
									</div>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-7">
											<h2 class="lead"><b>@Model.CaseTask?.CustomerDetail?.Name</b></h2>
											<p class="text-muted text-sm">
												<b>Occupation: </b> @Model.CaseTask?.CustomerDetail?.Occupation
											</p>
											<ul class="ml-4 mb-0 fa-ul text-muted">

												<li class="small">
													<span class="fa-li">
														<i class="fa fa-money"></i>
													</span>
													Annual Income:(@Model.Currency) @Model.CaseTask?.CustomerDetail?.Income
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="fas fa-restroom"></i>
													</span>
													Gender: @Model.CaseTask?.CustomerDetail?.Gender
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="fas fa-graduation-cap"></i>
													</span>
													Education: @Model.CaseTask?.CustomerDetail?.Education
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="fas fa-user-alt"></i>
													</span>
													Age: (years) @currentAgeinYrs
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="fas fa-lg fa-building"></i>
													</span>
													Address: @address
												</li>

												<li class="small">
													<span class="fa-li">
														<i class="fas fa-lg fa-phone"></i>
													</span>
													Mobile #: + @Model.CaseTask?.CustomerDetail?.PhoneNumber
												</li>
											</ul>
										</div>
										<div class="col-5 text-center">
											<p class="text-muted text-sm">
												@if (Model?.CaseTask?.CustomerDetail?.ImagePath is not null)
												{
													<img id="profileImage" class="img-fluid block-data" src="/Document/GetCustomerDocument/@Model?.CaseTask?.CustomerDetail.CustomerDetailId" data-bs-toggle="tooltip" title="Customer Photo">
												}
												else
												{
													<img id="profileImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER" data-bs-toggle="tooltip" title="No Customer Photo">
												}
											</p>
											<p class="text-muted text-sm">
												<img id="customerGoogleMap" class="img-fluid block-data" src="@map" data-bs-toggle="tooltip" title="Display Customer Address in map">
											</p>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<div class="text-right">
										<a id="customer-comments" class="btn btn-sm bg-teal" data-bs-toggle="tooltip" title="Send SMS to Customer">
											<i class="fas fa-comments"></i>
										</a>

										<a id="customer-detail" class="btn btn-sm btn-warning" data-bs-toggle="tooltip" title="Show Customer Details">
											<i class="fa fa-user-plus"></i> ...
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
							<div class="card bg-light d-flex flex-fill">
								<div class="card-header text-muted border-bottom-0">
									<i class="fas fa-user-tie"></i>  Beneficiary Details
									<span class="hover-text">
										<i class="fas fa-info-circle"></i>
										<span class="tooltip-text" id="beneficiary-information">
											<li>
												<i class='fas fa-user-tie'></i> Beneficiary details
											</li>
											<li>
												<i class='far fa-hand-point-right'></i>
												<div class="btn btn-xs bg-teal">
													<i class="fas fa-comments"></i>
												</div> Send SMS to Beneficiary
											</li>
											<li>
												<i class='far fa-hand-point-right'></i>
												<div class="btn btn-xs btn-success">
													<i class="fas fa-user-tie"></i> ...
												</div> Show Beneficiary Details
											</li>
										</span>
									</span>
								</div>
								<div class="progress">
									<i class="far fa-bookmark bookmark-green"></i>
									<div class="progress-bar @benficiaryProgressColor" role="progressbar">
										<i class="fas fa-user-tie"></i>
									</div>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-7">
											<h2 class="lead"><b>@Model.Beneficiary?.Name</b></h2>
											<p class="text-muted text-sm">
												<b>Relation: </b> @Model.Beneficiary?.BeneficiaryRelation.Name
											</p>
											<ul class="ml-4 mb-0 fa-ul text-muted">
												<li class="small">
													<span class="fa-li">
														<i class="fa fa-money"></i>
													</span>
													Annual Income: (@Model.Currency) @Model.Beneficiary?.Income
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="fas fa-user-alt"></i>
													</span>
													Age (years): @beneficaryAge
												</li>

												<li class="small">
													<span class="fa-li">
														<i class="fas fa-lg fa-building"></i>
													</span>
													Address: @baddress
												</li>
												<li class="small">
													<span class="fa-li">
														<i class="fas fa-lg fa-phone"></i>
													</span>
													Mobile #: + @Model.Beneficiary?.PhoneNumber
												</li>
											</ul>
										</div>
										<div class="col-5 text-center">
											<p class="text-muted text-sm">
												@if (Model?.Beneficiary?.ImagePath is not null)
												{
													<img id="bImage" class="img-fluid block-data" src="/Document/GetBeneficiaryDocument/@Model?.Beneficiary?.BeneficiaryDetailId" data-bs-toggle="tooltip" title="Beneficiary Photo">
												}
												else
												{
													<img id="bImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER" data-bs-toggle="tooltip" title="No Beneficiary Photo">
												}
											</p>
											<p class="text-muted text-sm">
												<img id="beneficiaryGoogleMap" class="img-fluid block-data" src="@bmap" data-bs-toggle="tooltip" title="Display Beneficiary Address in map">
											</p>
										</div>
									</div>
								</div>

								<div class="card-footer">
									<div class="text-right">
										<a id="beneficiary-comments" class="btn btn-sm bg-teal" data-bs-toggle="tooltip" title="Send SMS to Beneficiary">
											<i class="fas fa-comments"></i>
										</a>

										<a id="beneficiary-detail" class="btn btn-sm btn-success" data-bs-toggle="tooltip" title="Show Beneficiary Details">
											<i class="fas fa-user-tie"></i> ...
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- class bb-blog-inner -->
	</article>
}