@model ClaimsInvestigationVendorsModel

<div class="col-12 d-flex align-items-stretch flex-column">
    <div class="card bg-light border-success">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-user-edit"></i> Supervisor : <span class="badge badge-light"> @Model?.AgencyReport?.SupervisorEmail</span>
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <span>
                            <i class="fas fa-user-shield"></i><b> @Model?.AgencyReport?.SupervisorEmail</b> remark
                        </span>

                    </span>
                </span>
            </h3>
            <div class="card-tools">
                <span data-toggle="tooltip" title=" Supervisor :  @Model?.AgencyReport?.SupervisorEmail" class="badge badge-light">
                    <i class="nav-icon fas fa-clock"></i> @Model.AgencyReport?.SupervisorRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt")</span>
            </div>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="text-muted text-sm">

                        <span>Supervisor comments: </span>
                    </p>
                    <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Supervisor Response
                                </th>
                                <th>
                                    Document
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @{
                                        string displayTime = string.Empty;
                                        var time = @Model.AgencyReport?.SupervisorRemarksUpdated;
                                        if (time is not null)
                                        {
                                            displayTime = time.Value.ToString("dd-MMM-yyy HH:mm");
                                        }
                                        if (time == null)
                                        {
                                            displayTime = @Model.AgencyReport.Created.ToString("dd-MMM-yyy HH:mm");
                                        }
                                    }
                                    <span class="badge badge-light">@displayTime</span>
                                </td>
                                <td>
                                    @ViewBag.InvestigationSummary

                                </td>
                                <td>
                                    @if (Model.AgencyReport?.SupervisorAttachment != null)
                                    {
                                        <img title="enquiry document" id="enquiryDocument" class="img-fluid doc-profile-image" src="data:image/*;base64,@(Convert.ToBase64String(@Model.AgencyReport?.SupervisorAttachment))">
                                        <a asp-controller="Download" asp-action="SupervisorFileAttachment" target="_blank"
                                           asp-route-id="@Model.AgencyReport.AgencyReportId" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> </a>
                                    }
                                    else
                                    {
                                        <img title="enquiry document" id="enquiryDocument" alt="face image" class="img-fluid doc-profile-image" src=@Applicationsettings.NO_IMAGE>
                                    }
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>