@model ClaimTransactionModel

@{
    ViewData["Title"] = "Details";

}

<section class="content">
    <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
    <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
    <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
    <input type="hidden" id="claimId" value="@Model.ClaimsInvestigation?.ClaimsInvestigationId" />
    <div id="article" class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-newspaper"></i> Details
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-file-powerpoint'></i> Policy details
                        </li>
                        <li>
                            <i class='fa fa-user-plus'></i> Customer details
                        </li>
                        <li> <i class='fas fa-user-tie'></i> Beneficiary details </li>
                        <li> <i class="fas fa-newspaper"></i> Agency report </li>
                        <li><i class="far fa-comment"></i> Assessor Remarks </li>
                        <li><i class="fas fa-clock"></i> Timeline </li>
                        <li><i class="fas fa-money-check-alt"></i> Billing Info </li>

                    </span>
                </span>
            </h3>
        </div>

        <partial name="_ApprovedPolicyDetails" model="@Model" />

        <partial name="_TimelineReport" model="@Model" />

        <partial name="_Invoice" model="@Model" />

    </div>
</section>

@section Scripts {
    <script src="~/js/common/claim-details.js"></script>
    <script src="~/js/map.js"></script>
    <script>
        initReportMap();
    </script>
}
