@model CaseInvestigationVendorsModel

@{
	ViewData["Title"] = "Report ";
	var locations = Model.InvestigationReport.ReportTemplate.LocationReport;
}

<section class="content">
	<form id="create-form" method="post" asp-controller="CaseAction" asp-action="ProcessCaseReport">
		<input type="hidden" id="claimId" name="claimId" value="@Model.CaseTask.Id" />
		<input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.Beneficiary.BeneficiaryDetailId" />
		<input type="hidden" id="policyDetailId" value="@Model.CaseTask?.PolicyDetail.PolicyDetailId" />
		<input type="hidden" id="customerDetailId" value="@Model.CaseTask?.CustomerDetail.CustomerDetailId" />
		<input type="hidden" id="beneficiaryId" value="@Model.Beneficiary?.BeneficiaryDetailId" />
		<input type="hidden" id="reportAiSummary" value="@Model.ReportAiSummary" />
		<input type="hidden" id="assessorRemarkType" name="assessorRemarkType" value="OK" />
		<div id="article" class="shadow-lg border-1 rounded-lg">
			<div class="card-header bg-secondary text-white text-center">
				<h3 class="card-title">
					<i class="fas fa-newspaper"></i> Report
					<span class="hover-text">
						<i class="fas fa-info-circle"></i>
						<span class="tooltip-text" id="information">
							<li>
								<i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> Photo ID Image
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> PAN card
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> Questionnaire
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> Questionnaire
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Review <i class="far fa-comment"></i> remark
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Complete <i class='fas fa-check-circle'></i> remark
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Select Submit type <input name="submittype" type="radio">
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> <button class='btn btn-warning btn-xs'><i class="fa fa-edit"></i>  ENQUIRE</b> </button>
							</li>
							<li>
								<i class='far fa-thumbs-up'></i> <button class='btn btn-info btn-xs'><i class='fas fa-glasses'></i> <b>SUBMIT</b> </button>
							</li>
						</span>
					</span>
				</h3>
			</div>
		</div>
		<partial name="_PolicyDetails" model="@Model" />
		<div class="submit-progress hidden">
			<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
		</div>
		<partial name="_AgencyReport" model="@Model" />

		@if (@Model.CaseTask.IsQueryCase && @Model.CaseTask.InvestigationReport.EnquiryRequest != null)
		{
			var data = new CaseTransactionModel
			{
				ClaimsInvestigation = Model.CaseTask,
			};
			<partial name="_EnquiryReport" model="@data" />
		}

		@if (Model.CaseTask.AiEnabled)
		{
			<partial name="_AgencyAiReport" model="@Model" />
		}

		<div class="card shadow-lg border-1 rounded-lg">

			<div class="card-header bg-info text-white text-center">
				<h3 class="card-title">
					<i class="fas fa-user-check"></i> Assessment
					<span class="hover-text">
						<i class="fas fa-info-circle"></i>
						<span class="tooltip-text" id="information">
							<li>

								<i class='far fa-hand-point-right'></i> Report Summary  <i class="fas fa-newspaper"></i>
							</li>
							<li>

								<i class='far fa-hand-point-right'></i>  Submission type <i class="far fa-file-powerpoint"></i>
							</li>
						</span>
					</span>
				</h3>
			</div>
			<div class="card-body">

				<div class="row">
					<div class="col-sm-6 d-flex align-items-stretch flex-column">
						<div class="card bg-light equal-height-card">
							<div class="card-footer text-muted border-bottom-0">
								<i class="fas fa-newspaper"></i> <strong> Report Summary </strong>
							</div>
							<div class="card-body scrollable-body">
								<table class="table table-bordered table-hover table-sm">
									<thead class="thead-light">
										<tr>
											<th title="Location (Time spent on the location)"><i class="fas fa-map-marker-alt"></i> [Time spent]</th>
											<th>Agent</th>
											<th>Face ID</th>
											<th>Document ID</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var location in locations)
										{
											var duration = location.Updated.GetValueOrDefault().Subtract(location.AgentIdReport.Updated.GetValueOrDefault());
											var durationText = (duration.Hours > 0 ? $"{duration.Hours}h " : "") +
											(duration.Minutes > 0 ? $"{duration.Minutes}m" : "less than a min");

											<tr>
												<td>
													<span class="badge  @location.LocationStatusButton" title="Location (Time spent on the location)">
														@location.LocationName
													</span>
													<span>
														@if (location.ValidationExecuted)
														{
															@durationText
														}
														@if (location.IsRequired)
														{
															<span class="required-asterisk" title="Mandatory Location">*</span>
														}
													</span>
												</td>

												<td>
													@if (location.AgentIdReport.ValidationExecuted)
													{
														@if (location.AgentIdReport.ImageValid.GetValueOrDefault())
														{
															<i class='fas fa-check-circle i-green'></i>
														}
														else
														{
															<i class='fa fa-times i-orangered' aria-hidden='true'></i>
														}
													}
													else
													{
														<span>--</span>
													}
												</td>
												<td>
													@foreach (var face in location.FaceIds.Where(f => f.Selected))
													{
														<div>
															@if (face.ValidationExecuted)
															{
																@if (face.ImageValid.GetValueOrDefault())
																{
																	<i class='fas fa-check-circle i-green'></i>
																}
																else
																{
																	<i class='fa fa-times i-orangered' aria-hidden='true'></i>
																}
																<span class="badge"> @face.ReportName</span>
															}
															else
															{
																<span>--</span>
															}
														</div>
													}
												</td>
												<td>
													@foreach (var doc in location.DocumentIds.Where(d => d.Selected))
													{
														<div>
															@if (doc.ValidationExecuted)
															{
																@if (doc.ImageValid.GetValueOrDefault())
																{
																	<i class='fas fa-check-circle i-green'></i>
																}
																else
																{
																	<i class='fa fa-times i-orangered' aria-hidden='true'></i>
																}
																<span class="badge"> @doc.ReportName</span>
															}
															else
															{
																<span>--</span>
															}
														</div>
													}
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col-sm-6 d-flex align-items-stretch flex-column">
						<div class="card bg-light equal-height-card">
							<div class="card-footer text-muted border-bottom-0">
								<i class="far fa-file-powerpoint"></i> <strong> Submission type </strong>
							</div>
							<div class="card-body scrollable-body">
								<div class="row">
									<div class="col-md-12">
										@if (!locations.Where(locations => locations.IsRequired).All(l => l.AgentValidated && l.FaceIdsValidated && l.DocumentsValidated))
										{
											<div class="form-group">
												<div class="form-check form-switch">
													<input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
													<label class="form-check-label" for="flexRadioDefault1">
														<b>  REJECT </b> <span class="process-case"> System recommendation : <i class='fa fa-times i-orangered' aria-hidden='true'></i> </span>
													</label>
												</div>
											</div>
											<div class="form-group">
												<div class="form-check form-switch">
													<input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
													<label class="form-check-label" for="flexRadioDefault3">
														<b> APPROVE </b>
													</label>
												</div>
											</div>
										}
										else
										{
											<div class="form-group">
												<div class="form-check form-switch">
													<input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
													<label class="form-check-label" for="flexRadioDefault1">
														<b>  REJECT </b> <span class="process-case"> analyse the report and reject</span>
													</label>
												</div>
											</div>
											<div class="form-group">
												<div class="form-check form-switch">
													<input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
													<label class="form-check-label" for="flexRadioDefault3">
														<b> APPROVE </b> <span class="approve-case"> System recommendation : <i class='fas fa-check-circle i-green'></i> </span>
													</label>
												</div>
											</div>
										}
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="col-sm-12">
											<div class="form-group">
												<span class="input-group-label"> Remarks :</span>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text" asp-for="ClaimsInvestigation.InvestigationReport.AgentRemarks"><i class="far fa-comment"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
													</div>
													<textarea data-bs-toggle="tooltip" title="Enter remarks" required maxlength="1000" name="assessorRemarks" id="assessorRemarks" type="text" class="form-control remarks" autocomplete="off" placeholder="enter remarks to submit"></textarea>

													<span asp-validation-for="CaseTask.InvestigationReport.SupervisorRemarks" class="text-danger"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-footer">
				<div class="row  float-right">
					<div class="col-md-12">
						<a id="back" asp-controller="Assessor" class="btn btn-outline-secondary" asp-action="Assessor">
							<i class="fas fa-arrow-left" aria-hidden="true"></i> Back
						</a>
						@if (Model.InvestigationReport.EnquiryRequest == null)
						{
							<a id="enquire-case" asp-controller="Assessor" asp-action="SendEnquiry"
								   asp-route-id="@Model.CaseTask.Id" class="btn btn-warning">
								<i class="fa fa-edit"></i>  ENQUIRE
							</a>
						}

						<button id="approve-case" type="submit" class="btn btn-info">
							<i class="fas fa-glasses" aria-hidden="true"></i> SUBMIT
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/common/case-details.js"></script>
	<script src="~/js/case-map.js"></script>
	<script src="~/js/assessor/get-report.js"></script>

}