@model CaseInvestigationVendorsModel

@{
	ViewData["Title"] = "Report ";
}

<section class="content">
	<form id="create-form" method="post" asp-controller="InvestigationPost" asp-action="ProcessCaseReport">
		<input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.Id" />
		<input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.Location.BeneficiaryDetailId" />
		<input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
		<input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
		<input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
		<input type="hidden" id="reportAiSummary" value="@Model.ReportAiSummary" />
		<input type="hidden" id="assessorRemarkType" name="assessorRemarkType" value="OK" />
		<div id="article" class="card shadow-lg border-1 rounded-lg">
			<div class="card-header bg-secondary text-white text-center">
				<h3 class="card-title">
					<i class="fas fa-newspaper"></i> Report
					<span class="hover-text">
						<i class="fas fa-info-circle"></i>
						<span class="tooltip-text" id="information">
							<li>
								<i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> Photo ID Image
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> PAN card
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> Questionnaire
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> Questionnaire
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Review <i class="far fa-comment"></i> remark
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Complete <i class='fas fa-check-circle'></i> remark
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> Select Submit type <input type="radio">
							</li>
							<li>
								<i class='far fa-hand-point-right'></i> <button class='btn btn-warning btn-xs'><i class="fa fa-edit"></i>  ENQUIRE</b> </button>
							</li>
							<li>
								<i class='far fa-thumbs-up'></i> <button class='btn btn-info btn-xs'><i class='fas fa-glasses'></i> <b>SUBMIT</b> </button>
							</li>

						</span>
					</span>
				</h3>
			</div>
		</div>
		<partial name="_PolicyDetails" model="@Model" />

		<partial name="_AgencyReport" model="@Model" />
		@if (@Model.ClaimsInvestigation.IsQueryCase && @Model.ClaimsInvestigation.InvestigationReport.EnquiryRequest != null)
		{
			var data = new CaseTransactionModel
				{
					ClaimsInvestigation = Model.ClaimsInvestigation,
				};
			<partial name="_EnquiryReport" model="@data" />
		}

		@if (Model.ClaimsInvestigation.AiEnabled)
		{
			<partial name="_AgencyAiReport" model="@Model" />
		}

		<div class="card shadow-lg border-1 rounded-lg">
			<div class="card-header bg-info text-white text-center">
				<h3 class="card-title">
					<i class="fas fa-user-check"></i> Assessment
					<span class="hover-text">
						<i class="fas fa-info-circle"></i>
						<span class="tooltip-text" id="information">
							<li>
								<i class='far fa-hand-point-right'></i> Report Summary  <i class="fas fa-newspaper"></i>
							</li>
							<li>
								<i class='far fa-hand-point-right'></i>  Submission type <i class="far fa-file-powerpoint"></i>
							</li>
						</span>
					</span>
				</h3>
			</div>
			<div class="card-body">
				<div class="submit-progress hidden">
					<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
				</div>
				<div class="row">
					@await Component.InvokeAsync("LocationSummary", new { reportTemplateId = Model.ClaimsInvestigation.ReportTemplateId})
					<div class="col-sm-6 d-flex align-items-stretch flex-column">
						<div class="card bg-light equal-height-card">
							<div class="card-footer text-muted border-bottom-0">
								<i class="far fa-file-powerpoint"></i> <strong> Submission type </strong>
							</div>
							<div class="card-body scrollable-body">
								@await Component.InvokeAsync("Decision", new { reportTemplateId = Model.ClaimsInvestigation.ReportTemplateId })
								<div class="row">
									<div class="col-md-12">
										<div class="col-sm-12">
											<div class="form-group">
												<span class="input-group-label"> Remarks :</span>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text" asp-for="ClaimsInvestigation.InvestigationReport.AgentRemarks"><i class="far fa-comment"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
													</div>
													<textarea data-toggle="tooltip" title="Enter remarks" required maxlength="100" name="assessorRemarks" id="assessorRemarks" type="text" class="form-control remarks" autocomplete="off" placeholder="enter remarks to submit"></textarea>

													<span asp-validation-for="ClaimsInvestigation.InvestigationReport.SupervisorRemarks" class="text-danger"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-footer">
				<div class="row  float-right">
					<div class="col-md-12">
						<a id="back" asp-controller="Assessor" class="btn btn-outline-secondary" asp-action="Assessor">
							<i class="fas fa-arrow-left" aria-hidden="true"></i> Back
						</a>
						<a id="enquire-case" asp-controller="Assessor" asp-action="SendEnquiry"
						   asp-route-selectedcase="@Model.ClaimsInvestigation.Id" class="btn btn-warning">
							<i class="fa fa-edit"></i>  ENQUIRE
						</a>
						<button id="approve-case" type="submit" class="btn btn-info">
							<i class="fas fa-glasses" aria-hidden="true"></i> SUBMIT
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/common/case-details.js"></script>
	<script src="~/js/case-map.js"></script>
	<script src="~/js/assessor/get-report.js"></script>

}