@model ClaimsInvestigationVendorsModel

@{
    ViewData["Title"] = "Report ";

}
@{
    string digitalIdColor = "grey";
    var borderColor = "";
    if (Model.ClaimsInvestigation.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime == null)
    {
        digitalIdColor = "grey";
        borderColor = "";
    }
    else if (Model.ClaimsInvestigation.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime != null && string.IsNullOrWhiteSpace(@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
    {
        digitalIdColor = "#dc3545!important";
        borderColor = "border-danger";
    }
    else if (Model.ClaimsInvestigation.AgencyReport.DigitalIdReport?.DigitalIdImageLongLatTime != null && !string.IsNullOrWhiteSpace(@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
    {
        borderColor = "border-success";
        digitalIdColor = "green";
    }
}
<section class="content">
    <form id="create-form" method="post" asp-controller="ClaimsInvestigationPost" asp-action="ProcessCaseReport">
        <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
        <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.Location.BeneficiaryDetailId" />
        <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
        <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
        <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
        <input type="hidden" id="reportAiSummary" value="@Model.ReportAiSummary" />
        <input type="hidden" id="assessorRemarkType" name="assessorRemarkType" value="OK" />
        <div id="article" class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-newspaper"></i> Report
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <li>
                                <i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> Photo ID Image
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> PAN card
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> Questionnaire
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i> Verify <i class='fas fa-check-circle'></i> Questionnaire
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i> Review <i class="far fa-comment"></i> remark
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i> Complete <i class='fas fa-check-circle'></i> remark
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i> Select Submit type <input type="radio">
                            </li>
                            <li>
                                <i class='far fa-hand-point-right'></i> <button class='btn btn-warning btn-xs'><i class="fa fa-edit"></i>  ENQUIRE</b> </button>
                            </li>
                            <li>
                                <i class='far fa-thumbs-up'></i> <button class='btn btn-info btn-xs'><i class='fas fa-glasses'></i> <b>SUBMIT</b> </button>
                            </li>

                        </span>
                    </span>
                </h3>
            </div>
            <partial name="_PolicyDetails" model="@Model" />

            <partial name="_AgencyReport" model="@Model" />
            @if (@Model.ClaimsInvestigation.IsQueryCase && @Model.ClaimsInvestigation.AgencyReport.EnquiryRequest != null)
            {
                var data = new ClaimTransactionModel
                {
                    ClaimsInvestigation = Model.ClaimsInvestigation,
                };
                <partial name="_EnquiryReport" model="@data" />
            }

            @{
                var lastReport = Model.ClaimsInvestigation?.PreviousClaimReports.FirstOrDefault();
                if (lastReport is not null)
                {
                    <a class="btn btn-default btn-sm" href="@Url.Action("PreviousReports", new { id = lastReport.PreviousClaimReportId })"> <i class="fas fa-newspaper"></i> Previous Report</a>
                }

            }
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
        </div>

        <div class="card card-secondary">

            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-user-check"></i> Assessment
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <li>

                                <i class='far fa-hand-point-right'></i> Report Summary  <i class="fas fa-newspaper"></i>
                            </li>
                            <li>

                                <i class='far fa-hand-point-right'></i>  Submission type <i class="far fa-file-powerpoint"></i>
                            </li>
                        </span>
                    </span>
                </h3>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-6 d-flex align-items-stretch flex-column">

                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-footer text-muted border-bottom-0">
                                <i class="fas fa-newspaper"></i> <strong> Report Summary </strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-check form-switch">

                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    @if (string.IsNullOrWhiteSpace(@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence))
                                                    {
                                                        <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                                    }
                                                    else
                                                    {
                                                        <i style='color:green;' class='fas fa-check-circle'></i>
                                                    }<span class="process-case"> </span>
                                                    <i class="fas fa-portrait"></i> <b> Photo Match </b>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-switch">

                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    @if (@Model.ClaimsInvestigation.AgencyReport.PanIdReport?.DocumentIdImageValid != null && @Model.ClaimsInvestigation.AgencyReport.PanIdReport.DocumentIdImageValid.Value)
                                                    {
                                                        <i style='color:green;' class='fas fa-check-circle'></i>
                                                    }
                                                    else
                                                    {
                                                        <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                                    } <span class="process-case"></span>
                                                    <i class="far fa-image"></i>  <b>  PAN Card Valid </b>
                                                </label>
                                            </div>
                                        </div>
                                        @if(Model.ClaimsInvestigation.EnablePassport)
                                        {
                                            <div class="form-group">
                                                <div class="form-check form-switch">

                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        @if (@Model.ClaimsInvestigation.AgencyReport.PassportIdReport?.DocumentIdImageValid != null && @Model.ClaimsInvestigation.AgencyReport.PassportIdReport.DocumentIdImageValid.Value)
                                                        {
                                                            <i style='color:green;' class='fas fa-check-circle'></i>
                                                        }
                                                        else
                                                        {
                                                            <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                                        } <span class="process-case"></span>
                                                        <i class="far fa-image"></i>  <b>  Passport Valid </b>
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                        
                                        @if (Model.ClaimsInvestigation.EnableMedia)
                                        {
                                            <div class="form-group">
                                                <div class="form-check form-switch">

                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        @if (@Model.ClaimsInvestigation.AgencyReport.AudioReport?.DocumentIdImageValid != null && @Model.ClaimsInvestigation.AgencyReport.AudioReport.DocumentIdImageValid.Value)
                                                        {
                                                            <i style='color:green;' class='fas fa-check-circle'></i>
                                                        }
                                                        else
                                                        {
                                                            <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                                        } <span class="process-case"></span>
                                                        <i class="far fa-image"></i>  <b>  Audio Valid </b>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-check form-switch">

                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        @if (@Model.ClaimsInvestigation.AgencyReport.VideoReport?.DocumentIdImageValid != null && @Model.ClaimsInvestigation.AgencyReport.VideoReport.DocumentIdImageValid.Value)
                                                        {
                                                            <i style='color:green;' class='fas fa-check-circle'></i>
                                                        }
                                                        else
                                                        {
                                                            <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                                                        } <span class="process-case"></span>
                                                        <i class="far fa-image"></i>  <b>  Video Valid </b>
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <div class="form-check form-switch">

                                                <label class="form-check-label" for="flexRadioDefault3">
                                                    <i style='color:green;' class='fas fa-check-circle'></i> <span class="process-case"> </span>
                                                    <i class="far fa-comment"></i>  <b> Questionaire info </b>
                                                </label>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-switch">
                                                <label class="form-check-label" for="flexRadioDefault3">
                                                    <i style='color:green;' class='fas fa-check-circle'></i> <span class="process-case"></span>
                                                    <i class="fas fa-comment"></i>  <b> Supervisor remarks </b>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-footer text-muted border-bottom-0">
                                <i class="far fa-file-powerpoint"></i> <strong> Submission type </strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Model.TrialVersion)
                                        {
                                            <div class="form-group">
                                                <div class="form-check form-switch">
                                                    <input disabled class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        <b> REVIEW </b> <span class="trial-case">  disabled in trial version </span>
                                                    </label>
                                                </div>
                                            </div>
                                            @if (string.IsNullOrWhiteSpace(@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence) ||
                                           @Model.ClaimsInvestigation.AgencyReport.PanIdReport?.DocumentIdImageValid == null ||
                                           !@Model.ClaimsInvestigation.AgencyReport.PanIdReport.DocumentIdImageValid.Value)
                                            {
                                                <div class="form-group">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            <b>  REJECT </b> <span class="process-case"> System recommendation : <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i> </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                                        <label class="form-check-label" for="flexRadioDefault3">
                                                            <b> APPROVE </b>
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            <b>  REJECT </b> <span class="process-case"> analyse the report and reject</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                                                        <label class="form-check-label" for="flexRadioDefault3">
                                                            <b> APPROVE </b> <span class="approve-case"> System recommendation : <i style='color:green;' class='fas fa-check-circle'></i> </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.ClaimsInvestigation.ReviewCount == 1)
                                            {
                                                <div class="form-group">

                                                    <div class="form-check form-switch">
                                                        <input disabled class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                        <label class="form-check-label" for="flexRadioDefault2">
                                                            <b> REVIEW </b> <span class="review-case">  Reviewed once </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                        <label class="form-check-label" for="flexRadioDefault2">
                                                            <b> REVIEW </b> <span class="review-case"> No previous review </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                            @if (string.IsNullOrWhiteSpace(@Model.ClaimsInvestigation.AgencyReport?.DigitalIdReport?.DigitalIdImageMatchConfidence) ||
                                           @Model.ClaimsInvestigation.AgencyReport.PanIdReport?.DocumentIdImageValid == null ||
                                           !@Model.ClaimsInvestigation.AgencyReport.PanIdReport.DocumentIdImageValid.Value)
                                            {
                                                <div class="form-group">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            <b>  REJECT </b> <span class="process-case"> System recommendation : <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i> </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                                        <label class="form-check-label" for="flexRadioDefault3">
                                                            <b> APPROVE </b>
                                                        </label>
                                                    </div>
                                                </div>
                                            }

                                            else
                                            {
                                                <div class="form-group">

                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            <b>  REJECT </b> <span class="process-case">  Analyse then reject </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input selected-case" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                                                        <label class="form-check-label" for="flexRadioDefault3">
                                                            <b> APPROVE </b> <span class="approve-case"> System recommendation : <i style='color:green;' class='fas fa-check-circle'></i> </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            }

                                        }

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <span class="input-group-label"> Remarks :</span>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" asp-for="ClaimsInvestigation.AgencyReport.AgentRemarks"><i class="far fa-comment"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                                    </div>
                                                    <input data-toggle="tooltip" title="Enter remarks" required maxlength="100" name="assessorRemarks" id="assessorRemarks" type="text" class="form-control remarks" autocomplete="off" required placeholder="enter remarks to submit" />

                                                    <span asp-validation-for="ClaimsInvestigation.AgencyReport.SupervisorRemarks" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row  float-right">
                    <div class="col-md-12">
                        <a id="back" asp-controller="Assessor" class="btn btn-outline-secondary" asp-action="Assessor">
                            <i class="fas fa-arrow-left" aria-hidden="true"></i> Back
                        </a>
                        @* @if (@Model.ClaimsInvestigation.IsQueryCase && @Model.ClaimsInvestigation.AgencyReport.EnquiryRequest != null)
                        {

                            <div class="btn btn-warning disabled">
                                <i class="fa fa-edit"></i>  ENQUIRE
                            </div>
                        }
                        else
                        {
                            <a id="enquire-case" asp-controller="ClaimsInvestigation" asp-action="SendEnquiry" onclick="showenquiry()"
                               asp-route-selectedcase="@Model.ClaimsInvestigation.ClaimsInvestigationId" class="btn btn-warning">
                                <i class="fa fa-edit"></i>  ENQUIRE
                            </a>
                        } *@
                        <a id="enquire-case" asp-controller="Assessor" asp-action="SendEnquiry" onclick="showenquiry()"
                           asp-route-selectedcase="@Model.ClaimsInvestigation.ClaimsInvestigationId" class="btn btn-warning">
                            <i class="fa fa-edit"></i>  ENQUIRE
                        </a>
                        <button id="approve-case" type="submit" class="btn btn-info">
                            <i class="fas fa-glasses" aria-hidden="true"></i> SUBMIT
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYPyGotbPJAcE9Ap_ATSKkKOrXCQC4ops&callback=initReportMap">
    </script>
    <script src="~/js/assessor/get-report.js"></script>

}