@model CaseInvestigationVendorsModel

@{
    ViewData["Title"] = " Send Enquiry";
}
<section class="content">
    <form id="query-form" method="post" asp-controller="InvestigationPost" asp-action="SubmitQuery" enctype="multipart/form-data" autocomplete="off">
        <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.Id" />
        <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.Location.BeneficiaryDetailId" />
        <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
        <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
        <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
        <input type="hidden" id="reply" name="reply" value="OK" />
        <input type="hidden" id="assessorRemarkType" name="assessorRemarkType" value="OK" />
        <div id="article" class="card shadow-lg border-1 rounded-lg">
            <div class="card-header bg-secondary text-white text-center">
                <h3 class="card-title">
                    <i class="fas fa-newspaper"></i> Send Enquiry
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <li>
                                <i class='far fa-hand-point-right'></i> Complete Enquiry info</b> </button>
                            </li>
                            <li>
                                <i class='far fa-thumbs-up'></i> <button class='btn btn-warning btn-xs'><i class="fa fa-edit"></i>  ENQUIRE</b> </button>
                            </li>

                        </span>
                    </span>
                </h3>
            </div>
            <partial name="_PolicyDetails" model="@Model" />

            <partial name="_InvestigationReport" model="@Model" />
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <div class="card shadow-lg border-1 rounded-lg">
                <div class="card-header bg-light text-white text-center">
                    <h3 class="card-title">
                        <i class="fa fa-edit"></i>  Enquiry details
                        <span class="hover-text">
                            <i class="fas fa-info-circle"></i>
                            <span class="tooltip-text" id="information">
                                <li>

                                    <i class='far fa-hand-point-right'></i> Request Info  <i class="fas fa-newspaper"></i>
                                </li>
                                <li>

                                    <i class='far fa-hand-point-right'></i>  Request Description <i class="far fa-file-powerpoint"></i>
                                </li>
                            </span>
                        </span>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-6 d-flex align-items-stretch flex-column">

                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-footer text-muted border-bottom-0">
                                    <i class="fas fa-newspaper"></i> <strong> Enquiry Info </strong>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <span class="input-group-label"> Multiple choice question:</span>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" asp-for="InvestigationReport.QueryRequest.Subject"><i class="far fa-comment-alt"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                                    </div>
                                                    <input id="enquiryinput" class="form-control remarks" asp-for="InvestigationReport.EnquiryRequest.Subject" placeholder="Enter Enquiry subject detail" required value="What is your greatest concern about the person ?">

                                                    <span asp-validation-for="InvestigationReport.EnquiryRequest.Subject" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <span class="input-group-label"> Choice 1:</span>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" asp-for="InvestigationReport.QueryRequest.AnswerA"><i class="far fa-comment-alt"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                                                </div>
                                                                <input class="form-control remarks" asp-for="InvestigationReport.EnquiryRequest.AnswerA" placeholder="Answer A" required value="The person is genuine.">
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <span class="input-group-label"> Choice 2:</span>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" asp-for="InvestigationReport.QueryRequest.AnswerB"><i class="far fa-comment-alt"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                                                </div>
                                                                <input class="form-control remarks" asp-for="InvestigationReport.EnquiryRequest.AnswerB" placeholder="Answer B" required value="The person seems to be dodgy.">

                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <span class="input-group-label"> Choice 3:</span>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" asp-for="InvestigationReport.QueryRequest.AnswerB"><i class="far fa-comment-alt"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                                                </div>
                                                                <input class="form-control remarks" asp-for="InvestigationReport.EnquiryRequest.AnswerC" placeholder="Answer C" required value="The person is temperamental.">

                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <span class="input-group-label"> Choice 4:</span>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" asp-for="InvestigationReport.QueryRequest.AnswerB"><i class="far fa-comment-alt"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                                                </div>
                                                                <input class="form-control remarks" asp-for="InvestigationReport.EnquiryRequest.AnswerD" placeholder="Answer D" required value="Not sure about the person.">

                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-footer text-muted border-bottom-0">
                                    <i class="far fa-file-powerpoint"></i> <strong> Enquiry Description </strong>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <textarea id="description" class="form-control remarks" asp-for="InvestigationReport.EnquiryRequest.Description"
                                                              placeholder="Enquiry Description" rows="3" required>this is test

                                                </textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="btn btn-default btn-file">
                                                <i class="fas fa-paperclip"></i> Attachment
                                                <img class="file-image doc-profile-image" id="documentImage0" src=@Applicationsettings.NO_IMAGE>
                                                <input id="document" name="document" asp-for="InvestigationReport.EnquiryRequest.QuestionImageAttachment" type="file" accept="*.png,*.jpeg" class="form-control remarks" />
                                            </div>
                                            <span class="help-block">Max. 2MB</span>

                                            <div class="float-right">
                                                <a asp-controller="Assessor" asp-action="GetInvestigateReport" asp-route-selectedcase="@Model.ClaimsInvestigation.Id" class="btn btn-secondary">
                                                    <i class="fas fa-times"></i> @Applicationsettings.CANCEL
                                                </a>
                                                <button id="send-query" type="submit" class="btn btn-warning">
                                                    <i class="fa fa-edit"></i>  Send Enquiry
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/case-map.js"></script>
    <script>
        initReportMap();
    </script>
    <script src="~/js/assessor/get-report.js"></script>
    <script src="~/js/common/claim-details.js"></script>
}