@model risk.control.system.Models.ServiceReportTemplate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceReportTemplate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientCompany.ClientCompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineOfBusiness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineOfBusiness.LineOfBusinessId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationServiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigationServiceType.InvestigationServiceTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportTemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportTemplate.ReportTemplateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ServiceReportTemplateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
