@using risk.control.system.Models.ViewModel;
@using risk.control.system.Seeds;
@model PermissionsViewModel
<br />
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">pincode</h3>
                    </div>
                    <form asp-action="index">
                        <div class="card-body dataTable-search-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input autocomplete="off" name="SearchString" type="text" class="form-control" placeholder="enter pincode or pincode name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button id="btnFilter" type="submit" class="btn btn-primary btn-sm"><i class="fas fa-search"></i> Search</button>
                                    <a class="btn btn-info btn-sm" href="/Pincodes/Create"><i class="fas fa-plus"></i> Create</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-body contained-width">
                        <h4>Permissions for role name :<i> @Model.RoleName</i></h4>
                        <form asp-controller="permission" method="post" asp-action="Update" class="d-inline">
                            <input asp-for="@Model.RoleId" type="hidden" />
                            <input asp-for="@Model.RoleName" type="hidden" />
                            <table class="table table-striped" id="permissionTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Module name
                                        </th>
                                        <th>
                                            VIEW
                                        </th>
                                        <th>
                                            CREATE
                                        </th>
                                        <th>
                                            EDIT
                                        </th>
                                        <th>
                                            DELETE
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int j = 0; j < Model.PermissionViewModels.Count; j++)
                                    {
                                        var startIndex = Applicationsettings.PERMISSION.Length + 1;
                                        var contentLength = Model.PermissionViewModels[j].RoleClaims[0].Value.IndexOf(".", startIndex) - startIndex;
                                        var roleClaimValue = Model.PermissionViewModels[j].RoleClaims[0]?.Value;
                                        var roleValue = roleClaimValue.Substring(startIndex, contentLength);
                                        var actionType = roleClaimValue.Substring(startIndex + contentLength + 1);
                                        <tr>
                                            <td>
                                                @roleValue
                                            </td>
                                            @for (var i = 0; i < Model.PermissionViewModels[j].RoleClaims.Count; i++)
                                            {
                                                <input asp-for="@Model.PermissionViewModels[j].RoleClaims[i].Type" type="hidden" />
                                                <input asp-for="@Model.PermissionViewModels[j].RoleClaims[i].Value" type="hidden" />
                                                <td>
                                                    <div class="form-check m-1">
                                                        <input asp-for="@Model.PermissionViewModels[j].RoleClaims[i].Selected" class="form-check-input" />
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="card-footer text-right">
                                <a asp-controller="roles" asp-action="Index" class="btn btn-secondary">
                                    <i class="fa fa-window-close"></i>
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-plus"></i> &nbsp;Edit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>