@model ServiceModel
@{
	ViewData["Title"] = @Applicationsettings.USER;
}

<section class="content">
	<div id="article" class="card shadow-lg border-1 rounded-lg">
		<div class="card-header bg-secondary text-white text-center">
			<h3 class="card-title"><i class="fas fa-user-friends"></i>  Manage Users</h3>
		</div>
		<div class="card-body">
			<div class="submit-progress hidden">
				<i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
			</div>
			<input type="hidden" asp-for="Id" />
			<table id="dataTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
				<thead>
					<tr>
						<th>Id</th>
						<th><i class="fas fa-clock" title="Online status" data-bs-toggle="tooltip"></i> User</th>
						<th>Email</th>
						<th>Mobile #</th>
						<th>Address</th>
						<th>State</th>
						<th>Pincode</th>
						<th>Status</th>
						<th>Role</th>
						<th>Update By</th>
						<th>Actions</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<a id="back" asp-controller="AvailableAgency" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>

						<a class="create-agency-user btn btn-success" asp-controller="AvailableAgencyUser" asp-action="Create" asp-route-id="@Model.Id"><i class="fas fa-user-plus"></i> @Applicationsettings.CREATE User</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts
{
	<script src="~/js/manager/available-agency-users.js"></script>
}