@using risk.control.system.Helpers;
@model ReportTemplate
<input type="hidden" id="latitude" />
<input type="hidden" id="longitude" />
<input type="hidden" name="caseId" value="@Model.CaseId" />
@foreach (var location in Model.LocationTemplate)
{
	location.CaseId = Model.CaseId;
	<div class="col-12 p-4 mb-5 border rounded shadow-sm bg-light location-container">
		@Html.AntiForgeryToken()

		<h6 class="mb-4 text-primary border-bottom pb-2">
			<i class="fas fa-map-marker-alt me-2"></i> @location.LocationName
		</h6>

		<!-- Agent Table -->
		<partial name="_locationAgent" model="@location" />
		<!-- FaceIds Table -->
		<partial name="_LocationFaceId" model="@location" />

		<!-- DocumentIds Table -->

		<partial name="_LocationDocId" model="@location" />

		<!-- Questions Table -->
		<partial name="_LocationQuestion" model="@location" />
	</div>
}
<partial name="_ReportModal" />