@using risk.control.system.Helpers;
@model LocationTemplate
@{
	var location = Model;
}
@if (location.FaceIds?.Any(f => f.Selected) == true)
{
	<div class="table-responsive mb-4">

	<table class="table table-bordered table-hover dt-responsive nowrap w-100">
		<thead class="table-light">
			<tr>
				<th title="Verifier Name"><img class="action-image" src="~/headers/customer.gif" /></th>
				<th>
					<i class="far fa-user text-primary" title="This Image has Verifier photo at the location" data-toggle="tooltip"></i>
				</th>
				<th title="Verified Address"><img class="action-image" src="~/headers/pincode.gif" /></th>
				<th>Verified Address</th>
				<th title="Weather info"><img class="action-image" src="~/headers/information.gif" /></th>
				<th>Match</th>
				<th title="Action"><img class="action-image" src="~/headers/action.gif" /></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var face in location.FaceIds.Where(f => f.Selected))
			{
				<tr>
					<td>
						@face.ReportName
						@if (face.IsRequired)
						{
							<span class="required-asterisk" title="Mandatory Location">*</span>
						}
					</td>
					
					<td>
						@if (face.ValidationExecuted)
						{
							<img id="face-img-@face.Id"
								 src="@(face?.FilePath)"
								 class="thumbnail-image thumbnail profile-image doc-profile-image preview-image"
								 title="Click to view face photo" />
						}
						else
						{
							<img id="face-img-@face.Id" src="~/img/no-user.png" class="thumbnail profile-image doc-profile-image" />
						}
					</td>
					<td>
						@if (face.ValidationExecuted && face.IdImageLocationUrl != null)
						{
							<img src="@string.Format(@face.IdImageLocationUrl, "300","300")"
								 class="thumbnail-image thumbnail profile-image doc-profile-image map-image"
								 data-faceid="@face.Id"
								 data-locationid="@location.Id"
								 data-source="face"
								 title="Click to view map" />

						}
						else
						{
							<img src="~/img/no-map.jpeg" class="thumbnail profile-image doc-profile-image" />
						}
					</td>
					<td>
						@face.IdImageLocationAddress

					</td>
					<td>
						@face.IdImageData

					</td>
					<td>
						@if (face.ValidationExecuted)
						{
							@if (face.IdImageValid.GetValueOrDefault())
							{
								<i class='fas fa-check-circle i-green'></i>
							}
							else
							{
								<i class='fa fa-times i-orangered' aria-hidden='true'></i>
							}
						}
						else
						{
							<i class='fa fa-times i-grey' aria-hidden='true'></i>
						}
						@face.Similarity
					</td>
					<td>
						<input type="file" class="form-control form-control-sm face-upload" data-faceid="@face.Id" accept="image/*" />
						<button type="button" class="btn btn-sm btn-success mt-2 upload-face-btn"
								data-faceid="@face.Id"
								data-locationid="@location.Id"
								data-location-name="@location.LocationName"
								data-name="@face.ReportName">
							<i class="fas fa-upload"></i> Upload
						</button>
						<div id="upload-status-@face.Id" class="text-success small mt-1"></div>
					</td>

				</tr>
			}

		</tbody>
	</table>

	</div>
}
