@using risk.control.system.Helpers;
@model LocationTemplate
@{
	var location = Model;
}

@if (location.DocumentIds?.Any(d => d.Selected) == true)
{
	<table class="table table-bordered table-striped">
		<thead class="table-light">
			<tr>
				<th>Document</th>
				<th>
					<i class="fas fa-copy text-muted ms-2" title="Scanned Document Image"></i>
				</th>
				<th title="Verified Address"><img class="action-image" src="~/headers/pincode.gif" /></th>
				<th>Verified Address</th>
				<th title="Weather info"><img class="action-image" src="~/headers/information.gif" /></th>
				<th>Valid</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var doc in location.DocumentIds.Where(d => d.Selected))
			{

				<tr>
					<td>@doc.ReportName</td>
					
					<td>
						@if (doc.ValidationExecuted)
						{
							<img id="doc-img-@doc.Id"
								 src="data:image/*;base64,@(Convert.ToBase64String(doc?.IdImage))"
								 class="thumbnail profile-image doc-profile-image preview-image"
								 title="Click to view document" />
						}
						else
						{
							<img id="doc-img-@doc.Id" src="~/img/no-policy.jpg" class="thumbnail profile-image doc-profile-image" />
						}

					</td>
					<td>
						@if (doc.ValidationExecuted)
						{
							<img id="face-img-@doc.Id"
								 src="@doc.IdImageLocationUrl"
								 class="thumbnail profile-image doc-profile-image map-image"
								 data-faceid="@doc.Id"
								 data-locationid="@location.Id"
								 data-source="document"
								 title="Click to view map" />
						}
						else
						{
							<img src="~/img/no-map.jpeg" class="thumbnail profile-image doc-profile-image" />
						}
					</td>
					<td>
						@doc.IdImageLocationAddress

					</td>
					<td>
						@doc.IdImageData
					</td>
					<td>
						@if (doc.ValidationExecuted)
						{
							@if (doc.IdImageValid.HasValue && doc.IdImageValid.Value)
							{
								<i class='fas fa-check-circle i-green'></i>
							}
							else
							{
								<i class='fa fa-times i-orangered' aria-hidden='true'></i>
							}
						}
						else
						{
							<i class='fa fa-times i-grey' aria-hidden='true'></i>
						}

					</td>
					<td>
						<input type="file" class="form-control form-control-sm doc-upload" data-docid="@doc.Id" />
						<button class="btn btn-sm btn-primary mt-1 upload-doc-btn"
								data-docid="@doc.Id"
								data-locationid="@location.Id"
								data-location-name="@location.LocationName"
								data-name="@doc.ReportName">
							<i class="fas fa-upload"></i> Upload
						</button>
						<div id="doc-upload-status-@doc.Id" class="text-success small mt-1"></div>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
