@model ClaimsInvestigationVendorsModel

@{
    var questionTime = @Model.AgencyReport.AgentRemarksUpdated != null ? @Model.AgencyReport.AgentRemarksUpdated.Value.ToString("dd-MMM-yy hh:mm tt") : null;

    string questionaire = "progress-bar-grey";
    if (Model.AgencyReport.AgentRemarks != null)
    {
        questionaire = "progress-bar-green";
    }
    <div class="col-12 col-sm-4 col-md-12 d-flex align-items-stretch flex-column">
        <div id="questionaire-border" class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">

                <h3 class="card-title">
                    <i class="far fa-comment"></i> Questionnaire (@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name)
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltip-text" id="information">
                            <span>
                                <i class="fas fa-comment"></i> Fill-up Questionnaire (@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name)
                            </span>

                        </span>
                    </span>
                </h3>
                <div class="card-tools">
                    <span data-toggle="tooltip" title="Report time" class="badge badge-light"> <i class="nav-icon fas fa-clock"></i> @questionTime </span>
                    
                </div>
                
            </div>
            <div class="card-footer text-muted border-bottom-0">
                <i class="fas fa-user-shield"></i>  Agent :<span class="badge badge-light">  @Model.AgencyReport.AgentEmail </span>
            </div>
            <div class="progress">
                <i class="far fa-bookmark bookmark-green"></i>
                <div id="questionaire" class="progress-bar @questionaire" role="progressbar">
                    questionaire
                </div>
            </div>
            <form id="create-form" asp-controller="ClaimsVendorPost" asp-action="SubmitReport" method="post">
                <input type="hidden" id="claimId" name="claimId" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                <input type="hidden" id="CaseLocationId" name="CaseLocationId" value="@Model.Location.BeneficiaryDetailId" />
                <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
                <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
                <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
                <input type="hidden" id="caseType" name="caseType" value="underwriting" />
                <input type="hidden" id="usertype" value="@Applicationsettings.AGENT.DISPLAY_NAME" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <span class="input-group-label"> @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question1</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" asp-for="AgencyReport.ReportQuestionaire.Answer1"><i class="nav-icon fas fa-home"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <select name="question1" id="question1" required asp-for="AgencyReport.ReportQuestionaire.Answer1" data-toggle="tooltip" title="Select Ownership of Residence" 
                                    class="form-control remarks" asp-items="Html.GetEnumSelectList<DwellType>()">
                                        <option>--- SELECT ---</option>
                                    </select>
                                    <span asp-validation-for="AgencyReport.ReportQuestionaire.Answer1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="input-group-label"> @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question2 (@ViewBag.Currency)</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" asp-for="AgencyReport.ReportQuestionaire.Answer2"><i class="far fa-money-bill-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <select name="question2" id="question2" required asp-for="AgencyReport.ReportQuestionaire.Answer2" data-toggle="tooltip" title="Select Perceived financial status"
                                            class="form-control remarks" asp-items="Html.GetEnumSelectList<Income>()">
                                        <option>--- SELECT---</option>
                                    </select>
                                    <span asp-validation-for="AgencyReport.ReportQuestionaire.Answer2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="input-group-label"> @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question3</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" asp-for="AgencyReport.ReportQuestionaire.Answer3"><i class="fas fa-user-check"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <input id="ContractNumber" required name="question3" id="question3" asp-for="AgencyReport.ReportQuestionaire.Answer3" data-toggle="tooltip" title="Enter Name of neighbour met"
                                    class="form-control remarks" type="text" placeholder="Neighbour name" maxlength="20" />
                                    <span asp-validation-for="AgencyReport.ReportQuestionaire.Answer3" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="input-group-label"> @Model.ClaimsInvestigation.AgencyReport.ReportQuestionaire.Question4</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" asp-for="AgencyReport.ReportQuestionaire.Answer4"><i class="nav-icon far fa-calendar-check"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    @{
                                        var maxDate = @DateTime.Now.ToString("dd-MM-yyyy");
                                    }
                                    <input required asp-for="AgencyReport.ReportQuestionaire.Answer4" name="question4" id="question4" data-toggle="tooltip" title="Select Date met with neighbour"
                                           class="form-control remarks date-width" min="2000-01-01" max="@maxDate" type="date" />
                                    <span asp-validation-for="AgencyReport.ReportQuestionaire.Answer4" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            
                            <div class="form-group">
                                <span class="input-group-label"> Remarks :</span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" asp-for="AgencyReport.AgentRemarks"><i class="fas fa-comment"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <textarea required name="remarks" id="remarks" asp-for="AgencyReport.AgentRemarks" class="form-control remarks" data-toggle="tooltip" title="Enter remarks"
                                              type="text" placeholder="Remarks" rows="1"></textarea>
                                    <span asp-validation-for="AgencyReport.AgentRemarks" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <div class="ml-4 mb-0 fa-ul text-muted">

                                    <div class="form-group">
                                        <input type="checkbox" id="terms_and_conditions" value="1" />
                                        <label class="account" for="terms_and_conditions" data-toggle="tooltip" title="I agree to the Terms & Conditions"> I agree to the <a class="termsLink" href="#">Terms & Conditions</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        
                    </div>
                </div>

                <div class="card-footer">

                    <div class="text-right">
                        <a id="back" asp-controller="Agent" asp-action="Agent" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a> &nbsp;
                        @if (@Model.AgencyReport?.DigitalIdReport?.DigitalIdImageLocationUrl != null && @Model.AgencyReport?.PanIdReport?.DocumentIdImageLocationUrl != null)
                        {
                            <button disabled id="submit-case" type="submit" class="btn btn-danger">
                                <i class="fa fa-binoculars" aria-hidden="true"></i> SUBMIT
                            </button>
                        }
                        else
                        {
                            <button disabled id="incomplete-case" type="submit" class="btn btn-danger">
                                <i class="fa fa-binoculars" aria-hidden="true"></i> SUBMIT
                            </button>
                        }

                    </div>
                </div>


            </form>

        </div>
    </div>

}
