@model ClaimsInvestigationVendorsModel

@{
    var imageCapturedTime = @Model.AgencyReport?.VideoReport?.DocumentIdImageLongLatTime != null ? @Model.AgencyReport?.VideoReport?.DocumentIdImageLongLatTime.Value.ToString("dd-MMM-yy hh:mm tt") : null;

    string videoIdColor = "grey";
    var videoIdColorBorderColor = "";
    if (Model.AgencyReport.VideoReport?.DocumentIdImageLongLat == null)
    {

    }
    else if (Model.AgencyReport.VideoReport?.DocumentIdImageLongLat != null && (
    Model.AgencyReport?.VideoReport?.DocumentIdImageValid != null && Model.AgencyReport?.VideoReport?.DocumentIdImageValid == true))
    {
        videoIdColor = "green";
        videoIdColorBorderColor = "border-success";
    }
    else
    {
        videoIdColor = "#dc3545!important";
        videoIdColorBorderColor = "border-danger";
    }

    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill @videoIdColorBorderColor">
            <div class="card-header text-muted border-bottom-0">
                <h3 class="card-title">
                    <i class="fas fa-mobile-alt"></i> VIDEO
                    <span class="hover-text">
                        <i class="fas fa-info-circle"></i>

                        @if (videoIdColorBorderColor == "border-danger")
                        {
                            <span class="tooltip-text" id="beneficiary-information">
                                <div>
                                    <i class='far fa-hand-point-right'></i>
                                    <b> Upload</b> Max image size 2 MB
                                </div>
                            <div>
                                    <i class='far fa-thumbs-down'></i> <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i> Valid Video
                                </div>
                            </span>
                        }
                        else if (videoIdColorBorderColor == "border-success")
                        {
                            <span class="tooltip-text" id="beneficiary-information">
                                <div>
                                    <i class='far fa-hand-point-right'></i>
                                    <b> Upload</b> Max image size 2 MB
                                </div>
                                <div>
                                    <i class='far fa-thumbs-up'></i> <i style='color:green;' class='fas fa-check-circle'></i> InValid Video
                                </div>
                            </span>
                        }
                        else
                        {
                            <span class="tooltip-text" id="beneficiary-information">
                                <div>
                                    <i class='far fa-hand-point-right'></i>
                                    <b> Upload</b> Max image size 2 MB
                                </div>
                                <div>
                                <i class='far fa-hand-point-right'></i>
                                <button class='btn btn-info btn-xs'>
                                        <span class='badge badge-info btn-xs'>
                                            <i class='fa fa-upload'></i>
                                    </span> Upload
                                    </button>  Video
                                </div>
                            </span>

                        }

                    </span>
                </h3>
                <div class="card-tools">
                    <span data-toggle="tooltip" title="Agent report # : @Model.AgencyReport.AgentEmail" class="badge badge-light">
                        <i class="nav-icon fas fa-clock"></i>
                        @imageCapturedTime
                    </span>

                </div>
                
            </div>

            <div class="card-footer text-center">
                <span class="badge badge-light"><i class="far fa-image"></i> Valid : </span>
                @if (@videoIdColor == "grey")
                {
                    <i style='color:grey;' class='fa fa-times' aria-hidden='true'></i>
                }
                else if (@Model.AgencyReport?.VideoReport?.DocumentIdImageValid.Value ?? false)
                {
                    <i style='color:green;' class='fas fa-check-circle'></i>
                }

                else
                {
                    <i style='color:orangered;' class='fa fa-times' aria-hidden='true'></i>
                }
            </div>
            <div class="progress">
                <i class="far fa-bookmark bookmark-green"></i>
                <div class="progress-bar" role="progressbar" style="width:100%;background-color:@videoIdColor;">
                    video
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-film"></i> Video File</span>:
                            <br />
                            @{
                                if (Model.AgencyReport?.VideoReport?.DocumentIdImage != null)
                                {
                                    <video id="videoPlayer" controls class="img-fluid vidio-Image" data-toggle="tooltip" title="Video File">
                                        <source src="/Uploads/GetVideoFile?fileName=@Model.AgencyReport.VideoReport.DocumentIdImagePath" type="video/mpeg">
                                        Your browser does not support the video element.
                                    </video>
                                }
                                else
                                {
                                                            <img id="videoPlayer" class="img-fluid no-Image" data-toggle="tooltip" title="No Video"
                                         src=@Applicationsettings.NO_VIDEO>
                                }
                            }
                        </p>
                        <p class="text-muted text-sm">

                            <span class="badge badge-light"><i class="fas fa-info"></i> Image Scan Info</span>
                            <br />
                            <label class="img-fluid ocr-data"> @Model.AgencyReport?.VideoReport?.DocumentIdImageData</label>
                        </p>
                    </div>
                    <div class="col-6 text">

                        <p class="text-muted text-sm">
                            <span class="badge badge-light"><i class="fas fa-map-pin"></i> Location visited</span>
                            <br />
                            @if (@Model.AgencyReport?.VideoReport?.DocumentIdImageLocationUrl != null)
                            {
                                <img class="img-fluid videolocationImage" src="@Model.AgencyReport?.VideoReport?.DocumentIdImageLocationUrl" data-toggle="tooltip" title="Map Location" />
                            }
                            else
                            {
                                <img class="img-fluid no-Image" src="@Applicationsettings.NO_MAP" data-toggle="tooltip" title="No Map Location" />
                            }
                        </p>

                        <p class="text-muted text-sm">

                            <span class="badge badge-light"><i class="fas fa-map-marker-alt"></i> Address visited</span>
                            <br />
                            <label class="img-fluid ocr-data"> @Model.AgencyReport?.VideoReport?.DocumentIdImageLocationAddress</label>
                        </p>
                    </div>
                </div>
            </div>

            <form id="upload-video" method="post" enctype="multipart/form-data" asp-controller="Uploads" asp-action="VideoUpload">
                <input type="hidden" id="videoLatitude" name="videoLatitude" />
                <input type="hidden" id="videoLongitude" name="videoLongitude" />
                <input type="hidden" id="selectedclaim" name="selectedclaim" value="@Model.ClaimsInvestigation.ClaimsInvestigationId" />
                <div class="card-footer">

                    <div class="form-group">
                        <span class="input-group-label"> Upload VIDEO : </span>
                        <div class="input-group mb-3">
                            <img class="form-Image" id="video-Image" src="@Applicationsettings.NO_IMAGE" title="Video" />
                            <input accept=".mp4" type="file" class="form-control remarks" name="videoFile" id="videoFile" data-toggle="tooltip" title="Upload Video" />
                            <button id="UploadVideoButton" disabled type="submit" class="btn btn-info upload"><i class="nav-icon fa fa-upload"></i> Upload</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (@Model.AgencyReport?.VideoReport?.DocumentIdImageLocationUrl != null)
        {
            <div class="card direct-chat direct-chat-warning collapsed-card">
                <div class="card-header">
                    <i class="fas fa-film"></i> <h3 class="card-title">Map<span class="badge badge-light">Expected and visited</span></h3>

                    <div class="card-tools">
                        <span data-toggle="tooltip" title="Map Location: Expected and visited" class="badge badge-light"> <i class='far fa-hand-point-right'></i></span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="video-map">
                    </div>
                            <div id="video-msg">
                    </div>
                </div>
            </div>

        }
    </div>
}