@model ClaimTransactionModel

@{
    ViewData["Title"] = "Details";
    
}

<section class="content">
    <input type="hidden" id="policyDetailId" value="@Model.ClaimsInvestigation?.PolicyDetail.PolicyDetailId" />
    <input type="hidden" id="customerDetailId" value="@Model.ClaimsInvestigation?.CustomerDetail.CustomerDetailId" />
    <input type="hidden" id="beneficiaryId" value="@Model.Location?.BeneficiaryDetailId" />
    <input type="hidden" id="claimId" value="@Model.ClaimsInvestigation?.ClaimsInvestigationId" />
    <div id="article" class="card shadow-lg border-1 rounded-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="card-title"><i class="fas fa-newspaper"></i> Details
                <span class="hover-text">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltip-text" id="information">
                        <li>
                            <i class='far fa-file-powerpoint'></i> Policy details.
                        </li>
                        @if (Model.ClaimsInvestigation.PolicyDetail.ClaimType == ClaimType.HEALTH)
                        {
                            <li>
                                <i class='fa fa-user-plus'></i> Customer details
                            </li>
                        }
                        else
                        {
                            <li> <i class='fas fa-user-tie'></i> Beneficiary details </li>
                        }
                        <li> <i class="fas fa-newspaper"></i> Agent report (@Model.ClaimsInvestigation?.PolicyDetail.LineOfBusiness.Name)</li>
                    </span>
                </span>
            </h3>
        </div>
        <partial name="_AgentSubmittedReport" model="@Model" />
        <div class="card-footer">
            <div class="text-right">

                <a id="back" asp-controller="Agent" asp-action="Submitted" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left"></i>
                    <span class="badge badge-light"> <i class="fas fa-print"></i> </span> Back
                </a>

            </div>
        </div>
    </div>
</section>

@section Scripts    {
    <script src="~/js/common/claim-details.js">
    </script>
    <script src="~/js/case-map.js"></script>
    <script>
        initReportMap();
    </script>
}
