@model risk.control.system.Models.ClientCompanyApplicationUser

@{
    ViewData["Title"] = Applicationsettings.CREATE;

    var email = Model.ClientCompany.Email;
    var emailAtIndex = email.IndexOf("@");
    if(emailAtIndex>0)
    {
        email = email.Substring(emailAtIndex + 1);    
    }
}

<section class="content">
    <div class="card bg-light card-secondary">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-user-plus"></i>  Add User</h3>
        </div>
        <div class="card-body">
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <span class="input-group-label"> Email:</span>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="emailid"><i class="fas fa-at"></i> <i class="fa fa-asterisk asterik-style"></i> </span>
                            </div>
                            <input type="text" asp-for="Email" id="emailAddress" class="form-control email-address remarks" value="" onblur="CheckIfEmailValid();" required
                                   placeholder="username" maxlength="20" onkeydown='return alphaOnly(event);' onClick="this.select();" autocomplete="off">
                            <div class="input-group-append">
                                <span class="input-group-text" id="Email">@@@email</span>
                            </div>
                            <div class="input-group-append">
                                <button disabled id="check-email" class="input-group-text" onclick="checkUserEmail();">
                                    <span class="badge badge-default">Check</span>
                                </button>
                            </div>
                            <div class="input-group-append">
                                <span id="result"></span>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>

            </div>
        </div>

        <form id="create-form" asp-action="CreateUser" enctype="multipart/form-data" autocomplete="off">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group hide-id">
                            <label asp-for="ClientCompanyId" class="control-label"></label>
                            <input type="hidden" asp-for="Email" id="mailAddress" />
                            <input type="hidden" id="emailSuffix" name="emailSuffix" value="@email" />
                            <input asp-for="ClientCompanyId" class="form-control remarks" value="@Model.ClientCompany.ClientCompanyId" />

                            <span asp-validation-for="ClientCompanyId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Photo:</span>
                            <div class="input-group mb-3">

                                <img id="profileImage" class="form-Image" src="@Applicationsettings.NO_USER">

                                <input asp-for="ProfileImage" class="form-control remarks" type="file" id="documentImageInput" onchange="document.getElementById('profileImage').src = window.URL.createObjectURL(this.files[0])" />

                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> First Name:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="FirstName"><i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" asp-for="FirstName" class="form-control title-name remarks" value="" required placeholder="First Name" maxlength="20" autocomplete=off>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Last Name:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="LastName"> <i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" asp-for="LastName" class="form-control title-name remarks" value="" required placeholder="Last Name" maxlength="20" autocomplete="off">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        @*  <div class="form-group">
                        <span class="input-group-label"> Password:</span>
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="Password"> <i class="fa fa-key"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input type="password" asp-for="Password" class="form-control remarks" value="" required placeholder="Password" maxlength="20" autocomplete="off">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        </div>*@

                        <div class="form-group">
                            <span class="input-group-label"> Phone #:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="PhoneNumber"><i class="fas fa-phone"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" asp-for="PhoneNumber" class="form-control remarks" required maxlength="14" value="" placeholder="Phone # with country code"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Note:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="Comments"> <i class="fa fa-asterisk asterik-style" style="color:#e9ecef;"></i><i class="fas fa-comment"></i> </span>
                                </div>
                                <input type="text" asp-for="Comments" class="form-control remarks" placeholder="Notes (optional)" maxlength="20" autocomplete="off" />
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Role:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="ClaimType"><i class="nav-icon fas fa-file-invoice"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select required asp-for="@Model.UserRole" class="form-control remarks" asp-items="Html.GetEnumSelectList<CompanyRole>()">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="@Model.UserRole" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <span class="input-group-label"> Country:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="CountryId"><i class="fas fa-map-marked-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>    <select asp-for="CountryId" class="form-control remarks" id="CountryId" asp-items="ViewBag.CountryId" onchange="loadState(this)" required>
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="CountryId" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> State:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="StateId"><i class="fas fa-map-marker-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select id="StateId" asp-for="StateId" class="form-control remarks" asp-items="ViewBag.StateId" onchange="loadDistrict(this)" required>
                                    <option value="">--- SELECT ---</option>
                                </select>

                                <span asp-validation-for="StateId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> District:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="DistrictId"><i class="fas fa-city"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>

                                <select id="DistrictId" asp-for="DistrictId" class="form-control remarks" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)" required>
                                    <option value="">--- SELECT ---</option>
                                </select>

                                <span asp-validation-for="DistrictId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-label"> Pincode:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="PinCodeId"><i class="fas fa-map-pin"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select id="PinCodeId" asp-for="PinCodeId" class="form-control remarks" asp-items="ViewBag.PinCodeId" required>
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="PinCodeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Address:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="Addressline"><i class="fa fa-home"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" asp-for="Addressline" class="form-control remarks" placeholder="Enter Address line" required maxlength="20" autocomplete="off" />
                                <span asp-validation-for="Addressline" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="input-group-label"> Status:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-toggle-on"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <div class="input-group-prepend">
                                </div>
                                <span class="checkbox">
                                    <input asp-for="Active" type="checkbox" data-toggle="toggle" data-on="<i class='fas fa-lock-open'></i> Active " data-off="<i class='fas fa-lock'></i> Lock" data-onstyle="success" data-offstyle="danger">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group text-right">
                            <a id="back" asp-controller="Company" asp-action="User" class="btn btn-secondary"><i class="fa fa-window-close"></i> Cancel</a>
                            <button disabled id="create-agency" type="submit" class="btn btn-success">
                                <i class="fas fa-user-plus"></i> Add User
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/create-company-user.js">
    </script>
}
