@using Standard.Licensing
@model risk.control.system.Models.ClientCompany

@{
    ViewData["Title"] = @Applicationsettings.EDIT;

}

<section class="content">
    <form id="edit-form" asp-action="Edit" enctype="multipart/form-data">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-building"></i> @Applicationsettings.EDIT Company</h3>
            </div>
            <div class="card-body pb-0">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <input type="hidden" asp-for="ClientCompanyId" />
                <input type="hidden" asp-for="AddressMapLocation" value="@Model.AddressMapLocation" />
                <input type="hidden" asp-for="AddressLatitude" value="@Model.AddressLatitude" />
                <input type="hidden" asp-for="AddressLongitude" value="@Model.AddressLongitude" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="input-group-label"> Domain:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="email"> <i class="fa fa-globe"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input readonly asp-for="Email" class="form-control remarks" />
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="input-group-label"> Name: </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-business-time"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" id="Name" asp-for="Name" class="form-control title-name remarks" required placeholder="Company Name" maxlength="20">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        @* <div class="form-group">
                            <span class="input-group-label"> Code: </span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-code"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" id="Code" asp-for="Code" class="form-control asterikx remarks" required placeholder="Company Code" maxlength="5">
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                        </div> *@
                        <div class="form-group">
                            <label class="input-group-label"> Phone #:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    @{
                                        var imgPath = "/flags/" + @Model.Country.Code.ToLower() + ".png";
                                    }
                                    <span class="input-group-text country-code-text" data-toggle="tooltip" title="Country Code :+@Model?.Country.ISDCode">
                                        <img src="@imgPath" class="flag-icon" data-toggle="tooltip" title="@Model.Country.Name" />  +@Model?.Country.ISDCode
                                    </span>
                                </div>
                                <input id="PhoneNumber" type="text" asp-for="PhoneNumber" class="form-control remarks" required maxlength="10"
                                       placeholder="Phone number only (e.g., 1234567890)" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-group-label"> Branch Name: </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-building"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" id="Branch" asp-for="Branch" class="form-control  title-name remarks" required placeholder="Branch Name" maxlength="30">
                                <span asp-validation-for="Branch" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-group-label"> Bank Name: </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-landmark"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" id="BankName" asp-for="BankName" class="form-control title-name remarks" required placeholder="Bank Name" maxlength="20">
                                <span asp-validation-for="BankName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label"> Bank Account #: </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fab fa-btc"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" id="BankAccountNumber" asp-for="BankAccountNumber" class="form-control remarks" required placeholder="Bank Account #" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="20">
                                <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-group-label"> IFSC Code: </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-rupee-sign"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" id="IFSCCode" asp-for="IFSCCode" class="form-control remarks asterikx" required placeholder="IFSC Code" maxlength="20">
                                <span asp-validation-for="IFSCCode" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">


                        <div class="form-group">
                            <label class="input-group-label"> Agreement Date: </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-check"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input readonly type="text" id="AgreementDate" asp-for="AgreementDate" class="form-control remarks" required placeholder="Agreement Date">
                                <span asp-validation-for="AgreementDate" class="text-danger"></span>
                            </div>
                        </div>
@* 
                        <div class="form-group">
                            <span class="input-group-label"> Activated Date: </span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-calendar-check"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input readonly type="text" id="ActivatedDate" asp-for="ActivatedDate" class="form-control remarks" required placeholder="Activated Date">
                                <span asp-validation-for="ActivatedDate" class="text-danger"></span>
                            </div>
                        </div> *@
                        <div class="form-group">
                            <label class="input-group-label" for="PinCodeId">Pincode:</label>
                            <div class="input-group mb-3 autocomplete-wrapper">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="PinCodeId">
                                        <i class="fas fa-map-pin"></i>
                                        <i class="fa fa-asterisk asterik-style"></i>
                                    </span>
                                </div>
                                <input type="text" id="PinCodeId" class="form-control remarks auto-dropdown"
                                       data-placeholder="pincode" placeholder="Type pincode or name" asp-for="PinCodeId"
                                       required value="" autocomplete="off" />
                                <span asp-validation-for="PinCodeId" class="text-danger"></span>
                                <input asp-for="SelectedPincodeId" type="hidden" id="SelectedPincodeId" name="SelectedPincodeId" value="@Model?.PinCodeId" />
                                <div id="pincode-loading" class="loading-spinner">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-group-label" for="DistrictId">District:</label>
                            <div class="input-group mb-3 autocomplete-wrapper">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="DistrictId" data-toggle="tooltip" title="Auto-selected based on Pincode">
                                        <i class="fas fa-city"></i>
                                        <i class="fa fa-asterisk asterik-style-disabled"></i>
                                    </span>
                                </div>
                                <input readonly type="text" id="DistrictId" class="form-control remarks" data-placeholder="district" placeholder="..." asp-for="DistrictId" required value="" tabindex="-1" />
                                <span asp-validation-for="DistrictId" class="text-danger"></span>
                                <input asp-for="SelectedDistrictId" type="hidden" id="SelectedDistrictId" name="SelectedDistrictId" value="@Model?.DistrictId" />
                                <div id="district-loading" class="loading-spinner">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label" for="StateId"> State:</label>
                            <div class="input-group mb-3 autocomplete-wrapper">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="StateId" data-toggle="tooltip" title="Auto-selected based on Pincode"><i class="fas fa-map-marker-alt"></i> <i class="fa fa-asterisk asterik-style-disabled"></i></span>
                                </div>
                                <input readonly type="text" id="StateId" class="form-control remarks" data-placeholder="state" placeholder="..." asp-for="StateId" required value="" tabindex="-1" />
                                <span asp-validation-for="StateId" class="text-danger"></span>
                                <input asp-for="SelectedStateId" type="hidden" id="SelectedStateId" name="SelectedStateId" value="@Model?.StateId" />
                                <div id="state-loading" class="loading-spinner">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label" for="CountryId"> Country:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    
                                    <span class="input-group-text country-code-text" data-toggle="tooltip" title="Company Registered Country: @Model?.Country.Name">
                                        <img src="@imgPath" class="flag-icon" data-toggle="tooltip" />  @Model?.Country.Code
                                    </span>
                                </div>
                                <input readonly type="text" id="CountryId" class="form-control" data-placeholder="country" asp-for="CountryId" data-toggle="tooltip" title="Registered Country" value="" tabindex="-1" />
                                <span asp-validation-for="CountryId" class="text-danger"></span>
                                <input asp-for="SelectedCountryId" type="hidden" id="SelectedCountryId" name="SelectedCountryId" value="@Model?.CountryId" />
                                <div id="country-loading" class="loading-spinner">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-group-label"> Address:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-home"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" id="Addressline" asp-for="Addressline" class="form-control remarks" placeholder="Address" maxlength="50" />
                                <span asp-validation-for="Addressline" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label"> Document: </label>
                            <div class="input-group mb-3">
                                @if (Model?.DocumentUrl is not null)
                                {
                                    <img id="companyImage" class="form-Image" src="@Model?.DocumentUrl">
                                }
                                else
                                {
                                    <img id="companyImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                }
                                <i class="fa fa-asterisk asterik-style"></i>
                                <input asp-for="DocumentImage" type="file" class="form-control remarks" id="documentImageInput" />
                            </div>
                        </div>
@* 

                        <div class="form-group">
                            <span class="input-group-label"> Note:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-edit"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" id="Description" asp-for="Description" class="form-control remarks" placeholder="Note" maxlength="50" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div> *@
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row  float-right">
                        <div class="col-md-12">
                            <a id="cancel" asp-controller="Company" asp-action="Index" class="btn btn-secondary">
                                <i class="fa fa-window-close"></i>
                                @Applicationsettings.CANCEL
                            </a>
                            <button id="edit" type="submit" class="btn btn-warning">
                                <i class="fas fa-building"></i>  Save Company
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/company-admin/edit-company.js"></script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/common/profile-image-upload.js">    </script>
    <script src="~/js/common/form-validation.js"></script>
}
