@model risk.control.system.Models.ClientCompanyApplicationUser
@{
    ViewData["Title"] = @Applicationsettings.EDIT;
    var email = Model.ClientCompany.Email;
}
<section class="content">
    <form id="edit-form" asp-action="EditUser" enctype="multipart/form-data">
        <div class="card shadow-lg border-1 rounded-lg">
            <div class="card-header bg-secondary text-white text-center">
                <h3 class="card-title"><i class="fas fa-user-plus"></i> @Applicationsettings.EDIT User</h3>
            </div>
            <div class="card-body">
                <div class="submit-progress hidden">
                    <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group hide-id">
                            <label asp-for="ClientCompany" class="control-label"></label>
                            <input asp-for="ClientCompanyId" class="form-control remarks" value="@Model.ClientCompany.ClientCompanyId" />
                            <span asp-validation-for="ClientCompanyId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label"> Email:
                                @if(@Model.IsPasswordChangeRequired)
                                {
                                    <i class="fa fa-check-circle text-light-green" title="User Login verified" data-toggle="tooltip"></i>
                                }
                                else
                                {
                                    <i class="fa fa-check-circle text-lightgray" title="User Login not verified" data-toggle="tooltip"></i>
                                }
                            </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="email"><i class="fas fa-at"></i> <i class="fa fa-asterisk asterik-style-none"></i></span>
                                </div>
                                <input readonly asp-for="Email" class="form-control readonly-input" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label"> Profile Photo:</label>
                            <div class="input-group mb-3">
                                @if (Model?.ProfilePicture is not null)
                                {
                                    <img id="createProfileImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ProfilePicture))" alt="Profile Image" />
                                }
                                else
                                {
                                    <img id="createProfileImage" class="form-Image" data-preview-id="createProfileImage" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="Customer Photo" />
                                }
                                <i class="fa fa-asterisk asterik-style"></i>
                                <input accept=".jpg,.jpeg,.png" asp-for="ProfileImage" class="form-control remarks document-image-input" type="file" id="createImageInput" data-preview-id="createProfileImage" data-toggle="tooltip" title="Customer Photo" />
                                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label"> First Name:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="FirstName"><i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" asp-for="FirstName" class="form-control title-name remarks" required placeholder="First Name" maxlength="20">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-group-label"> Last Name:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="LastName"> <i class="fa fa-user"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" asp-for="LastName" class="form-control title-name remarks" required placeholder="Last Name" maxlength="20">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label"> Phone #:</label>
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    @{
                                        var imgPath = "/flags/" + @Model.Country.Code.ToLower() + ".png";
                                    }
                                    <span class="input-group-text country-code-text" data-toggle="tooltip" title="Country Code :+@Model?.Country.ISDCode">
                                        <img src="@imgPath" class="flag-icon" data-toggle="tooltip" />  +@Model?.Country.ISDCode<i class="fa fa-asterisk asterik-style"></i>
                                    </span>
                                </div>
                                <input id="PhoneNumber" type="text" asp-for="PhoneNumber" class="form-control remarks" required maxlength="10"
                                       placeholder="Phone number only (e.g., 1234567890)" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="input-group-label"> Role:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="ClaimType"><i class="nav-icon fas fa-file-invoice"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                @if (Model.UserRole == CompanyRole.COMPANY_ADMIN)
                                {
                                    <select readonly asp-for="@Model.UserRole" class="form-control remarks">
                                        <option value="@CompanyRole.COMPANY_ADMIN">@CompanyRole.COMPANY_ADMIN</option>
                                    </select>
                                }
                                else
                                {
                                    <select required asp-for="@Model.UserRole" class="form-control remarks" asp-items="@Model.AvailableRoles">
                                        <option value="">--- SELECT ---</option>
                                    </select>
                                }
                                <span asp-validation-for="@Model.UserRole" class="text-danger"></span>
                            </div>
                        </div>

                       
                    </div>
                    <div class="col-md-6">
                        
                        <partial name="_Address" model="@Model" />

                        <div class="form-group">
                            <label class="input-group-label"> Address:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="Addressline"><i class="fa fa-home"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <input type="text" asp-for="Addressline" class="form-control remarks" required placeholder="Enter Street Address" maxlength="70" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-group-label"> Note:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="Comments"><i class="fas fa-comment"></i> <i class="fa fa-asterisk asterik-style-none"></i></span>
                                </div>
                                <input type="text" asp-for="Comments" class="form-control remarks" placeholder="Note (optional)" maxlength="50" />
                            </div>
                        </div>
                        @if (Model.UserRole == CompanyRole.COMPANY_ADMIN)
                        {
                            <input asp-for="Active" type="hidden" value="true">
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="input-group-label"> Status:</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-toggle-on"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                    </div>
                                    <div class="checkbox-wrapper">
                                        <input asp-for="Active" type="checkbox" id="Active" class="custom-checkbox">
                                        <label for="Active" class="custom-checkbox-label"></label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group text-right">
                            @* <button id="reset" type="submit" onclick="clearAllInputs()" class="btn btn-outline-secondary">
                            <i class="fas fa-undo"></i> Reset
                            </button> *@
                            <a id="cancel" asp-controller="Company" asp-action="Users" class="btn btn-secondary">
                                <i class="fa fa-window-close"></i>
                                @Applicationsettings.CANCEL
                            </a>
                            <button id="edit" type="submit" class="btn btn-warning">
                                <i class="fas fa-user-plus"></i> Save  User
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/common/manage-user.js"></script>
    <script src="~/js/company-admin/pincode.js"></script>
    <script src="~/js/common/profile-image-upload.js"></script>
    <script src="~/js/common/form-validation.js"></script>
}
