@using risk.control.system.Models.ViewModel;
@model CompanyUserRolesViewModel
<section class="content">
    <form id="create-form" method="post" asp-action="update" enctype="multipart/form-data">
        <div class="card bg-light card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-user-plus"></i> Edit Role: <i> @Model.UserName </i></h3>
            </div>
            <div class="submit-progress hidden">
                <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
            </div>
            <div class="card-body">
                <input hidden asp-for="@Model.UserId" />
                <input hidden asp-for="@Model.CompanyId" />
                <div class="row">
                    <div class="col-md-12 user-role-disabled">
                        @for (int i = 0; i < Model.CompanyUserRoleViewModel.Count; i++)
                        {
                            <div class="form-radio m-1">
                                <input type="hidden" asp-for="@Model.CompanyUserRoleViewModel[i].RoleId" />
                                <input type="hidden" asp-for="@Model.CompanyUserRoleViewModel[i].RoleName" />
                                <input asp-for="@Model.CompanyUserRoleViewModel[i].Selected" class="form-radio-input" />
                                <label class="form-radio-label" asp-for="@Model.CompanyUserRoleViewModel[i].Selected">
                                    @Model.CompanyUserRoleViewModel[i].RoleName
                                </label>
                            </div>
                        }
                        <div asp-validation-summary="All" class="text-danger"></div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="input-group-label"> Role:</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" asp-for="ClaimType"><i class="nav-icon fas fa-file-invoice"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                </div>
                                <select required asp-for="@Model.UserRole" class="form-control remarks" asp-items="Html.GetEnumSelectList<CompanyRole>()">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="@Model.UserRole" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a id="back" asp-controller="Company" asp-action="User" class="btn btn-secondary">
                            <i class="fa fa-window-close"></i>
                            @Applicationsettings.CANCEL
                        </a>
                        <button type="submit" class="btn btn-warning">
                            <i class="fas fa-user-plus"></i> @Applicationsettings.EDIT Role
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/company-user-role.js">

    </script>

}