@model risk.control.system.Models.CustomerDetail

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="InvestigationTaskId" value="@Model.InvestigationTaskId" />
<div id="article" class="card shadow-lg border-1 rounded-lg">
    <div class="card-header bg-secondary text-white text-center">
        <h3 class="card-title">
            <i class="fa fa-user-plus"></i> Add Customer
            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="information">
                    <li>
                        <i class='far fa-hand-point-right'></i> Add Customer details
                    </li>
                    <li>

                        <i class='far fa-thumbs-up'></i> Complete wizard
                    </li>

                    <li>
                        <i class='fa fa-hand-peace-o'></i> <b> Assign</b> to Agency
                    </li>

                </span>
            </span>
        </h3>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="progresses">
            <div class="steps2">
                <span> <i class="far fa-file-powerpoint"></i></span>
            </div>

            <span class="line0"></span>

            <div class="steps">
                <span class="font-weight-bold"><i class="fa fa-user-plus"></i></span>
            </div>

            <span class="line"></span>

            <div class="steps3">
                <span class="font-weight-bold"><i class="fas fa-user-tie"></i></span>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="submit-progress hidden">
            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
        </div>
        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label class="input-group-label"> Customer Name:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="CustomerName"><i class="fa fa-user-plus"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input id="CustomerName" required asp-for="Name" class="form-control remarks title-name" type="text" placeholder="Customer Name" maxlength="30" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-group-label"> Date Of Birth:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="DateOfBirth"><i class="far fa-calendar-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input required asp-for="DateOfBirth" id="DateOfBirth" class="form-control remarks" type="date" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-group-label"> Gender:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="Gender"><i class="fa fa-user-plus"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <select required asp-for="Gender" class="form-control remarks" asp-items="Html.GetEnumSelectList<Gender>()">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                @* <div class="form-group">
                    <label class="input-group-label"> Customer Type:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="CustomerType"><i class="fa fa-user-plus"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <select id="customer-type" required asp-for="CustomerType" class="form-control remarks" asp-items="Html.GetEnumSelectList<CustomerType>()">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="CustomerType" class="text-danger"></span>
                    </div>
                </div> *@
                
                <div class="form-group">
                    <label class="input-group-label">Annual Income (@ViewBag.Currency):</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="CustomerIncome"><i class="far fa-money-bill-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <select required asp-for="Income" class="form-control remarks" asp-items="Html.GetEnumSelectList<Income>()">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="Income" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group">
                    <label class="input-group-label"> Occupation:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="CustomerOccupation"><i class="fas fa-business-time"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <select required asp-for="Occupation" class="form-control remarks" asp-items="Html.GetEnumSelectList<Occupation>()">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="Occupation" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label"> Education:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="CustomerEducation"><i class="fas fa-graduation-cap"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <select required asp-for="Education" class="form-control remarks" asp-items="Html.GetEnumSelectList<Education>()">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="Education" class="text-danger"></span>

                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <partial name="Investigation/_CustomerPhoneNumber" model="@Model" />
                <partial name="Investigation/_CustomerAddress" model="@Model" />

                <div class="form-group">
                    <label class="input-group-label"> Address:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-home"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input type="text" asp-for="Addressline" id="Addressline" class="form-control remarks title-name" type="text" required placeholder="Enter Street Address" maxlength="70" autocomplete="off" />
                        <span asp-validation-for="Addressline" class="text-danger"></span>
                    </div>
                </div>

@* 
                <div class="form-group">
                    <label class="input-group-label"> Note:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="Description"><i class="fas fa-pencil-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input required asp-for="Description" id="Description" class="form-control remarks" type="text" placeholder="Note" maxlength="50" autocomplete="off" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
 *@
                <div class="form-group">
                    <label class="input-group-label"> Customer Photo:</label>
                    <div class="input-group mb-3">
                        <img id="createProfileImage" class="form-Image" data-preview-id="createProfileImage" src="@Applicationsettings.NO_USER" data-toggle="tooltip" title="Upload Customer Photo" />
                        <i class="fa fa-asterisk asterik-style"></i>
                        <input accept=".jpg,.jpeg,.png" asp-for="ProfileImage" class="form-control remarks document-image-input" type="file" id="createImageInput" data-preview-id="createProfileImage" required data-toggle="tooltip" title="Upload Customer Photo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="text-right">
            <a id="cancel" asp-action="Details" asp-route-id="@Model.InvestigationTaskId" class="btn btn-secondary">
                <i class="fa fa-window-close"></i>
                @Applicationsettings.CANCEL
            </a>
            <button disabled id="create" type="submit" class="btn btn-success">
                <i class="fas fa-user-plus"></i> Add Customer
            </button>

        </div>
    </div>
</div>