@model risk.control.system.Models.InvestigationTask
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div id="article" class="card shadow-lg border-1 rounded-lg">
    <div class="card-header bg-secondary text-white text-center">
        <h3 class="card-title">
            <i class="far fa-file-powerpoint"></i> Add Case
            <span class="hover-text">
                <i class="fas fa-info-circle"></i>
                <span class="tooltip-text" id="information">
                    <li>
                        <i class='far fa-hand-point-right'></i> Add Case details
                    </li>
                    <li>
                        <i class='far fa-thumbs-up'></i> Complete wizard
                    </li>
                    <li>
                        <i class='fa fa-hand-peace-o'></i> <b> Assign</b> to Agency
                    </li>
                </span>
            </span>
        </h3>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="progresses">
            <div class="steps">
                <span> <i class="far fa-file-powerpoint"></i></span>
            </div>

            <span class="line"></span>

            <div class="steps3">
                <span class="font-weight-bold"><i class="fa fa-user-plus"></i></span>
            </div>

            <span class="line"></span>

            <div class="steps3">
                <span class="font-weight-bold"><i class="fas fa-user-tie"></i></span>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="submit-progress hidden">
            <i class="fas fa-sync fa-spin fa-4x fa-fw"></i>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-group-label" for="ContractNumber"> Case #:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-file-powerpoint"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input id="ContractNumber" required asp-for="PolicyDetail.ContractNumber" class="form-control remarks" type="text" placeholder="Policy #" maxlength="20" autocomplete="off" />
                        <span asp-validation-for="PolicyDetail.ContractNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label" for="InsuranceType"> Case Type:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nav-icon fas fa-tools"></i> <i class="fa fa-asterisk asterik-style"></i> </span>
                        </div>
                        <select id="InsuranceType" required asp-for="PolicyDetail.InsuranceType" class="form-control remarks" asp-items="Html.GetEnumSelectList<InsuranceType>()">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="PolicyDetail.InsuranceType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label" for="InvestigationServiceTypeId"> Verification Type:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nav-icon fas fa-wrench"></i> <i class="fa fa-asterisk asterik-style"></i> </span>
                        </div>
                        <select id="InvestigationServiceTypeId" required asp-for="PolicyDetail.InvestigationServiceTypeId" class="form-control remarks" asp-items="ViewBag.InvestigationServiceTypeId">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="PolicyDetail.InvestigationServiceTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label" for="CaseEnablerId"> Reason To Verify:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nav-icon fas fa-puzzle-piece"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <select id="CaseEnablerId" required asp-for="PolicyDetail.CaseEnablerId" class="form-control remarks" asp-items="ViewBag.CaseEnablerId">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="PolicyDetail.CaseEnablerId" class="text-danger"></span>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label class="input-group-label" for="SumAssuredValue"> Assured Amount (@ViewBag.Currency):</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-money-bill-wave"></i>  <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input id="SumAssuredValue" required asp-for="PolicyDetail.SumAssuredValue" class="form-control remarks" type="text"
                               placeholder="Assured Amount (@ViewBag.Currency) of minimum 100" min="100" maxlength="10" autocomplete="off" title="Assured Amount (@ViewBag.Currency) of minimum 100" data-bs-toggle="tooltip" />
                        <span asp-validation-for="PolicyDetail.SumAssuredValue" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-group-label" for="ContractIssueDate"> Issue Date:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input required asp-for="PolicyDetail.ContractIssueDate" id="ContractIssueDate" class="form-control remarks" type="date" />
                        <span asp-validation-for="PolicyDetail.ContractIssueDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label" for="DateOfIncident"> Incident Date:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input required asp-for="PolicyDetail.DateOfIncident" id="DateOfIncident" class="form-control remarks" type="date" />
                        <span asp-validation-for="PolicyDetail.DateOfIncident" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label" for="CauseOfLoss"> Cause Of Incident:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nav-icon far fa-flag"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <input id="CauseOfLoss" required asp-for="PolicyDetail.CauseOfLoss" class="form-control remarks" type="text" placeholder="Cause Of Incident" maxlength="70" autocomplete="off" />
                        <span asp-validation-for="PolicyDetail.CauseOfLoss" class="text-danger"></span>
                    </div>
                </div>

                

                <div class="form-group">
                    <label class="input-group-label" for="CostCentreId"> Budget Centre:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nav-icon fas fa-building"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                        </div>
                        <select id="CostCentreId" required asp-for="PolicyDetail.CostCentreId" class="form-control remarks" asp-items="ViewBag.CostCentreId">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="PolicyDetail.CostCentreId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-label" for="createImageInput"> Document:</label>
                    <div class="input-group mb-3">
                        <img id="createProfileImage" class="form-Image" data-preview-id="createProfileImage" src="@Applicationsettings.NO_POLICY_IMAGE" data-bs-toggle="tooltip" title="No Case Document" />
                        <i class="fa fa-asterisk asterik-style"></i>
                        <input accept=".jpg,.jpeg,.png" asp-for="PolicyDetail.Document" type="file" class="form-control remarks document-image-input" id="createImageInput" data-preview-id="createProfileImage" required
                               data-bs-toggle="tooltip" title="Upload Case Document" data-title-id="case-document" data-default-image="@Applicationsettings.NO_POLICY_IMAGE" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="text-right">
            <a id="cancel" asp-action="Create" class="btn btn-secondary">
                <i class="fa fa-window-close"></i>
                @Applicationsettings.CANCEL
            </a>

            <button disabled id="create" type="submit" class="btn btn-success">
                <i class="far fa-file-powerpoint"></i> Add Case
            </button>

        </div>
    </div>
</div>