@using risk.control.system.Helpers
@model CaseTransactionModel
@{
    string baddress = string.Empty;
    string currentBAgeinYrs = string.Empty;
    bool customerExist = false;
    bool beneficiaryExist = false;
    var imgPath = "/flags/in.png";
    var country = string.Empty;
    var phone = string.Empty;
    var map = string.Empty;
    if (Model.ClaimsInvestigation.CustomerDetail != null)
    {
        customerExist = true;
    }
    if (Model.Beneficiary?.BeneficiaryDetailId > 0)
    {
        beneficiaryExist = true;
        baddress = @Model.Beneficiary?.Addressline + " " + @Model.Beneficiary?.District?.Name + " " + @Model.Beneficiary?.State?.Name + " " + @Model.Beneficiary?.PinCode?.Code;
        var age = DateTime.UtcNow.Subtract(Model.Beneficiary.DateOfBirth.GetValueOrDefault()).TotalDays;
        currentBAgeinYrs =$"{(int)(age/ 365 )} years";
        country = @Model.Beneficiary?.Country?.Name;
        phone = +@Model.Beneficiary?.Country.ISDCode +" (0) "+ @Model.Beneficiary?.PhoneNumber;
        imgPath = "/flags/" + @Model.Beneficiary.Country.Code.ToLower() + ".png";
        map = string.Format(Model.Beneficiary.BeneficiaryLocationMap, "200", "200");
    }
    string benficiaryProgressClass = "progress-bar-lightgrey"; // Default class

    if (customerExist && beneficiaryExist)
    {
        benficiaryProgressClass = "progress-bar-green";
    }
    else if (customerExist && !beneficiaryExist)
    {
        benficiaryProgressClass = "progress-bar-grey";
    }

}
<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
        <div class="card-header text-muted border-bottom-0">
            <i class="fas fa-user-tie"></i>  Beneficiary Details
        </div>
        <div class="progress">
            <i class="far fa-bookmark bookmark-green"></i>
            <div class="progress-bar @benficiaryProgressClass" role="progressbar">
                <i class="fas fa-user-tie"></i>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-7">
                    <h2 class="lead"><b>@Model.Beneficiary?.Name</b></h2>
                    <p class="text-muted text-sm">
                        Relation: <b> @Model.Beneficiary?.BeneficiaryRelation?.Name </b>
                    </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small">
                            <span class="fa-li">
                                <i class="fa fa-money"></i>
                            </span>
                            Annual Income: (@Model.Currency) <b> @Model.Beneficiary?.Income.GetEnumDisplayName()</b>
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-user-alt"></i>
                            </span>
                            Age:<b> @currentBAgeinYrs</b>
                        </li>

                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-lg fa-building"></i>
                            </span>
                            Address: <b> @baddress</b>
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-lg fa-globe"></i>
                            </span>
                            Country:
                            @if(!string.IsNullOrWhiteSpace(country))
                            {
                                <img src="@imgPath" class="flag-icon" data-bs-toggle="tooltip" /> <b> @country</b>
                            }
                        </li>
                        <li class="small">
                            <span class="fa-li">
                                <i class="fas fa-lg fa-phone"></i>
                            </span>
                            Mobile #:
                            @if(!string.IsNullOrWhiteSpace(phone))
                            {
                               <b> @phone</b>
                            }
                        </li>
                    </ul>
                </div>
                <div class="col-5 text-center">
                    <p class="text-muted text-sm">
                        @if (Model?.Beneficiary?.ImagePath is not null)
                        {
                            <img id="bImage" class="img-fluid block-data" src="/Document/GetBeneficiaryDocument/@Model?.Beneficiary.BeneficiaryDetailId" title="@Model.Beneficiary?.Name Photo" data-bs-toggle="tooltip" />
                        }
                        else
                        {
                            <img id="bImage" class="img-fluid block-data" src="@Applicationsettings.NO_USER" title="Beneficiary Photo" data-bs-toggle="tooltip" />
                        }
                    </p>
                    <p class="text-muted text-sm">
                        @if (Model?.Beneficiary?.BeneficiaryLocationMap != null)
                        {
                            <img id="beneficiaryGoogleMap" class="img-fluid block-data" src="@map" title="Display Customer Address in map" data-bs-toggle="tooltip" />
                        }
                    </p>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="text-right">

                    @if (Model.ClaimsInvestigation.BeneficiaryDetail != null && !string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.BeneficiaryDetail.PhoneNumber))
                    {
                    <button id="beneficiary-comments" class="btn btn-sm bg-teal" title="Send Sms to Beneficiary" data-bs-toggle="tooltip">
                            <i class="fas fa-comments"></i>
                        </button>
                    }
                    else
                    {
                        <button disabled id="beneficiary-comments" class="btn btn-sm bg-teal">
                            <i class="fas fa-comments"></i>
                        </button>
                    }
                    @if (Model.ClaimsInvestigation.BeneficiaryDetail != null && !string.IsNullOrWhiteSpace(Model.ClaimsInvestigation.BeneficiaryDetail.PhoneNumber))
                    {
                    <button id="beneficiary-detail" class="btn btn-sm btn-success" title="Display Beneficiary Detail" data-bs-toggle="tooltip">
                            <i class="fas fa-user-tie"></i> ...
                        </button>
                    }
                    else
                    {
                        <button disabled id="beneficiary-detail" class="btn btn-sm btn-success">
                            <i class="fas fa-user-tie"></i> ...
                        </button>
                    }
            </div>
        </div>
    </div>
</div>