@using risk.control.system.Helpers;
@model LocationTemplate
@{
	var location = Model;
}
@if (location.FaceIds?.Any(f => f.Selected) == true)
{
	<div class="table-responsive mb-4">
	
		<table class="table table-bordered table-hover dt-responsive nowrap w-100">
		<thead class="table-light">
			<tr>
				<th title="Verifier Name"><img class="action-image" src="~/headers/customer.gif" /></th>
				<th>
					<i class="far fa-user text-primary" title="This Image has Verifier photo at the location" data-toggle="tooltip"></i>
				</th>
				<th title="Verified Address"><img class="action-image" src="~/headers/pincode.gif" /></th>
				<th>Verified Address</th>
				<th title="Weather info"><img class="action-image" src="~/headers/information.gif" /></th>
				<th>Match</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var face in location.FaceIds.Where(f => f.Selected))
			{
				<tr>
					<td>
						@face.ReportName
					</td>
					
					<td>
						@if (face.ValidationExecuted)
						{
							<img id="face-img-@face.Id"
								 src="data:image/*;base64,@(Convert.ToBase64String(face?.IdImage))"
								 class="thumbnail profile-image doc-profile-image preview-image"
								 title="Click to view face photo" />
						}
						else
						{
							<img id="face-img-@face.Id" src="~/img/no-user.png" class="thumbnail profile-image doc-profile-image" />
						}
					</td>
					<td>
						@if (face.ValidationExecuted)
						{
							<img src="@face.IdImageLocationUrl"
								 class="thumbnail profile-image doc-profile-image map-image"
								 data-faceid="@face.Id"
								 data-locationid="@location.Id"
								 data-source="face"
								 title="Click to view map" />

						}
						else
						{
							<img src="~/img/no-map.jpeg" class="thumbnail profile-image doc-profile-image" />
						}
					</td>
					<td>
						@face.IdImageLocationAddress

					</td>
					<td>
						@face.IdImageData

					</td>
					<td>
						@if (face.ValidationExecuted)
						{
							@if (face.IdImageValid.GetValueOrDefault())
							{
								<i class='fas fa-check-circle i-green'></i>
							}
							else
							{
								<i class='fa fa-times i-orangered' aria-hidden='true'></i>
							}
						}
						else
						{
							<i class='fa fa-times i-grey' aria-hidden='true'></i>
						}

					</td>
				</tr>
			}

		</tbody>
	</table>
	</div>
}
