@model risk.control.system.Models.ReportTemplate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReportTemplate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DigitalIdReport.DigitalIdReportId" class="control-label"></label>
                <select asp-for="DigitalIdReport.DigitalIdReportId" class="form-control" asp-items="@ViewBag.DigitalIdReportId">
                    <option value="">--- SELECT ---</option>
                </select>
                <span asp-validation-for="DigitalIdReport.DigitalIdReportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentIdReport.DocumentIdReportId" class="control-label"></label>
                <select asp-for="DocumentIdReport.DocumentIdReportId" class="form-control" asp-items="@ViewBag.DocumentIdReportId">
                    <option value="">--- SELECT ---</option>
                </select>
                <span asp-validation-for="DocumentIdReport.DocumentIdReportId" class="text-danger"></span>
            </div>

            @*@{
                foreach (var item in Model.ReportQuestionaire)
                {
                   <div class="form-group">
                        <label asp-for="@item.Question" class="control-label">@item.Question</label>
                        <input type="checkbox" asp-for="@item.Optional" class="form-control">
                        <span asp-validation-for="DocumentIdReport.DocumentIdReportId" class="text-danger"></span>
                    </div> 
                }
            }*@
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
